[2015-06-06 02:29] mmahalwy opened #1 "Rename this repo!"
Should be `quran.com-frontend`

[2015-06-23 19:41] ahmedre commented on #1
done.

[2015-06-23 19:41] #1 closed

[2015-07-15 02:40] mmahalwy opened #32 "Provide word details from corpus.quran.com"
[code]

[2015-07-15 02:51] mmahalwy opened #33 "Surah 114 does not show up on left nav"

[2015-07-15 02:52] mmahalwy opened #34 "Surahs nav visible above footer"
![image](https://cloud.githubusercontent.com/assets/3749095/8689831/c9bb4144-2a61-11e5-87ee-d1ef1bd44c6d.png)

[2015-07-15 02:55] mmahalwy opened #35 "Surahs 78, 88, 89, 90, 91, 92, 93, 96, 100, 101 shows the text "Loading..." at the end of the surah, even when the whole Surah is being displayed. (Not all Surahs have been checked.)"

[2015-07-15 02:55] mmahalwy opened #36 "The reciter "Mishari Rashid al-`Afasy" is always highlighted in the reciters list, even when the audio is playing of a different reciter."

[2015-07-15 03:07] mmahalwy opened #37 "Dutch translation Surah a Nur, Ayah 4"
There's a little mistake in the translation in dutch of Surah a Nur.
In Aya 4 in dutch it says "vier en tachtig zweepslagen worden gestraft." which means 84 lashes, but the Aya says 80 lashes.

Could you please let get somebody to change that into: "tachtig zweepslagen" en remove the "vier en"

[2015-07-15 03:07] mmahalwy opened #38 "Russian translation 39:28"
I found a incorrect spelling in verse 39:28 of Russian translation. It reads :

Мы ниспослали Коран, в котором нем кривды, на арабском языке, чтобы они устрашились.

It has to read:

Мы ниспослали Коран, в котором нет кривды, на арабском языке, чтобы они устрашились.

Russian word 'нет' means negative in this context it means Quran is without any deviance. And right now your translation reads 'в к

[2015-07-15 03:09] mmahalwy opened #39 "I just played Surah Al-Nur with recitation of Sheikh Mishrey AlAfsay, but the first ayah was not from Surah Al-Nur.. please check"

[2015-07-15 18:45] abdelouali commented on #39
Selam,
I just played it to and it seems to work properly. I get the first verse of Surah Al-Nur by Sheikh Mishrey AlAfsay.

Regards,

Abdelouali Benkheil

[2015-07-15 18:57] abdelouali commented on #37
Selam brother,
There is a lot wrong with the Dutch translation. We have to do this all over again. Here you have the correct translation of Surah a Nur Aya 4.

"En degenen die de kuise vrouwen valselijk beschuldigen en vervolgens niet met vier getuigen komen, gesel hen dan met tachtig (zweep)slagen en accepteer nooit (meer) een getuigenis van hen. En zij zijn de verdorvenen."

Regards,

Abdelouali

[2015-07-15 19:04] abdelouali commented on #32
That would be very cool and great.

[2015-07-15 19:05] abdelouali commented on #33
I think this has to do with the css code.

[2015-07-15 19:10] abdelouali opened #40 "Every time I play a surah, the sheikh will after a certain number of verses."
Is it just me or others also?

[2015-07-15 21:07] mmahalwy commented on #39
@abdelouali thanks for confirming. Closing

[2015-07-15 21:07] #39 closed

[2015-07-15 21:09] mmahalwy commented on #37
Hmm, it may be worth removing the dutch translation then for now?

[2015-07-15 21:10] mmahalwy commented on #33
Yep. CSC. @abdelouali can you put a push for this?

I think the footer needs to be done better.

[2015-07-15 21:10] mmahalwy commented on #32
:+1:  on that

[2015-07-15 21:10] mmahalwy commented on #32
@ahmedre check this out

[2015-07-16 11:57] abdelouali commented on #37
No that's not necessary , there are not so many mistakes to completely remove the Dutch Translation . We can bit by bit correct the mistakes.

[2015-07-16 11:58] abdelouali commented on #33
as soon as I get home from work I look at it . Insha'Allah

[2015-07-16 11:59] abdelouali commented on #36
as soon as I get home from work I look at it .

[2015-07-19 17:07] muhsinali commented on #40
@abdelouali the sheikh will what akhi?

[2015-07-19 17:09] muhsinali commented on #34
@mmahalwy I don't seem to be having this problem in Firefox...

[2015-07-19 17:11] muhsinali commented on #36
@abdelouali did you get a chance to look at this?

[2015-07-19 20:49] abdelouali commented on #40
Salaam brother, sorry but the sheikh will stop reciting after a certain number of verses.

Wassalam

[2015-07-20 10:17] muhsinali commented on #33
Please see #41 as this seems to fix it. It seems we just weren't taking into consideration the surah-nav was being dropped down lower disappearing. The scrollbar is also fully visible now which is nice.

[2015-07-20 10:28] muhsinali commented on #34
@mmahalwy I had previously posted this wasn't happening for me, I was wrong I looked at it incorrectly, afwaan.

I'm currently working on this.

Would it be good to just pull the footer over also, covering the nav as well?

[2015-07-21 03:14] muhsinali commented on #33
#41 Merged

[2015-07-21 03:14] #33 closed

[2015-07-21 03:17] mmahalwy opened #43 "Make the Arabic lettering of the Surah even smaller to save header space. (On my laptop it takes up a fifth of the screen's height while in fullscreen mode. The laptop screen size diagonally is around 12 inches.)"

[2015-07-21 03:22] mmahalwy opened #44 "copy and paste the content"
There must be a way to listen for highlight or clipboard and provide the actual arabic text for the copied. I have to look into it but i have an idea of how. We just need to get off our clipboard!

[2015-07-21 03:23] mmahalwy opened #45 "Surah No. 110 , Verse No. 01,"
Surah No. 110 , Verse No. 01,
There is missing the word "Help" in sahih international.
"When the Help of Allah has come and the Victory"
will be better instead of "When the victory of Allah has come and the conquest"

[2015-07-21 03:28] muhsinali commented on #43
I'm also on a relatively small laptop and when adjusting the font size I'm only seeing about 1/2 another ayah and that's when the font is tiny. This would be related more to the padding of the ayah itself, no? Not just the font size

[2015-07-21 03:31] muhsinali commented on #44
![clippy](https://cloud.githubusercontent.com/assets/11522852/8792598/101822be-2f72-11e5-8379-61bc5b71f333.jpg)

[2015-07-21 12:01] abdelouali commented on #33
Sorry guys but we are moving to another home and I don't have always internet because thé installer needs to come.  Next week I will be back available.

[2015-07-21 15:19] muhsinali commented on #33
No worries, barakallahu feekum :)

[2015-07-24 17:19] mmahalwy opened #46 "Decrease the number of fonts or put them somewhere else!"

[2015-07-24 17:19] mmahalwy commented on #46
Really should be CDNing them...

[2015-07-24 17:21] mmahalwy commented on #40
hmm can you tell me more of what happens? Do you see the console in the browser and see if it errors and with what error?

[2015-07-24 17:36] abdelouali commented on #40
The first error I get is: Failed to concat the ayahs 11 21
and the second one: Uncaught TypeError: Cannot read property 'pause' of undefined

[2015-07-24 17:37] abdelouali commented on #40
![image](https://cloud.githubusercontent.com/assets/13354388/8880771/65a53368-323b-11e5-8e8c-603924ae7f56.png)

[2015-07-24 18:02] mmahalwy commented on #40
hmmm... i will write tests to try to fix for this... i thought i fixed this and it should be fixed... ugh

[2015-07-24 22:32] mmahalwy commented on #46
Thanks @ahmedre !

[2015-07-25 07:25] mmahalwy opened #47 "Soft copy or downloadable pdf"

[2015-07-25 07:26] mmahalwy opened #48 "Ayah 20:8 Muhsin Khan"
It says "La ilahla" in the English translation:

Ayah 20:8
Muhsin Khan
Allah! La ilahla illa Huwa (none has the right to be worshipped but He)! To Him belong the Best Names.

[2015-07-25 21:25] mmahalwy opened #52 "Surah 2:26"
Weird hover line break with tooltip

[2015-07-25 21:27] mmahalwy commented on #34
Footer should go over everything @muhsinali

[2015-07-25 21:44] #52 closed

[2015-07-25 21:44] #36 closed

[2015-07-25 21:45] #40 closed

[2015-07-30 16:37] mmahalwy opened #57 "Organize languages in dropdown by alphabet order"

[2015-07-31 16:51] ATouhou commented on #45
But this is the officiel released text of sahih international. Isen't it wrong to change it and still title the translation as "sahih international"? I think the group behind the translation in Jeddah, should be contacted to explain why they chose to translate it this way and if they will revise it. Else it should stay that way in my opinion.

[2015-07-31 16:59] ATouhou opened #58 "[Suggestion] Better UX with "sura info""
When clicking the "info" button. Open the info box, in an overlay that  can be easily closed again.  Problem in the user interface occours when having scrolled down in a surah, clicking the button, then suddenly the entire page just goes 2≈ aya (according to what resolution you got),  and I have to scroll "all the way" up to read it.
Would be better if it just appeared, and could easily be hidden

[2015-07-31 17:20] ahmedre commented on #45
Agreed, in this particular case, we should not change this. We file many of the complaints people give about the translations and then consider them on a one by one basis.

For Sahih International, for example, the version on our site is the second edition. I checked the latest (third edition) and it matches what's there, "110:1 When the victory of Allah has come and the conquest."

Generally, the

[2015-07-31 17:20] ahmedre commented on #45
Closing as won't fix.

[2015-07-31 17:21] #45 closed

[2015-07-31 19:22] mmahalwy commented on #58
do you have a screenshot?

[2015-07-31 20:21] ATouhou commented on #58
1. having scrooled down in a surah.
https://www.dropbox.com/s/2jgrv2rsdyc54w1/Sk%C3%A6rmbillede%202015-07-31%2022.19.27.png?dl=0
2. Clicking the info button
https://www.dropbox.com/s/ec1h8d77megmh2o/Sk%C3%A6rmbillede%202015-07-31%2022.19.31.png?dl=0
3. Scrooling back up
https://www.dropbox.com/s/i10klpxhz67mqsp/Sk%C3%A6rmbillede%202015-07-31%2022.19.40.png?dl=0

[2015-07-31 20:26] ATouhou commented on #58
So basically what i mean is that it comes in an overlay something like this :
https://www.dropbox.com/s/9tjh36glujfu2tk/Sk%C3%A6rmbillede%202015-07-31%2022.24.01.png?dl=0
Ofcourse added some "X" in the right top corner to help the user that forgot how to "enable/disable it"   , also maybe darken the background alittle

[2015-08-03 03:26] mmahalwy opened #59 "Surat Ash-Shu`arā' (The Poets) Ayah 160 the Mushin Khan English translation reads "The prople of Lout (Lot)" should be people!"

[2015-08-03 03:27] mmahalwy opened #60 "Show scroll bar for main page and surah nav"

[2015-08-03 03:29] mmahalwy opened #61 "Firefox bugs"
what to call them but things like the JEEM that acts as a pause.

Also the Arabic script just scrolls out of view instead of piling up as multiple lines in the same window.

The strange thing is that it just started to happen out of the blue towards the end of last week (same laptop and browser).

Indeed on another laptop I have the alpha Quran site does not load or scroll down either so I don’t k

[2015-08-03 03:35] mmahalwy opened #62 "Bangla translation 5:92"
I have seen in the bangla translation in Sura maidah (5) verse 92 is 'তোমরা আল্লাহর অনুগত হও, রসূলের অনুগত হও এবং আত্মরক্ষা কর। কিন্তু যদি তোমরা বিমুখ হও, তবে জেনে রাখ, আমার রসূলের দায়িত্ব প্রকাশ্য প্রচার বৈধ নয়।' which is totally opposite meaning, it should be "বৈ নয়" instead of "বৈধ নয়" please correct it. Such type of mistake is totally misguide the people.

[2015-08-03 03:38] mmahalwy commented on #58
Salam @ATouhou I appreciate the suggestion. An overlay may be confusing as you can simply continue scrolling and not see it anymore.

[2015-08-03 05:55] ATouhou commented on #58
Not if it's centered at all times in the screen or position fixed
Den 03/08/2015 5.38 AM skrev "Mohamed El Mahallawy" <
notifications@github.com>:

[2015-08-03 05:56] ATouhou commented on #62
Have you reported all this to tanzil.com?
Den 03/08/2015 5.36 AM skrev "Mohamed El Mahallawy" <
notifications@github.com>:

[2015-08-26 01:31] mmahalwy opened #63 "Please use the German translation of Bubenheim & Eliyas"

[2015-08-26 01:33] ahmedre commented on #63
that's also the one i am using on Quran for Android.

[2015-08-26 01:33] mmahalwy opened #64 ""Loading..." shows up after last ayah of Surah Al-Jumu'a"
Can anyone confirm this?

[2015-08-26 02:02] ahmedre commented on #64
the bug should be renamed - "loading indicator consistently appears after sura Jum3a's last ayah."

[2015-08-26 02:03] ahmedre commented on #64
<img width="1090" alt="screen shot 2015-08-25 at 7 02 39 pm" src="https://cloud.githubusercontent.com/assets/47771/9484035/e64ffe56-4b5b-11e5-8ccf-5e6241be85f0.png">

[2015-08-26 14:01] mmahalwy commented on #64
@ahmedre thanks for updating it!

[2015-08-28 14:30] mmahalwy opened #65 "Adding " /" to the end of http://alpha.quran.com/donations, http://alpha.quran.com/contact or http://alpha.quran.com/about causes the Al-Qur'an Al-Kareem image to not load."

[2015-08-28 14:31] mmahalwy opened #66 "The Surah list is still clickable when hidden."

[2015-08-28 14:31] mmahalwy opened #67 "Audio skipping bug"
Audio skipping bug (due to memory). When the user changes the played ayah in the middle the ayah is skipped to the point it was at before. Example: the user starts playing Surah Fatihah, in the middle of the second ayah the user clicks ayah one. Then when the audio starts ayah two it goes directly to the middle of the ayah, and continues playing.

[2015-08-28 14:31] mmahalwy opened #68 "The word-by-word translation does not work in reading mode."

[2015-08-28 14:32] mmahalwy opened #69 "When in reading mode and you reach the end of a Surah the last line is written on the left side instead of the right."

[2015-08-28 14:32] mmahalwy opened #70 "When I finished listening to Surah Ar-Rahman to the end, the webpage went to the first ayah and the URL changed to alpha.quran.com/55/79-89. (The Surah only has 78 Ayaat, and the scroll up should be removed. This does not happen with Surah Fatihah.)"

[2015-08-28 14:32] mmahalwy opened #71 "Typing '43' into the search bar on the home page. Apparently 43 is written in the fonts. (A person should be able to type the number of the Surah into the search bar.)"

[2015-08-28 14:32] mmahalwy opened #72 "My desktop computer on Chrome cannot load the Japanese translation."

[2015-08-28 14:33] mmahalwy opened #73 "When a person types into the search bar above the list of Surahs the list should automatically shrink to show the Surahs that begin with those letter(s)."

[2015-08-28 14:33] mmahalwy opened #74 "If the play button beside ayah is pressed the recitation continues. There should be a way to play the ayah alone and another button to continue recitation from and including that ayah."

[2015-08-28 14:33] mmahalwy opened #75 "Surah Fatihah in the standard Qur'an does not include the bismillah (I believe). Also, it would be good if every Surah began with the bismillah and its translation centered on the screen above the first ayah."

[2015-08-28 14:33] mmahalwy opened #76 "Include reciter "Saad Al-Ghamdi" in the list of reciters."

[2015-08-28 14:33] mmahalwy opened #77 "Have English only reading mode (in paragraph format)."

[2015-08-28 14:34] mmahalwy opened #78 "Follow Arabic audio by auto-scrolling the page."

[2015-08-28 14:34] mmahalwy opened #79 "Put translations in other languages in alphabetical order."

[2015-08-28 14:34] mmahalwy opened #80 "Add tafsir(s) (preferably in English) to alpha.quran.com."

[2015-08-28 14:34] mmahalwy opened #81 "Use Sayyid Abul Ala Maududi's Tafhim al-Qur'an (englishtafsir.com) as the introduction to all of the Surahs and use this website (http://www.alim.org/library/quran/ayah/theme/1) for the theme portion of the introduction."

[2015-08-28 14:34] mmahalwy opened #82 "Remove 'see also', 'notes and references', and 'external links' from the introduction to the Surah (if you wish to keep the Wikipedia source or merge the sources)."

[2015-08-28 14:35] mmahalwy opened #83 "Turn off word-by-word translation when no English translation is selected, and another language is selected because the word-by-word is only in English."

[2015-08-28 14:35] mmahalwy opened #84 "Put transliteration in its own section, not under English."

[2015-08-28 14:35] mmahalwy opened #85 "Add a second transliteration from http://www.sahih-bukhari.com/Pages/Quran/Quran_english_arabic_transliteration.php."

[2015-08-28 14:36] mmahalwy opened #86 "Have different subdomains, where each one would open up the website in that language or the translation would be of that language."
It could also flip the website and make the text go from right to left to make it seem more natural for languages that are written that way, for example Urdu. Or cookies could be kept to tell the preferred language of the user.

[2015-08-28 14:36] mmahalwy opened #87 "Improve rendering speed of quran.com"
Use https://developers.google.com/speed/pagespeed/insights/ and https://varvy.com/tools/ and https://developers.google.com/speed/pagespeed/module/ to improve quran.com.

[2015-08-28 14:36] mmahalwy opened #88 "Description of website could be lengthened."

[2015-08-28 14:36] mmahalwy opened #89 "Preferrably rename these Surahs:"
rename Surahs referring to prophets (explicitly) to The Prophet _______

rename Surah 5 to Al-Maidah

rename Surah 14 to Abraham, "im" to "am"; more common

rename Surah 20 to The Letters "Ta" and "Ha"

rename Surah 22 to Al-Hajj, extra j more common

rename Surah 25 to The Criterion, "a" changes to an "o"

rename Surah 36 to The Letters "Ya" and "Sin"

rename Surah 52 to The Mountain, as mounts c

[2015-08-28 14:37] mmahalwy opened #90 "When the website is at its smallest width, the menu becomes two lines and the menu button is hidden under the Surah name."

[2015-08-28 14:41] mmahalwy opened #91 "5:105, where it is typed ' To Allah is you return', I believe it should be 'your'."

[2015-08-28 14:46] mmahalwy opened #92 "Albanian translation missing"

[2015-08-28 14:46] mmahalwy opened #93 "Surat Al-Mu'minūn Ayah 28"
And when you have boarded the ship, you and those with you, then say, 'Praise to Allah who has saved us FORM the wrongdoing people.'

I think the "form" is suppose to be "from". Allah swt knows best

[2015-08-28 14:47] mmahalwy opened #94 "Audio on Safari iPad not working"

[2015-08-28 14:57] mmahalwy opened #95 "add bismillah at the beginning of surahs"

[2015-08-28 16:20] ahmedre commented on #67
This will improve automatically when we switch to gapless recitations since
it's one file per sura.

[2015-08-28 16:24] ahmedre commented on #75
It actually does begin with the basmallah (at least in the Madani mus7af,
which is what we base our site on). Thus, basmallah should not be centered
for Fatiha.

[2015-08-28 16:27] ahmedre commented on #76
Two things:
1. We should switch to gapless first.
2. We should switch to word by word.
3. to avoid a million issues, we should combine all recitation requests in
one ticket.

[2015-08-28 16:27] ahmedre commented on #78
and, more importantly, highlighting the playing ayah.

[2015-08-28 16:30] ahmedre commented on #89
I disagree with some of these - let's stick to current quran.com naming for
now (that'll fix some of the suggestions from this ticket, ex Abraham
should be Ibrahim).

[2015-08-28 16:31] ahmedre commented on #89
To be clear, I am talking about the Arabic name. For English, let's find a
translation and use their naming.

[2015-08-28 16:32] ahmedre commented on #92
Let's also combine all translation requests into one github issue.

[2015-08-29 22:52] mmahalwy opened #96 "21:13 with the youssef ali translation"
It should be "given to you" not "given you". Please check it thanks

[2015-09-01 22:58] mmahalwy commented on #92
Yes agreed

[2015-09-01 22:58] mmahalwy commented on #89
yeah i am with you i dont want to change them

[2015-09-01 22:58] #89 closed

[2015-09-01 22:59] mmahalwy commented on #75
Agreed!

[2015-09-01 22:59] #75 closed

[2015-09-06 10:54] abdelouali commented on #93
I think also it is suppose to be "from". But Allah swt knows best.

[2015-09-06 10:56] abdelouali commented on #91
Allah knows best

[2015-09-06 18:15] ahmedre commented on #91
sahih international, this is indeed corrected in the third revision, so we should fix this.

[2015-09-06 18:16] ahmedre commented on #93
also fixed in revision 3 of sahih international, we should fix this.

[2015-09-08 06:43] ahmedre opened #98 ""stops" shouldn't wrap without their corresponding word"
in this screenshot:
<img width="998" alt="screen shot 2015-09-07 at 11 42 02 pm" src="https://cloud.githubusercontent.com/assets/47771/9728045/2254f966-55ba-11e5-80c7-cd96f7fdcce9.png">

you can see the "صلي" is on the next line instead of forcing the last word of the first line to also wrap with it. i realize this might be tricky to do but filing it anyway.

[2015-09-14 19:00] mmahalwy opened #116 "!important: End of surah loading"
This keeps coming up..

[2015-09-20 16:07] abdelouali opened #123 "Arabic not showing and Logo"
![image](https://cloud.githubusercontent.com/assets/13354388/9981627/704a6b12-5fc2-11e5-8992-77006cbee2bc.png)

Like you see on the screenshot. The logo is gone and the arabic quran text is showing weird.

[2015-09-20 16:11] abdelouali commented on #123
I think there is some issues with the cdn (content delivery network)

http://quran-1f14.kxcdn.com/images/logo-md-w.png

[2015-09-20 16:29] abdelouali commented on #72
My laptop on Chrome loads Japanese Translation

[2015-09-20 17:31] ATouhou commented on #123
It is caused by the custom font not being loaded... If it is not served by
the CDN,  then that makes sense ( that the bug is due to that). There
should be some fallback to use font hosted on the same server if the CDN
does not serve... Mark this issue as feature suggestion?
Den 20/09/2015 6.11 PM skrev "Abdelouali Benkheil" <notifications@github.com

[2015-09-20 18:52] ahmedre commented on #123
jazakAllah khairan, fixed this. the problem is that the cdn is "prepaid," and doesn't have a "charge my card automatically when i am finished with my credits" option. will speak with them and see if there's a way around this, otherwise will likely switch to another cdn.

[2015-09-20 18:52] #123 closed

[2015-09-20 19:22] abdelouali commented on #123
JazakAllah kahiran Ahmed. I will close this issue.

Wassalamoualikoem

[2015-09-20 19:32] abdelouali commented on #90
With Edge from Microsoft it works normal

[2015-09-21 15:30] abdelouali opened #124 "Bad Gateway 502"
Hello brothers,

I found a new bug.

If I go directly to the link http://quran.com/46. Then I get a gateway error. But if I go through the home page to surah 46, It will operate normaly.

Shokran.

[2015-09-21 15:32] abdelouali commented on #124
An screenshot of the action:

![image](https://cloud.githubusercontent.com/assets/13354388/9996318/c96f7ee8-6086-11e5-9698-f132a03968a3.png)

[2015-09-21 18:06] ahmedre commented on #124
JazakAllah khairan for reporting, restarted the backend, but still need to investigate and find out the root cause since this keeps happening...

[2015-09-23 13:09] ATouhou opened #127 "SITE IS DOWN"
Salam.
The site is currently down.
First error i got when typing www.quran.com,  was:
![image](https://cloud.githubusercontent.com/assets/6802820/10045694/0a7e5808-6205-11e5-9cf6-ece684d9b386.png)
then after opening another tab and going to the url, I managed to get the regular frontpage.
When entering a surah I get this error:
![image](https://cloud.githubusercontent.com/assets/6802820/10045718/2

[2015-09-23 13:10] ATouhou commented on #127
![image](https://cloud.githubusercontent.com/assets/6802820/10045737/4242e2d6-6205-11e5-93c8-a943bb957d38.png)

[2015-09-23 13:39] ahmedre commented on #127
one of the backends went down - restarted it. the changes we've made so far al7amdulillah improved the situation a lot (it's been running for almost 2 days without crashing now), but we still have more work to do. jazakAllah khairan for sending this.

[2015-09-23 13:39] #127 closed

[2015-09-23 17:13] mmahalwy commented on #127
I filed an issue: https://github.com/phusion/passenger/issues/1619

[2015-10-03 22:59] aam1r opened #129 ""stronger impact" hyperlink on Contribute page is not working"
1) Go to http://quran.com
2) Click **Contribute** on top right
3) Click **stronger impact**

This will throw a "Cannot find page requested."

On a related note, the hyperlink for **stronger impact** points to http://quran.com/true which doesn't seem correct.

[2015-10-04 01:18] mmahalwy commented on #129
@aam1r good find! To be honest, I don't even remember what was the intention of this :(

I will remove it soon inshallah or if you wanna put out a PR to remove the link?

[2015-10-04 17:49] aam1r commented on #129
@mmahalwy would love to submit a PR.

Could you help me set up the environment locally? I installed dependencies by doing `npm install` but running the default `gulp` task threw a lot of dependency issues. I tried manually going through and installing ~10 of them but gave up after a while.

Did I miss a step somewhere? If not, could you update `package.json` with all the dependencies needed?

Than

[2015-10-04 18:27] ahmedre commented on #129
nice to see you here 3amer :)

this worked for me:
1. `npm install`
2. `npm run build` (at the very least, for `NODE_ENV` of `production`, `packages.json` is up to date)
3. `npm install -g pm2`,
4. edit `server.js` and replace `8080` with `8000` (otherwise, since pm2 starts on `8000` by default, it will try to read js and css from port `8080` and fail to do so).
5. `pm2 start start.js --no-daemon`

[2015-10-05 18:25] #129 closed

[2015-10-05 18:26] mmahalwy commented on #129
salam guys, sorry i just saw this.

@aam1r you are all good except use `npm run watch` to run the servers. we no longer use gulp.

I will do some cleaning up of the house tonight inshallah

[2015-10-10 02:19] aam1r commented on #87
Is this still on the roadmap?

Our JS and CSS aren't gzip'd either and doing that itself will probably speed things up quite a bit.

http://stackoverflow.com/a/12644530/924643

[2015-10-10 02:29] aam1r opened #132 "Include ayah translation and link in text when "Copy" is clicked"
Salam,

Is there a reason why we don't include the translations visible along with the hyperlink to the ayah when Copy is clicked? I usually have to copy those in manually myself.

Example: With Sahih International translation, clicking Copy for 41:32 should copy:

Right now, it just copies:

Thoughts?

[2015-10-10 02:32] aam1r opened #133 "Going to an exact ayah via hyperlink does not allow scrolling up"
1. Go to http://quran.com/41/32
2. Ayah 41:32 should load as the first ayah on the screen (with the bismillah above it)

The page lets you scroll down to see latter ayahs, but you can't scroll up to see the prior ones.

![screen shot 2015-10-09 at 22 32 19](https://cloud.githubusercontent.com/assets/566418/10408768/a5b3238a-6ed5-11e5-9d2e-1c4e27327a1d.png)

[2015-10-10 09:28] ahmedre commented on #133
just to add my $0.02 - the old quran.com used to restrict to that one ayah given that url (http://legacy.quran.com/41/32, http://legacy.quran.com/41/32-35).

that having been said, i am torn about this. from the perspective of sharing, sharing one ayah or 2 or 3 ayat sometimes makes a lot of sense (just those ayat exclusively, nothing else, unless the user explicitly says, "show me more.").

from

[2015-10-10 09:32] ahmedre commented on #87
wow, that's really really terrible - we'd expect a difference between:

[code]

and

[code]

but no difference. insha'Allah i'll fix this.

[2015-10-10 09:34] ahmedre commented on #87
jazakAllah khairan btw for reporting this, bro.

[2015-10-10 10:19] ahmedre commented on #87
enabled gzip:

[code]

much better, and time cut to about half al7amdulillah!

[2015-10-10 10:31] ahmedre commented on #87
also ran pagespeed and yslow - the main thing that both mention is seeing if we can add an expiration date later in the future for images and assets that won't change. i'll see if i can do this on the cdn. yslow also reports some minor things (we have images we're downsizing in html, so why not just store smaller versions on the server, etc). pagespeed also mentions that some of our images can be

[2015-10-10 10:47] ahmedre commented on #87
just realized that applying this to the api will make a huge difference as well insha'Allah - will do this insha'Allah.

[2015-10-10 10:59] ahmedre commented on #87
sure enough al7amdulillah:

[code]

[code]

[2015-10-10 11:01] ahmedre commented on #46
these are already cdn-ed.
let's move them github's large file storage maybe to clean them out of this repo? this has the added benefit of making builds much faster...

[2015-10-10 11:11] ATouhou commented on #133
What about having a  button in the top and bottom saying show more, and then it can load dynamicly (AJAX) both ways (not only down, but also up?)

[2015-10-10 11:21] ATouhou commented on #95
The current font is very blurry on my screen.
![quranblurry](https://cloud.githubusercontent.com/assets/6802820/10410923/dcbed302-6f51-11e5-990b-dbb736b9fb3e.PNG)

[2015-10-10 11:23] ATouhou commented on #84
There is also a turkish translitteration (more easy to read for Turks) that could be added, so that it does not stand alone under "Translitteration"

[2015-10-10 11:25] ATouhou commented on #84
Can be downloaded from here:
http://globalquran.com/download/data/

The author of the page is also on Github :-)

[2015-10-10 11:26] ATouhou commented on #91
Is it not best to make a REPO just for translations, and then for all languages keep those "bugs" there. So can contact publishers and confirm with them / or fix critical/typos , while the change is logged in Github?

[2015-10-10 11:26] ATouhou commented on #91
If Tanzil could move their translations to GITHUB and accept pull-requests that would be optimal

[2015-10-10 11:28] ATouhou commented on #80
To get the tafseer from www.alim.org / recitequran.com Or qtafsir.com !  would be amazing

Also Recitequran.com have sound recitations for each word, both with / without tajweed

[2015-10-10 11:30] ATouhou commented on #83
This guy (http://quranapp.omaralzabir.com/)  have word-by-word in arabic(translitteration), the ROOT of the word(like your corpus.quran request) and also have word-by-word in BANGLADESH.
He is also on Github with the app/site :-)

[2015-10-10 12:28] aam1r commented on #87
@ahmedre great stuff bro, much faster now! I hope this helps improving the experience on mobile and for people on slower connections.

As for the expiration header for statics, we shouldn't set it to long because we're not using a cache buster. I am not sure how often we update the CSS/JS but I would say putting the cache at a few hours or at most a day is the safest. @mmahalwy?

Ideally, we shoul

[2015-10-10 17:59] aam1r commented on #129
@mmahalwy great

By the way, is there a reason the donate popup says "This campaign is no longer accepting donations". Intentional or is it a bug?

[2015-10-10 20:26] mmahalwy commented on #129
@aam1r good question. Tilt Open now no longer supports donations. I created this but haven't added it.

https://donorbox.org/quran

Perhaps you want to take a stab at it?

[2015-10-10 20:29] mmahalwy commented on #83
Hmmm interesting. We may find good use for that!

What's his github?

[2015-10-10 20:30] mmahalwy commented on #132
Hmm, very interesting. I never thought about that. Right now people complained about the tashkeel thing. they just want to have _just_ the arabic text but it seems logical to have copies for them in different places (ie copy text, copy translation, etc)

[2015-10-10 20:39] aam1r commented on #129
Yeah sure, will look at it over the next few days iA

[2015-10-10 21:12] ATouhou commented on #83
https://github.com/oazabir/QuranApp

He is working on it, as we speak :-)

[2015-10-12 01:10] mmahalwy commented on #133
@ahmedre i think we should change it to the same result as legacy - /2/3 => single ayah and not range.
I also agree with you all about having a load previous button. That being said, it hasn't been an issue that's been recurring in support and I suggest we spend the time adding data to find out how often people go to a ranged or a specific ayah.

[2015-10-12 01:10] #124 closed

[2015-10-12 01:11] #95 closed

[2015-10-12 01:11] mmahalwy commented on #93
@ahmedre where can we get the revision 3?

[2015-10-12 01:14] mmahalwy commented on #87
@ahmedre awesome! I am pretty excited about this!

@aam1r we do update the CSS and JS frequently. We could add cache busters, that's no problem at all, and probably I am going to rewrite many things soon to make it faster and will add cache busting. What I hope to do before that though is having the CSS & JS on CDN. @ahmedre thoughts?

[2015-10-12 01:31] aam1r commented on #87
@mmahalwy sounds good. What CDN do we use btw?

[2015-10-12 07:44] mmahalwy commented on #87
@ahmedre would be best to answer that @aam1r

[2015-10-12 07:45] mmahalwy commented on #84
i dont think this is a valid issue. going to close

[2015-10-12 07:45] #84 closed

[2015-10-12 07:45] mmahalwy commented on #88
Closing...

[2015-10-12 07:45] #88 closed

[2015-10-12 07:46] mmahalwy commented on #77
I dont know how important this is... closing...

[2015-10-12 07:46] #77 closed

[2015-10-12 07:46] mmahalwy commented on #72
@abdelouali thanks! closing

[2015-10-12 07:46] #72 closed

[2015-10-12 07:47] mmahalwy commented on #98
this is contingent on the screen size, and probably will be difficult to try to fix. going to close for now

[2015-10-12 07:47] #98 closed

[2015-10-12 07:48] mmahalwy opened #135 "Missing translations"
1. Albanian

[2015-10-12 07:48] #92 closed

[2015-10-12 07:48] mmahalwy commented on #92
https://github.com/quran/quran.com-frontend/issues/135

[2015-10-12 16:50] mmahalwy commented on #46
@ahmedre okay awesome. That's all you!

[2015-10-15 05:59] reshadn commented on #133
*Salams. I was invited to this repo a while back and have been meaning to contribute. Alhamdulillah I'm finally taking the leap. It's a comment but I hope to start by picking up some bugs iA.*

My 2 cents. Show a single ayah but allow up and down scroll to display more. I imagine more people (like me) are using this site on their mobile device and I personally would appreciate "swipe" actions vs c

[2015-10-15 06:05] reshadn commented on #86
Maybe use the w3 country codes: http://www.w3.org/International/O-charset-lang.html

[2015-10-15 06:26] reshadn commented on #80
+1 Any copyright restrictions?

[2015-10-15 06:30] reshadn commented on #76
@ahmedre Assuming you meant this ticket.. =)
Add reciter "Tawfeeq ibn saeed as-Sawa'egh" http://quranicaudio.com/quran/23

[2015-10-15 07:38] mmahalwy commented on #133
@reshadn woooot!!! Thanks for coming back! It says you're an owner:
![image](https://cloud.githubusercontent.com/assets/3749095/10507401/0145c998-72d5-11e5-80f2-2bcf39a69798.png)

Let me readd you.

I agree.. I think the low hanging fruit is a button for load more on top or load more on the bottom.

[2015-10-15 07:39] mmahalwy commented on #86
I think this is long long term to be honest with you. We don't do any i18n at all

[2015-10-15 07:41] mmahalwy commented on #80
We have arabic tafsir: http://api.quran.com:3000/content/tafsir/6166

I want to release it with english too

[2015-10-15 20:25] reshadn opened #139 "Simple next prayer time component/widget"
- Next prayer time component at one of the 4 corners
- Show next prayer time or time to next prayer?
- hide/unhide
- clicking component will open http://salah.com/
- simple settings for prayer time calculation
- allow geolocation and push notifications?

[2015-10-15 20:37] reshadn opened #140 "Clicking the "See information for this surah" icon does not reset vertical scroll to display content"
**Summary**: After scrolling down the page and then clicking the "See information for this surah" icon
<img width="161" alt="screen shot 2015-10-15 at 1 27 18 pm" src="https://cloud.githubusercontent.com/assets/425101/10526599/c332542a-7340-11e5-9098-3036ffcdbd8b.png">
the content is displayed at the top of the page but is not visible in the viewport.

**Screenshot**:
<img width="1303" alt="screen

[2015-10-15 20:46] mmahalwy commented on #140
Yeah, we need to fix that :)

In fluxible-router you can, I am pretty sure

[2015-10-15 20:47] mmahalwy commented on #139
Hmmm very interesting. @bshama would be best to include in this

[2015-10-15 21:23] #79 closed

[2015-10-16 16:24] ATouhou opened #143 "Search ( SearchInput.js )"
I don't have skills in react so I can't really contribute to the fix,  but when clicking search and the input box is empty it will say: "-0 OF 0 SEARCH RESULTS FOR:"  and say "loading"  forever...
Maybe make the input "glow"/shake/focus  if it is empty? :D

[2015-10-16 16:26] ATouhou opened #144 "BISMILLAH TEXT DOSENT EXIST / LOAD!!!"
![skaermbillede 2015-10-16 18 25 50](https://cloud.githubusercontent.com/assets/6802820/10547228/693fb41e-7433-11e5-9fb6-2f3e88415552.png)

[2015-10-16 17:27] mmahalwy commented on #143
Ah! @ATouhou, @reshadn or @aam1r if you want to tackle this to get you into the react world?

What you need to do is: https://github.com/quran/quran.com-frontend/blob/master/src/scripts/components/header/SearchInput.js#L10 detect what the value is, and perhaps throw an alert if empty?

[2015-10-16 17:28] mmahalwy commented on #144
Yeah, it's broken for some reason @ahmedre we need to deploy

[2015-10-17 00:07] mmahalwy opened #145 "Next features to build"
Salam!

I have made a quick survey that you can find [here](https://docs.google.com/forms/d/103NNTBOqWj81j5VNkQIvdpHD6HPoBoM9Yraqn7oboeM/edit) and sent it to people that wrote to support with the assumption they'd be more receptive. Here is the top 3 features people really care about:

1. Copy with tashkeel. This is the #1 request
2. Go to ayah, and only that ayah
3. Social media sharing (share ra

[2015-10-17 00:08] mmahalwy commented on #145
@reshadn @ahmedre @sharabash @bshama @redhae @dsog

[2015-10-17 03:42] reshadn commented on #145
Salams. Thanks for this breakdown. I'd love to see the results and I'm curious how many people filled out the survey, did we capture email addresses? I'm new so I apologize for the noob questions. Do we have an email list for "beta" testers or active users who are willing to test things out and give more feedback?

**re: site speed and stability** - have we been able to determine if the main issue

[2015-10-18 22:53] mmahalwy commented on #145
@reshadn: https://docs.google.com/spreadsheets/d/1_7GNyB1fyiQo3IGfz_1JlnMuADvJhiRnrcoDcGkTmzc/edit?usp=sharing

Now about 25% of people emailed filled it out. We don't have a list of beta testers to be honest, we previously just subdomained things. I wanted to use optimizely to feature flag things but unfortunately our traffic is so high that we fall under many top tier plans for many products.

I

[2015-10-18 23:13] ATouhou commented on #145
I don't know how happy people will be about their emails being publicly available like that  (Y) Else looking good

[2015-10-18 23:19] mmahalwy commented on #145
Good catch. I am going to hide this then..

[2015-10-18 23:20] mmahalwy commented on #145
Email me personally for results mmahalwy@gmail.com

[2015-10-19 00:08] ATouhou commented on #145
1# Focus on making the site stable! The bismillah is still broken :'( it's heart breaking to see, as this is most likely the most used quran website, and having that part broken is very critical...

Feature suggestions:
#1. Memorization module. (& encouragment to learn&study X ayah a day)
#2. One guy requested being able to turn word-by-word off (this should ofcourse be possible / and / or change

[2015-10-19 00:21] ATouhou opened #146 "502 ERROR"
SITE DEAD

[2015-10-19 00:27] ahmedre commented on #146
yes, a deployment that went bad. we're getting some staging servers early in the week to avoid this from happening again insha'Allah.

[2015-10-19 00:27] #146 closed

[2015-10-19 00:27] ahmedre commented on #146
(it's still down, we're working on it).

[2015-10-19 00:43] mmahalwy commented on #145
@ATouhou all look good!

Perhaps let's find the most important 3 things and perhaps you can help us with getting the data and I can clean/download it?

[2015-10-19 00:45] mmahalwy commented on #145
Bugs have been fixed... we are literally just waiting to push and deploy. Stability is because:
legacy.quran.com has seen no changes in a very very long time. Quran.com is changing every week and we dont have the proper infrastructure or time for it! We need more time :(

[2015-10-19 02:37] aam1r commented on #143
@mmahalwy I can look at this weekend if no one has worked on this yet. I was planning to look at a few other pending issues and this one over the weekend but was feeling a bit under the weather.

[2015-10-19 06:20] mmahalwy commented on #143
hey no worries man! we finally got alot of the new search stuff out

[2015-10-19 13:53] ATouhou commented on #145
Indexed English tafseer ibn kathir and word-by-word audio in arabic (with tajweed and just standalone word) on recitequran.com ! I've contacted them a couple of times and they said they will consider making everything open-source.  The alim.org refused to share their tafseer ibn katheer.
I think if you contact them with a @quran.com email they might share it...
I have a danish translation of the Q

[2015-10-19 14:30] mmahalwy commented on #145
Yeah I contacted recitequran.com and no luck with that. They don't want to share it.
Alim.org sent me an email today and said contact the original authors, CC: @ahmedre

[2015-10-19 14:34] ATouhou commented on #145
@mmahalwy  Actually original author has put the site on github hhhhhhhhhhhhhhh it's based on joomla but has everything except the tafseer!

[2015-10-19 14:42] mmahalwy commented on #144
@ATouhou is this fixed now?

[2015-10-19 14:42] #144 closed

[2015-10-19 15:03] ATouhou commented on #144
Yes it is fixed :-) But the text is not high resolution and looks blurry on my screen. I think I posted another issue about this

[2015-10-19 16:23] mmahalwy commented on #116
Fixed with https://github.com/quran/quran.com-frontend/pull/152

[2015-10-19 19:57] mmahalwy commented on #145
i could scrape everything, i have done it before, but we like to be cool with others and not be the evil people with a flashy domain. So, I like the _scratch each other's back_ than scrape!

And I really want the english ibn kathir :(

[2015-10-19 20:30] ATouhou commented on #145
There is nothing wrong with scraping the public data. We share it fisabillilah and are not making 1cent on it!  If you search github you will see there is already 2-3 Scrapers for sunnah.com as there is a demand for the informations even though the terms of conditions says don't scrape! .
Anyway we can copy+paste tafseer ibn kathir for each ayah / page manually from a PDF (I have it and can provid

[2015-10-19 20:47] mmahalwy commented on #145
Hmm, it's a tough decision that I don't have an answer for. On one side, we can create our own data for everything (scrapping, etc etc + paying a qari for the audio) and on the other is trying to push through and convince people to share their data. It's annoying, I mean we say and are happy to share our database, for example, only if someone personally requests it (so we have some small control o

[2015-10-19 21:08] ATouhou commented on #145
Ofcourse. I really think we should continue to push the guys at recitequran and alim.org.
I really do not understand a muslim, refusing such an opportunity to gain free hasanat by others work...
I understand having some control over it, like the decision  by the android app team, removing the source code to prevent people to releasing verisons with ads / malware etc.

I think all data should be so

[2015-10-19 21:30] ahmedre commented on #145
so here are some random thoughts about scraping and what not:

1. for said people specifically, this is not an option - Mohamed tried taking some data from one of these sites before and we got a very strongly worded angry email about it (and rightfully so, since we didn't ask permission) - they asked us to remove the content. they were unwilling to negotiate anything, unless we accepted joining un

[2015-10-19 21:32] ahmedre commented on #145
one last point which i do understand - even if you're only in it for thawab and zero worldly reasons for things, you want people to come to your site (i.e. it costs $0 to visit a website - why should they visit website x instead of our website?) - and the same with their team.

given that we are bigger than them (by virtue of having the domain alone), they have little reason to give us their data,

[2015-10-19 21:59] ATouhou commented on #145
@ahmedre
1. If we scrape the data (can be done behind VPN if anxious about being tracked),  they can't track the origin of the data. Those groups shareislam and alim do not own the tafseer ibn kathir, nor the publishing right or anything. It will just save us some headache to index the data by scraping their site. The volunteers should be happy that the work is shared and their hasanat is multipli

[2015-10-24 10:26] ATouhou opened #153 "SEARCH ENGINE IS DEAD"
![image](https://cloud.githubusercontent.com/assets/6802820/10710121/6bb124ae-7a4a-11e5-8d3b-26b12a086e59.png)

[2015-10-24 17:04] ahmedre commented on #153
fixed it for now by restarting - will try to look into these issues this weekend insha'Allah.

[2015-10-24 17:04] ahmedre commented on #153
jazakAllah khairan for opening this

[2015-10-24 17:04] #153 closed

[2015-10-29 22:42] reshadn commented on #143
I'll take a look at this today iA.
Goal: Don't allow search function to be called via "enter" button or "search magnifying glass" click when the input field is empty.

[2015-10-30 13:16] tysteiman opened #160 "Reading Mode Is Only Toggling Expand/Collapse Navigation Menu"
Trying to toggle reading mode toggles navigation menu collapse instead.

![reading](https://cloud.githubusercontent.com/assets/11522852/10846523/f474f7a2-7f18-11e5-8894-4fd2bda59e17.JPG)

[2015-10-31 08:48] reshadn commented on #116
@mmahalwy close?

[2015-10-31 08:48] #116 closed

[2015-10-31 16:49] mmahalwy commented on #116
Yep @reshadn thanks!

[2015-10-31 23:44] mmahalwy commented on #160
Hmm... that is not correct... hmm will fix inshallah

[2015-11-01 04:51] #143 closed

[2015-11-01 04:51] #133 closed

[2015-11-02 13:30] AskYous opened #165 "Unlimited scrolling not working. Gets stuck saying 'Loading...'"
I went to http://quran.com/60, then scrolled down to load more *Ayaahs*, but it's been saying "Loading..." for 10 minutes now without loading the next *Aayahs*.

I'm refreshing the page, and they're still not loading.

![image](https://cloud.githubusercontent.com/assets/791996/10882828/ca5e1500-8122-11e5-85fe-55ff957c221b.png)

[2015-11-02 13:34] AskYous commented on #165
I just did a hard reload in Chrome (`Ctrl` `Shift` `R`) and it worked. Maybe that solved it for me. So it could be that it's pulling some files from my cache instead of the latest version.

I know a fix for forcing a user's browser to load the latest version of JavaScript files on demand if you would like it.

[2015-11-02 20:21] mmahalwy commented on #165
@AskYous thanks for the heads up - this is an identified bug we have found and fixed in staging:
staging.quran.com

Can you confirm you don't have the same problem?
@ahmedre we need to deploy to prod. Got many tickets about this problem

[2015-11-02 23:03] AskYous commented on #165
Works for me in staging.

[2015-11-02 23:23] mmahalwy commented on #165
Okay awesome! Thanks @AskYous I will push tonight inshallah

[2015-11-05 19:43] #165 closed

[2015-11-06 00:35] medicinox opened #172 "Viewport transition from sm/xs to lg"
-opened quran.com with viewport 709x507
-opened quran.com/33 and pressed refresh (command+r)
-toggled “menu” then expanded viewport to ~col-lg but when it expanded, the same mobile menu disappeared for lg screen

[2015-11-06 19:36] mmahalwy commented on #172
hmm let me look into that inshallah its probably a JS problem

[2015-11-09 08:38] ahmedre opened #174 "Feature Request: Improved Preview Links in Apps"
facebook: https://developers.facebook.com/docs/sharing/opengraph
slack: https://api.slack.com/docs/attachments
twitter: https://dev.twitter.com/cards/overview

[2015-11-11 04:32] ahmedre opened #176 "Bug: "Loading" at the end of a Sura"
saw this today - this is the last ayah and yet we have "Loading..."

<img width="931" alt="screen shot 2015-11-10 at 8 31 18 pm" src="https://cloud.githubusercontent.com/assets/47771/11083952/0ec62da4-87ea-11e5-8d68-895000464c73.png">

[2015-11-11 14:06] AskYous opened #177 "Abu Bakr Ash-Shatri reciting soorat Al Hashr sounds horrible"
Assalaamu 'Alaikum,

Please listen to Abu Bakr "reciting" Soorat Al-Hashr:
http://quran.com/59

On Chrome and Firefox, it sounds scary and broken.

[2015-11-13 16:17] rahiel commented on #80
Assalaam, I've recently extracted the tafsir al-Jalalayn from the pdf by [altafsir](http://www.altafsir.com/Al-Jalalayn.asp). I've attached it here in json format. It is a list of 114 surahs, each a list of their verses. I haven't asked for permission to use/distribute it, but you may find this helpful.

(It was generated by first converting the pdf to text with `pdftotext -nopgbrk Al_Jalalain_Eng

[2015-11-13 18:04] mmahalwy commented on #80
@rahiel this is awesome! Think we can do the same for Ibn Kathir? I can work on the permissions during the weekend to send out the appropriate emails. We can try to make make it open-source-ish, with api key requirement for example?

@ahmedre thoughts ^^

[2015-11-15 15:13] ATouhou commented on #177
The files are broken:

http://verses.quran.com/Shatri/ogg/059012.ogg

[2015-11-15 21:13] mmahalwy commented on #177
Thanks for noting this @AskYous i probably wont get to this for a while unforunately

[2015-11-17 14:17] AskYous opened #179 "Clicking on the Aayah number after searching does nothing"
![image](https://cloud.githubusercontent.com/assets/791996/11213731/7d34bea6-8cf2-11e5-85c1-8418ba944518.png)

Assalaamu 'Alaikum,

When I click on the *Aayah* number after I [search](http://quran.com/search?q=ridicule) for a word, 3 things happen:

1. The page scrolls to that *Aayah* number I clicked on (which is OK).
2. There is an error on the console log: `Uncaught TypeError: Cannot read prope

[2015-11-17 18:57] mmahalwy commented on #179
@AskYous thanks for the heads up! Hmm, I will fix this inshallah. I have an idea of what the problem is.

[2015-11-19 00:30] reshadn opened #180 "Enable page view based on standard quranic script"
I personally enjoy reading from a physical book since the pages are tactile and can be distinguished. It would be great if we could organize the ayat to view by page based on the standard Othmani quranic script.

[2015-11-19 10:32] sharabash commented on #180
i thought i did this, did you guys not put it in?

On Wed, Nov 18, 2015 at 6:30 PM Reshad Noorzay <notifications@github.com>
wrote:

[2015-11-19 18:44] mmahalwy commented on #180
@reshadn it exists. hit the book icon and itll give you the reading mode, which is formatted like the book - we _can_ do more to make it pretty though

[2015-11-19 18:56] reshadn commented on #180
True there is a reading mode but it's designed as one continuous page vs
page-by-page. For example you can't see the left and right page like in a
book.  Unless I'm missing something.

On Thu, Nov 19, 2015, 10:44 AM Mohamed El Mahallawy <
notifications@github.com> wrote:

[2015-11-19 19:46] ATouhou commented on #180
the continuous layout is very fine but, there is 2 things that could be improved / fixed /added.
1. There is a bug, where if you hover on the last word , it jumps down to the next line, (rendering you unable to hover the last word and see the meaning)
2. It would be nice to have a view, where it is sorted by "page", so that the words are placed exactly where they are in the medina mushaf

[2015-11-20 05:57] mmahalwy commented on #180
ah yes @reshadn that'd be nice. I feel like it's a _nice to have_

[2015-11-22 22:00] abdelouali opened #182 "European Cookie Policy Law"
It has since 2013 required on each site to show their users that the website uses cookies. On each page where the visitor comes along must be shown that the website is using cookies. This is mandatory and there may be legal consequences for non-compliance of this law.

For info: it can be a little header that says; This website uses cookies to improve its services.

And if they then click on the c

[2015-11-23 08:04] mmahalwy commented on #182
@ahmedre

[2015-11-27 19:01] ATouhou commented on #182
if the site is not hosted in EU, then that legislation does not apply to them??

[2015-11-27 19:06] abdelouali commented on #182
I don't think so, because big companies like google and facebook also show to their European visitors that they use cookies.

[2015-11-29 12:53] rahiel commented on #80
@mmahalwy If there is a pdf/source for Ibn Kathir with some structure, then yes, you can parse it. Doing tafsir [Ibn Abbas](http://www.altafsir.com/Ibn-Abbas.asp) would require less effort, because the pdf has similar structure to the one for Al-Jalalayn. I can do it if quran.com will use it.

[2015-11-29 21:35] ahmedre commented on #80
just to be clear, we have Jalalayn in both Arabic and English - we intentionally removed the English after speaking with a sheikh. with respect to this particular version of Ibn Abbas's tafseer, we should consult with a sheikh - from that page, it says, "Despite its uncertain authorship and its reliance on the controversial Isrâ’îliyyat or Israelite stories, Tanwîr al-Miqbâs nevertheless offers re

[2015-12-03 08:49] ATouhou opened #183 "SITE IS DEAD ::: ERROR 504"
![image](https://cloud.githubusercontent.com/assets/6802820/11555810/2e6a52d2-99a3-11e5-9c8c-9158b542c15f.png)

[2015-12-03 08:58] ahmedre commented on #183
jazakAllah khairan - it recovered on its own, but i restarted it just in case.

[2015-12-03 08:58] #183 closed

[2015-12-03 18:33] mmahalwy commented on #183
@ahmedre probably search again?

[2015-12-06 01:03] AskYous commented on #183
I'm getting a 502 gateway error on http://quran.com/.
![image](https://cloud.githubusercontent.com/assets/791996/11611121/22539ea6-9b72-11e5-9c07-3e5d5e828056.png)

[2015-12-06 22:20] mmahalwy commented on #183
fixed!

[2015-12-15 22:49] reshadn opened #184 "Exploring search UX"
I think the search functionality is incredibly powerful. I'm interested in refining the search UX in general. I don't know the answer yet but wanted to start a discussion around this and hopefully capture some concrete features to prototype, test and possibly build out.
- How can we return the most relevant ayat?
- How can we provide additional data/graphs, etc to help visualize the results of a s

[2015-12-15 23:58] mmahalwy commented on #184
Salam!

Firstly, great questions! + @ahmedre

Here is the state of search:
- It's alright
- it could be better
- there is a lot to uncover and many more awesome things to do to make search way more powerful (perfect match for example)
- in some ways, the current search is more powerful than legacy. in others, legacy is more powerful (for example, again, perfect match)

This is purely from a techni

[2015-12-16 01:33] reshadn commented on #184
+1 on the service oriented approach. It'll empower us to do more with current site and potential other sites/apps in the future. I like modularization. =)

From my side I'll spend more time thinking about the UX and share some thoughts with the group.

[2015-12-16 05:31] TariqP opened #185 "Multiple issues with Quran audio playback"
Salam!

Maybe it's because I primarily use Safari, but I have multiple issues with audio playback. For example if I select a specific ayah and then hit play, it'll instead play from the first ayah visible on the page. Sometimes the audio will get stuck and when I hit play again, instead of continuing, it'll start over (from the first ayah visible on the page). If I select a different reciter, it'l

[2015-12-16 07:46] mmahalwy commented on #185
salam @TariqP all good feedback! The audio player needs to be completely rewritten. I will do that in te next 2 weeks inshallah

[2015-12-17 17:08] AskYous commented on #184
Yes. I second this.

[2015-12-19 00:40] ATouhou commented on #184
When performing search with example 15 pages (on word هذ) it breaks the design make the site too wide on a phone

[2015-12-25 17:47] azizur commented on #182
The cookies low also applies to local storage.

[2015-12-25 18:11] azizur commented on #38
@mmahalwy How can I help so that simple things like this can be fixed faster. I a bit surprised that an issue like this one not been fixed?

[2015-12-31 03:48] ahmedre opened #186 "description meta tag needs improvement"
compare:

http://legacy.quran.com/1/1
`<meta name="description" content="Surat Al-Fatihah [verse 1] - In   the name of Allah , the Entirely Merciful, the Especially Merciful."/>`

and
http://quran.com/1/1
`<meta name="description" content="The Noble Qur&#x27;an in many   languages in an easy-to-use interface."/>`

let's put the verse in the meta description, insha'Allah that should improve SEO.

[2016-01-01 02:24] mmahalwy commented on #186
new version will have:

![image](https://cloud.githubusercontent.com/assets/3749095/12069538/c904fb86-afeb-11e5-92de-dbd73ca12562.png)

[2016-01-01 02:25] mmahalwy commented on #186
Need to do the verse view though.

[2016-01-01 02:27] mmahalwy commented on #38
@azizur we worry about translations - we are not the authors of the translations nor do we speak Russian, so we are trying to log them for now until one day we have the ability to (whether we have a better system to take care of these potential errors or have someone who speaks Russian). Also, many people interpret things differently, for example 'sodoor' in old english means 'breasts' but some pe

[2016-01-01 02:28] mmahalwy commented on #184
@AskYous I have now imported all of corpus.quran.com's word data in the database and available. What suggestions do you and @reshadn have for this? I think it's cool

[2016-01-01 02:28] mmahalwy commented on #184
@ATouhou we need to do some fixing for search and mobile.

[2016-01-01 02:30] mmahalwy commented on #185
Salam @TariqP will be fixed soon inshallah. Will let you know when

[2016-01-01 11:37] azizur commented on #38
@mmahalwy I am totally with you. I assumed that we already had links with scholars who speaks native Russian and the above suggestion comes from them.

[2016-01-18 09:47] assem-ch opened #188 ""Contact us" redirecting to nothing"
When clicking on Contact us, it redirect to : https://quran.zendesk.com/hc/en-us which is showing a blank page with message: Account not active

[2016-01-18 18:47] mmahalwy commented on #188
Hmm, zendesk took down our account mysteriously.... @ahmedre I am really unhappy with this!

[2016-01-31 04:04] yazinsai opened #189 "Some verses not displayed correctly when adblocker is used"
Check it out:

![image](https://cloud.githubusercontent.com/assets/1846034/12700173/f9a68d46-c7f0-11e5-96f3-c722caa108f3.png)

The adBlocker is uBlock, and only seems to affect the formatting on some of the verses. I've since disabled it on quran.com, and it works fine -- just sharing this for the benefit of others that might face the same issue.

[2016-01-31 19:38] ATouhou commented on #189
Yes, I experienced this too with "Ghostery", because I blocked google analytics.  The google analytics code is minified into one file with all other JS.  This blocks the entire file.

[2016-01-31 22:13] abdelouali commented on #188
I do see content on the page at zendesk

[2016-01-31 22:16] abdelouali commented on #94
I do have test the audio on Ipad Safari. And it works great here.

[2016-01-31 22:17] ahmedre commented on #188
this has been fixed now.

[2016-01-31 22:17] #188 closed

[2016-02-01 00:17] iBasit opened #190 "Quran text fonts .ttf"
As salaamu wa alaikum wr wb

Brother I wanted to know how Quran.com Quran arabic text font http://quran-1f14.kxcdn.com/fonts/ttf/p1.ttf. is created and used.

I wanted to use this on our  website also.

Can you please guide on this.

[2016-02-01 02:52] yazinsai commented on #189
Ah -- but why then does it only apply to some verses .. are the verses loaded via AJAX (where one request might have been blocked)?

[2016-02-01 19:18] AskYous commented on #189
I experienced this same issue on Chrome and only on Chrome back when beta.quran.com was still up. But now that I see this issue posted, I know think the reason was because I had an ad blocker installed.

It happened on every verse.

[2016-02-08 01:55] mmahalwy commented on #94
Okay, closing then

[2016-02-08 01:55] #94 closed

[2016-02-08 01:55] mmahalwy commented on #190
@ahmedre is probably best to answer this

[2016-02-08 01:56] mmahalwy commented on #190
@iBasit its here: https://github.com/quran/quran.com-images

[2016-02-08 01:58] mmahalwy commented on #189
@yazinsai it's weird that it happens to some ayahs... it's probably our CDN getting blocked, @ahmedre any ideas?

[2016-02-08 01:58] #190 closed

[2016-02-08 01:59] mmahalwy commented on #160
This will be fixed with new rewrite

[2016-02-08 01:59] #160 closed

[2016-02-08 03:08] AskYous commented on #189
There should be an error message in the console log if an ad blocker blocked it. It would be helpful for @yazinsai to click F12 on your keyboard and post a screenshot if there is an error message.

[2016-02-08 04:53] iBasit commented on #190
https://github.com/quran/quran.com-images is very old and It's not the one which is getting used.

Brother @ahmedre can you help?

[2016-02-08 05:33] mmahalwy commented on #190
@iBasit it is in the font folder. that's what we are using

[2016-02-08 05:42] iBasit commented on #190
Excellent, Thank you thats exactly what I was looking for.

I'm not a .pl coder, but is there demonstration or documentation on how to use these fonts.

I see that they are Quran pages are split into 604 pages. but how can I get each ayah from start to end of the verse?

[2016-02-08 05:52] ahmedre commented on #190
[quran/quran.com-images](https://github.com/quran/quran.com-images) is what all the pngs on both legacy.quran.com (and the images themselves when enabled on quran.com, though these are not the defaults) use. [quran/quran.com-images](https://github.com/quran/quran.com-images) uses the fonts from [King Fahd Quran Complex](qurancomplex.org).

so let's back up a step - what are you trying to do? do yo

[2016-02-08 06:44] iBasit commented on #190
I want Quran fonts and display it. I'm not sure how to display Quran fonts after downloading it from https://github.com/quran/quran.com-images/tree/master/data/fonts

I know there is data set, but I'm not sure how to get that data set. Do I need to run some script to get that data set? or is it available in cvs format?

Mainly getting the data set and using it to display the Quran fonts will be hu

[2016-02-08 06:51] ahmedre commented on #190
the data is there in the repo in sqlite format already, which is easy to convert to anything else - for example, if you download [text.sqlite3.db](https://github.com/quran/quran.com-images/blob/master/data/text.sqlite3.db), you'll see:

[code]

in that database, there's one line per ayah - the text here is what you need to display that (making sure that you use the font corresponding to page).

ke

[2016-02-08 08:53] mmahalwy commented on #189
There should be if adblock blocks fonts...

[2016-02-08 16:49] iBasit commented on #190
Perfect, This is exactly what help I needed. Jazak'Allah bro.  :+1:

[2016-02-08 22:43] iBasit commented on #190
Brother @ahmedre I had another question related these fonts.

If I wanted to color these fonts like following image, to make them tajweed, do you know how can I do that or how can I achieve that?

![image](https://cloud.githubusercontent.com/assets/34341/12901752/362de03c-ceb5-11e5-9c7e-80af2dd19980.png)

[2016-02-09 05:41] ahmedre commented on #190
wa3laikum alsalam,
unfortunately, you can't use those fonts to achieve this, because those fonts are word by word, and in order to do this, you need a font that works letter by letter. you can use one of the existing uthmani fonts and write code to color accordingly.

some of us started a project not too long ago to work on this, but it's really early on. insha'Allah if Allah makes it easy and we

[2016-02-09 05:43] ahmedre commented on #190
see also http://tanzil.net/wiki/Quranic_Fonts

[2016-02-09 06:19] iBasit commented on #190
wa salaamu  wa aliakum

Sorry, I was not clear on my question I think.

We do already have tajweed on our website, which is using uthmani fonts, which is color coded by css. But we get problem on different devices / browsers. Which end up not displaying properly.

At the moment we are converting tajweed word by word into svg format.

**Question & Solution**

I'm not sure how to create such fonts a

[2016-02-09 06:24] ahmedre commented on #190
wa3laikum alsalam,
ah ok, i see - yep, i ran into the same problem with the experimental tajweed stuff i mentioned (only worked in firefox basically, there's a webkit bug that causes it not to work in chrome/safari/etc).

so about the fonts, we didn't make them - these fonts came from qurancomplex - am not sure about the details on how they made them. the only thing we did was that we used [libgd]

[2016-02-09 06:47] mmahalwy commented on #190
@iBasit I'm curious to learn, and if you don't mind, sharing the content that you have on your website as we are sharing ours. I think we can mutually benefit each other.

[2016-02-09 16:15] iBasit commented on #190
wa salaamu wa alaikum

@ahmedre Jazak'Allah for all the help you gave, Thanks again.

We did fix major bug for tajweed for the browser, but I still prefer SVG or Fonts format, because any new device or browser can break normal fonts. Try Tajweed on our website globalquran.com to Experiment with it.

@mmahalwy

Our project and data is open source since 2006. Following are links that you can use. Cu

[2016-02-14 00:06] ATouhou opened #191 "sunnah.com"
assalama aleykoum wa rahmatullahi wa barakatuh.
I wanted to ask if any of you know how the brothers behind www.sunnah.com is?  Is the site still being developed on?

[2016-02-14 00:07] ahmedre commented on #191
wa3laikum alsalam wa ra7matullahi wa barakatuh,
i know the brothers working on the site and yes, it's still being maintained (though perhaps at a slow pace these days).
walsalam 3alaikum.

[2016-02-15 22:36] ATouhou commented on #191
Okay please let them know if they need some extra help, making the site responsive or other functions

[2016-02-18 19:52] azizur opened #192 "Surah AL-BAQARAH does not load after 240."
I have been trying to get to the last few verse so I started at the top verse 1, and scrolling when I get to verse 240 it says loading... but nothing happens.

I wonder if there is some protection mechanism to stop rapid scrolling?

Loading http://quran.com/2/284 or http://quran.com/2/285 or http://quran.com/2/286 directly works.

There are few other issues, I am seeing when you move about quickly

[2016-02-19 01:57] mmahalwy commented on #192
@azizur thanks for the heads up! I will fix this in #187

The problem for the 240 is probably a silly check on my part to see if you reached end of surah.

[2016-02-22 14:59] AskYous commented on #185
I'm having another issue with the playback similar to the original post above. When I go to http://quran.com/2/40, the change the Aayah number to listen to the audio, it still plays the audio for /2/40 (Soorat Al-Baqarah).

[2016-02-24 11:21] iBasit commented on #190
Brother @mmahalwy @ahmedre, We were thinking to create new Tajweed version of Quran Complex fonts using http://dm.qurancomplex.gov.sa/hafsdownload/ and obviously make it opensource.

I wanted to ask you guys, would you be interested in contributing or working together on this task, joining resources to build this will help done quickly.

We just need figure out how we can use ia files or ttf files

[2016-02-24 18:50] mmahalwy commented on #190
@iBasit unfortunately for me, I am too swarmed these days with many things and this would be outside my expertise.

[2016-02-26 20:32] azizur opened #193 "Dependency exists in both dependencies and devDependencies"
Project should not have same dependencies in both app dependencies and dev dependencies.

[code]

[2016-02-26 20:33] azizur opened #194 "npm WARN deprecated dependencies"
npm WARN deprecated dependenciesn when doing `npm i`.
[code]

[2016-02-26 20:44] azizur opened #196 "npm build script fails on master."
npm build script fails on master with following errors.
[code]

[2016-02-27 07:28] ahmedre commented on #196
@mmahalwy according to [this](http://stackoverflow.com/questions/33630696/react-0-14-error-module-build-failed-referenceerror-babel-node-modules), we need to install one of the presets, and then add a `.babelrc` file (ex `echo '{ "presets": ["es2015"] }' > .babelrc`).

[2016-02-27 09:53] ahmedre commented on #196
you can unblock yourself temporarily by building the production version since it does't have this issue.

[2016-02-28 01:34] mmahalwy commented on #196
@azizur that must mean you have babel 6 which I haven't ported our project to just yet. Hence why .babelrc, which babel 6 picks up and now supports/enforces. See what version of babel you downloaded?

[2016-02-28 01:35] mmahalwy commented on #196
I'd suggest not using master just yet. The babel problem is where I last left off. Use the rewrite branch. I need help there

[2016-02-28 17:14] azizur commented on #196
In that case I should close this issue.

[2016-02-28 17:14] #196 closed

[2016-02-29 08:43] ahmedre opened #200 "rewrite should not exist in its current form"
salam 3alaikum,
the rewrite branch should not exist for a few reasons:
1. it starts with a clean slate (i.e. does not preserve repository history)
2. it contains lots of stuff that "isn't ours" (copy/paste code, etc), or isn't needed
3. it is not stable (doesn't build cleanly without modifications)
4. it is very difficult for anyone to actually review it
5. it is very difficult to revert back or c

[2016-02-29 08:43] ahmedre commented on #191
sure, will do insha'Allah. closing this issue for now.

[2016-02-29 08:43] #191 closed

[2016-02-29 08:45] ahmedre commented on #87
we've been generating unique file names as @aam1r suggested, so closing this for now.

[2016-02-29 08:45] #87 closed

[2016-02-29 19:57] mmahalwy commented on #200
@ahmedre I agree with you. Let's close the rewrite branch and I will get the master to stable. It's unstable right now cause I upgraded too early before the core libs were stable (when babel 6 first came out, not many people supported it but now everyone does).

As for the framework rewrite, Redux is definitely the way to go and Fluxible is not. What is awesome about the Reactjs world is everythin

[2016-02-29 21:55] ahmedre commented on #200
@mmahalwy i already brought master to stable in #199, you just need to accept it :) this is equivalent to the same build our servers are running today.

sure, that sounds like a great plan, jazakAllah khairan!

[2016-03-01 09:53] sharabash commented on #200
forgive me for being ignorant, does that mean fix_master should build?

On Mon, Feb 29, 2016 at 11:55 PM Ahmed El-Helw <notifications@github.com>
wrote:

[2016-03-01 09:55] ahmedre commented on #200
yes, master + #199 builds.

[2016-03-01 09:57] sharabash commented on #200
what do you mean by master + #199? i.e., the app should build if i've
merged in fix_master into master?

On Tue, Mar 1, 2016 at 11:55 AM Ahmed El-Helw <notifications@github.com>
wrote:

[2016-03-01 09:57] ahmedre commented on #200
yep

[2016-03-02 09:55] azizur commented on #200
As-salamu alaykum everyone,

Just before we start a re-write could I suggest we come up with series of feature/user stories so that we can all drive them using BDD and TDD.

What I am looking for is:
* A backlog (this could be a [Trello](https://trello.com/)  or a [JIRA](https://www.atlassian.com/software/jira) broad)
* List of features with defined user stories defined using say [Gherkin](https:/

[2016-03-02 10:58] ATouhou commented on #200
Azizur even though I'm just following this project on the side line I 100% agree that it would be more effective and structured that way. Using GitHub issues to log what to do is not the best way 2 go

[2016-03-02 11:29] sharabash commented on #200
we've got pivotal tracker, is that deficient? and if so what are the
limitations that have to be addressed?

On Wed, Mar 2, 2016, 12:58 PM ATouhou <notifications@github.com> wrote:

[2016-03-02 14:29] AskYous opened #201 "Night Mode"
Assalaamu 'Alaikum,

This is a suggestion. I ask you to put a night mode version, which makes the background dark and the foreground (text) white. This makes it easy for me to read Qur`aan after _Fajr_.

[2016-03-02 15:47] mmahalwy commented on #200
@sharabash pivotal is awesome but setting people up and learning it is a pain. I am good for Jira or Trello

[2016-03-02 17:19] azizur commented on #200
Another alternative is [waffle.io](https://waffle.io) check out the [waffle.io borad itself](https://waffle.io/waffleio/waffle.io).

[2016-03-02 17:24] azizur commented on #200
@sharabash until this conversation, it was not even clear there was a pivotal tracker setup for this project.

On an open source project, this kind of information should be open in the public to encourage people to contribute. It could be from suggesting a new feature to I want a challenge myself and implement a feature or fix an issue that is annoying me. Without all those details in public space

[2016-03-03 06:20] ahmedre commented on #200
yep, i think we stopped using pivotal a long time ago, and no one besides core members knew about it unfortunately.

i started a public trello board [here](https://trello.com/b/nzAua2tA/quran-com-frontend) - nothing on it at the moment, but insha'Allah @mmahalwy can start filling in some stuff.

[2016-03-03 07:09] mmahalwy commented on #201
@AskYous thanks for the suggestion. Need any help implementing this feature?

[2016-03-03 07:18] mmahalwy opened #203 "Developer link on the navber"
To go to this repo

[2016-03-03 07:19] mmahalwy commented on #194
Closing this. I'd recommend putting a PR to fix these/upgrade the dependencies.

[2016-03-03 07:19] #194 closed

[2016-03-03 07:20] mmahalwy commented on #200
I think this has been met with closing the rewrite PR. closing this.

[2016-03-03 07:20] #200 closed

[2016-03-03 07:21] mmahalwy commented on #193
@ahmedre update on this?

[2016-03-03 07:22] mmahalwy commented on #176
Resolved

[2016-03-03 07:22] #176 closed

[2016-03-03 07:25] mmahalwy commented on #196
Master should be stable

[2016-03-03 08:17] sharabash opened #204 "update README.md with information about trello board, other things..."
Question: is there anything else we can do besides just updating the README.md with "this kind of information" to encourage people to contribute

[2016-03-03 08:42] sharabash opened #205 "testing out Trello integration"
this should create a new card on the Github Issues list

[2016-03-03 08:49] sharabash commented on #205
test

[2016-03-03 08:58] #205 closed

[2016-03-03 13:36] AskYous commented on #201
I wish I had more freetime. I don't plan to implement it myself. Maybe sometime in the future I will.

[2016-03-03 19:48] mmahalwy commented on #201
Okay sounds good.

[2016-03-03 19:48] mmahalwy commented on #204
README only although i encourage we make a page on the website itself

[2016-03-03 20:40] sharabash commented on #204
I second that motion, maybe stick an Octocat somewhere inconspicuous and a
faded link "did you know this project is open-source?"

On Thu, Mar 3, 2016 at 9:48 PM Mohamed El Mahallawy <
notifications@github.com> wrote:

[2016-03-04 06:56] #193 closed

[2016-03-04 09:05] sharabash commented on #204
waffle.io board is at https://waffle.io/quran/quran.com-frontend, trello is at https://trello.com/b/nzAua2tA/quran-com-frontend -- which do you think is best for our needs as for as project management goes?

trello has better mobile support, waffle has better issue integration

[2016-03-08 07:39] mmahalwy commented on #44
Closing for now

[2016-03-08 07:39] #44 closed

[2016-03-08 07:39] mmahalwy commented on #32
Clsoing this now as it's a backend feature

[2016-03-08 07:39] #32 closed

[2016-03-08 08:25] #204 closed

[2016-03-08 17:02] azizur commented on #43
We should move the font-sizing relative em (`rem`) based that way browser will adjust accordinly.

[2016-03-08 17:11] mmahalwy commented on #43
+1

[2016-03-08 18:48] sharabash commented on #43
+1

On Tue, Mar 8, 2016 at 7:11 PM Mohamed El Mahallawy <
notifications@github.com> wrote:

[2016-03-14 15:20] AskYous opened #213 "Arabic Aayaat Do Not Fit In Browser"
![image](https://cloud.githubusercontent.com/assets/791996/13749254/c1fe09c0-e9bd-11e5-8587-ca4c1cbc07d7.png)

They cut off at the end. This happens in Chrome and IE Edge, but not Firefox and Opera.

[2016-03-15 13:30] sharabash commented on #192
seemed to work for me on master

[2016-03-15 13:32] sharabash opened #214 "explain how to proxy api in README.md"
otherwise the app/frontend "doesn't work"

[2016-03-15 15:12] sharabash commented on #76
@ahmedre do we have word by word audio

[2016-03-15 15:13] sharabash commented on #73
+1

[2016-03-15 15:50] sharabash commented on #68
seems to work to me

[2016-03-15 15:51] sharabash commented on #67
how do you propose switching to gapless recitations? do we have timings? do we have an issue for switching to gapless recitations? if not, let's create one

[2016-03-15 15:52] sharabash commented on #65
i didn't realize we could collapse it, maybe we should change to a :hamburger:

[2016-03-15 15:53] sharabash commented on #66
i meant this comment here:

i didn't realize we could collapse it, maybe we should change to a :hamburger:

[2016-03-15 18:06] sharabash commented on #35
i don't see this behavior on master, is this good to close?

[2016-03-15 18:14] sharabash commented on #214
i had to put up three docker containers: elasticsearch, postgres, and the api.
next, i had to mkdir /var/log/nginx/api.quran.com in the api container to make the api start serving
at that point the localhost:3000 API_URL proxy worked. I'm assuming if I had changed that setting in development.conf to `API_URL=http://api.quran.com:3000` that might also have worked. in any case, developers coming in

[2016-03-15 21:43] ahmedre commented on #67
instead of loading 001001.mp3 for ayah 1, 001002.mp3 for ayah 2 and so on, we instead load 001.mp3 which is the full sura. we have a timing file (on Android, this lives in a sqlite database, so for us, it can live in our backend database) that says where each ayah starts and ends.

if you play sequentially, you just check every second to see what bounds of which ayah you are in. if you want to jum

[2016-03-16 22:06] azizur commented on #214
@sharabash looks like you are the second person to hit that wall just like me.

[2016-03-16 22:31] mmahalwy commented on #214
I think we shouldn't use docker in development. we never set it up for that - only for production. That being said, inshallah i will find time today to change how our proxy api works

[2016-03-16 22:33] mmahalwy commented on #35
lets close

[2016-03-16 22:33] #35 closed

[2016-03-16 22:34] mmahalwy commented on #66
+1 to that. Or a dropdown.

[2016-03-16 22:34] mmahalwy commented on #65
let's get ridof this

[2016-03-16 22:34] #65 closed

[2016-03-16 22:34] mmahalwy commented on #68
lets close

[2016-03-16 22:34] #68 closed

[2016-03-16 22:35] mmahalwy commented on #76
going to close this

[2016-03-16 22:35] #76 closed

[2016-03-16 22:35] mmahalwy commented on #213
hmm, this will be fixed soon.

[2016-03-16 22:37] mmahalwy commented on #34
going to close this

[2016-03-16 22:37] #34 closed

[2016-03-16 22:39] mmahalwy commented on #46
closing this

[2016-03-16 22:39] #46 closed

[2016-03-16 22:40] mmahalwy commented on #64
closing

[2016-03-16 22:40] #64 closed

[2016-03-20 08:47] sharabash opened #215 "put surah info feature on hold until we have a non-wikipedia source"
The problem with wikipedia is that the authors are not necessarily Sunni and even if they were Sunni that doesn't necessarily guarantee that what is written will be correct.

[2016-03-20 08:49] sharabash commented on #215
related to #82

[2016-03-20 09:00] sharabash opened #216 "implement gapless audio for the audioplayer"
as a follow-up to the conversation from #67, this should be a large step forward in terms of being able to play back individual words within an ayah

there are some technical challenges that would require some back-end work. for example, we might need an endpoint which can take time, surah and reciter as parameters and be able to return the ayah number. we also need to be able to take ayah, surah

[2016-03-20 11:53] sharabash opened #220 "File to import not found or unreadable: partials/index-surah-list"
PR#212 apparently removed this file but it's still in src/styles/_main.scss @mmahalwy

[2016-03-23 09:20] sharabash opened #222 "remove fonts and tafsir from the presentation of search results"
![remove](https://cloud.githubusercontent.com/assets/21639/13980819/324c36ac-f0e9-11e5-8517-29f21e61061d.png)

[2016-03-23 09:46] sharabash opened #223 "add language as a parameter passed to the search query"
inferred from selected language, i.e. if selected translation is english than lang=en. this issue is coupled with quran/quran.com-api#26

[2016-03-23 09:51] sharabash opened #224 "implement search-as-you-type suggestions"
this should match surah names as well as ayah text and translations. if a surah name is the suggestion, clicking that should take you to that surah; if an ayah is suggested, clicking that ayah should take you to that ayah. this is coupled with quran/quran.com-api#27

[2016-03-23 09:57] ahmedre commented on #224
we should use Karim's autocomplete api just like we did in legacy. no need to re-implement the backend of this a second time (especially when we're short staffed and have so much to do!)

[2016-03-23 10:06] sharabash commented on #224
i want to give a shot with elasticsearch first

On Wed, Mar 23, 2016 at 11:57 AM Ahmed El-Helw <notifications@github.com>
wrote:

[2016-03-24 02:41] mmahalwy commented on #222
this seems like a backend issue no?

[2016-03-24 07:28] sharabash commented on #222
yeah

On Thu, Mar 24, 2016 at 4:41 AM Mohamed El Mahallawy <
notifications@github.com> wrote:

[2016-03-24 07:34] #215 closed

[2016-03-27 09:53] ATouhou commented on #215
https://muflihun.com/quran/intro/2  Assalamu aleykoum. There is this resource which is  a sunni resource  .  Tafheem-ul-Quran

[2016-03-27 09:54] ATouhou commented on #215
Also here is the same resource + 1 more Malik Sura introduction (also sunni(  http://www.alim.org/library/quran/surah/introduction/1/MAL

[2016-03-27 09:56] ATouhou opened #226 "Site breaks on long ayah"
![image](https://cloud.githubusercontent.com/assets/6802820/14064854/e17fa24a-f412-11e5-870e-df56020f4185.png)

[2016-03-27 09:56] ATouhou commented on #226
Been like this 1-2 weeks+

[2016-03-27 09:59] ATouhou commented on #226
Happens in chrome Version 49.0.2623.87 m

[2016-03-28 18:29] mmahalwy commented on #226
being fixed with #221

[2016-03-28 18:29] #226 closed

[2016-03-28 20:07] mmahalwy opened #228 "Add Google tracking & events"
#221 forgot to add google analytics tracking!

[2016-03-30 14:10] #228 closed

[2016-04-01 13:10] sharabash opened #236 "global ayah state"
I think there should be a universal "current ayah" in the application that other components bind to, i.e. the heart of the application is the ayah. clicking on an ayah should visually change the ayah so that it's highlighted (not literally highlighted) as the active ayah. this makes sense because a person can only focus on one ayah at a time, so we don't necessarily need to always repeat ui elemen

[2016-04-01 13:11] #224 closed

[2016-04-01 13:13] sharabash opened #237 "get rid of FOUT (ugly font output seen before the font loads)"
this should be an inconspicuous thing such that the size of divs/containers don't change after the font is loaded and visibly rendered; also it would be nice to show something in place that indicates stuff is loading.

[2016-04-01 13:18] sharabash opened #238 "User can change the text mode"
I don't think we should force word font glyphs, especially because the king fahd quran complex has new quranic fonts that are character based (not word). we could incorporate that font and have an inconspicuous option buried deep under 'advanced settings' somewhere to swap from word font to text (i.e. using the KFQPC font)

[2016-04-01 13:19] sharabash commented on #238
but i definitely think now is not the right time to implement this

[2016-04-01 14:12] #220 closed

[2016-04-01 14:13] sharabash commented on #214
this is resolved since we're pointing to http://quran.com:3000

[2016-04-01 14:13] #214 closed

[2016-04-01 17:21] sharabash opened #239 "search-as-you-type improvement"
autocomplete feels kind of sluggish on staging i think because i'm requesting on every character, i need to implement a timeout so that it requests intermittently

[2016-04-01 17:21] #236 closed

[2016-04-01 19:29] mmahalwy commented on #238
We had this initially no? Then we decided to just go fonts as it's better/easier for us to do more no?

[2016-04-01 20:06] sharabash commented on #238
yes that's right, this is a reconsideration for the future in light of
recent development

On Fri, Apr 1, 2016 at 9:29 PM Mohamed El Mahallawy <
notifications@github.com> wrote:

[2016-04-01 20:07] sharabash commented on #238
consider this low priority if we decide we want to do it

On Fri, Apr 1, 2016 at 10:04 PM Nour Sharabash <nour.sharabash@gmail.com>
wrote:

[2016-04-03 19:16] #239 closed

[2016-04-03 20:14] sharabash opened #243 "loading ayahs upwards"
i.e. if i go to ayah /2/255 i want to be able to scroll up or click something to load more ayahs above without necessarily messing up my scroll position... do we have already have a bug filed for this?

[2016-04-03 20:18] sharabash opened #244 "UI: Reading mode needs improvement on mobile"
i would personally love if text in reading mode elastically filled out to the page width. also there are various alignment and width issues here and there, like if you start in the middle of a surah the alignment should be left aligned not centered

[2016-04-03 20:21] sharabash opened #245 "internationalizing the application"
we could start with arabic but incorporate a general system for i18n strings; i think the milestone here would be deploying ar.quran.com

[2016-04-03 20:24] sharabash commented on #80
i think we should lay the groundwork for tafsir and just silently disable it until we have proper sources like we did for surah info; @mmahalwy what happened to the surah info code?

what i visualize is a separate panel with content (tafsir) corresponding to the selected ayah

[2016-04-04 06:40] mmahalwy opened #248 "Should not let user select ayah past end of Surah"
For example /1/8 is not possible.

[2016-04-06 03:20] mmahalwy commented on #80
@sharabash @ahmedre do we have english tafsir? @rahiel any way we can get ibn kathir pdf?

[2016-04-06 06:18] mmahalwy opened #253 "Should use Docker nodejs"
[code]

[2016-04-06 07:47] ahmedre commented on #253
fixed in #256

[2016-04-06 07:47] #253 closed

[2016-04-06 08:14] ATouhou commented on #80
Tafseer ibn kathir is widely available on the Internet. But it is not indexed ayah for ayah but maybe 3 ayah is all within 4 different page topics etc. So would be best to index from existing site if you ask me.
In regards to sura info, alim.org has 2 great resources

[2016-04-07 08:41] mmahalwy opened #260 "Can type a surah number and autocomplete suggests the surah"
When I type `36` should show me Yasin. or `18` for kahf

[2016-04-07 14:50] sharabash opened #261 "surah ayah range URLs don't seem to route"
the request just hangs. i.e., checkout master and try going to /2/100

something between these two commits broke the ability to navigate to an ayah range e.g. /2/100 https://github.com/quran/quran.com-frontend/compare/a1189aa956c34214cde9a2ee82b5d7a32476230c...0356ee68f281c70ed70bea9bdd0602f1041dd716

[2016-04-07 23:20] mmahalwy commented on #80
@ATouhou do you have a copy of the ibn kathir english? We can index it then.

[2016-04-07 23:21] mmahalwy commented on #261
i will look at it when i get home..

[2016-04-07 23:35] ATouhou commented on #80
@mmahalwy   Yes.  http://www.kalamullah.com/Books/Tafsir%20Ibn%20Kathir%20all%2010%20volumes.pdf

If you want something already indexed,  recitequran.com and qtafsir.com got it indexed

[2016-04-08 07:55] dashohoxha opened #262 "Delete development branches that are already merged to master"
I would suggest to delete the development branches (corresponding to pull requests) that are already merged to master (PR closed). Keeping them around serves no purpose and their presence only helps to increase the confusion.

For example I am trying to understand what is going on, what is the current state of the project, and I see a huge number or branches. Most of them (maybe all of them) seem

[2016-04-08 08:07] ahmedre commented on #262
good point - i've closed the merged ones - @mmahalwy can you check the rest?

[2016-04-08 08:25] sharabash opened #263 "scroll functionality not working in production"
solution: factor out react-scroll and implement the scrollTo function myself

[2016-04-08 11:25] azizur opened #267 "504 Gateway Time-out"
I was trying to get directly to this http://quran.com/50/53

When I got the `504 Gateway Time-out` error.

<img width="927" alt="screen shot 2016-04-08 at 12 23 46" src="https://cloud.githubusercontent.com/assets/114551/14382342/ebc53b90-fd84-11e5-8538-5770fa343220.png">

[2016-04-08 11:34] sharabash opened #268 "show plain text until the page fonts load"
this is just an idea, but I think it would be nice -- rather than a flash of garbage characters users see the ayah itself then 2 seconds later it swaps into madani font (e.g. assuming it just loaded)

[2016-04-08 11:37] sharabash opened #269 "cite resource sources"
e.g., http://www.alim.org/library/references/ContentSources?quicktabs_20=0#QSI

[2016-04-08 12:52] dashohoxha commented on #185
I am adding two more issues (sorry if you are already aware of them):
 - The last verse is played in double voice (seems like two players are runing at the same time).
 - The list of verses does not work (at least from the icon it looks like a list that should allow you to select a verse).

I am trying to look at the code to locate the problems, but I am not familiar with React. Besides this, when

[2016-04-08 13:21] sharabash opened #271 "incorporate surah info"
e.g. http://www.alim.org/library/quran/surah/introduction/2/QSI

[2016-04-08 13:22] #60 closed

[2016-04-08 13:22] #66 closed

[2016-04-08 13:22] #67 closed

[2016-04-08 14:00] dashohoxha commented on #145
My opinion on some of the issues discussed on this thread:

 - GitHub issues is the best CRM or project management system that I have seen yet, so let's stick with it.
 - Let's do one thing and do it well (or perfect), instead of trying to do lots of things but none of them is OK. So, let's focus first on doing right the Quran (fixing bugs and some neccessary basic features), and then we can think

[2016-04-08 14:17] dashohoxha opened #272 "Improving existing translations"
I have built a system that helps to improve the translations of (open source) programs: https://btranslator.net/ It allows users to suggest improvements to existing translations.

I think that it can be customized and adopted for the Quran and its translations. We can have a site like qtranslate.org or translate.quran.com with all the verses and their translations. Then, when somebody wants to sug

[2016-04-08 14:19] dashohoxha commented on #272
Some other issues related to fixing/improving translations:
 - https://github.com/quran/quran.com-frontend/issues/145
 - https://github.com/quran/quran.com-frontend/issues/37
 - https://github.com/quran/quran.com-frontend/issues/38

[2016-04-08 15:00] sharabash commented on #272
i like this issue, i'm :+1: on it

[2016-04-08 15:07] sharabash opened #274 "transliterate the title instead of translate, i.e. `Al-Qur'an Al-Kareem - القرآن الكريم`"
what do you think @mmahalwy @ahmedre ? I think "the noble qur'an" isn't very familiar in english and doesn't convey the meaning of kareem completely, so I propose changing the site title to `Al-Qur'an Al-Kareem - القرآن الكريم` instead of `The Noble Qur'an - القرآن الكريم`. Also, I don't really care if there's an apostrophe in the Qur'an or not :+1:

[2016-04-08 18:11] mmahalwy commented on #274
This looks good, but there should be no `'` and `-`. So `AlQuran AlKareem` as people don't search `al-quran`.

[2016-04-08 18:12] mmahalwy commented on #272
@dashohoxha I am a fan of this too. It's something we wanted to build previously but no time. I almost see it to be much like stackoverflow; answers and upvotes.

[2016-04-08 18:13] mmahalwy commented on #268
this would be awesome! I have no idea how to implement this though :(

[2016-04-08 18:13] mmahalwy commented on #268
I mean, i might have a way but I don't like it...

[2016-04-08 18:26] sharabash commented on #274
i disagree, i think the hyphen is aesthetically pleasing, just my opinion :)

On Fri, Apr 8, 2016 at 8:11 PM Mohamed El Mahallawy <
notifications@github.com> wrote:

[2016-04-08 18:28] sharabash commented on #268
i've done it before (determining when the font is ready), some kind of
magic -- i forgot how but i'm sure i could recall if i thought hard enough

On Fri, Apr 8, 2016 at 8:13 PM Mohamed El Mahallawy <
notifications@github.com> wrote:

[2016-04-08 18:33] dashohoxha commented on #272
Yes, it is somewhat similar to stackoverflow, but not so much.

Forget about building it yourself, it is much more complex than it seems to be. It is easier to start with an existing application and to customize it.

However it is also separated into a back-end (database) and a front-end (UI), which communicate through an API. So, if you don't like the interface, it is quite possible (and maybe qu

[2016-04-08 23:31] ahmedre commented on #267
we should fix this.
note that the verse you're referencing doesn't exist (sura only has 45 verses).

[2016-04-09 05:17] sharabash commented on #261
fixed

[2016-04-09 05:17] #261 closed

[2016-04-09 05:18] sharabash commented on #260
addressed in PR #266

[2016-04-09 05:18] #260 closed

[2016-04-09 05:19] sharabash commented on #263
fixed in PR #273

[2016-04-09 05:19] #263 closed

[2016-04-09 12:07] azizur commented on #267
@ahmedre Yes, I found the correct verse by searching for it.
We need to handle those exceptions.

[2016-04-09 21:42] mmahalwy opened #276 "Last ayah audio double playing"

[2016-04-13 03:21] dashohoxha commented on #276
If pause button is pressed while the last ayah is playing, one of the playings is stoped, but the other continues. So, maybe it is triggered automatically, outside the control of the audio player buttons.

[2016-04-13 23:29] mmahalwy commented on #276
yeah i noticed that too

[2016-04-15 11:21] azizur commented on #276
I have just spotted this as well just right now.

[2016-04-17 15:15] abdelouali opened #281 "Transliteration not showing in new version"
Salamoualikoem,

I found a new bug, the Transliteration is not showing in the menu of translation in the new version. I went to the legacy version and there it still is viewing.

Not viewing here:
![image](https://cloud.githubusercontent.com/assets/13354388/14588032/9df15ce0-04bf-11e6-8643-bac391f9b3e4.png)

Viewing here:
![image](https://cloud.githubusercontent.com/assets/13354388/14588039/cb08bc

[2016-04-19 05:38] shoaibik commented on #237
Also it took 10-15 seconds for me to load the actual fonts.

[2016-04-19 08:42] iOsMechanic opened #282 "Need Access to database"
Hi Mohammed,

Need access to database,please let me know making a quran application.

[2016-04-19 08:59] ahmedre commented on #282
the database is not open right now - you can point to our backend using http://api.quran.com:3000

[2016-04-19 10:10] iOsMechanic commented on #282
can i get some access to the quran content?

[2016-04-19 11:50] dashohoxha commented on #282
An API is much better than a DB dump.
Are there any docs on how to use this API? Or you are just waiting for me to document it?

By the way, I have experience with documenting API-s, see this:
 - http://info.btranslator.org/api/
 - http://info.btranslator.org/api-examples-js/

[2016-04-19 12:57] ahmedre commented on #282
i think besides documentation, we still have a few things to think through:
- api keys
- rate limiting
- what apis to expose and what not to expose

in the current world, the api is public, but it's not documented because it's not yet frozen - i imagine that we'll have to distinguish between public and private traffic at some point in the future. at the current moment, we're more or less focusing

[2016-04-19 13:30] dashohoxha commented on #282
My opinion is that documentation is not the last thing to be done, even if you have lots of things to think about. It can be as simple as this: https://raw.githubusercontent.com/B-Translator/B-Translator.github.io/master/docs/org/btranslator-api-reference.org
which is a simple org-mode file, easy to write and maintain, especially with Emacs.

GitHub renders it like this: https://github.com/B-Trans

[2016-04-19 19:06] mmahalwy commented on #282
Salam all,

I will add docs to the api repo

[2016-04-19 19:07] mmahalwy commented on #237
@sharabash do you have a suggestion of what to do while font is loading?

[2016-04-19 19:29] dashohoxha commented on #282
Any format, markdown, plain text etc. would be OK.

[2016-04-20 06:26] sharabash commented on #237
@mmahalwy show tashkeel text?

On Tue, Apr 19, 2016 at 9:07 PM Mohamed El Mahallawy <
notifications@github.com> wrote:

[2016-04-21 22:06] mmahalwy commented on #282
@dashohoxha sounds good.

[2016-04-22 04:36] tanveer19 opened #285 "indopak in android."
how can i use indopak in android?

[2016-04-22 08:40] ajalger opened #286 ""loading ..." appearing after the surah is finished"
I noticed that when a surat is finished, in particular surats that require ayat to load, that "loading ..." appears at the bottom of the page. Other surats do not have this issue because they are short and do not require ayat to load.

[2016-04-22 19:28] mmahalwy commented on #286
@ajalger thanks for filing. I noticed this too. Do you want to write a failing test?

[2016-04-22 19:29] mmahalwy commented on #285
sorry, we don't have that feature

[2016-04-22 19:29] #285 closed

[2016-04-22 20:45] ajalger commented on #286
@mmahalwy I'll get on it.

[2016-04-23 21:38] mmahalwy commented on #286
thanks @ajalger :)

Let me know how I can help

[2016-04-26 01:25] mmahalwy commented on #276
anyone want to write a failing test PR?

[2016-04-26 01:26] mmahalwy commented on #281
should be fixed in staging.quran.com

[2016-04-26 01:26] mmahalwy commented on #237
@sharabash +1 but how can we determine if it's loaded and replace the text font?

[2016-04-26 02:35] dashohoxha commented on #276
How do you write a failing test?

[2016-04-26 11:58] abdelouali commented on #281
Thnx Mohamed, i't is indeed fixed in staging.quran.com

Shokran

[2016-04-27 11:45] azizur commented on #276
@mmahalwy I will give it a go.

[2016-04-28 22:11] mmahalwy commented on #276
@dashohoxha @azizur a PR that will show the tests failing would suffice that way I can write the code to get it to pass. For example, the test would test that 'Loading...' is not present at the end of the surah.

[2016-04-29 02:54] dashohoxha commented on #276
@mmahalwy I don't know how to write such tests, that's why I asked. I have to study first any tutorials on React etc. Do you have any suggestions on where should I start?

But then, a failing test is not a requirement for fixing a bug. I understand that the TDD is the latest silverbullet in software engeenering, but I haven't used it yet, and I can still manage my programs and fix bugs and in gene

[2016-04-29 04:48] dashohoxha commented on #276
Can it be that the problem is with the data returned from API (for example last ayah is returned twice)?
By the way, testing an API seems much more easier to me than testing a UI.

[2016-04-29 16:57] mdsadiq commented on #244
Also It would be nice , When the font size is changed , the verses wrap neatly.
Right now , when font size is decreased or when screen size is small ,the line breaks at the end of verse and next verse starts in new line.

[2016-04-29 17:26] mmahalwy commented on #276
okay no problem. I will get to it soon inshallah.

I can write a test as an example - I should probably commit to writing tests for Surah anyways

[2016-05-01 02:03] #286 closed

[2016-05-01 02:03] #282 closed

[2016-05-01 02:04] mmahalwy commented on #192
closing

[2016-05-01 02:04] #192 closed

[2016-05-01 16:21] abdelouali commented on #281
it was fixed in the staging.quran.com but it is not fixed in the root website.

[2016-05-01 16:23] abdelouali commented on #274
It's a good idea @sharabash

[2016-05-01 16:25] abdelouali commented on #272
i like this also @dashohoxha

[2016-05-01 16:48] azizur opened #291 "asset not found error when durring `npm run dev`"
[code]

[2016-05-01 16:50] azizur commented on #291
On a subsequent run, it goes way.

[2016-05-01 19:34] mmahalwy commented on #291
yep

[2016-05-01 19:34] #291 closed

[2016-05-02 13:34] azizur commented on #276
I have been trying to write some unit tests to get things started. I have few query as to how things are setup on this project.

The Readme file says `npm run test:watch` to run the tests, but when I run that I am seeing `npm ERR! missing script: test:watch` because there is no script setup for this.

There are no unit tests currently in the project.

[2016-05-02 13:44] azizur opened #292 "Proposal: Use Mocha for tests"
This is proposal is was the result of me trying to put tother a PR for #276.

Since there are hardly much unit tests in the project this is a proposal to introduce unit tests into the project.

- [ ] Setup Mocha tests for unit testing
- [ ] Use chai assertion library
- [ ] Use Sinon.JS for spies, stubs and mocks

@mmahalwy let me know your thoughts

[2016-05-02 14:59] mmahalwy commented on #292
Salam!

Thanks for reporting this. Already one step ahead of you. We use Karma to run the tests in the browser and already have mocha + chai + sinon for testing. See: https://github.com/quran/quran.com-frontend/blob/master/karma.conf.js#L21

As a good reference, take a look at: https://github.com/quran/quran.com-frontend/blob/master/src/components/LazyLoad/spec.js

[2016-05-02 14:59] #292 closed

[2016-05-02 15:01] mmahalwy commented on #276
See: https://github.com/quran/quran.com-frontend/blob/master/src/components/LazyLoad/spec.js

and run via `npm run test:ci:unit`

[2016-05-02 18:27] #281 closed

[2016-05-02 19:49] mmahalwy opened #294 "autocomplete broken"

[2016-05-07 23:16] abdelouali commented on #213
i think this one is already fixed:
![image](https://cloud.githubusercontent.com/assets/13354388/15095153/7b7f95b8-14ba-11e6-802d-b521f861af49.png)

[2016-05-08 03:18] AskYous commented on #213
Yes, it's working for me now.

[2016-05-08 03:33] #213 closed

[2016-05-13 06:26] mumtazaiet opened #296 "Internal server issue 500"
When listening Surah Kahf at http://quran.com/18
found some internal server error at when requesting
this url - http://quran.com/api/v2/surahs/18/ayahs?from=10&to=20&audio=8&quran=1&content%5B%5D=19

.please follow the attached file.
Thanks.

![kahf_2](https://cloud.githubusercontent.com/assets/1639023/15239614/a5b788b8-1901-11e6-8833-8705b4be03f4.png)
![kahf_1](https://cloud.githubusercontent.com

[2016-05-13 19:48] mmahalwy commented on #296
Fixed now

[2016-05-13 19:48] #296 closed

[2016-05-15 18:50] uslika opened #297 "Hi"
Please someone can install for me? I have server at digitalocean

[2016-05-16 17:16] uslika opened #298 "Error: connect ECONNREFUSED 127.0.0.1:3000"
{ error:
   { [Error: connect ECONNREFUSED 127.0.0.1:3000]
     code: 'ECONNREFUSED',
     errno: 'ECONNREFUSED',
     syscall: 'connect',
     address: '127.0.0.1',
     port: 3000,
     response: undefined },
  type: '@@quran/surahs/LOAD_FAIL' }

[2016-05-16 17:17] #297 closed

[2016-05-16 17:47] mmahalwy commented on #298
hmm seeing this problem too. not sure why. looking into it..

[2016-05-16 17:53] uslika commented on #298
Thanks im waiting

[2016-05-16 18:20] mmahalwy commented on #298
Fixed

[2016-05-16 18:20] #298 closed

[2016-05-16 19:12] uslika opened #299 "[webpack-isomorphic-tools] (waiting for the first Webpack build to finish)"
[webpack-isomorphic-tools] (waiting for the first Webpack build to finish)
[webpack-isomorphic-tools] (waiting for the first Webpack build to finish)
[webpack-isomorphic-tools] (waiting for the first Webpack build to finish)
[webpack-isomorphic-tools] (waiting for the first Webpack build to finish)
[webpack-isomorphic-tools] (waiting for the first Webpack build to finish)
[webpack-isomorphic-tools

[2016-05-16 19:26] #299 closed

[2016-05-16 19:26] uslika opened #300 "NOT RESOLVED. [Error: connect ECONNREFUSED 127.0.0.1:3000]"
{ error:
   { [Error: connect ECONNREFUSED 127.0.0.1:3000]
     code: 'ECONNREFUSED',
     errno: 'ECONNREFUSED',
     syscall: 'connect',
     address: '127.0.0.1',
     port: 3000,
     response: undefined },
  type: '@@quran/surahs/LOAD_FAIL' }
GET / 200 459.157 ms - -
{ error:
   { [Error: connect ECONNREFUSED 127.0.0.1:3000]
     code: 'ECONNREFUSED',
     errno: 'ECONNREFUSED',
     syscall:

[2016-05-16 19:27] uslika commented on #298
Not fixed bro.

   ==> 🌎  ENV=undefined
      ==> ✅  Server is listening at http://localhost:8000
      ==> 🎯  API at http://localhost:3000

{ error:
   { [Error: connect ECONNREFUSED 127.0.0.1:3000]
     code: 'ECONNREFUSED',
     errno: 'ECONNREFUSED',
     syscall: 'connect',
     address: '127.0.0.1',
     port: 3000,
     response: undefined },
  type: '@@quran/surahs/LOAD_FAIL' }
GET / 200 4

[2016-05-16 21:01] ahmedre commented on #300
i think you need to point to our api server, not to 127.0.0.1.
@mmahalwy can we make this the default?

[2016-05-16 21:03] uslika commented on #300
Please help me, i can give server access. My servers at digitalocean

[2016-05-16 21:06] mmahalwy commented on #300
@uslika just means that you dont have a backend server running. Like @ahmedre said

[2016-05-16 21:08] uslika commented on #300
IP Address: 198.211.113.92
Username: root
password: ereneren

please can you help me? @mmahalwy

[2016-05-16 21:14] ahmedre commented on #300
the data for our backend isn't open source right now, so your only option is to point at api.quran.com:3000.

[2016-05-16 21:15] uslika commented on #300
I dont know how can i do this. Im student at high school..

[2016-05-16 21:28] uslika commented on #300
root@node-2gb-nyc1-01:~/quran.com-frontend# npm start --production

      ==> 🌎  ENV=production
      ==> ✅  Server is listening at http://localhost:8000
      ==> 🎯  API at http://api.quran.com:3000

GET / 200 463.973 ms - -
GET /public/main.css - - ms - -
GET /public/fc1ab9888c1919fbc808cd9f1dbd9c46.png - - ms - -
GET /public/main.css - - ms - -
GET /public/fc1ab9888c1919fbc808cd9f1dbd9c46.png -

[2016-05-16 21:56] uslika commented on #300
Thanks for not help. Good night

[2016-05-16 22:27] mmahalwy commented on #300
@uslika when running frontend you need to set `API_URL` env to quran.com

[2016-05-17 05:12] dashohoxha commented on #300
+1 for making api.quran.com:3000 the default setting.

@uslika don't make your root password public, there are 21 people now that know about it.

[2016-05-17 06:58] uslika commented on #300
Same i cant install. @dashohoxha  Can you help me?

[2016-05-17 07:24] dashohoxha commented on #300
I have never installed it, so I don't know more than you about it. Just follow the instruction from mmahalwy.

[2016-05-17 07:28] uslika commented on #300
i followed the instructions but I cant install. im trying 3 days ..

[2016-05-17 15:19] mmattdugan commented on #145
I am eager to learn about and use the quran.com api mentioned in this thread, and once I figure it out, I can dedicate time to document it (if not documented already). I am very detail oriented, and can do a good job in that.

I want to build a site for quranic arabic learners, and for the sake of ease (details mentioned to br @mmahalwy in email) I plan to start out with https://github.com/idris/d

[2016-05-17 15:31] uslika commented on #300
Can you install this for me? Please.. @mmahalwy

[2016-05-17 16:02] sharabash commented on #300
we had the default setting in development.env http://quran.com:3000, what
happened @mmahalwy? let's revert to this until we get a stable scheme up
for pointing to production for production, a staging API instance for
develop (so that we don't break it), etc.

@uslika edit the development.env file and replace the value that says
http://localhost:3000 with http://quran.com:3000, then save that file,

[2016-05-17 16:15] uslika commented on #300
Now i try "@uslika edit the development.env file and replace the value that says
http://localhost:3000 with http://quran.com:3000, then save that file,
close it, and run these two commands:

`npm install`
`npm run dev`"

Thank you so much

[2016-05-17 16:18] dashohoxha commented on #145
Thanks for pointing this out. I can find there the Arabic text and English translations of the Quran.

[2016-05-17 16:22] mmattdugan commented on #145
Not the word by word one.

[2016-05-17 16:24] dashohoxha commented on #145
Have you checked this: http://corpus.quran.com/wordbyword.jsp
There is also an API: http://corpus.quran.com/java/
Maybe this is what you need.

[2016-05-17 16:27] mmattdugan commented on #145
Yes, I have. I don't want to clutter this thread (as this out of subject), but, that seems like a downloadable java archive. Does not include data, or information on how to hoop up to a live server. Thanks for trying to help.

[2016-05-17 16:27] uslika commented on #300
YOU ARE AMAZING! God bless you bro!

[2016-05-17 16:30] sharabash commented on #145
@mmattdugan I can give you a dump of the word translations and Arabic words
and stuff like that, I.e. the relevant tables in postgresql. basically the
translations we scraped from Quranic corpus many years ago so it might be
out of date/out of sync with the current corpus but in sha Allah I can
provide you with a sql dump or plain text utf8 CSV dump of a relevant view
for you to parse. will this w

[2016-05-17 16:34] mmattdugan commented on #145
Please. Thanks a lot.

[2016-05-17 19:03] m-adilshaikh opened #301 "[UX] No visual cues on error from server (keeps saying loading...)"
**CANNOT REPRODUCE**

Have been using the app for a while. I must say the UX is pretty good but one thing bugs me.

When there is an error on response from server, it stays stuck on loading...
I think this is unexpected behavior.

![screenshot from 2016-05-18 00 00 55](https://cloud.githubusercontent.com/assets/8544814/15335422/b6b6379e-1c8b-11e6-9b50-fa9b56dcecaa.png)
##
## Synopsis<sup>28/5</sup

[2016-05-17 19:45] mmahalwy commented on #301
@designabyss thanks for filing this. Do you mind helping out with this?

[2016-05-17 19:46] mmahalwy commented on #300
Closing

[2016-05-17 19:46] #300 closed

[2016-05-17 19:47] mmahalwy opened #302 "Make api.quran.com the default for development.env"
As per https://github.com/quran/quran.com-frontend/issues/300

[2016-05-17 19:49] mmahalwy commented on #262
Done. Closing

[2016-05-17 19:49] #262 closed

[2016-05-17 20:55] a58221 opened #304 "Website not working"
The website is not working properly.

[2016-05-17 21:55] mmahalwy commented on #304
Can you describe please?

[2016-05-17 22:04] a58221 commented on #304
![screen](https://cloud.githubusercontent.com/assets/2216621/15340809/16334684-1c51-11e6-9d22-17ee3dfb1b70.png)
I am stuck at this in firefox. Checked in internet explorer, it is working just fine.

But, the transliteration never works for me.

[2016-05-18 01:05] mmahalwy opened #305 "Add why-did-you-update"
https://github.com/garbles/why-did-you-update

[2016-05-18 17:26] mmahalwy commented on #304
Yes, we are finding some really weird problems happening. We are trying to fix it inshallah

[2016-05-20 15:52] notacouch commented on #237
Really working to resolve FOUT/FOIT takes work trying to *simulate* the target font in appearance, x-height, etc.

I haven't experienced any issues with quran.com and FOUT and currently my internet connection is rather poor (company moved to new facilities, guess IT still has to iron out kinks in traffic/congestion).

If they're talking about the main font, Montserrat, since it's not that large (4

[2016-05-20 16:05] notacouch commented on #237
If you need to detect the loading of a font, try [FontFaceObserver](https://fontfaceobserver.com/).

[2016-05-20 17:12] mmahalwy commented on #237
@notacouch this is awesome! @sharabash we should take a look at implementing FontFace

[2016-05-20 18:01] notacouch commented on #237
Np. I just today noticed the developer's link and the github stuff. If there's somewhere I could look at for how developers can contribute, I'm all ears. I'm a full stack developer, though namely LAMP/LEMP, I'm sure I can pick up anything else.

[2016-05-20 21:13] designabyss commented on #301
@mmahalwy certainly wouldn't mind but it would be a week till I get free from college and pull my coding keyboard!

[2016-05-22 08:22] mmahalwy commented on #301
Okay sounds good! Ping me here when ready :)

[2016-05-22 08:23] mmahalwy commented on #237
Sounds good - I do want to figure out a way to get people helping. Let me create an issue for it

[2016-05-22 08:24] mmahalwy opened #307 "Developers helping out on Quran.com"
I thought I'd create this to solicit feedback on how to best organize a way for developers to help out on the project and how to communicate goals, roadmap, priorities, etc.

Thoughts?

CC @ahmedre @sharabash

[2016-05-22 08:26] mmahalwy commented on #302
Fixed

[2016-05-22 08:26] #302 closed

[2016-05-22 09:22] dashohoxha commented on #307
Maybe I am explaining what is obvious, but GitHub issues can be used  for managing tasks as well, not only for reporting bugs.
Tasks can reference or relate to each-other with # (for example #307). Milestones can be used for project planing. Labels can be used to organize and categorize issues/tasks. For eaxample you can create a red label for critical bugs, a brown label for small bugs, a green l

[2016-05-22 10:24] ATouhou commented on #307
Trello is a fine tool.
It can be used as kanban SCRUM  management.
Make an column of "To be made",  create the tasks.  A developer can sign him self on the task and put an estimated date.

[2016-05-22 10:37] mmahalwy commented on #307
I do like the idea of relying heavy on Github for communication. I think many open-source projects do a wonderful job at it! I think the only thing that still, even using tools like Trello, will not solve is communication. Thoughts on that?

[2016-05-22 10:39] mmahalwy commented on #271
This is done. Closing.

[2016-05-22 10:39] #271 closed

[2016-05-22 10:39] #267 closed

[2016-05-22 10:39] #203 closed

[2016-05-22 10:40] mmahalwy commented on #189
Please reopen if still an issue

[2016-05-22 10:40] #189 closed

[2016-05-22 10:40] #304 closed

[2016-05-22 10:41] mmahalwy commented on #82
Removed.

[2016-05-22 10:41] #82 closed

[2016-05-22 10:41] mmahalwy commented on #78
Following.

[2016-05-22 10:41] #78 closed

[2016-05-22 10:41] mmahalwy commented on #69
Done.

[2016-05-22 10:41] #69 closed

[2016-05-22 11:47] dashohoxha commented on #307
Trello seems to be great, but it is a general tool (for any kind of project, for any kind of people). I suspect that GitHub is more suitable for developers and software development. I have never used Trello though, so I can't be sure. I can only say that I never needed more features than those offered by GitHub.

[2016-05-22 12:41] designabyss commented on #307
I have been using Trello for a while but as said by @dashohoxha , most of it is being handled well here on github.

However for rich communication, have you considered [Slack](https://slack.com/pricing) or [Hipchat](https://www.hipchat.com/pricing) ?

[2016-05-22 18:19] AbirFaisal commented on #307
The new Quran.com does not work on mobile phones. However the original legacy.quran.com works perfectly fine. Please stop using flash-player, this is the reason it does not work on mobile phones or on browsers that have flash-player disabled.

[2016-05-22 18:23] AbirFaisal opened #308 "Quran.com does not work on mobile devices."
The new Quran.com does not work on mobile phones. However the original legacy.quran.com works perfectly fine. Please stop using flash-player, this is the reason it does not work.

[2016-05-22 18:35] mmahalwy commented on #308
Salam @AbirFaisal

Thanks for reporting. What mobile device are you using? What's not working? Any more details would help us debug the problem.

Also, we removed flash-player so that's not the root.

[2016-05-22 18:41] AbirFaisal commented on #308
Oh sorry your right. Perhaps this is the problem, many of us use adblock which interferes with something:

<img width="1520" alt="screen shot 2016-05-22 at 2 40 42 pm" src="https://cloud.githubusercontent.com/assets/8818686/15455726/2530a522-202b-11e6-8ccf-88d5b4d3e103.png">

[2016-05-22 18:46] AbirFaisal commented on #308
Here is another screenshot:

<img width="1519" alt="screen shot 2016-05-22 at 2 47 22 pm" src="https://cloud.githubusercontent.com/assets/8818686/15455756/fd407c6c-202b-11e6-8925-9de66a4d1ae0.png">

[2016-05-22 18:53] mmahalwy commented on #307
@designabyss we do have a slack team. Perhaps we should figure out how to open it to everyone

[2016-05-22 18:56] mmahalwy commented on #308
@AbirFaisal okay, I see what the problem is. There is a bug where if you select no content it throws an error. Please select at least one translation to fix this.

[2016-05-22 18:57] #308 closed

[2016-05-22 19:10] ahmedre commented on #307
another suggestion (unrelated to the communications aspect) - but i've seen this on a few projects and loved it - basically add a label for "need help" or "starter task" etc - tasks that we want to do that are good starting points for someone who wants to get started with the code base.

often times, when contributing to other projects, i look for this, and if some things are labeled as such, thes

[2016-05-22 19:15] mmahalwy commented on #307
@ahmedre i am +1 on that

[2016-05-22 20:33] mmahalwy opened #309 "Content: Ibn Kathir English"
http://www.islamwb.com/books/Tafsir%20Ibn%20Kathir%2010%20Volumes.pdf

Does anyone have a parsed version of this or would like to take it on as a project? :)

[2016-05-22 21:15] dashohoxha commented on #309
What do you mean by "parsed"? Extracting the text? Converting it to XML/Docbook format? Converting it to JSON? It seems to me like a huge manual work.

[2016-05-22 21:29] mmahalwy commented on #309
Probably json would be best, or postgresdb.

Not manual, just need to parse the PDF by searching the titles of the surahs and the individual titles of each section within the surah section.

[2016-05-22 22:10] dashohoxha commented on #309
As far as I know, converting PDF to plain text is not 100% reliable (there will always be things that need to be fixed manually). Once this is done, it should not be very difficult to parse the text and split it into sections and subsections. But the first task seems difficult to me (unless you know some way of parsing directly a pdf file).

[2016-05-22 23:35] mmahalwy commented on #309
can we do pdf to html? It's easy to go from there

[2016-05-23 00:24] dashohoxha commented on #309
It is not clean html: http://dashohoxha.fs.al/tafsir/Tafsir-Ibn-Kathir-10-Volumes.html
The txt is not clean either: http://dashohoxha.fs.al/tafsir/Tafsir-Ibn-Kathir-10-Volumes.txt

[2016-05-23 12:50] ATouhou commented on #307
It is possible to use the kanban structure while keeping Issues in Github using a tool such as huboard.com, which makes trello & 3rd party tools for managing tasks obsolet for this project.
This could help categorizing things in "Urgent, Discussions, Feature suggestions, Bugs,  In-work, , Bugs, Work in progress, Testing,  Completed, etc. " categories.
Assigning developers, dates etc. on each task

[2016-05-23 12:53] ATouhou commented on #83
He have indonesian word-by-word.
Assuming there are more indonesian speaking muslims, than english speaking. This should be a must-have as well.  So word-by-word should not be coded as an english only solution... Also for supporting future languages easily in API structure?

[2016-05-23 17:50] mmahalwy commented on #83
@ATouhou unfortunately we just don't have the word-by-word data. That's the blocker

[2016-05-23 17:51] mmahalwy commented on #307
I think another order of discussion is getting developers involved. I find it, or perhaps we don't do a good job at it, allowing developers to help out. We haven't had much external help for a while now and wanted to get some feedback on how we can improve this experience?

[2016-05-24 08:44] ATouhou commented on #83
It is in the brother Omar's application: https://github.com/oazabir/QuranApp .
You can request it from him?

[2016-05-24 09:45] dashohoxha commented on #83
@ATouhou: Would you be willing to add these data and the feature to the application?
@mmahalwy: I suggest that you assign this task to ATouhou, what do you think?

[2016-05-24 16:02] ATouhou commented on #83
@dashohoxha  I am a LAMP stack developer. I can't really contribute to this project :/

[2016-05-24 16:44] mmahalwy commented on #83
The data might not be difficult to import and might be useful actually. Just need to add the features to front-end to pull that data (as well as API).

I'd suggest we revisit this after Ramadan?

[2016-05-24 16:51] mmahalwy opened #312 "Ramadan to-do list"
- [ ] Integrate new https://github.com/thgreasi/babel-plugin-system-import-transformer/issues/5#issuecomment-223132892
- [ ] Add gapless options for reciters
- [ ] Improve search results speed
- [ ] Deployment -> Kubernetes?
- [ ] Production log, see: https://github.com/quran/quran.com-api/issues/53
- [ ] gzip fonts
- [ ] Add banner for mobile apps
- [x] word by word audio improvements #333
- [x]

[2016-05-24 18:05] dashohoxha commented on #83
@ATouhou I am in a similar position.
However I do wish I knew RoR, and maybe one day I will start learning it.
Until then I am restricting myself only to reporting bugs. Asking for new features, in my opinion, is not right, unless you are willing to contribute those new features, or at least help in developing them. From my experience, this is how it works on the open source world.

[2016-05-24 21:06] AhmedShab commented on #276
Salam @mmahalwy, I would be keen to work on that bug. I was looking into Quran site then found yours on the top of the search. Was curious about the development and that's how I found this project.

I have a computer science background and recently/currently I'm gaining experience in the web development (full stack). I don't know much about React but I used AngularJS so It will be easy to learn it

[2016-05-24 22:17] mmahalwy commented on #276
@AhmedShab thanks for binging and we could definitely use your help!

I'd suggest taking a look at the README which will describe how to set up this repo. Since Ramadan is on the horizon, we are trying to scope and focus our time on these tasks: https://github.com/quran/quran.com-frontend/issues/312

I will include this bug as part of it too. Feel free to comment on any issue, we do a good job of

[2016-05-24 22:20] mmahalwy commented on #83
@dashohoxha on the contrary - we love how responsive you have been and how helpful you are in reporting bugs and bringing features to the discussion. Don't mind us, though, if for the next 2 weeks we are heads down on getting ready for Ramadan.

One thing, if you'd like to, that you can help us setup is a Slack self signup app. I know they exist cause I had to sign up with them before but people c

[2016-05-24 22:21] mmahalwy commented on #83
@dashohoxha found it https://github.com/rauchg/slackin

[2016-05-25 00:35] ATouhou commented on #83
Well we are in the open muslim world :P I suggest whatever I find beneficial for the ummah brother, regardless if I can contribute or not.
Whatever is the standard in the "open source world" I don't really care brother, unless they are based on islamic values.

As the API is going to be treated on multiple platforms and in multiple countries, it should be done as correctly as possible, for future

[2016-05-25 01:18] AhmedShab commented on #276
@mmahalwy No problem :+1: and thanks for your quick respond.

I will fork the repo and get started with the README file (so excited :smile: ). Will check these takes and work on them as they are the priority at this time.

I have other commitments (like I'm working/ studying at devacademy) but will spend my free time on it.

[2016-05-25 02:26] dashohoxha commented on #83
That's great, and its up to you.

In my experience, whenever I asked other people for new features it never happened, because they were busy with other things. Whenever other people asked me for new features it rarely happened, because I was already busy with other things. So, whenever I needed some new features, the shortest path was to try and implement them myself, and then ask other people to

[2016-05-25 02:31] dashohoxha commented on #83
I have no idea what Slack is, why do you think that I can help you with it? Its website does not even describe what are its features.
Is it kind of a modern IRC (chat) app, something similar to https://telegram.org/ ?

[2016-05-25 08:19] AhmedShab commented on #312
Hi @mmahalwy, what do you mean by audioplayer bugs? Is that the issue #276 ?

[2016-05-25 16:45] mmahalwy commented on #312
@AhmedShab yes. Updated ^^

[2016-05-25 16:46] mmahalwy commented on #83
It is. We use Slack internally with Quran.com team

[2016-05-26 00:24] AskYous opened #315 "http://quran.com/2/185 returns nothing"
Assalaamu 'Alaikum,

When I navigate to http://quran.com/2/185, it just gets stuck loading.

What's weird is that http://quran.com/2/184 works. I'm having this problem in Internet Explorer and Firefox. The console log was empty:

![image](https://cloud.githubusercontent.com/assets/791996/15560134/6949c42c-229d-11e6-9f15-b6ac1881a340.png)

[2016-05-26 01:20] mmahalwy commented on #315
@AskYous thanks for the heads up. Should be fixed now. WE have a cache bug happening.

[2016-05-26 01:20] #315 closed

[2016-05-26 02:04] AskYous commented on #315
Yes it's fixed. May Allaah reward you.

[2016-05-26 05:05] azizur commented on #276
I have been looking at this, I will have a work in progress PR shortly.

Just check on LIVE I am getting:
`undefined:1 Uncaught (in promise) DOMException: The play() request was interrupted by a call to pause().`

Not sure if I should raise another issue for this or not.

[2016-05-26 05:31] azizur opened #316 "Unnecessary extra calls are made to the API"
Unnecessary extra calls are made to the API.

Given I am on surahs/114
And all the 6 ayahs have been loaded already
Then I should not see any call to backend API

Actual:
We are making calls to backend API, since I am seeing the following in the log:
`/api/v2/surahs/114/ayahs?from=6&to=12&audio=8&quran=1&content%5B%5D=19`.

[2016-05-26 09:25] AhmedShab commented on #312
@mmahalwy I think I have to spend sometime to learn Reactjs, Redux and Webpack since I'm not familiar with those technologies.

I tried to look into the code and see if I can understand how to increase the respond time (since @azizur  is looking into the Audioplayer bugs) but not sure where to start.

It might take me longer but I'm gonna help with what I can :)

[2016-05-26 12:15] azizur commented on #312
@AhmedShab you can still help with it. I just started to work on it, if you like we can both work together on it.

[2016-05-26 20:42] AhmedShab commented on #312
cool @azizur, will have to go over Reactjs first like I said then will get into it

[2016-05-26 22:04] mmahalwy commented on #312
@AhmedShab I am pushing a PR inshallah tonight to help with response time.

[2016-05-26 22:41] mmahalwy commented on #316
@azizur this is happening locally?

[2016-05-26 22:43] mmahalwy commented on #276
@azizur the audioplayer does throw that error but I don't think it's the cause of the double play.

[2016-05-27 17:34] mmahalwy opened #326 "Load surahinfo images from cdn"
https://github.com/quran/quran.com-frontend/blob/develop/src/components/SurahInfo/index.js#L32

[2016-05-28 09:12] m-adilshaikh commented on #301
@mmahalwy hey!

I have forked and cloned the project locally, ran npm install (btw it gave some errors in the end about some dependencies whining due to unsupported webpack version). Just point me in the right direction for build now... :)

[2016-06-01 17:32] reshadn commented on #307
Salams. Returning after a not-so-short hiatus.
Although I do see advantages of Slack and other tools I'm always a fan of fewer places/tools/apps.

As for getting more devs involved, some people aren't aware of this project or the fact that you can contribute in a technical capacity. I would start by modifying the "Contribute" page to include the opportunity to get involved in a technical capacity.

[2016-06-01 18:04] mmahalwy commented on #307
@redhae i do agree - we could push more on the website for involvement

[2016-06-01 19:09] sharabash commented on #307
one barrier to entry:
the learning curve for reactjs + redux is steep

On Wed, Jun 1, 2016, 8:04 PM Mohamed El Mahallawy <notifications@github.com>
wrote:

[2016-06-01 19:13] sharabash commented on #307
you could put up a banner ad campaign, and maybe we could hold office hours
to hangout with and help newbies

On Wed, Jun 1, 2016, 9:08 PM Nour Sharabash <nour.sharabash@gmail.com>
wrote:

[2016-06-01 19:31] mmahalwy commented on #307
@sharabash good idea. Yes, the learning is unfortunately steep :(

[2016-06-01 19:59] dashohoxha commented on #307
I think that the motivation is also important. For example I cannot learn ReactJS just to fix a few bugs in a project. But maybe I would learn it if there were some reusable components that I could use in my project.

[2016-06-02 06:04] #326 closed

[2016-06-03 19:56] ahmedre opened #333 "word by word audio improvements"
in the last release, @sharabash added a great new hidden feature, which is the word by word data for some of the qaris (such that clicking a word would recite just that word).

i'd like to propose one change, which is instead of playing the word when it's clicked, to instead highlight each word as it plays. since these are still parts of recitation, this will be more accurate (from a listening per

[2016-06-12 01:33] abiodun0 commented on #294
Is anybody working on this?

[2016-06-12 02:04] ahmedre commented on #294
this should already be fixed - please re-open if you find that it isn't working!
jazakumAllah khairan.

<img width="813" alt="screen shot 2016-06-11 at 7 04 15 pm" src="https://cloud.githubusercontent.com/assets/47771/15988478/4e9ee9f0-3007-11e6-88eb-3ec5bdd8e7e1.png">

[2016-06-12 02:04] #294 closed

[2016-06-12 02:50] abiodun0 commented on #248
is someone working on this?. If no I would love to work on it

[2016-06-12 20:25] mmahalwy commented on #248
Salam @abiodun0, no one is currently! Would you like to grab it? How can I help guide you?

[2016-06-12 21:14] abiodun0 commented on #248
Wa Alai Kum salam. I am willing to work on it . I have ran ``` npm run dev``` on the forked repo. But I still do have error generating the main.js file on the repo. Can you help me on setting this up properly on my system?

[2016-06-12 22:47] abiodun0 commented on #248
Do I need some sort of secret keys? @mmahalwy

[2016-06-12 23:43] mmahalwy commented on #276
Fixed by #335

[2016-06-12 23:43] #276 closed

[2016-06-13 05:51] abiodun0 commented on #248
I'm contineously having this error. And the page doesn't seem to display well on my localhost @mmahalwy
<img width="1670" alt="screen shot 2016-06-13 at 6 49 36 am" src="https://cloud.githubusercontent.com/assets/7931839/15998088/21cf84de-3133-11e6-8f63-40f54cbab253.png">

[2016-06-13 07:58] ahmedre commented on #248
set an environment variable for `API_URL` to be `http://api.quran.com:3000`.
make sure you ran `npm install` and `npm run build`

[2016-06-13 08:03] mmahalwy commented on #248
@abiodun0 what url are you going to? `localhost:8000` or `localhost:8001`? 8001 is the dev one, not 8000!

[2016-06-13 11:20] abiodun0 commented on #248
Thanks @ahmedre That was the missing link the `npm run build` I guess someone has to update the read me

[2016-06-13 11:23] abiodun0 commented on #248
Jazzakumu Lahu Khairan @ahmedre The `npm run build` was what I was missing. Yes @mmahalwy I was using localhost:8001. I guess someone has to update the read me. Let me get to work on it. If either of you have time I would need someone to work me through the code and development process

[2016-06-13 17:40] mmahalwy commented on #248
@abiodun0 happy to help. But `nam run build` is not the solution... it is when you're ready to push to production

[2016-06-13 19:06] abiodun0 commented on #248
Can you drop your skype id or any IM i can send a message?

[2016-06-13 21:37] mmahalwy commented on #248
@abiodun0 you can ping me on google hangouts: mmahalwy@gmail.com

[2016-06-15 23:57] #248 closed

[2016-06-16 01:34] sabeurthabti commented on #307
I would love to get involved, I think the "starter task" label would be great to get people involved.

I've been doing React/Redux for a year.

[2016-06-16 04:56] dashohoxha commented on #272
I have started this: https://github.com/Q-Translate
which is basically a clone of this: https://github.com/B-Translator
(with some renaming).

It still needs some work to make it run properly.
Then, maybe it will need some customizations, since it is a bit different from translating programs.

When done, we should have a translating server and API like this: https://btranslator.org/
and also a tra

[2016-06-16 17:06] dashohoxha commented on #272
I have installed it here: https://qtranslate.org/ and https://qtranslate.net/
Of course it does not do yet what it is supposed to do.

[2016-06-16 20:39] mmahalwy commented on #307
@sabeurthabti @dashohoxha @sharabash @ahmedre @reshadn  I added a label to this issue and will use it for the future

[2016-06-16 20:40] mmahalwy commented on #316
Closing for now. This will happen when disabling server-side rendering and on development env

[2016-06-16 20:40] #316 closed

[2016-06-16 20:41] mmahalwy commented on #305
Closing for now

[2016-06-16 20:41] #305 closed

[2016-06-16 20:44] mmahalwy commented on #268
Can use this: https://fontfaceobserver.com/

[2016-06-16 20:45] mmahalwy commented on #245
Could use this: https://github.com/yahoo/react-intl

[2016-06-16 20:46] mmahalwy commented on #237
relates to #268.

[2016-06-16 20:46] #237 closed

[2016-06-17 04:23] andela-ijubril opened #339 "Text not clearly rendered in Quran 5 vs 76"
<img width="1271" alt="screen shot 2016-06-17 at 5 22 26 am" src="https://cloud.githubusercontent.com/assets/13223950/16140719/89e21274-344b-11e6-9ddc-40ec6f1a9d67.png">

The text that is highlighted in the picture

[2016-06-17 09:37] reshadn commented on #309
Salams. I reached out to alim.org to see if they'd be interested in providing their source/db: http://www.alim.org/library/quran/AlQuran-tafsir/TIK/1/0

[2016-06-17 19:55] reshadn opened #340 "audio recitation problem, Abu Bakr Ash-Shatri for Surah Yunus (10)"
It seems to only be Surah Yunus at this point and it sounds like it's playing at super high speed.
screen recording with audio: https://youtu.be/rGFwtZ-PisY

[2016-06-17 23:53] sabeurthabti commented on #312
Can we add `https` support to this list? Who is the CDN?

[2016-06-18 00:14] sabeurthabti opened #341 "Facebook/Twiter share"
Ramadam to-do list #312

Some possible designs:

Ayah Share:
![ayahshare](https://cloud.githubusercontent.com/assets/2606228/16167763/1620e850-34f1-11e6-8f47-71a3299f0e90.png)

Surah share:

![surah](https://cloud.githubusercontent.com/assets/2606228/16167796/9ea6dc34-34f1-11e6-8a1a-4d8ad6d261e3.png)

Or we can use the popover for the surah share, similar to the font size popover.

<img width="232

[2016-06-18 10:14] mahboob-awan opened #342 "npm install FAILURE"
Getting following error while executing "npm install"

[code]

What is the right way to resolve this error?

[2016-06-19 23:34] mkhan3189 commented on #145
Assalamu alaykum ikhwaani,

Akhi @mmahalwy, you seem to have some control over decisioins. Here are my 2 cents. I developed https://muflihun.com from scratch and collected a lot of data and displayed only authentic tafaaseer and translations (as far as I know) (as you can see on the site) so if you need any data to improve quran.com, I will in shaa Allah share it.

We are one ummah (on top I am no

[2016-06-20 02:02] naveedhd commented on #342
I think this project requires node version > 5.1 and you have node v0.12.5

[2016-06-20 02:05] naveedhd commented on #307
I would like to get involved but don't know where to start :)

[2016-06-20 05:59] #342 closed

[2016-06-20 16:53] reshadn commented on #309
Initial reply is that they don't offer source or DB.
I've asked for a phone meeting to discuss further.
Should we suggest our own scraping effort? (Is that considered rude?) Should we embed their content directly in our app? I imagine that would increase their server load significantly.
Any suggestions on the best ways to collaborate with them?

[2016-06-20 17:12] mmahalwy commented on #309
@reshadn I think we can suggest scrapping for the sake of turning it into a DB that we can share with them? That might work? Or any help they can give us - for example, html files will make scrapping efforts easier?

[2016-06-20 17:13] mmahalwy commented on #342
@naveedhd you are correct!

[2016-06-20 17:13] mmahalwy commented on #307
@naveedhd thanks for offering your help! Check out some of the issues that have the `Great for starters` label

[2016-06-20 18:07] mmahalwy commented on #145
@mkhan3189 mashallah! That's awesome! You have a great website :) I can definitely see how we can collaborate in terms of content. Have you checked out github.com/quran/quran.com-api ?

[2016-06-20 18:11] mmahalwy commented on #341
@sabeurthabti looks awesome mashallah! :)

[2016-06-20 18:11] mmahalwy commented on #312
re @sabeurthabti's comment: @ahmedre ^^

[2016-06-20 19:28] mkhan3189 commented on #145
@mmahalwy no not yet but will in shaa Allah check it later

[2016-06-20 20:59] ahmedre commented on #312
yep, it's on my todo list insha'Allah.
our cdn supports it, we just need to get the certs and set up our servers to support it.

[2016-06-20 22:34] mmahalwy commented on #312
@ahmedre Rapidssl?

[2016-06-24 19:43] mahboob-awan commented on #268
Salam, guys You are doing great, i am thinking to start contributing this holy project. So i start implemented this feature as my first commit. right?

Then i have a question:
Q: how to do we ensure that two persons are not working on same problem?

[2016-06-24 19:46] mmahalwy commented on #268
@mahboob-awan good suggestion, as I am already working on it here!

[2016-06-24 19:46] mmahalwy commented on #268
I think a good way to do this is to tag the issue in a PR as early as possible?

[2016-06-24 19:47] mmahalwy commented on #268
Okay, just as I have here ^^

[2016-06-24 19:59] mahboob-awan commented on #268
@mmahalwy aha, so just create a "wip" and tag the issue and keep working on. Yes, seems a nice plan. Thanks

[2016-06-24 21:10] mahboob-awan opened #348 "JS error on local execution"
After project forked/cloned/npm-installed, executed via following command

``` npm run dev ```

On main page, getting JS error after clicking 1st Surah at:

https://github.com/quran/quran.com-frontend/blob/70fbbfd3e20fd50cb90994b00918ce68355c0c22/src/containers/Surah/index.js#L175

[2016-06-24 21:23] mmahalwy commented on #348
@mahboob-awan yep, we found this bug, i'd suggest you checkout https://github.com/quran/quran.com-frontend/pull/343

[2016-06-24 21:23] mmahalwy commented on #268
Thank you sir!

[2016-06-24 23:03] mahboob-awan commented on #348
Fixed in #349

[2016-06-24 23:43] mahboob-awan opened #350 "Add CONTRIBUTING.md"
[Contributing to Open Source on GitHub](https://guides.github.com/activities/contributing-to-open-source/)

[2016-06-25 00:06] mahboob-awan commented on #350
Fixed in #351

[2016-06-25 15:07] doganmeh commented on #145
OK everybody my little Quran application is live here: http://quran4.me/

It consists of two packages which are open sources in my github account:
https://github.com/doganmeh/quranfal
https://github.com/doganmeh/django-quran

What does it do?
Helps people who try to understand quran. Mark the words that you know and don't and it gives you report of i) the frequency of the word ii) what percentage

[2016-06-25 18:24] #348 closed

[2016-06-25 18:34] mahboob-awan opened #353 "Asset not found: ./src/containers/App/style.scss"
[code]

How to fix this?

[2016-06-25 18:49] mmahalwy commented on #353
`[webpack-isomorphic-tools] [error] asset not found: ./src/containers/App/style.scss`

common, and happens due to the library but doesnt come back

[2016-06-25 19:13] mahboob-awan commented on #353
@mmahalwy : strange, should we not fix such confusing errors in project flow?

[2016-06-25 19:25] mahboob-awan commented on #350
Fixed in #355

[2016-06-25 19:32] mahboob-awan opened #357 "ESlint errors"
[code]

@mmahalwy anyone fixing these errors, or should i start looking at?

[2016-06-25 19:32] #350 closed

[2016-06-25 21:07] mahboob-awan opened #359 "Uncaught TypeError: ayahIds.first is not a function"
![js_error_on_scroll](https://cloud.githubusercontent.com/assets/2077078/16359132/b39382d0-3b42-11e6-8aa9-130b307efc0e.gif)

[2016-06-25 21:13] mmahalwy commented on #359
hmmm weird...

[2016-06-25 21:14] mmahalwy commented on #359
okay all `ayahIds.first()` need to be replaced with `this.getFirst()` and all `ayahIds.last()` to `this.getLast()`... must have happened with the merge conflicts

[2016-06-25 21:14] mmahalwy commented on #359
I can fix it or if you'd like to jump on it?

[2016-06-25 21:33] mahboob-awan commented on #359
Please move forward to fix this, what about [eslint errors](https://github.com/quran/quran.com-frontend/issues/357)?

[2016-06-25 21:36] mmahalwy commented on #359
okay sounds good. Inshallah the eslint errors will be fixed in that PR/relating PRs

[2016-06-25 21:42] mahboob-awan commented on #357
Application will not run properly via ```npm run dev```, util these issues fix.

Temporary fix via webpack/dev.config.js:
[code]

[2016-06-25 22:14] mahboob-awan opened #361 "Lint SCSS/CSS files"
[Stylelint] is a modern linter that helps you enforce consistent conventions  and avoid errors in your stylesheets.  Powered by [PostCSS], [Stylelint] can understand any syntax that PostCSS can parse, including SASS and SCSS.

Developer will consider [stylelint-webpack-plugin] for webpack integration.

[Stylelint]: http://stylelint.io
[PostCSS]: https://github.com/postcss/postcss
[stylelint-webpac

[2016-06-26 01:55] mmahalwy commented on #361
yes please!

[2016-06-26 01:59] mmahalwy commented on #357
fixed in https://github.com/quran/quran.com-frontend/pull/360

[2016-07-02 01:41] ahmedre opened #365 "various font bugs"
see also quran/quran_android#663
it looks like these are coming from the previous word because mousing over that piece shows it as such.

[2016-07-02 01:42] ahmedre commented on #365
<img width="234" alt="screen shot 2016-07-01 at 6 41 35 pm" src="https://cloud.githubusercontent.com/assets/47771/16537582/7aba782e-3fbb-11e6-925d-11c1f4f80985.png">

i am specifically talking about the green portion underneath the word in black. this is a bug with the font unfortunately.

[2016-07-02 01:53] ahmedre commented on #365
depends on:
quran/quran.com-images#7
quran/quran.com-images#8
quran/quran.com-images#9

[2016-07-02 23:31] #365 closed

[2016-07-02 23:33] ahmedre commented on #365
note that it'll take some time for the cache on the fonts to expire to force the cdn to give new images

[2016-07-02 23:38] mmahalwy opened #368 "Scroll on reading mode"

[2016-07-02 23:48] ahmedre opened #369 ""kuna sadiqeen" are too close together"
in sura Yusuf, ayah 17, the last 2 words are closer together than they should be

<img width="354" alt="screen shot 2016-07-02 at 4 47 56 pm" src="https://cloud.githubusercontent.com/assets/47771/16543020/cf673f92-4074-11e6-81a8-1e3b0f6e1fa8.png">

this is due to quran/quran.com-images#10

[2016-07-02 23:51] #369 closed

[2016-07-02 23:51] mmahalwy opened #371 "UI: Add hizb and juz in ayah and reading mode"

[2016-07-03 02:00] sabeurthabti commented on #368
Notice a bug on develop branch for reading mode:

![Uploading Screen Shot 2016-07-03 at 02.57.57.png…]()

[2016-07-03 05:11] mmahalwy opened #372 "Allow for colon separated url"
/2:255 should be same as /2/255

[2016-07-03 05:12] mmahalwy commented on #372
With canonical

[2016-07-03 08:50] #359 closed

[2016-07-03 08:53] #357 closed

[2016-07-03 08:53] #341 closed

[2016-07-03 13:04] ichigo92 commented on #245
Assalam-u-Alaikum!
A really great site MashaAllah, i wanted to ask if you have added or plan to add any other languages for surah info or is the surah info just in english. I couldn't find anything about it in the issues. I would love to help out.

[2016-07-03 23:57] #372 closed

[2016-07-04 00:34] mmahalwy commented on #333
Fixed by https://github.com/quran/quran.com-frontend/pull/360

[2016-07-04 00:34] #333 closed

[2016-07-04 00:35] #353 closed

[2016-07-04 00:39] #185 closed

[2016-07-04 00:39] #179 closed

[2016-07-04 00:39] #135 closed

[2016-07-04 00:40] #37 closed

[2016-07-04 00:40] #38 closed

[2016-07-04 00:40] #43 closed

[2016-07-04 00:40] #47 closed

[2016-07-04 00:40] #48 closed

[2016-07-04 00:40] #58 closed

[2016-07-04 00:40] #59 closed

[2016-07-04 00:40] #61 closed

[2016-07-04 00:40] #62 closed

[2016-07-04 00:40] #63 closed

[2016-07-04 00:40] #70 closed

[2016-07-04 00:40] #71 closed

[2016-07-04 00:40] #73 closed

[2016-07-04 00:40] #74 closed

[2016-07-04 00:40] #80 closed

[2016-07-04 00:40] #81 closed

[2016-07-04 00:40] #83 closed

[2016-07-04 00:40] #85 closed

[2016-07-04 00:40] #86 closed

[2016-07-04 00:40] #90 closed

[2016-07-04 00:40] #91 closed

[2016-07-04 00:40] #93 closed

[2016-07-04 00:40] #96 closed

[2016-07-04 00:40] #132 closed

[2016-07-04 00:40] #139 closed

[2016-07-04 00:40] #140 closed

[2016-07-04 00:40] #145 closed

[2016-07-04 00:40] #172 closed

[2016-07-04 00:40] #177 closed

[2016-07-04 00:41] #186 closed

[2016-07-04 00:41] #180 closed

[2016-07-04 00:41] #223 closed

[2016-07-04 00:41] #238 closed

[2016-07-04 00:41] #274 closed

[2016-07-04 00:42] mmahalwy commented on #339
@ahmedre you saw this right?

[2016-07-04 00:43] mmahalwy commented on #245
@ichigo92 thanks for reaching out - I think before we can have different languages for the surah info, we want to internationalize all the other text (for example 'Next Surah') etc.

[2016-07-04 00:49] mmahalwy commented on #368
@sabeurthabti noticed this too - fixed here: https://github.com/quran/quran.com-frontend/pull/377

[2016-07-04 08:26] ichigo92 commented on #245
@mmahalwy alright

[2016-07-04 09:05] sabeurthabti commented on #368
I might have a solution for this, I'll see if I can spike something. How do you imagine the UI? and Would it just auto scroll on `readingMode` triggered?

[2016-07-05 02:52] mmahalwy commented on #368
yep, auto scroll when the reading mode and the audioplayer's scroll mode is turned on

[2016-07-06 18:00] dashohoxha commented on #272
I have made some progress:
 - https://qtranslate.net/qtr/
 - http://info.qtranslate.org/api/
But there is still lots of things to done and to be fixed.
Anybody would like to help, or at least to encourage me by subscribing (watching the project on github)?

[2016-07-07 04:54] a58221 opened #380 "Internal Server Error"
Getting this error while trying to access surahs. Please, check for yourself.

[2016-07-07 05:09] #380 closed

[2016-07-07 13:33] mmahalwy opened #381 "sitemap.xml not working"

[2016-07-09 17:30] sabeurthabti opened #382 "Analytics : How is share performing"
Hi,

Noticed we have segment.io for analytics, we should somehow expose some of the data to help us make data-driven development. I want to know how is the share on surah pages performing, are they getting a decent number of clicked?

`data-metrics-event-name="Share:Twitter"`
`data-metrics-event-name="Share:Facebook"`

[2016-07-09 19:03] sabeurthabti opened #383 "[BUG] Ayah play button not working"
Clicking Play next to the Ayah doesn't work.

<img width="378" alt="screen shot 2016-07-09 at 19 57 45" src="https://cloud.githubusercontent.com/assets/2606228/16709693/952c6ec4-460f-11e6-9692-d27dfa3e5b4f.png">

Would it be possible to introduce a repository project that would hold a set of functional tests? I introduced functional testing using Webdriver.io(JS) at the company I work for. If poss

[2016-07-09 19:45] mmahalwy commented on #382
@sabeurthabti good question. We are not using Segment.io or Mixpanel unfortunately since, well, we won't be able to afford it. We have so many users and events that we really quickly surpass the free tier

[2016-07-09 19:57] mmahalwy commented on #382
@sabeurthabti send me an email at mmahalwy@gmail.com

[2016-07-09 20:32] mmahalwy commented on #383
Yes, that has been known for a while and hasnt worked for a while now :S

[2016-07-10 02:11] sabeurthabti commented on #383
Ah that's due to it not being implemented https://github.com/quran/quran.com-frontend/blob/develop/src/components/Ayah/index.js#L48

Should be triggering an audio player action for the `next` action with ayahNum

[2016-07-10 02:36] sabeurthabti commented on #383
I will submit a PR for this tomorrow inshallah.

[2016-07-10 04:34] mmahalwy commented on #383
Yes. Sounds good!

[2016-07-10 06:44] maryamklabib commented on #371
@mmahalwy @sabeurthabti Did any tests run with these changes?

[2016-07-10 06:46] maryamklabib opened #389 "Make `Reading mode` in UI more intuitive for new users"
I don't find the `Reading` Boolean switch in the UI intuitive.
<img width="186" alt="screen shot 2016-07-09 at 11 30 25 pm" src="https://cloud.githubusercontent.com/assets/4147717/16712061/e88f57ca-462d-11e6-85d1-601b67e8f0f1.png">
<img width="191" alt="screen shot 2016-07-09 at 11 30 40 pm" src="https://cloud.githubusercontent.com/assets/4147717/16712062/e8933908-462d-11e6-85c1-aee50938b9d5.png">

[2016-07-10 10:34] sabeurthabti commented on #389
The `Reading` text might not do the feature justice, but the toggling UI is pretty good consider many users might not be English speakers/readers. Maybe we should introduce an icon of a book or a page and change the text to `Page Mode`.

[2016-07-10 10:46] sabeurthabti commented on #371
I reverted the changes I made for this feature it was not easy as I thought and would require some time. Happy for anyone else to pick it up.

@maryamklabib It had basic component unit tests.

[2016-07-10 15:30] mmahalwy commented on #389
I agree, maybe we need to spell it out more such as 'Page Mode'

[2016-07-10 15:40] mmahalwy commented on #389
@maryamklabib you should take over that one :)

[2016-07-10 17:07] dashohoxha commented on #272
I have some problems displaying correctly the Arabic text (verses of the Quran).
For example look at this: https://qtranslate.net/qtr/en/2/3 I see there some empty boxes.
The same here: http://info.qtranslate.org/api-examples-js/#translations/get.js
I also see the same thing on phpMyAdmin when I look at the content of the DB.
And this is very common, not just a single isolated case, for example se

[2016-07-11 02:54] ahmedre opened #396 "basmallah broken on ie"
internet explorer 11 has the basmala as broken
<img width="838" alt="screen shot 2016-07-10 at 7 53 29 pm" src="https://cloud.githubusercontent.com/assets/47771/16718810/13bb9f6c-46d8-11e6-916b-01a8047869fe.png">

if i had to guess, the eot file is missing.

[2016-07-11 02:55] ahmedre opened #397 "search button styling weird on ie 11"
<img width="275" alt="screen shot 2016-07-10 at 7 54 36 pm" src="https://cloud.githubusercontent.com/assets/47771/16718823/41a64a44-46d8-11e6-8896-3aa1dfe7bba1.png">

[2016-07-11 10:06] suhaibmalik commented on #307
Also, why not have a dedicated page for interested devs that outlines this. I've been using Quran.com for years and just now found out it's on Github.

[2016-07-11 15:05] srifqi opened #398 ""Previous/Next Surah" when reading first/last surah."
If you tried to click on Previous Surah while reading Surah Al-Fatihah or to click on Next Surah while reading Surah An-Nas, you will get message:

Can we hide/disable that button?

The location of the button:
![previous surah button in Al-Fatihah](https://cloud.githubusercontent.com/assets/4017302/16773238/5c203182-4881-11e6-84a2-d85a5df39130.PNG)

[2016-07-11 15:37] sabeurthabti commented on #398
@srifqi can you provide screenshots? I am not seeing previous or next on either of those surahs.

[2016-07-11 17:35] sabeurthabti commented on #383
Closing as a fix has been pushed to master, awaiting release.

[2016-07-11 17:35] #383 closed

[2016-07-11 17:35] #382 closed

[2016-07-11 17:46] mmahalwy commented on #396
@ahmedre probably is!

[2016-07-11 17:50] sabeurthabti commented on #201
Rather than having another toggle button, any thoughts on maybe having this based on a timer so say from 9pm it will go dark until 4am?

@mmahalwy Can you assign this to me.

[2016-07-11 18:00] sabeurthabti commented on #201
Actually a toggle would be better, it might be annoying for it to automatically happen.

[2016-07-12 15:40] srifqi commented on #398
@sabeurthabti I've uploaded the screenshot in [the first comment](https://github.com/quran/quran.com-frontend/issues/398#issue-164860012).

[2016-07-12 17:11] mmahalwy commented on #398
@sabeurthabti @srifqi i can replicate this behavior. Not sure why this is happening but we can put a fix for it inshallah.

[2016-07-12 17:20] srifqi commented on #398
@mmahalwy Thank you for your fast response. Don't forget to hide/disable "Next Surah" in An-Nas. :smile:

[2016-07-12 17:53] sabeurthabti commented on #398
@mmahalwy @srifqi I was looking at the bottom of the surah :(

[2016-07-12 18:01] #381 closed

[2016-07-12 18:02] mmahalwy commented on #307
Good idea @suhaibmalik I will add that as a todo list!

[2016-07-12 18:02] mmahalwy opened #400 "Add a developer page to outline this repo and how to help"

[2016-07-12 18:02] mmahalwy commented on #383
thank you!

[2016-07-12 18:03] mmahalwy commented on #397
Yeah... ie is the....

[2016-07-12 18:05] mmahalwy commented on #371
@sabeurthabti @maryamklabib so I created a pages routes: https://github.com/quran/quran.com-api/blob/master/app/controllers/v2/pages_controller.rb

we don't use it and we just make the pages layout using what's already in the frontend store. It might be worth while actually doing it via the API. Thoughts?

[2016-07-12 18:07] mmahalwy commented on #398
Yeah, I think what we can do is just not call the function in the `onClick` callback. That's the quickest fix, cause from a UI it looks disabled but not from a functional point :)

@srifqi my pleasure :)

[2016-07-14 09:39] ATouhou commented on #309
I'll scrape it guys and index it by PAGE number based on the 604 pages mushaf. I will share the database file when I'm done.
Maybe I can do the "sura + ayah" number correlating page number index table as well, but I think maybe you already got that? (noticed the "line" for each new page in read mode).

[2016-07-14 16:03] mmahalwy commented on #309
@ATouhou thanks for that! That'd be amazing. We do have the surah/ayah/line/page/position relationship.

[2016-07-14 16:59] reshadn commented on #309
As a follow up the one person I spoke with didn't offer anything. I'm not
sure if that's because they're not clear on who we are or what we're doing.
Or possibly because they don't have bandwidth to follow up.

On Thu, Jul 14, 2016 at 9:03 AM Mohamed El Mahallawy <
notifications@github.com> wrote:

[2016-07-14 20:31] ATouhou commented on #309
@reshadn  I have tried long and hard and explained everything to them detailed. The sourcecode for their webpage is even on github and there is still several exploits left in it, that they have not fixed!
Anyway, I made a scraper and indexed the english tafseer ibn kathir.

I made some split tests and everything looks good :-)
You can grab the database here:
http://touhou.dk/ibnkathir/tafseer.sql

[2016-07-14 20:48] ATouhou commented on #309
Almost forgot,  I can also scrape the resources for word-by-word arabic recitation (and the 2 word connected tajweed rules sounds)  and index it. Data files I already scraped way back :p

[2016-07-14 20:51] ATouhou commented on #309
the 3 arabic tafaseer will only some minutes works on the scraper to make it work, give me the headsup if you want / need it :-)

[2016-07-14 21:01] mmahalwy commented on #309
@ATouhou where would the audio files come from?

[2016-07-14 22:00] ATouhou commented on #309
Wisam Sharif at Recitequran.com
They also have English word-by-word but that is computer generated (if I remember correctly).
Actually we could also use the word-by-word transliteration that the brother Ozair has. (Microsoft guy)

[2016-07-15 04:40] mmahalwy commented on #309
@ATouhou i do have the word-by-word arabic from Wisam Sharif but we dont have permissions

[2016-07-15 09:27] ATouhou commented on #309
So much for fisabillilah :-) let's change the subject, I'm getting agitated.
Did you check out the SQL file?

[2016-07-15 14:59] notacouch commented on #309
@mmahalwy You asked for permission to use Wisam Sharieff and he didn't give? Or couldn't get in touch?

[2016-07-15 15:05] ATouhou commented on #309
Permissions should be granted by "Share Islam"
![image](https://cloud.githubusercontent.com/assets/6802820/16878700/d3ee58f0-4aad-11e6-9349-1e7d291bf7e3.png)

 Number (800)409-5044 or email contact@shareislam.com

[2016-07-15 15:12] ATouhou commented on #309
I tried through livechat, email (on qtafsir and shareislam),  tried on contactform on recitequran and tried on recitequran.com over a year.  Yielded down to, decision belongs to Yusuf Estetes
![image](https://cloud.githubusercontent.com/assets/6802820/16879038/2b3947b8-4aaf-11e6-9658-d27d7e96383a.png)
![image](https://cloud.githubusercontent.com/assets/6802820/16879095/5ac874cc-4aaf-11e6-8953-6dca

[2016-07-15 15:14] ATouhou commented on #309
But I did not contact Yusuf Estes on the mail provided. Please feel free to do, and see if you manage to get some permissions :-)

[2016-07-15 16:27] notacouch commented on #309
Ah, recitequran.com used to be allahsquran.com/learn, so makes sense it goes back to Sh. Yusuf Estes.

What are we looking to get from it?

[2016-07-15 16:37] ATouhou commented on #309
Just permissions to use their data (audio data), they actually don't need to provide us anything if it will be too much of a hassle for them.  We got the tafseer ibn kathir now, but let us see if Mohammad wants anything else

[2016-07-16 16:23] sharabash opened #402 "re-enable automatic scroll with playback by default"
...lots of users complaining

[2016-07-17 00:06] mahboob-awan commented on #397
IE try his/her best to align with W3C specs but some browsers are tried to be smart...

https://developer.mozilla.org/en-US/docs/Web/CSS/initial#Browser_compatibility

i fixed it and send a pull request. Thanks @ahmedre

[2016-07-17 00:30] mahboob-awan commented on #361
#403

[2016-07-17 00:41] mahboob-awan commented on #397
#404

[2016-07-17 18:22] #402 closed

[2016-07-17 21:07] AskYous opened #408 "Changing reciters while Aayah is playing causes issues"
When I play an Aayah, then I want to change reciters while the Aayah is playing, it messes up the audio player. The following happens:
1. Play a verse
2. While the verse is playing, change reciters.
3. The Aayah doesn't stop playing the previous recitation.
4. Hitting pause doesn't stop the Aayah either.
5. A bunch of stuff messes up until the previous Aayah finishes playing.

[2016-07-17 21:09] AskYous opened #409 "Changeing 'From' in ranged repeat puts repeat back to single"
Basically, it's impossible right now to change the 'from' section of a ranged-repeat because it toggles the repeat back to 'single'.

[2016-07-18 12:19] Papisco opened #411 "Toogle repeat signle is broken"
Hello,

I just want to report that before this new version when press the "advance" button while playing Aya in repaeat mode the next Aya is also repeated.
But now press the "next" Aya button break the single repeat. Could you please make it works as it was before.
Great idea for for the range repeat, it helps me a lot. If I can help let me know do not hesitate to contact me.

[2016-07-18 21:07] abdelrahman-elkady commented on #191
@ahmedre do you provide any source for public contribution somewhere or not ?

As I can see, this organization doesn't contain any repos for Sunnah.com projects yet.

[2016-07-19 04:00] ahmedre commented on #191
most of quran.com's code is open source, as are our iOS and Android apps, all on Github. most projects have a `CONTRIBUTING.md` file (and we all look at pull requests, though it's good to either do something that has an issue assigned or ask before doing it if it's a new feature, etc).

sunnah.com is currently not open source - if you want to help those brothers out, i can put you in contact, howe

[2016-07-19 11:26] abdelrahman-elkady commented on #191
Great, I was just making sure that the source is not there. :+1:  If I got some time and I thought that I can contribute I will contact you inshaAllah

[2016-07-22 07:58] sabeurthabti opened #413 "[Feature Request] Bookmark/Save Ayahs"
Via Zendesk:

[2016-07-22 08:04] #413 closed

[2016-07-22 08:21] ATouhou commented on #413
Agreed would be a great feature, and in this combination could add a "hifdh" log.
Hifdh log could be extended with reminders if not X ayat have been memorised each X days.

[2016-07-22 08:25] sabeurthabti commented on #413
@ATouhou this would require a lot of back-end work which apparently "we" will inshallah get round to doing.

[2016-07-22 17:37] mmahalwy commented on #413
@maryamklabib and I should be getting together next week to bootstrap the backend project.

[2016-07-23 07:28] sabeurthabti commented on #361
@mahboob-awan can you close this issue? thanks bro,

[2016-07-23 13:01] dashohoxha commented on #272
For your information, the text of the Quran needs the font `me_quran` to be rendered correctly (like this: https://github.com/Q-Translate/qtrclient/commit/508e2c7b520c35ea0010c03312c9c5f2835a60ab)

[2016-07-23 13:06] dashohoxha commented on #272
This feature (correcting or improving existing translations) can be implemented simply by adding a link to the corresponding verse on qtranslate.net
For example, to correct the English translation of (2,3), the link should be: https://qtranslate.net/qtr/en/2/3

[2016-07-23 13:06] #272 closed

[2016-07-23 16:34] ATouhou commented on #272
Would be better to have this internally and then admin should look through if people submitted valid responses (such as typos etc.) then when he accepts them, they should update a revision nr, and that should be passed in API as well, as well as new feed.  There are multiple english translations and other languages... Other languages will be added to quran.com in the future, so it should use an un

[2016-07-23 17:10] dashohoxha commented on #272
@ATouhou  The aim of the site https://qtranslate.net is precisely to double check translations, fix any mistakes or typos, and encourage people to think and discuss about the right translation of the Quran verses. (I also think that this is a useful mental excercise that may help people to understand better the real meaning of the Quran.)

This may include Danish translations as well, if there are

[2016-07-23 18:05] ATouhou commented on #272
Yes.
Most people aren't qualified to translate any verse, so their changes should not be activated right away. I was refering to typos or mixups in quran translations, which there are some dousin reports in the quran-android repo.

However if the purpose was for adding benefitial tafseer / quotes, / examples to ponder,   i.e. any fawaaid really from any verse,  that would then also be double check

[2016-07-23 20:57] dashohoxha commented on #272
Before I can understand your speech, you have to explain me what is: tafseer, fawaaid, aqeedah, mansookh, etc. Sorry, I still belong to the domain of the ignorants, not to the people with high knowledge.

I am glad to leave that model to quran.com for implementing, and to stick to the humble goal of fixing translations only.

[2016-07-24 04:32] mahboob-awan commented on #361
should we not merge #403 first?

[2016-07-24 06:45] mahboob-awan commented on #397
@ahmedre  close this issue.

[2016-07-24 06:45] ahmedre commented on #397
jazakAllah khair bro

[2016-07-24 06:45] #397 closed

[2016-07-24 06:46] mahboob-awan commented on #361
@sabeurthabti

[2016-07-24 06:51] ahmedre commented on #361
merged brother @mahboob-awan's patch #403  - closing this

[2016-07-24 06:51] #361 closed

[2016-07-24 07:06] mahboob-awan commented on #361
@ahmedre شکرا

[2016-07-24 09:52] mahboob-awan commented on #409
@mmahalwy are You working on? should i start looking this issue?

![anim](https://cloud.githubusercontent.com/assets/2077078/17083104/2e625c44-51ae-11e6-8d9f-21afec882d98.gif)

[2016-07-24 18:43] ATouhou commented on #272
Very bad translations below:
Tafseer: explanation.
Fawaaid: Benefits.
Aqeedah: Matters of belief.
Mansookh: Quranic verses that has been replaced by new verse.

It's good to fix the translations, like in a danish translation somebody just found a typo which made the ayah "hide the truth, while you know" as "hide falsehood, while you know"
and as you see in these 2 github repos (quranandroid and th

[2016-07-24 19:51] #398 closed

[2016-07-24 20:41] dashohoxha commented on #272
In qtranslate.net, it is not a matter of replacing a translation, it is like adding another, alternative, translation. Then it is the community which decides which translation is the most correct and the best one.
But in the end, still it is a qualified/authorized person (you may call him admin), who decides which translations should be transferred to tanzil.net.

I don't understand that thing wit

[2016-07-24 22:19] mmahalwy commented on #409
@mahboob-awan please do! That is weird :S

[2016-07-25 09:10] ATouhou commented on #272
I do understand how it works brother.

However there are 2 things to be aware of with community driven sites.

Sufi and shiaa will try to edit whatever they don't like.
Allah scorns the majority, multiple places in the Quran and we can't make decisions based on the majority, this concept in itself is flawed.

The version numbers are so that people that had local copies, can do automated system upd

[2016-07-25 12:16] dashohoxha commented on #272
Maybe. But I feel that there are a few important details that you have missed. You can fully understand it only if you try it.

We cannot force our understanding to them, and they cannot force their understanding to us. There is no compulsion in religion. The program can accomodate the views of everybody. Wherever we agree it renforces the agreement, wherever we disagree it allows the diversity.

[2016-07-28 21:25] sabeurthabti opened #416 "[BUG] bismillah broken"
<img width="974" alt="screen shot 2016-07-28 at 22 22 34" src="https://cloud.githubusercontent.com/assets/2606228/17229994/fbf4bcb8-5511-11e6-8a93-e386965d8006.png">
https://quran.com/40
Regression introduced.

[2016-07-28 21:28] ahmedre commented on #416
yep, this is because i am not done with https yet.

some of the things left:
- static needs to be https
- verses needs to be https
- setting for cdn needs to be set to https

[2016-07-28 21:29] ahmedre commented on #416
(it's not a code bug, it's just that because i haven't updated the cdn to be https yet, chrome fails to load the font since you're going from something https to http, which is considered insecure).

[2016-07-29 08:48] #416 closed

[2016-07-29 15:47] dashohoxha commented on #272
I have made the first release of Q-Translate and some testing is needed:
 - https://github.com/Q-Translate/Q-Translate.github.io/issues/1
 - https://github.com/Q-Translate/Q-Translate.github.io/issues/2

Anybody can help?

[2016-08-06 22:15] #409 closed

[2016-08-06 22:15] #411 closed

[2016-08-06 22:33] #400 closed

[2016-08-06 22:41] mmahalwy commented on #396
@ahmedre is this still broken?

[2016-08-06 22:42] mmahalwy commented on #339
@ahmedre bump!

[2016-08-06 22:42] mmahalwy opened #427 "Add banner for mobile apps"

[2016-08-06 22:43] mmahalwy opened #428 "Add gapless options for reciters"

[2016-08-06 22:43] #312 closed

[2016-08-06 22:47] ahmedre commented on #339
hmm this isn't a font we changed but i can repro this too - i'll look and see if there's anything we can do to the glyph

[2016-08-06 22:47] mmahalwy commented on #339
Yeah, confirmed its a font problem

[2016-08-06 22:49] mmahalwy opened #429 "Remove SVG fonts"

[2016-08-06 22:54] ahmedre opened #430 "gzip fonts"
fonts aren't coming back gzipped

[2016-08-06 22:58] mmahalwy commented on #430
Yesssssss!

[2016-08-06 22:58] mmahalwy commented on #428
When we have the quranicaudio api working ,etc. Will be good

[2016-08-07 02:43] ahmedre commented on #430
i checked this and seems that we are gzipping?

[code]

and from the cdn:

[code]

[2016-08-07 02:43] #430 closed

[2016-08-07 02:49] ahmedre commented on #430
ah - one of our servers had the gzip config off, that probably explains what you saw @mmahalwy - i think insha'Allah we'll be good now.

[2016-08-07 09:42] ahmadawais opened #435 "Login to keep the translation choice saved?"
Hey, guys!
Nice effort. Can you build a login to keep my translation choice `Urdu` saved whenever I visit.

[2016-08-07 21:31] sabeurthabti commented on #427
https://github.com/kudago/smart-app-banner looks neat, i've something similar before.

[2016-08-07 23:07] sabeurthabti commented on #435
@ahmadawais This is coming in the near future with some excellent features.

[2016-08-07 23:07] #435 closed

[2016-08-08 06:59] #429 closed

[2016-08-08 07:33] mmahalwy opened #437 "Precompile server files to dist/"

[2016-08-08 07:49] mmahalwy opened #438 "Add babel transforms for speed"
[code]

[2016-08-08 07:56] mmahalwy opened #439 "Bump react to 15.x"

[2016-08-08 10:07] ahmadawais commented on #435
Looking forward!

[2016-08-08 12:55] sabeurthabti opened #440 "redux-async-connect no longer maintained."
Seems like `redux-async-connect` is no longer maintained. There is a fork project which has better React 15 support:

https://github.com/makeomatic/redux-connect

[2016-08-08 23:05] mmahalwy commented on #440
@sabeurthabti i want to get rid of redux-async-connect and it's fork. This should be done in `onEnter` of router. Will get to this soon inshallah :)

[2016-08-08 23:06] mmahalwy commented on #440
Or next year
'under promise and over deliver'

[2016-08-08 23:06] mmahalwy commented on #427
@sabeurthabti woot! I didn'tk now! Thanks :)

[2016-08-09 00:26] sabeurthabti commented on #440
https://github.com/ryanflorence/async-props

[2016-08-09 08:07] sabeurthabti commented on #439
This is proving much harder than expected, there is some issues with react-bootstrap (https://github.com/react-bootstrap/react-bootstrap/issues/1994)

I would suggest we go to React `15.2.1` until a proper fix has been made within the bootstrap library.

[2016-08-10 07:39] sabeurthabti commented on #182
Closing this issue. Based on the assumption while our users can be from an EU nation, the servers are not.

[2016-08-10 07:39] #182 closed

[2016-08-10 07:42] sabeurthabti commented on #222
Closing based on the last comment.

[2016-08-10 07:42] #222 closed

[2016-08-11 07:14] ahmedre opened #443 "serve favicon from cdn"
https://quran-1f14.kxcdn.com/images/favicon.ico

need something like:
[code]

[2016-08-11 07:19] sabeurthabti opened #444 "Load third party JS using async"
I ran webpagetest[1] against the website and we have some things to improve around `time to first byte`.

<img width="964" alt="screen shot 2016-08-11 at 08 18 36" src="https://cloud.githubusercontent.com/assets/2606228/17581241/4997d75e-5f9c-11e6-871e-e93fa3d41b01.png">

`<script src="https://cdn.ravenjs.com/3.0.4/raven.min.js" async ></script>`

1.https://www.webpagetest.org/result/160811_AY_9BP

[2016-08-11 07:39] ahmedre commented on #444
for raven specifically, this looks like it may be tricky, since setting it to async means we don't get errors during loading.

see this for more details: https://github.com/getsentry/raven-js/issues/169

[2016-08-11 07:48] sabeurthabti commented on #444
Yeah kinda felt that would be an issue, especially google analytics and mixpanel.

Maybe we can bundle raven/mixpanel as part of our javascript, if anything to save on http calls.

[2016-08-11 08:49] sabeurthabti commented on #444
However we can serve them via CDN and add the appropriate cache headers.

[2016-08-12 17:16] mmahalwy commented on #444
I am not sure if webpack has the ability to download/bundle unless we download them. I think we could load raven in sync but don't need mixpanel to be.

[2016-08-12 17:18] mmahalwy commented on #439
I think there is a slight fix deployed. Still some things are throwing warnings.

[2016-08-12 17:20] mmahalwy commented on #440
@sabeurthabti yeah, i saw these packages, and they are good, but they wrap the component rather than on the route level. Difference: you cannot do things like redirect on server side with status codes since it has to walk down the routes to generate and find if they have async requirements.

[2016-08-12 22:45] mmahalwy opened #445 "pm2 with -i 0 argument and not 4"

[2016-08-13 05:42] abdallah-amoudi opened #447 "Display a verse using simple combination of HTML, CSS and TTF files (without image generation)"
Salam Alikum,

I want to write a verse in HTML and display it the webpage using simple combination of HTML, CSS and TTF files (without image generation) . Something similar to the following:

The HTML code:
`<h1>قُلْ أَعُوذُ بِرَبِّ النَّاسِ</h2>`

What is displayed in the page will be similar to the image attached
![q_html](https://cloud.githubusercontent.com/assets/14120439/17641655/a377bd2a-613

[2016-08-13 20:12] mmahalwy commented on #447
@abdallah-amoudi thanks for writing this. We don't have a way to embed ayahs just yet. `<h1>قُلْ أَعُوذُ بِرَبِّ النَّاسِ</h1>` will work but will not display like the image above because that requires CSS, fonts and the correct font code.

[2016-08-13 20:12] #447 closed

[2016-08-13 20:13] #445 closed

[2016-08-13 20:18] mmahalwy commented on #444
Okay seems that mixpanel and zendesk load their script via `async`. All that script we have is doing is adding their code.

[2016-08-13 20:32] sabeurthabti commented on #444
@mmahalwy They're being downloaded before DOM is ready?

We can download the files locally and bundle them as part of our script.

[2016-08-13 20:37] sabeurthabti commented on #447
would be cool, we can make embeddable ayahs, not sure how much value that would have.

[2016-08-15 05:27] #443 closed

[2016-08-15 05:27] #438 closed

[2016-08-15 05:27] #437 closed

[2016-08-15 05:27] mmahalwy commented on #437
Fixed at 448

[2016-08-15 05:27] mmahalwy commented on #438
Fixed at #448

[2016-08-15 05:28] mmahalwy commented on #396
@ahmedre fixed?

[2016-08-15 05:29] #216 closed

[2016-08-16 21:50] mmahalwy commented on #444
no no i mean it's a script from them that embeds their script async

[2016-08-16 21:51] mmahalwy commented on #430
cool!

[2016-08-19 07:47] atalebagha commented on #245
I would love to help out in this task.  Also would love to add a feature for tooltips in Arabic langauge that looks up the word in 5+/- known dictionaries:  Lisan Al-3arab, Qamus al Mu7ee6, Maqayees al-Lughah (mainly from baheth.info or other sites) but it would be a lot of work.

[2016-08-19 08:35] ATouhou commented on #245
Sounds amazing @atalebagha  :-) Is their db publicly available? Would be better to serve the data from the same application, instead of depending on external API...

[2016-08-20 17:00] ahmedelgabri opened #455 "Notes & ideas for improvments"
First, this is a very nice project & well executed. I was thinking already about doing something similar, so since its done I'd rather contribute to this one.

So I had a quick look & here are _some_ of my findings & general observations.
#### Ideas
- Update dependencies, there are lots of outdated packages
- I'd recommend to at least lock dependencies versions & stop using ranges. _This won't loc

[2016-08-20 19:29] ahmedre commented on #455
cc @mmahalwy

[2016-08-20 19:38] mmahalwy commented on #455
Salam @ahmedelgabri

Firstly, thanks for taking the time to look through the project, and I am super excited to see you contributing code! Most of the concerns or lack of the project being 100% is time - we all do this on the side, so time is limited, so more contributors = better off!

To address the questions:

Agreed. That needs to happen

  look into using `npm shrinkrap` which is a bit annoyi

[2016-08-20 19:42] mmahalwy commented on #245
That would be amazing @atalebagha

[2016-08-20 19:43] mmahalwy commented on #245
What I can do is create a PR for the internationalization and let someone take over from there? Or get it running for only english. Happy to do whatever works for whoever wants to take it over.

[2016-08-20 22:14] mmahalwy opened #456 "Make selecting verses or going to verse more obvious"
Feedback from ticket:
No way to skip ahead in surahs. For example if I want to see verse 155 to the end of Baqarah, I cant do that without tediously scrolling. Also 9/10 times by the time it just locks up somewhere in the middle and I can never get to the verse that I want to.

[2016-08-20 22:15] mmahalwy opened #457 "Make audio repeat option more obvious"
Feedback from ticket:
- Also there is no way to toggle continuous play back. I think it'l be useful if we can toggle the audio to be continuous or just play the selected verse. If the intent is to help people learn new surahs I think this would be an extremely valuable feature.

[2016-08-20 23:26] ATouhou opened #458 "Button not working"
![image](https://cloud.githubusercontent.com/assets/6802820/17834382/45bb812c-673e-11e6-8d04-85691329180b.png)

[2016-08-21 02:10] sabeurthabti commented on #458
@ATouhou Thank you for raising this. We will fix this asap.

[2016-08-21 02:20] #458 closed

[2016-08-21 10:18] ahmedelgabri commented on #455
Salam @mmahalwy :)

Can't agree more. Let's first lock the normal versions & then see how we can deal with the whole tree. I was looking into `uber shrinkwrap` for work and the problem that it doesn't work with `npm@3` & the project requires `node@6.x` which comes with `npm@3` by default.

There are other options like [`shrinkpack`](https://github.com/JamieMason/shrinkpack) or [`npm-lockdown`](htt

[2016-08-21 20:21] mmahalwy commented on #455
@ahmedelgabri no worries! Those are all really good thoughts mashallah. Here is what I suggest: let's tackle the low hanging fruits first then work our way to the more decision-making challenges. For example, let's get rid of jQuery and have the tooltips via CSS and convert the dropdowns to `react-bootstrap`. Then fix the eslint problems.

re system.import: https://github.com/thgreasi/babel-plugin

[2016-08-21 20:40] ahmedelgabri commented on #455
@mmahalwy Agree, will start looking into this this week inshallah.

For `System.import` I know also that webpack uses [`require.ensure()`](https://webpack.github.io/docs/code-splitting.html) to do code splitting.

[2016-08-21 20:41] mmahalwy commented on #455
That is one way, but the new way is `System.import` which resolves a promise. See https://gist.github.com/sokra/27b24881210b56bbaff7#code-splitting-with-es6

[2016-08-21 20:42] mmahalwy commented on #455
Let me know if you need any help or get stuck. @sabeurthabti or I can help out :)

[2016-08-21 20:43] ahmedelgabri commented on #455
Sure will do :)

[2016-08-22 04:38] AskYous commented on #201
I have an chrome extension that inverts colors on pages for night mode. In case someone wants ideas:

![image](https://cloud.githubusercontent.com/assets/791996/17843858/907a598c-67e7-11e6-9e1c-40a4abf8f895.png)

[2016-08-22 05:01] mmahalwy commented on #201
Oh nice! that looks good @AskYous

[2016-08-23 01:41] AskYous opened #461 "Suggestion: Hovering over the Arabic Aayah number shows the number in English"
It would be great to have the English number appear over the Arabic number on mouse hover, just like how hovering over an Arabic word shows the English meaning:

![image](https://cloud.githubusercontent.com/assets/791996/17877414/f817e4aa-6897-11e6-8db2-bf101081e67f.png)

[2016-08-23 04:56] atalebagha commented on #245
ASAK,
@ATouhou I don't think so, but I'm sure we can get our hands on the data since it's public rights.
@mmahalwy sounds good, jazaks

[2016-08-23 06:53] mmahalwy commented on #461
Agreed! Especially if it says 'Verse 267' since all my non Muslim friends always ask what that marker is

[2016-08-23 06:53] mmahalwy commented on #461
I'd be excited and really looking forward for some help on this one! Who wants it :)

[2016-08-23 15:54] haritsE commented on #57
Hey guys, is this issue still available? Can I try it? By languages, did you mean this one? ![alt text](http://imgur.com/VnLaVRr.png "organize languages")

[2016-08-23 21:32] mmahalwy commented on #57
@haritsE yes, still a bug! Please do take it on. I'd suggest opening a PR early so it's marked on this issue as in progress.

[2016-08-25 00:31] sabeurthabti commented on #57
Example of sorting alphabetically on objects within an array:

`export function alphabetically(property) {

  return (a, b) => {
    const textA = a[property].toUpperCase();
    const textB = b[property].toUpperCase();

    if (textA < textB) {
      return -1;
    }

    if (textA > textB) {
      return 1;
    }

    return 0;
  };
}`

usage:

`[{name: "English"}, {name: "Arabic"}].sort(alphabet

[2016-08-25 02:53] haritsE commented on #57
Awesome, I'll try to have a PR ready by this weekend 👍

[2016-08-26 18:52] mmahalwy opened #463 "lgtm integration"
@sabeurthabti @ahmedre @sharabash

Wanted to get your thoughts on this:
https://lgtm.co

[2016-08-26 19:10] sabeurthabti commented on #463
@mmahalwy +1 from me. Only issue it might become a blocker. Lets try it!

[2016-08-26 21:09] mmahalwy commented on #463
Okay, we can definitely give it a try :)

[2016-08-28 15:32] matmar10 opened #468 "Non-existant ayat should return 404 but returns 500"
Steps to reproduce:
- Construct a non-existant ayat URL, e.g. https://quran.com/23/150

Actual behavior:
- 500 status code
- Generic "Internal server error" page

Expected behavior:
- 404 status code
- Friendly "Ayat not found" error page

[2016-08-29 05:36] mmahalwy commented on #468
+1 on this

[2016-08-29 05:36] matmar10 commented on #468
I will take a stab at this.

[2016-08-29 05:37] ahmedre commented on #468
link to corresponding api task here - https://github.com/quran/quran.com-api/issues/74 - not sure if the api is doing the right thing or not, we should check that first.

[2016-08-29 23:02] mmahalwy commented on #468
@ahmedre might not

[2016-08-30 09:10] ahmedre opened #471 "better handling of sura/ayah urls"
- some people try urls like quran.com/3:42 - while these aren't the standard, we should handle them (redirect to /3/42).
- when people use ranges, sometimes they flip the range (i.e. /23/5-4 instead of /4-5 - let's fix these if we can ).
- non-existant ayahs #468

[2016-08-30 09:51] sabeurthabti opened #472 "Remove/Populate tooltip on search results"
Reproduce:
Visit: https://quran.com/search?q=%D8%AA%D9%8E%D8%A8%D9%8E
Hover over a word and the outcome will be as shown below:
## <img width="935" alt="screen shot 2016-08-30 at 10 44 19" src="https://cloud.githubusercontent.com/assets/2606228/18084573/a8f28eda-6e9f-11e6-835c-a1fea915f813.png">

We can either hide the tooltip or populate it with the correct translation.

[2016-09-03 00:31] #461 closed

[2016-09-08 02:35] srifqi commented on #472
Can we get translation from server like we usually read in normal situations?

[2016-09-08 15:05] sabeurthabti commented on #472
@srifqi yes, based on what I remember.

[2016-09-08 17:33] mmahalwy commented on #472
Yep. Just have to do it on the API side. I can get on that inshallah :)

[2016-09-08 23:58] hassansin commented on #472
How about this quickfix: https://github.com/quran/quran.com-frontend/pull/474 ?

[2016-09-10 00:52] atalebagha commented on #471
PR for this issue:  https://github.com/quran/quran.com-frontend/pull/475

[2016-09-13 17:14] mmahalwy commented on #471
Thank you!

[2016-09-13 17:14] #471 closed

[2016-09-14 00:15] atalebagha commented on #455
Here are some ideas I thought of that are non-technical:
- Select/view different Qira2at/narrations (Arabic)
- Hover over dictionary for the Arabic language
- Tafaseer (it would be like a translation, appear below the ayah)
- Notepad (this is big, as the database will grow)
- Tajweed Color code (like in the Dar Al-Ma'arifah print)

[2016-09-14 01:44] mmahalwy commented on #455
@atalebagha added to that, i started working on a user auth. Just need to dpeloy it

[2016-09-14 04:46] atalebagha commented on #440
How about [Redial](https://github.com/markdalgleish/redial)?  it looks promising?

[2016-09-14 04:47] atalebagha commented on #440
Sorry didn't notice @sabeurthabti's post

[2016-09-14 20:28] abdelrahman-elkady commented on #463
Check the new [**Reviews**](https://github.com/blog/2256-a-whole-new-github-universe-announcing-new-tools-forums-and-features) feature in GitHub now, it can be a great alternative

[2016-09-14 21:12] mmahalwy commented on #463
@abdelrahman-elkady yes! heard about it today!

[2016-09-14 21:16] mmahalwy commented on #440
@atalebagha i think we should use the `onEnter` hook for the router since, from my personal experience, I have been burnt with libraries like async-redux or redial that end up not getting maintained. React-router is all over the place too, so I can see a point for why not to go that route

[2016-09-14 21:42] ahmedre commented on #463
i prefer github's over a third party tool, so i'd say we use those as well.

[2016-09-23 04:28] mahboob-awan commented on #78
@mmahalwy  is it fixed? it is really great for better UX.

[2016-09-23 08:18] sabeurthabti commented on #78
@mahboob-awan This is much more challenging, we do have it for some Reciters, but the data isn't available for the others. Change Reciter to Mohamed al-Tablawi and you should see it working.

[2016-09-23 11:05] mahboob-awan commented on #78
Aha, so it data specific implementation.

@sabeurthabti,thanks but here i have a question:
 why not handling Ayah via "hash"? (e.g.https://quran.com/18#4)

and if we update hash for every Ayah, it can easily fix via native solution [:target](https://developer.mozilla.org/en-US/docs/Web/CSS/:target)

[2016-09-23 13:39] sabeurthabti commented on #78
@mahboob-awan good question, I think the idea behind `18:4` or `18/4` rather than hash is because people reference chapters and verses in such a matter. We can add support for hash but no remove previous implementation as people use this website to reference verses. I am happy to review PR.

[2016-09-29 13:18] kickthemooon opened #476 "Feature for memorization"
My feature suggestions would be:

That users can select Ayat that they would like to be repeated over and over again so it can help them with memorization or to practice the parts of Qur'an they already know.

JazzakAllah khair.

[2016-09-29 14:14] atalebagha commented on #476
Kind of like an A-B Repeat but for ayat?

[2016-09-29 14:19] kickthemooon commented on #476
sorry, didnt see the repeat options which has the range, so repeating a chosen ayat can be done, awesome

[2016-10-03 22:20] mmahalwy commented on #476
Maybe a button to click on an ayah that will trigger the range repeat but only for that ayah?

[2016-10-03 22:25] atalebagha commented on #476
What if you want multiple ayas?

[2016-10-03 23:41] mmahalwy commented on #476
Hmm, currently you can do that. but for the purpose of repeating that single ayah, we can always add something on the ayah level to click and play-repeat

[2016-10-04 10:12] sabeurthabti opened #478 "Repeat Single Ayah"
Add a repeat toggle near each individual ayah. To reduce noise we can have an icon appear whenever a user hovers over an ayah,

Reference: #476

[2016-10-06 00:43] redhae opened #479 "Corpus integration?"
just a feature suggestion; would be useful for someone learning arabic to have each word linked to the correponding corpus link (eg first word of quran.com/1:1 to http://corpus.quran.com/wordmorphology.jsp?location=(1:1:1)). Maybe linked via the translation tooltip?

[2016-10-07 01:00] mmahalwy commented on #479
Salam!

We do get this data in the api, just not using it unfortunately. We just need to figure out how to present it.

[2016-10-07 01:08] mmahalwy commented on #78
+1 on the hash for quick reference but not removing old implementation. I don't remember what happens with react-router when adding a hash, so long as we don't get a rerender :)

[2016-10-07 01:08] mmahalwy commented on #478
+1

[2016-10-11 19:43] mmahalwy opened #480 "Code splitting broken?"

[2016-10-11 19:47] mmahalwy opened #481 "Move surah info content into API"
They are making the JS file huge! We should move them to the API and call them on demand

[2016-10-28 09:55] mmrs151 opened #482 "Public facing API with tafseer"
Assalamualaikum,

First let me start by asking Allah swt to grant you Jannatul Ferdous for your work.

Secondly, may I ask your API to be publicly available for developers. You have the API and you made great use of it. But you can multiply your rewards to infinity when you will allow others to use it and make use of it as well.

Thirdly, can you add the tafseer option as well just as the quran pl

[2016-10-28 15:59] ysofi opened #483 "Surah 22 links to 2:21"
When opening a link to surah Al-Hajj (22) it displays Al-Baqarah starting from ayah 21

Can reproduce in Edge 39, FF 49, Chrome 54.

Explicitly going to the first ayah by typing quran.com/22/1 displays the correct surah.

![quran_22](https://cloud.githubusercontent.com/assets/17520348/19812945/22061fbe-9d6a-11e6-836e-4266f44db1e9.png)

[2016-10-28 18:32] mmahalwy commented on #482
Salam!

Thanks for reaching out! We do have an API and it's pretty much public, since we don't limit or have API keys, for now at least. You can find the repo here: https://github.com/quran/quran.com-api

We do need to add tafseer. We held off until we can provide English too

[2016-10-28 18:32] #482 closed

[2016-10-28 18:36] mmrs151 commented on #482
Jazakallah for your time for replying the query.

I have seen the API, but I was looking for something hosted so I can use my poor PHP knowledge to integrate with my wordpress plugin.

Unfortunately I don't know RUBY, I wish I knew so I could be a part of the project as well.

Is there any chance you can host the API somewhere?

Regards,
Mustafiz.

[2016-10-28 18:45] mmrs151 opened #484 "Hosted public facing API and tafseer #482"
Jazakallah for your time for replying the previous query.

I have seen the API, but I was looking for something hosted so I can use my poor PHP knowledge to integrate with my wordpress plugin.

Unfortunately I don't know RUBY, I wish I knew so I could be a part of the project as well.

Is there any chance you can host the API somewhere?

I have couple of things using your service already,
1. https

[2016-10-29 16:46] sabeurthabti commented on #484
@mmrs151

As @mmahalwy said the API is publicly available. However our API is not documented:

Here are the REST endpoints

### Get Surah Info:
`https://quran.com/api/v2/surahs/{SURAH_NUMBER}`
example:  `https://quran.com/api/v2/surahs/1`

### Get Ayahs
`https://quran.com/api/v2/surahs/1/ayahs`

### Get Ayahs pagination:
`https://quran.com/api/v2/surahs/1/ayahs?from=1&to=30`

Hope that helps!

Sal

[2016-10-29 17:01] sabeurthabti commented on #483
Salam @ysofi,

Thank you for filing this issue. I am not able to reproduce this issue on chrome 54 or FF 39. Please delete your cookies and browser cache. Let us know if you still experience the issue.

<img width="740" alt="screen shot 2016-10-29 at 18 00 51" src="https://cloud.githubusercontent.com/assets/2606228/19831431/a6c16a50-9e01-11e6-8a6a-6efc5e29a7da.png">

[2016-10-29 17:01] #483 closed

[2016-10-30 13:10] Gujarats opened #485 "Loading always shows when reaching the end of the surah"
Hi, I was confused when I've reach the end of the surah, it says keeps loading I thought there were another ayat but it turn out its the last ayat.

I found it  on quran.com/4/170 this surah An-nisa has 176 ayats, and this is the screenshots

![bugs quran com](https://cloud.githubusercontent.com/assets/10476678/19836760/cdd09504-9edc-11e6-9019-a8f2094744b2.png)

[2016-10-30 14:43] ysofi commented on #483
Wa'alaikum salaam @sabeurthabti

Yeah I saw it working the following morning. It was a bit strange as I did clear cookies and cache as well as testing on a few different devices and it definitely was showing from 2:21

I would rather it being an error on my end and in any case, it is displaying correctly now Alhamdulillah.

[2016-10-30 14:57] ysofi commented on #396
Yes @mmahalwy

Looks like it's still broken.

[2016-10-31 17:15] mmrs151 commented on #484
Thanks, I understand now.

[2016-10-31 17:15] #484 closed

[2016-11-09 18:10] naveed-ahmad commented on #481
I'm going to take this for my second PR

[2016-11-09 18:28] arshdkhn1 opened #487 "Links of footer are dead below 990px width"
For width greater than 990px:
![bg1](https://cloud.githubusercontent.com/assets/16819670/20149669/57a19b7c-a6d8-11e6-8f5f-4c624dfe0b44.png)

For width less than 990px:
![bg2](https://cloud.githubusercontent.com/assets/16819670/20149646/3825f9be-a6d8-11e6-8c47-d7059fc17e1e.png)

 I will try to fix this bug.

[2016-11-09 19:26] arshdkhn1 opened #488 "Quick links and footer layout breaks for small screens."
### **Footer**
![l1](https://cloud.githubusercontent.com/assets/16819670/20150765/833416ac-a6dd-11e6-8b39-ee2ffe02b7f9.png)
Footer looks very clumsy below 990 px width.

Possible option to repair layout:
  * By giving full width to each column for screens below monitor screen width. Footer will take more height than what it is having now, but it will surely mend the layout.

Footer layout for larg

[2016-11-09 19:29] arshdkhn1 commented on #488
I wonder why you guys used 'Source sans pro' for footer links whereas all the other links have 'Montserrat' font ?

[2016-11-09 19:43] arshdkhn1 opened #489 "Basic styling issues"
![s1](https://cloud.githubusercontent.com/assets/16819670/20151569/958a3cc0-a6e0-11e6-9495-0b0f33ba3140.png)

In the above picture, you can see there is no padding for first `li` element with text `surahs`. It doesnt look good.

Second thing to note down here is the width of container having ayats. Their width is greater than 100%. I guess removing negative margin and some styles, will remove this

[2016-11-09 21:00] mmahalwy commented on #489
@arshdkhn1 thanks for the feedback! I agree, the navbar needs some change. It's very confusing. Ideas?

[2016-11-09 21:01] mmahalwy commented on #481
please please please @naveed-ahmad we need this! <3 <3 <3

[2016-11-09 21:03] arshdkhn1 commented on #489
@mmahalwy I think sidebar will be the best option. By sidebar I meant something like this-
![afsd](https://cloud.githubusercontent.com/assets/16819670/20154583/0ec56012-a6ee-11e6-8207-6e3b9cf9919b.png)

[2016-11-09 21:03] mmahalwy commented on #482
@mmrs151 never too late to try to learn! I learnt many things while doing the quran.com project and we highly encourage it! I'd be happy to guide you if you wish to learn it seriously.

It is hosted on api.qruan.com

[2016-11-09 21:06] mmahalwy commented on #489
I agree! @arshdkhn1 want to take it on?

[2016-11-09 21:07] arshdkhn1 commented on #489
@mmahalwy surely.

[2016-11-09 21:07] mmahalwy commented on #489
thank you!

[2016-11-10 17:34] mmahalwy commented on #487
thank you @arshdkhn1 ! looking forward to your PRs

[2016-11-10 17:46] mmahalwy commented on #484
@sabeurthabti @mmrs151 I created this a while ago :)

https://quran.com/api/docs

[2016-11-10 18:50] arshdkhn1 commented on #487
Links are not dead but stacked below the third col because third div has not been given `sm` or `xs` class.

[2016-11-11 19:48] #487 closed

[2016-11-11 22:52] mmahalwy commented on #485
@Gujarats thanks for reporting this. Would you like to give this a try?

[2016-11-12 12:41] Gujarats commented on #485
@mmahalwy yeah sure, I will give a try. Let me see if I can do something

[2016-11-12 14:44] Gujarats commented on #485
@mmahalwy I'm not an expert on this field and I'm still learning javascript. So maybe next time :D

[2016-11-13 19:45] #488 closed

[2016-11-13 19:46] mmahalwy commented on #485
No worries. One of us will pick it up in the meantime. Looking forward to having you help out!

[2016-11-17 09:16] mmahalwy opened #496 "CSS Tooltip causing horizontal scroll on mobile"
![image](https://cloud.githubusercontent.com/assets/3749095/20383152/7cf8aa7e-ac63-11e6-864d-76969dfa9ed0.png)

[2016-11-17 11:43] arshdkhn1 opened #497 "Footer is missing on homepage."
On staging.quran.com 's homepage  somehow footer is missing.
![screenshot at 2016-11-17 17-12-06](https://cloud.githubusercontent.com/assets/16819670/20388062/23eca774-ace9-11e6-9ecb-710758e25e90.png)

[2016-11-17 11:45] arshdkhn1 commented on #496
@mmahalwy somehow I am not able to reproduce this issue but when I hover over ayah tooltip width's is so small that each word breaks into characters.
![screenshot at 2016-11-17 17-14-10](https://cloud.githubusercontent.com/assets/16819670/20388116/710d7de4-ace9-11e6-9dfb-82358f44844d.png)

[2016-11-17 11:48] arshdkhn1 commented on #496
@mmahalwy this issue can be tackled easily by adding `word-wrap: normal` css to `::after` pseudo element.
![screenshot at 2016-11-17 17-18-14](https://cloud.githubusercontent.com/assets/16819670/20388212/d8c60eec-ace9-11e6-90d7-45439db6c434.png)

[2016-11-17 12:14] arshdkhn1 opened #498 "Issues on surah page."
![screenshot at 2016-11-17 17-18-14](https://cloud.githubusercontent.com/assets/16819670/20388788/86620fc2-acec-11e6-884c-3523d62678de.png)

1- Text/button inside nav should be properly formatted across the width of the window
2- Similar to previous point, play panel should have full width too.
3- Toggle icon should be changed  or properly styled

[2016-11-17 12:47] arshdkhn1 opened #499 "Layout of surah page breaks at width below medium devices desktop width"
![screenshot at 2016-11-17 17-49-01](https://cloud.githubusercontent.com/assets/16819670/20389704/fd981ee8-acf0-11e6-8eab-19a1bcd46a2d.png)

Red box shows the current layout where `col-md` width is only given. This not only breaks layout at small screen but introduces new bugs like this one.
![screenshot at 2016-11-17 18-14-25](https://cloud.githubusercontent.com/assets/16819670/20389840/b3f6086c-

[2016-11-18 02:38] arshdkhn1 commented on #498
There is no link to go to homepage on surah page.

[2016-11-20 08:37] arshdkhn1 commented on #478
Clicking button while hovering can be difficult. What about repeat toggle button below play button?