[2016-11-23 00:02] AskYous opened #504 "Tajweed colors"
Assalaamu 'Alaikum,

It would be really beneficial to have Tajweed colors on the letters. Here's two sites that do so:

- http://www.quranflash.com/books/Tajweed/?en&skin=night#
- http://www.recitequran.com/1:1

[2016-11-23 01:31] ohaq13 opened #505 "As a user I would like to be able to change script to IndoPak so that I can read the way I was taught"
quranexplorer has a similar option where you can chose script uthmani or indopak, It would be great to have this option in the app.

It would be also nice if the app had an option in the setting to donate. The only way to donate seems to be from the website. Some times the eeman is high and you realize how much we have benefited from the app, but then don't know how to donate. I love the fact that

[2016-11-23 13:14] arshdkhn1 opened #506 "styling issues on surah page"
The color of social media icons is a bit different. Cursor type isnt pointer on hovering as well.

![screenshot at 2016-11-23 18-39-13](https://cloud.githubusercontent.com/assets/16819670/20562977/6cd800b0-b1ac-11e6-9736-4a7095ac1632.png)

Options in the head of surah page should be a bit more formatted and aligned for mobile layout.
![screenshot at 2016-11-23 18-37-44](https://cloud.githubusercon

[2016-11-23 17:55] allyraza commented on #506
Currently pngs are being used for social icons and fonts for others, perhaps a more unified approach toward icons across the site would suite better. Symbolset standard package does not contain social icons maybe we can switch it to FontAwsome.

[2016-11-23 20:21] allyraza commented on #506
after some digging as it turns out, fontawesome is being included I have attached a link to a patch with minor other changes.

[2016-11-25 06:23] naveed-ahmad commented on #505
+1 for changing Arabic font, Ill actually want to extend this feature request to include following fonts + plus default current font of course :)

## Pakistan Data Management Services(PDMS) Saleem Font:
![_pdms_saleem_quranfont](https://cloud.githubusercontent.com/assets/701567/20615946/0eee7c04-b300-11e6-884a-a1c395a5811c.gif)

## Al Qalam Font:
![al qalam quran majeed](https://cloud.githubuserco

[2016-11-25 17:24] idiipehealth opened #509 "Tapping on footer links doesn't work on iPhone 6"
Using web mobile version, 'about, contact, developers' links don't work.

[2016-11-25 17:30] arshdkhn1 commented on #509
@idiipehealth This bug has been removed - [footer links fix](https://github.com/quran/quran.com-frontend/pull/490). It will be deployed to production in next release.

[2016-11-25 17:32] idiipehealth commented on #509
JazakAllah thanks

[2016-11-26 21:04] naveed-ahmad opened #511 "Issues and suggestion to improve search result page"
## Issues

* Word translation is missing
* Search field should be prefiled with searched text
* Pagination is throwing 500 error( see second screenshot )

## Improvements

* Add play and Play, Copy and other actions for each ayat on search page as well

<img width="1169" alt="search" src="https://cloud.githubusercontent.com/assets/701567/20643840/f4e61f60-b444-11e6-9a46-5c4f4a751d72.png">

<img wi

[2016-11-26 21:12] naveed-ahmad opened #512 "Move Bayyinah lecture alongside other per Ayat actions"
## Suggestions

* Add video icons with tooltip "Watch lecture by Bayyinah"
* Click on icons will open the video popup
* This will make UI more consistence, all action in one place plus will save lot of spaces

<img width="1309" alt="ayat ui" src="https://cloud.githubusercontent.com/assets/701567/20643886/6ae76e7a-b446-11e6-8fee-7e7a6c9521ea.png">

[2016-11-27 11:04] sabeurthabti opened #513 "Add option to close nav draw"
It is not as clear how to close the nav.

<img width="526" alt="screen shot 2016-11-27 at 11 03 48" src="https://cloud.githubusercontent.com/assets/2606228/20647931/40f8c000-b491-11e6-862e-106f91e1e708.png">

[2016-11-27 11:16] #499 closed

[2016-11-28 15:32] mmahalwy commented on #513
We can do
- shadow on the rest of the page
- have an icon or something besides 'Options'

[2016-11-28 15:33] mmahalwy commented on #512
Agree this is probably what we want to do in the future. Right now we want it to be in the user's face because Bayyinah worked really hard in making this videos and we want to maximize the usage.

[2016-11-28 17:53] arshdkhn1 commented on #513
I guess @sabeurthabti is iphone user.

[2016-11-29 23:16] #496 closed

[2016-11-29 23:16] mmahalwy commented on #497
Fixed

[2016-11-29 23:16] #497 closed

[2016-11-29 23:18] mmahalwy commented on #505
Salam folks,

For a while, when we first introduced this new version of quran.com, we had many options to display quranic text (images, tashkeel, etc). We decided to move forward with just the fonts since it gives us the ability to do things like hovers/tooltips/etc. since UTC text will not. At least, we haven't put in the effort because the fonts seemed to work well.

Let's keep this issue open f

[2016-11-29 23:24] mmahalwy commented on #513
@sabeurthabti thoughts on what to do?

[2016-11-29 23:30] sabeurthabti commented on #513
@mmahalwy slap a 'X' in the top right of the draw, and add an dark shade on the main body. My issue was I didn't know how to close the draw

[2016-11-30 19:03] arshdkhn1 commented on #513
http://codepen.io/arshdkhn1/full/ZBajrE/

[2016-12-01 09:36] sabeurthabti commented on #513
@arshdkhn1 thats beautiful

[2016-12-05 03:40] #480 closed

[2016-12-05 08:21] #509 closed

[2016-12-05 08:22] mmahalwy opened #517 "React-router v4"
It's coming! And it's awesome

[2016-12-05 08:32] mmahalwy opened #518 "User react-share for social"
https://github.com/nygardk/react-share

[2016-12-05 13:15] naveed-ahmad commented on #468
@ahmedre  @mmahalwy API is fine, following api call will return empty array as it should. Frontend should handle this case.

https://quran.com/api/v2/surahs/1/ayahs?from=10&to=12

[2016-12-07 13:49] aslamhadi commented on #518
hi @mmahalwy

I'm currently working on this, should I display the share count? Because the `TwitterShareCount` is removed from the API. more https://github.com/nygardk/react-share/blob/master/src/share-counts.jsx#L85-L89

Btw this project is awesome, Barakallahu fiik :)

[2016-12-07 16:07] aslamhadi commented on #518
oh and apparently facebook sharer is not working when I try it :( https://github.com/nygardk/react-share/issues/43

[2016-12-07 17:17] mmahalwy commented on #518
Hrmm, no worries! Don't neeed counts but shares would be great.

Thanks for your help!

[2016-12-07 17:51] UmarOutstanding commented on #201
![colorschemesuggestionnight](https://cloud.githubusercontent.com/assets/4945049/20979638/9838bf34-bca5-11e6-8b50-65bcfbac255e.PNG)
 I can suggest this color scheme

[2016-12-07 18:09] arshdkhn1 commented on #201
@sabeurthabti Are u working on this ?

[2016-12-07 21:01] arshdkhn1 commented on #201
@sabeurthabti @mmahalwy I have created this color design for night mode - what are your thoughts ?
## Mobile
![mob](https://cloud.githubusercontent.com/assets/16819670/20986345/491b892e-bcee-11e6-81f2-8f7d377013c3.png)
## Tablet
![ipad](https://cloud.githubusercontent.com/assets/16819670/20986356/5adb8038-bcee-11e6-95c8-47c032d16b74.png)
## PC
![comp](https://cloud.githubusercontent.com/assets/168

[2016-12-07 21:07] AskYous commented on #201
@arshdkhn1 Looks good.  I'd like the background even darker, and I the inner box with that lighter shade of gray to go away.

[2016-12-07 21:48] mmahalwy commented on #201
+1 on @AskYous suggestion

[2016-12-08 01:59] arshdkhn1 commented on #201
@AskYous okay.

[2016-12-08 03:02] kriwil commented on #57
I guess this issue is fixed?

[2016-12-08 03:31] arshdkhn1 commented on #201
##mob

![mob](https://cloud.githubusercontent.com/assets/16819670/20996631/df6439b8-bd24-11e6-9929-7e8a4a45d131.png)

##tab
![tab](https://cloud.githubusercontent.com/assets/16819670/20996633/e35fee9a-bd24-11e6-99a4-d207663f98e6.png)

##pc
![pc](https://cloud.githubusercontent.com/assets/16819670/20996638/e92cdd6a-bd24-11e6-8fe0-444834918ac9.png)

[2016-12-08 03:36] arshdkhn1 commented on #201
I prefer the previous one with some changes for pc layout

[2016-12-08 10:25] #427 closed

[2016-12-08 10:28] sabeurthabti commented on #201
@arshdkhn1 I am not working on this. Last design looks +1.

[2016-12-08 11:30] sabeurthabti opened #522 "UI for current Ayah"
Hi,

I think we should only highlight the current ayah when the audio player is triggered. Also the yellow is big strong, it is not naturally fitting.

<img width="1206" alt="screen shot 2016-12-08 at 11 28 08" src="https://cloud.githubusercontent.com/assets/2606228/21008438/9e2d10c2-bd39-11e6-9ca7-43a84b2ac1fb.png">

Maybe something like:

<img width="1232" alt="screen shot 2016-12-08 at 11 33 10

[2016-12-08 11:50] sabeurthabti commented on #57
@kriwil yep

[2016-12-08 11:50] #57 closed

[2016-12-09 13:32] #485 closed

[2016-12-09 13:33] mmahalwy commented on #201
+1

[2016-12-09 13:33] mmahalwy commented on #522
+1

Love the green :)

[2016-12-09 14:41] arshdkhn1 commented on #522
same

[2016-12-09 23:31] naveed-ahmad commented on #245
I'm going to work on i18n Quran.com inshAllah

[2016-12-13 00:44] naveed-ahmad opened #525 "Changing Surah while playing is throwing error/plus continue playing current surah"
* Click on play
* When player start playing ayah, click on next surah

## Expected
* Player should stop
* Next surah should load and display

## Current behaviour
* Player continue to play the current surah
* When finished playing loaded ayah through js error:
[code]

[2016-12-13 01:26] naveed-ahmad commented on #478
Looks like there is already repeat single aya setting on staging. So maybe close this :)

[2016-12-13 14:07] naveed-ahmad opened #526 "Show message when javascript is disabled"

[2016-12-13 23:12] #518 closed

[2016-12-13 23:31] #506 closed

[2016-12-14 02:25] #478 closed

[2016-12-14 02:28] mmahalwy commented on #522
Looks like it's on staging. Closing.

[2016-12-14 02:28] #522 closed

[2016-12-14 14:02] #526 closed

[2016-12-16 00:10] mmahalwy opened #528 "English Tafsir by Sayyid Abul Ala Maududi"
Has anyone used this tafsir or have knowledge of it?

http://www.tafheem.net/tafheem.html

[2016-12-16 00:18] mmahalwy opened #529 "PDF export"
We get this request ALL the time. So here it goes: how do we make a PDF export of what the user is reading. For example, a user can choose to export the whole surah, or a range of ayahs, given the translations options they currently have set or we give them the option to set. It should look exactly like it looks now without the non-text components (nav, footer, audio player).

Thoughts? I am confi

[2016-12-16 00:19] mmahalwy commented on #529
CC @naveed-ahmad

[2016-12-16 00:25] mmahalwy opened #530 "Copy Quran text and/or translation text"

[2016-12-16 00:28] ATouhou commented on #528
Following

[2016-12-16 02:21] naveed-ahmad commented on #529
Internet is full with pdf Quran already. One plus point in exporting from Quran.com is option to include multiple translation.

Once we've word-to-word translation in other languages, then exporting pdf with word-to-word ( in multiple languages) would be a great feature.

There are few great gems for exporting pdf in ruby, I believe using reactjs for exporting would be more difficult.

### How abo

[2016-12-16 02:28] naveed-ahmad commented on #529
A good example for pdf format: It has word-to-word and ayah translation in Urdu

![word to word](https://cloud.githubusercontent.com/assets/701567/21249608/048a8d18-c361-11e6-8997-77fdd50b4d0d.jpg)

[2016-12-16 08:07] naveed-ahmad commented on #530
What's problem in copying translation text ? Select the text and ctrl + c

+1 for pdf export though

[2016-12-16 08:56] mmahalwy commented on #529
While I agree with 99% of what you pointed out, the one thing I disagree with is that the API creates the PDF. If we have the PDF on the fronted, which technically is a backend service (by expressjs). We will be able to use the same styles, and have react render the PDF rather than having to duplicate the code on the API service.

It's possible and I think it's easy to implement.

[2016-12-16 08:56] mmahalwy commented on #529
Might need the API to allow to get all ayahs of a Sarah

[2016-12-16 08:57] mmahalwy commented on #528
@ATouhou sorry?

[2016-12-16 08:57] mmahalwy commented on #530
Not sure. But it's a feedback where people want to copy and paste the arabic + translation.

[2016-12-16 17:51] naveed-ahmad commented on #529
Rendering pdf with multiple Surah, translations and maybe word by word translation could be very time consuming. That's why i proposed using API( and background job ) to do this job.

[2016-12-16 23:11] ATouhou commented on #528
I've heard the name pop-up a couple of times.
Meant to say I am following this "issue/thread" :-)

[2016-12-16 23:33] hellowin opened #531 "Readme is missleading"
This part

[code]

Is no longer relevant. Some updates are:

1. `development.env` is now `.env`
2. `from localhost to api.quran.com` is already `API_URL=http://staging.quran.com:3000`
3. `http://localhost:8001` become `http://localhost:8000` now

Before I create PR, is my points are true?

[2016-12-16 23:34] mmahalwy commented on #531
You are certainly correct except the 8001. Not on my computer but pretty sure it's that and not 8000 which will not have hot reloading

[2016-12-16 23:45] hellowin commented on #531
Hmmm wait, I got these:

![screen shot 2016-12-17 at 6 35 58 am](https://cloud.githubusercontent.com/assets/1904744/21281953/43f6eb96-c423-11e6-8cc6-b8651e5143e2.png)

![screen shot 2016-12-17 at 6 36 07 am](https://cloud.githubusercontent.com/assets/1904744/21281960/49c04b62-c423-11e6-9801-0b2ab46dc606.png)

I haven't change anything yet. And look at these config:

1. https://github.com/quran/qur

[2016-12-17 11:59] mmahalwy commented on #528
Ah nice :)

[2016-12-17 11:59] mmahalwy commented on #531
+1
thanks!

[2016-12-17 11:59] mmahalwy commented on #529
It'd only be for that Surah only. We'd like people to come back to quran.com :)

[2016-12-17 12:07] mmahalwy commented on #440
I want to bump this up and revisit this. I think we could have a snappier experience than the one we currently have.

The problem:
- Most users come to the homepage then navigate to the Surah they want.
- We have SSR because of SEO. And are most valuable when Google scraps our Surah pages
- That being said, when a user navigates from Home to Surah container, the page does nothing until all the dat

[2016-12-18 06:02] mmahalwy opened #532 "Javascript broken on staging"

[2016-12-18 06:04] mmahalwy commented on #532
Might be the culprit:
https://github.com/quran/quran.com-frontend/commit/75401e0f5a9f965e01592bb7fda6382231df42bd#diff-f10b3fc5acaea787dd0cefdca1919612R16

[2016-12-18 23:39] mmahalwy opened #533 "Planning 2017"
Salams all,

Wanted to start a post on what we should try to accomplish this year. I am really excited on what we will accomplish together - we have already got so far with so many great people offering their time and talent to the project. To help steer these efforts, thought I'd make a list here that we can discuss and create issues/tasks accordingly. Here are a few things we'd like to do (they

[2016-12-19 08:05] sabeurthabti commented on #533
**1.How do we get more contributors to the projects**
I remember I somehow landed on your twitter, and then your Medium posts which lead me to Github.
We can do more "community outreach" via twitter and Medium. We can discuss things around releases/features, @ahmedre can tell us about his Docker/Jenkins pipeline, Analytics, tech tips and more. Can we get Slack on the readme it can be a way to ease

[2016-12-19 08:33] naveed-ahmad commented on #532
Already fixed in https://github.com/quran/quran.com-frontend/pull/523/commits/8d776389d367439263fbf11b25adeabf3093dfee

[2016-12-19 08:33] #532 closed

[2016-12-19 11:31] mmahalwy commented on #532
@naveed-ahmad its a huge PR that is now blocking staging. When do we expect to deploy it?

[2016-12-19 11:33] mmahalwy commented on #533
@sabeurthabti thanks for the awesome feedback! Regarding number 1, yes I agree. People do randomly stumble upon and ping me on Twitter. How can we get more people to find us and know that 1. we exist, 2. we welcome and would love their help. Thoughts?

[2016-12-19 11:56] mmahalwy opened #534 "Communicating releases and features to users"
Thoughts about a good scalable way to communicate features and changes?

My best idea so far is have a button in the nav. Click to open a modal that would iframe an article in Zendesk / and/or link to Zendesk article.

[2016-12-19 12:46] naveed-ahmad commented on #532
Next few hours, working on specs.

[2016-12-20 13:56] murad073 opened #536 "Bug! while listening recitation, the audio stops suddenly."
Please see the screenshot for more details -
http://prntscr.com/dlqlo4

[2016-12-20 14:00] murad073 opened #538 "Bug! Footer links does not work on tab/mobile view"
Please see the screenshot for more details -
http://prnt.sc/dlqq6y

[2016-12-20 18:46] naveed-ahmad commented on #538
checkout staging.quran.com there is totally new footer :)

[2016-12-20 18:46] #538 closed

[2016-12-20 19:38] murad073 opened #539 "View enhancement: Mobile view is not friendly enough"
While trying to get the surah info link, I was unable to see the link in mobile view. Top menu links does not work as well. Bottom help button also overlapped on player controls.
Please have a look at the screenshot to understand better -
http://prntscr.com/dlvhp3

[2016-12-21 09:55] sabeurthabti commented on #530
On hover copy? maybe use https://clipboardjs.com to handle the copy to clipboard?

[2016-12-21 10:03] sabeurthabti commented on #534
Hmm, maybe one of those growth hack modal boxes? We can trigger them on each release and maybe we can start doing chimp mail (might be too much and not the type of website).

Also can we make use of github release tagging? (https://github.com/quran/audio.quran.com/releases)

[2016-12-21 11:25] mmahalwy commented on #539
Yeah we have to find a way for mobile and the help button. I am thinking inside the drawer. Thoughts?

[2016-12-21 18:02] Alishankhan opened #540 "Unable to play only one ayah"
It seem their is bug while playing only one ayah as it keep continuing to play succeeding ayah when toggle repeat is enable  for one ayah in the surah

[2016-12-22 04:52] mmahalwy commented on #530
@sabeurthabti interesting! Probably should have use that over this `copy-to-clipboard` which we are currently using.

Do we think it's valuable to add a copy text for the translations? I once added it but thought it's counter intuitive since you can just copy that text.

[2016-12-22 04:55] mmahalwy commented on #536
`412` status code is weird... anyone else seeing this problem?

[2016-12-22 04:55] mmahalwy commented on #540
on staging or production?

[2016-12-22 04:56] ahmedre commented on #536
this is the same issue we're seeing on audio.quran.com according to @sabeurthabti

[2016-12-22 04:57] mmahalwy commented on #534
Yes. Anyone know of some package to help communicate releases from GH?

For example, it saves a cookie to a user and opens a modal based on the github release. Doesn't show the modal again until another release then it opens a modal with details + saves a new cookie.

Might be a good open-source project :)

[2016-12-22 05:00] mmahalwy commented on #536
hmm weird :S

[2016-12-22 05:13] mmahalwy opened #541 "Navbar drawing upwards needs improvement"
It's such a struggle. randomly hides and other times shows.

[2016-12-22 07:29] #512 closed

[2016-12-22 07:29] #463 closed

[2016-12-22 07:32] mmahalwy commented on #307
@sabeurthabti wow! https://github.com/quran/quran.com-frontend/issues/307#issuecomment-226366263

Mashallah, look at you now :)

[2016-12-22 07:33] #201 closed

[2016-12-22 07:34] #339 closed

[2016-12-22 07:34] mmahalwy commented on #301
@m-adilshaikh sorry i didnt see your last comment. Would love some help on this :)

[2016-12-22 07:34] mmahalwy commented on #268
this is done!

[2016-12-22 07:34] #268 closed

[2016-12-22 07:35] mmahalwy commented on #439
oh dear. We should do this ASAP.

[2016-12-22 08:14] wahono77 commented on #533
I think we need Arabic keyboard for user that using latin keyboard. It's needed to search Arabic content of Quran. We can use library http://www.greywyvern.com/code/javascript/keyboard

Thanks

[2016-12-22 10:11] sabeurthabti commented on #533
@mmahalwy lets have an action to start a quran.com Medium Blog/Journal, we can use that announce releases.

[2016-12-22 12:55] naveed-ahmad commented on #533
Or create release category in our [discourse instance](http://discuss.quran.com) and announce releases there. [Discourse meta](https://meta.discourse.org/c/releases) is great example for that.

[2016-12-22 15:41] reshadn commented on #533
as-Salamu 'Alaykum,
Not having made much of a contribution I appreciate the chance to add some thoughts here.

- How do we get more contributors to the projects.
  - I see this as a 2 part challenge, how do we widen the funnel but also how do we engage interested individuals. I think it might help to create teams to focus on various aspects of the site (eg. design, backend, search, translation, ta

[2016-12-22 17:54] Alishankhan commented on #540
Production.
Problem  Step
1) play any ayah (in my case first)
2) enable toggle to repeat
3) select single
4) now play ayah (in my case first)
works fine
5) Now play second ayah it start playing second, third, till end of surah

[2016-12-23 01:12] mmahalwy commented on #540
Yeah, we are getting a weird 412 on audio files... investigating.

[2016-12-23 01:12] mmahalwy commented on #540
CC @ahmedre

[2016-12-23 01:12] #540 closed

[2016-12-23 01:21] sabeurthabti commented on #307
haha time flies - inshallah we will get more people.

[2016-12-24 03:53] naveed-ahmad opened #544 "local specific meta tags"
https://github.com/quran/quran.com-frontend/pull/523 will add localization now its time to update meta tags.

* dynamically set `og:locale` value according to current local
* Add tags alternate tags for available locals
[code]
* make sure canonical meta is without local param

[2016-12-24 17:38] ATouhou commented on #533
@reshadn wa aleykoum salam.
Hossein Nasr is a sufi inspiried shii3i, so don't expect his content coming up on the site :-)

Besides that I really like your inputs.

Some search ressources:
Alfanous (https://github.com/assem-ch/alfanous) have a really powerfull search engine (http://www.alfanous.org/) .
For the voice searching, I saw some apps that converts audio -> arabic text (Google API) -> sear

[2016-12-24 20:40] reshadn commented on #533
WSalam. I don't know about his personal beliefs or views but the book is an
academic resource highly regarded by a number of mainstream scholars. It's
actually references from the traditional tafseer sources. I wouldn't
discount it so quickly but am open to discuss it further iA.
On Sat, Dec 24, 2016 at 8:38 PM Adam Touhou <notifications@github.com>
wrote:

[2016-12-25 13:47] #481 closed

[2016-12-25 13:47] #245 closed

[2016-12-26 02:28] MegaApp opened #545 "Adding Tajik language translation"
Assalamu aleykum. My name Izzat I am from Tajikistan and I want to add tajik language in this app. how can I help for you ?

[2016-12-26 09:03] naveed-ahmad commented on #545
@MegaApp can you attach translation file here?

[2016-12-26 11:42] MegaApp commented on #545
I found here  http://islam-book.info/tadzhikskom/koran/koran-na-tadzhikskom-yazike

[koran_na_tadzhikskom_yazyke.zip](https://github.com/quran/quran.com-frontend/files/672917/koran_na_tadzhikskom_yazyke.zip)

[2016-12-27 01:48] ATouhou commented on #245
We could ask them @atalebagha   for the database.
They have:  Lessan Al-Arab, Maqayyes Allogha, Al-Sahhah, Al-Qamoos Al-Moheet and Al-Ebab Azakher.
info@baheth.info
https://www.facebook.com/baheth.info/?fref=ts

When having an indexed DB, rest should be easy :-)

[2016-12-27 18:01] Alishankhan opened #546 "Typo error"
typo in is surah fatiha
should be "Al" not "ul"
https://quran.com/1:2
same for 1:3 and rest of surah too ...
![capture](https://cloud.githubusercontent.com/assets/1307689/21505353/8c96ef92-cc8c-11e6-931e-9f78acf98c08.PNG)

[2016-12-27 18:55] ahmedre commented on #546
this isn't a damma - it does say "al," not "ul," so it is correct.

let me explain:

historically, there are 2 very popular scripts (you can think of these as "fonts") that the Quran is written in - the Madani script, and the Naskh script. the Madani script comes out of Madinah, and is mostly prevalent in the Arab speaking world. the Naskh script is mostly used in southeast Asia (India, Pakistan,

[2016-12-27 18:55] #546 closed

[2016-12-27 23:00] umairidris opened #547 "Resuming Previous Ayah"
Salam,

Thank you for the wonderful site. I am trying to set this up for my mother to use. I am unable to find a setting that resumes where the previous session was left off. I see that there is a hyperlink beside each verse which changes to URL to point to this specific verse, but it is not saved.

Am I missing a setting that I need to enable? Ideally my mother should be able to go to quran.com a

[2016-12-28 13:54] murad073 commented on #536
I think I could reproduce the problem. I faced it again while listening quran with repeater. Please see the screenshot - http://prntscr.com/dovn6g

[2016-12-28 22:36] sabeurthabti commented on #536
Very weird, this only happens on Chrome.

[2016-12-29 16:20] Alishankhan commented on #546
ok XD

[2016-12-30 07:38] ahmedre opened #548 "quran.com fonts are buggy on Chrome on Android"
![2016-12-30 07 36 47](https://cloud.githubusercontent.com/assets/47771/21561293/bfca0194-ce1f-11e6-9f4c-8c6b3b54b939.png)

works fine on iOS, but on Android, this is what i see (this is Chrome stable). reloading doesn't really help, just when you scroll, you see these types of artifacts.

[2016-12-30 12:37] mmahalwy opened #549 "Remove react-bootstrap"
Just analyzed our files:

[code]

[2016-12-30 13:05] mmahalwy commented on #548
hmm i think i sometimes see that on web but i thought it was just me...

[2016-12-30 13:06] mmahalwy commented on #536
I think this should be fixed @ahmedre ?

[2016-12-30 13:09] mmahalwy commented on #547
Salam @umairidris thanks for pinging us about this!

We used to have a previously visited ayah link on the home page that we removed when we did a rewrite. It used to save reference to the first ayah of the last API call made, so if I go to Surah 2, and i kept scrolling till the API for ayahs 100-120 are called, it'd save 2:100 to the cookies. Maybe that could help? Looking forward to your PR!

[2016-12-30 13:10] mmahalwy commented on #545
@naveed-ahmad you'll add it to db?

[2016-12-30 13:10] mmahalwy commented on #545
@MegaApp can you create this issue here? github.com/quran/quran.com-api

[2016-12-30 13:10] #545 closed

[2016-12-30 13:16] naveed-ahmad commented on #545
@mmahalwy found same translation on [tanzil.net](http://tanzil.net/#trans/tg.ayati/1:1) will add this and other missing translation after completing v3, two more weeks.

[2016-12-30 13:53] mmahalwy commented on #545
okay perfecto. Thanks!

[2016-12-30 19:01] Ilyes-Hammadi commented on #525
Getting the same problem in the web player !!

[2016-12-30 21:07] ATouhou commented on #548
SAME ISSUE ON MY PHONE (Z5, NEWEST CHROME) COMPLETELY BROKEN FONT ON SOME AYAH, WORDS JUMPED DOWN,   I WAS UNABLE TO USE THE WEBPAGE NOW AND MUST USE ANOTHER ONE (RECITEQURAN.COM)  VERY SAD....

[2016-12-30 21:19] ATouhou commented on #479
What about when adding the users portal, there could be an option to enable an "advanced interface "for people who want multiple tafaseer in arabic and english + grammar information shown ?

[2016-12-30 21:21] ATouhou commented on #504
Agreed :-) recitequran.com is relatively easy to copy due to .gif and jsonp indexable ayat

[2016-12-30 21:23] ahmedre commented on #536
yeah i fixed this al7amdulillah. the problem was that the ETags returned for the same file from different servers were different (due to differing "last modified times" on the files). synced the last modified times and it seems to be fixed now (though if you encounter it again with a file, try it again, since Chrome will try to re-play from cache, which might have the wrong ETag value).

[2016-12-30 21:23] #536 closed

[2016-12-30 21:25] ahmedre commented on #504
please don't copy recitequran - we've talked to them before and, if i recall, they explicitly don't want to share their data, and i don't feel it's right for us to take it. we're working on an alternative solution.

[2016-12-30 22:16] umairidris commented on #547
Thank you, I will try to work on this when I get a chance inshAllah.

I am going to move the surah settings issue to a new issue as it is not directly related storing previous state.

[2016-12-30 22:28] umairidris opened #550 "Surah page needs to be refreshed for custom options to apply"
I am hitting a bug where my options (such as reciters, translations, reading mode, etc) get reset (when going to a surah from the quran.com homepage) and need to be refreshed. Sometimes a change in setting needs a refresh too in order to be applied.

Steps to reproduce:
- Go to quran.com
- Click on surah 1 (Al-Fatihah)
- Change the reciter, translations and/or reading mode from the default setting

[2017-01-02 00:13] mmahalwy commented on #479
Great idea! Let's add this as an option for the cookie first? Then with user auth we can go deeper?

[2017-01-02 00:15] mmahalwy commented on #504
CC: @cpfair on this.

[2017-01-02 01:28] SanPilot commented on #550
I've dug around a little - I don't know the cause but can help.

The settings are stored in a cookie named 'options'. When I change the Reciter, for example, the cookie, which is URL encoded JSON, changes to my new setting (in this case, the "audio" property changes).

Strangely, when I go from quran.com/1 to the homepage and back to quran.com/1, the cookie remains but the setting is not applied.

[2017-01-03 04:31] ahmedre opened #551 "Side menu doesn't work on staging"
none of these items are clickable on Chrome on OS X.

<img width="250" alt="screen shot 2017-01-02 at 8 30 39 pm" src="https://cloud.githubusercontent.com/assets/47771/21599988/6019594e-d12a-11e6-8796-8aa8c9b7c4b4.png">

[2017-01-03 05:42] ahmedre opened #552 "Flags to customize url"
low priority feature request - i have an option to share Quran links - right now, i share these to quranapp.com, which is great, but it may make more sense in the future to share them to quran.com instead. so if i want a flag so i can do something like quran.com/2/25-27&only=true (or something) so that i get a page showing just ayahs 25-27 (and then maybe a button to remove the `only=true` flag an

[2017-01-03 05:50] mmahalwy commented on #551
Yeah something is up on staging

Going to fix it

[2017-01-03 05:51] mmahalwy commented on #547
Perfect, that you!

[2017-01-03 15:13] ATouhou commented on #182
Just wrote 2 major assignments in "EU LAW" about this topic.
To summarize:
The Cookie Law is a directive passed by the European Council.
A Directive means all EU nations must adopt this in their local law, while they can change it to fit their countries needs.
There are 36 different control instances across EU and only 3 fines were ever given (2 in Spain & 1 in Netherlands).
Cookies for functional

[2017-01-03 15:14] ATouhou commented on #479
Agreed. I think releasing tafaseer is a higher priority than the corpus display. However maybe they should be activated from the same place & API route? =)

[2017-01-03 15:21] ATouhou commented on #309
@mmahalwy  Which Tafaseer do you have indexed at the moment? I provided the Tafsir Ibn Kathir (English),  do you need anything else? Arabic tafaseer indexed, Or maybe parts of English tafsir as saidi (I think only 1-2 juz are available in english) ?

[2017-01-05 21:13] mmahalwy commented on #309
@ATouhou the problem right now is we have tafsir indexed per ayah and ibn kathir is not per ayah. I don't remember which we have indexed but i can check?

[2017-01-05 21:23] mmahalwy commented on #552
really good features! I agree. I think translation and reciter params should be added.

[2017-01-05 21:24] mmahalwy commented on #550
@umairidris @SanPilot thanks for looking into this issue. Might be great to centralize the options into one place and add this feature request: https://github.com/quran/quran.com-frontend/issues/552

[2017-01-05 21:26] mmahalwy commented on #548
Yeah this is a strange problem. Anyone know how to replicate it?

[2017-01-05 23:10] arshdkhn1 commented on #548
I can replicate it on my chrome. I am trying to debug it but I am gettin `Internal Server Error` with no logs.

[2017-01-07 18:29] ATouhou commented on #504
A longer version to accomplish the tajweed color coding, could be acquiring HQ tajweed book scan and using the tool, you extracted the font with. Then instead of compiling a font, could be SVG data or pictures

[2017-01-07 18:36] ATouhou commented on #309
The tafsir ibnu kathir is indexed per page 1-604.
If you don't already got it (don't think I was given access to the quran.com database) then we could add a table "AyatToPage" where we have a column with page and a column with aya.  then  when looking up tafseer from ibn kathir , we lookup in that table "AyatToPage" for aya say 1:5 , where it will say,  ayah 1:5 is on page 1, and from that we look

[2017-01-07 18:37] ATouhou commented on #309
And the HTML includes data on what section to start on at what ayah

[2017-01-08 07:59] #551 closed

[2017-01-08 08:44] umairidris opened #555 "class styles.title adds random vertical lines around numbers"
Example:
![vertical line](https://cloud.githubusercontent.com/assets/5559279/21748481/05298a9e-d53b-11e6-9e90-fce7788c3305.png)

Code used to generate this:
[code]

The culprit:
[code]
in containers/Home/styles.css

Is there a reason for this? Removing it seems to be fine. If there is no reason to have it I can send a PR to remove it.

[2017-01-08 16:32] yasserhussain1110 commented on #533
How about a gitter or slack channel where we can discuss stuff and maybe invite other potential contributors??

[2017-01-08 23:19] umairidris opened #557 "Scrollbars move and expand/contract randomly when moving mouse on staging"
To reproduce:
- go to staging.quran.com/2
- move mouse around randomly
- observe scrollbars moving erratically

I reproduced this problem on Chrome (Windows 10, KDE Neon 5.8.5)

Only seems to happen on surahs that don't fit on one page (i.e. on Al Fatihah I don't see this problem).

[2017-01-08 23:24] umairidris opened #558 "Add check for valid ayah"
To reproduce:
- go to quran.com/1/50

On current release it shows "Internal Server Error"
On staging it just hangs on loading

There should be some middleware check to make sure the ayah is valid, similar to check for valid surah.

[2017-01-08 23:30] umairidris commented on #558
Sorry, I went through the open issues and found there is one for this already: #468.

Closing this.

[2017-01-08 23:30] #558 closed

[2017-01-09 00:47] naveed-ahmad commented on #555
@umairidris `|` is separating pages of search result. If you've a better idea to separate page please open the PR :)

[2017-01-09 00:47] #555 closed

[2017-01-09 05:26] umairidris opened #560 "Going back to homepage from surah"
I can't seem to find an easy way to go to the homepage from a surah. Perhaps a home icon can be added beside the surah name on the surah page or a generic banner can be on top of every page which contains a link to go home and other useful links.

[2017-01-09 10:57] sabeurthabti commented on #557
@umairidris Thank you for raising this issue.

[2017-01-09 17:57] mmahalwy opened #561 "Tooltip is created multiple times"
When hovering over a word.

![image](https://cloud.githubusercontent.com/assets/3749095/21777033/fa87d5a6-d651-11e6-80e5-4a241bb9dd04.png)

[2017-01-09 18:30] mmahalwy commented on #557
yes, I noticed this too and I think this is the culprit for this bug: https://github.com/quran/quran.com-frontend/pull/553

[2017-01-09 18:31] mmahalwy commented on #557
@umairidris it's to do with lazy loading, thus Surah 1 and any of the smaller surahs smaller than 20 verses won't have this problem.

[2017-01-09 18:31] mmahalwy commented on #560
want to put a PR @umairidris ?

[2017-01-09 18:32] mmahalwy commented on #533
@yasserhussain1110 we do have a slack account and usually add people are contributing. But I think we can open it up for anyone?

[2017-01-09 18:39] mmahalwy commented on #468
@matmar10 any luck on this?

[2017-01-09 18:40] mmahalwy commented on #309
CC @naveed-ahmad ^^ since he is rebuilding the db from scratch

[2017-01-09 18:41] mmahalwy commented on #551
fixed!

[2017-01-09 18:54] arshdkhn1 commented on #561
will fix this asap

[2017-01-09 19:31] yasserhussain1110 commented on #533
That would be great, I think.

[2017-01-09 23:33] mmahalwy opened #562 "Only have green ayah highlight when audio is play"

[2017-01-09 23:34] mmahalwy commented on #533
+1. How can we make it easy for anyone to join?

[2017-01-09 23:39] yasserhussain1110 commented on #533
How about posting the link on the README page?

[2017-01-10 01:04] mmahalwy commented on #533
Yes, but how do people request invite to slack

[2017-01-10 03:27] mmahalwy commented on #541
Fxied

[2017-01-10 03:27] #541 closed

[2017-01-10 03:49] #489 closed

[2017-01-10 03:50] #472 closed

[2017-01-10 03:50] #439 closed

[2017-01-10 03:51] #307 closed

[2017-01-10 03:51] #174 closed

[2017-01-10 03:52] mmahalwy commented on #389
Going to suggest a checkbox and not the ios switch

[2017-01-10 03:52] #440 closed

[2017-01-10 08:16] umairidris opened #566 "Part of ayah #2 gets skipped"
To reproduce:
- Go to any surah (I checked with surah 1 and 2)
- Press play beside the first ayah
- Wait for the first ayah to finish
- Observe that part of the second ayah gets skipped

I reproduced this on both current release and staging (Chrome on Windows 10 and Ubuntu 16.04)

This does not happen if the main player play button is used, only if ayah 1 play button is used.

[2017-01-10 09:42] ysahbi commented on #531
Can you please specify also that these steps does not work on Windows.

[2017-01-10 09:47] #562 closed

[2017-01-10 10:18] umairidris opened #568 "UI Improvements"
Observations on staging:
-  Settings are inconsistent and dispersed across multiple parts of the app which may make it difficult for users to find them
   - Language settings are in footer
   - In Surah page there is a sidebar with some settings (reciter, search, etc)
   - Some settings are in the player at the bottom (loop, etc)
   - Some settings are near the top (reading mode, etc)
- There are

[2017-01-10 12:44] naveed-ahmad opened #569 "Fonts and duplicated glyph"
tl;dr:  Its lot of work feel free to close issue :)

#### But seriously we can drastically reduce font size or I'm really missing something.

p1 font has 555 glyphs, actual glyph that we need are 29( go ahead and count number of words in first surah - end of ayah glyph ) or see screenshot

<img width="1234" alt="glyph" src="https://cloud.githubusercontent.com/assets/701567/21806245/00147eb2-d75a-1

[2017-01-10 14:52] #557 closed

[2017-01-10 14:58] mmahalwy commented on #531
sorry, what does not work?

[2017-01-10 14:59] mmahalwy commented on #569
CC @ahmedre since he is the font guru

[2017-01-10 15:04] mmahalwy commented on #568
@umairidris these are awesome! I pinged one of the designers helping us out about this. I'd love to break these down into issues to tackle them one by one.

Also, what's your email address so I can add you to slack?

[2017-01-10 17:43] ysahbi commented on #531
I forked the project in both Ubuntu and Windows environnement and for both I ran `npm run dev` for Ubuntu it works, for windows i got this
![image](https://cloud.githubusercontent.com/assets/6714981/21817463/64e64302-d764-11e6-8a31-99aa1fe746be.png)

[2017-01-10 18:50] umairidris commented on #568
Can use my personal email umairidris93@gmail.com

[2017-01-10 19:46] mmahalwy commented on #531
hmm i think the problem is with `env` and probably should be `export` I think for windows. Maybe we should use something else for env variables in command line. What to try moving those variables to `.env` and see if it works?

[2017-01-10 22:01] sabeurthabti commented on #531
Maybe [cross-env]( https://www.npmjs.com/package/cross-env) can help?

[2017-01-10 22:36] mmahalwy commented on #531
@sabeurthabti +!

[2017-01-10 22:38] #547 closed

[2017-01-11 03:46] ahmedre commented on #569
hardly a guru, so i'll preface with "i don't know" - i did a small experiment where i used FontForge to combine some of the fonts, and i get a reduction of around 30-50% - but it's a very manual process.

i tried removing some glyphs, but some are mapped, meaning that if you remove a set of glyphs, another set also removes by nature of removing the first ones. i am not sure why that is and if ther

[2017-01-11 03:59] umairidris opened #572 "Consecutive Ayahs do not get automatically played on Android"
I was able to reproduce this on both quran.com and staging.quran.com

After pressing play (using bottom bar) the first ayah plays, but next one doesnt (sometimes on quran.com a few played then stopped). Same thing happens when using the play button beside an ayah (it will play but next one won't). This does not match behaviour on desktop where the entire surah plays from that point.

More info:
-

[2017-01-11 06:45] umairidris commented on #568
Possibly useful: http://www.material-ui.com, https://github.com/callemall/material-ui

[2017-01-11 07:03] naveed-ahmad commented on #569
Well well well! I think this could works. Just did a quick test, copied 29 glyph of first page converted them into fonts and here is test for first verse:

http://staging.quran.com:33129/1
NOTE: Bismillah before each verse is rendered using optimized fonts ( 29 glyphs only ) we can render whole page with minor changes into api( it should return unicode instead of html encoded code)

Ill say again

[2017-01-11 08:36] yasserhussain1110 commented on #533
I have joined the slack channel. :+1:

[2017-01-12 01:56] mmahalwy opened #575 "Webpack 2"
This is a big one, but I think overall will bring huge huge benefit

https://webpack.js.org/guides/migrating

[2017-01-12 02:29] mmahalwy commented on #568
@umairidris can we create this to be a check list so we can work down the list?

[2017-01-12 03:18] naveed-ahmad opened #576 "Show Surah name is user select language"

[2017-01-12 03:20] naveed-ahmad commented on #528
I've tasfir of Sayyid Abul Ala Maududi in English, urdu and Malayalam language. Going to add verse by verse tafsir in v3

[2017-01-12 03:23] naveed-ahmad commented on #569
We'll need to update backend as well. This will goes live with next production build inshAllah.

[2017-01-12 03:30] #531 closed

[2017-01-12 03:33] naveed-ahmad commented on #505
v3 api will return text in indopak, madani and simple script. We can add this feature one v3 integration is finished.

[2017-01-12 03:47] naveed-ahmad commented on #309
@ATouhou can you provide tasfir in json format ? It'll be really easy for me to import json and add it to v3. Following format would be lot of help:

[code]
or

[code]

thanks

[2017-01-12 03:49] naveed-ahmad commented on #309
Also removes `div` and other html tags, we need to add and index only content no html :)

[2017-01-12 06:05] umairidris commented on #568
Done! I am not sure if you can modify my post but if you want me to change/add/remove anything feel free to post it here and I will.

[2017-01-12 06:26] mmahalwy commented on #568
Yep, I certainly can!

[2017-01-12 06:27] umairidris commented on #568
Might be useful to have one issue per major change (i.e. one for adding an app bar, one for settings, etc...)

[2017-01-12 06:44] mmahalwy commented on #568
Yes. We'd need to break it down

[2017-01-12 07:14] umairidris opened #578 "Add global app bar"
- [x] Add global app bar
- [x] Add Quran title to app bar in home page

[2017-01-12 07:15] umairidris opened #579 "Add global nav drawer"
- [x] Add global nav drawer
- [x] Move navigation links from top of homepage and bottom footer into nav drawer
- [ ] Move help button into separate page and link it from nav drawer

Quick mockup in trusty MS paint (stolen off Play Music nav drawer):
![image](https://cloud.githubusercontent.com/assets/5559279/21880532/5ce51c82-d854-11e6-8845-ab05fa4853a6.png)

[2017-01-12 07:17] umairidris opened #580 "Cleanup settings"
- [x] Add settings page and link to nav drawer (or put it under the "three dot" dropdown in app bar)
- [x] Move language settings from footer to settings
- [x] Move reciters, translations, tooltip setting
- [x] Remove search from nav drawer

Sample: http://i.imgur.com/JroM2lH.png

[2017-01-12 07:17] umairidris opened #581 "Cleanup surah page"
- [ ] Expand the playback controls on surah page to take up the whole bottom of the screen (new bottom bar)
- [ ] Add volume control to bottom bar
- [x] Dynamically add surah info, reading mode & ayah select icons to app bar
- [x] Switch main title to surah name in app bar
- [x] On surah page, the surah title in app bar should have a drop down which will let users quickly select another surah

[2017-01-12 07:17] umairidris commented on #568
Done

[2017-01-12 08:25] umairidris opened #582 "Improve changing reciters multiple times"
The experience going through all reciters to find one you like is not that pleasant (as I had to when setting up the app for my mother). After changing the reciter, it doesn't automatically play the next ayah with the new reciter so you have to go click an ayah manually then go back to the dropdown and change the reciter to the next one. For people that actually look at this setting I am guessing

[2017-01-12 17:34] mmahalwy commented on #578
Checkout https://github.com/quran/quran.com-frontend/pull/583

Only on Surah page at the moment, and it's WIP POC

[2017-01-12 21:32] mmahalwy commented on #309
@ATouhou just emailed Sheikh Yusuf. Will update you. CC @ahmedre

[2017-01-12 21:33] mmahalwy commented on #505
+1 @naveed-ahmad

[2017-01-12 21:34] mmahalwy commented on #580
+1

[2017-01-14 03:36] umairidris commented on #580
My next couple of weeks are bit busy but I am going to start contributing to the UI efforts by working on the settings page.

[2017-01-15 13:13] ATouhou commented on #548
This has not been fixed (atleast not on the production  server)

[2017-01-16 05:22] mmahalwy commented on #548
It's not. I don't know what the problem is. I cannot figure it out.

[2017-01-16 05:22] mmahalwy commented on #580
@umairidris might beat you to it since all this is blocking deploying. Since we are unhappy with the drawar.

[2017-01-16 19:27] ATouhou commented on #548
Tried debugging on my android phone, seems fixable when making the font smaller + lineheight.
I looks like it is positioning the font wrong sometimes and even at times duplicating.
I tried changing line-height, font-style:normal   text-shadow: 0 0 0     font-smoothing antialiased   and some other things from google nothing helped.

Think the least painfull way to solve this, is to work backwards i

[2017-01-16 20:04] umairidris commented on #580
You can see some of the groundwork I was doing here: https://github.com/umairidris/quran.com-frontend/tree/settingspage

May help! I will let you continue from here

[2017-01-16 23:21] mmahalwy commented on #548
No idea. Since it only breaks on Chrome

[2017-01-17 09:17] mmahalwy commented on #579
Okay, some links cannot be removed due to SEO and Google. For example, we have links to surahs due to search behavior.

[2017-01-17 09:19] mmahalwy commented on #580
Keeping font size out of settings modal. Might make sense to have it more accessible?

[2017-01-17 09:20] mmahalwy commented on #581
Some of the changes are here: https://github.com/quran/quran.com-frontend/pull/583

[2017-01-17 14:07] mahfuzul opened #587 "Play button is not working when ..."
Play button is not working when we load a surah by pressing "Next Surah" or "Previous Surah" button in the footer.

OS: Linux
Browser: Chrome Version 55.0.2883.87 (64-bit)

[2017-01-17 19:50] aigyz commented on #587
Hi @mahfuzul, I am also on Linux, browser is the same.
It is working for me.
Can you disable all extensions and look Chrome's console?
Thanks

[2017-01-18 01:26] mmahalwy opened #588 "Translate the site into Indonesian"
Indonesia is one of our most visited countries. Let's add translation to it?

[2017-01-18 01:46] gozali commented on #588
+1

PS: I'm Indonesian

[2017-01-18 05:47] ahmedre commented on #588
we have support for Indonesian in Quran for Android.
one of the very important things we need to figure out is how to sync translations between Quran.com, Quran for Android, and Quran for iOS. this is especially since we do get corrections of typos (or things that were fixed in later revisions by the author) that we update, and we don't want to update on all 3 platforms independently.

[2017-01-18 08:16] ahmedre commented on #588
@habibr since you helped with the localization for Android, do you want to do the Indonesian localization for quran.com?

[2017-01-18 22:10] ahmedre opened #590 "Close the side bar after choosing Mobile/Donations"
After choosing mobile or donations from the side bar, we should close the side panel.

[2017-01-18 22:11] ahmedre opened #591 "Add an easier way to get back home"
<img width="761" alt="screen shot 2017-01-18 at 2 10 58 pm" src="https://cloud.githubusercontent.com/assets/47771/22085231/f5e708cc-dd87-11e6-9ee4-3c13340b773a.png">

when the menu is open, there's no easy way to go home (without closing the panel and clicking the house). an easy fix is to make the "Quran" row clickable.

[2017-01-18 22:51] #561 closed

[2017-01-18 22:51] #578 closed

[2017-01-18 22:51] #579 closed

[2017-01-18 22:51] #580 closed

[2017-01-18 22:51] #590 closed

[2017-01-19 06:00] umairidris commented on #587
I am not able to reproduce this either (Chrome, Ubuntu Gnome 16.04).

Though I did encounter a strange bug where using the next surah button turns on all translations. This seems to be fixed in staging though so not worth to open an issue for this. I would follow @aigyz advice and use a fresh browser instance (you can add a new user so you don't need to manually disable each extension).

[2017-01-19 06:10] mmahalwy commented on #568
Closing. Only missing is #581

[2017-01-19 06:10] #568 closed

[2017-01-19 08:04] mmahalwy opened #593 "Add search input in top nav"
@umairidris would love to get your thoughts on this too. @ahmedre suggest we bring it back. I'd image it to look like:

![image](https://cloud.githubusercontent.com/assets/3749095/22098379/d2dc61e4-ddda-11e6-9593-8765780b10ac.png)

[2017-01-19 08:16] mmahalwy opened #594 "Improve time to first paint"
New
![image](https://cloud.githubusercontent.com/assets/3749095/22098682/8d52ceb8-dddc-11e6-84cf-8cd691d56674.png)

Old
![image](https://cloud.githubusercontent.com/assets/3749095/22098694/94d2b9dc-dddc-11e6-900f-ea1d7d635d09.png)

[2017-01-19 08:17] mmahalwy commented on #594
![image](https://cloud.githubusercontent.com/assets/3749095/22098714/b3041ffe-dddc-11e6-8ad0-7a672e794aee.png)

[2017-01-19 08:18] ahmedre commented on #594
@naveed-ahmad's change for v3 api will help with this because it'll remove all the sura info into an api call.

[2017-01-19 08:20] mmahalwy commented on #594
@ahmedre its already in API

[2017-01-19 08:50] umairidris commented on #593
Looks good to me. I am guessing in mobile view it will contract to a single search icon?

Ideas for how to expand this in future:
- When you are in a surah it will search by default in the surah otherwise the whole quran (should be clear in the text hint inside the search bar)
- There can be a [dropdown](https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Ic_arrow_drop_down_48px.svg/2000px-I

[2017-01-19 09:17] umairidris opened #595 "Missing translations for "settings" in nav drawer"

[2017-01-19 14:08] cpfair opened #596 "iOS audio playback gets stuck on even-numbered ayat"
If you open any surah on iOS and press the main play button, only the first ayah plays, after which the player gets stuck (play/pause button toggles, scrubbing bar responds, but no playback). If you skip to the next ayah (3) then back to the previous (2), everything works as expected: the 2nd then 3rd verses play... then the player again gets stuck on the 4th. This process must be repeated for sub

[2017-01-20 02:26] ahmedre opened #598 "reading mode has some serious bugs"
ex: https://quran.com/55

<img width="869" alt="screen shot 2017-01-19 at 6 25 49 pm" src="https://cloud.githubusercontent.com/assets/47771/22133369/c5db3fc0-de74-11e6-8314-09463b6b111f.png">

cc @mmahalwy we should fix this asap, it repeats a lot if you just open a sura and scroll.

[2017-01-20 02:26] ahmedre commented on #598
(in case it's not clear, missing verse 31).

[2017-01-20 03:48] naveed-ahmad commented on #594
fontawesome and intl polyfill should load asynchronously, thired:  https://github.com/quran/quran.com-frontend/pull/599  and we've some performance improvment.  We might get more improvement on staging ( not sure why http/2 isn't working with temp pr builds )

[2017-01-20 04:01] ahmedre commented on #594
http/2 depends on https working, which is currently not there for the PR containers, but there for staging and prod.

[2017-01-20 07:01] mmahalwy commented on #595
It's in the settings modal no?

![image](https://cloud.githubusercontent.com/assets/3749095/22139493/2e6a1f2c-de9b-11e6-93ee-ea038b66af77.png)

[2017-01-20 07:04] mmahalwy commented on #596
Will take a look at this!

[2017-01-20 07:04] mmahalwy commented on #596
Adding @sabeurthabti too since he has lots of experience with the audioplayer

[2017-01-20 07:17] mmahalwy opened #601 "Missing translations"
![image](https://cloud.githubusercontent.com/assets/3749095/22139790/4c66d72a-de9d-11e6-9d1d-0b9041c4376a.png)

![image](https://cloud.githubusercontent.com/assets/3749095/22139796/5bd750a4-de9d-11e6-9e09-2bee8757e253.png)

![image](https://cloud.githubusercontent.com/assets/3749095/22139798/65875bf8-de9d-11e6-9712-2ca544c79f84.png)

More difficult to do:
![image](https://cloud.githubusercontent.c

[2017-01-20 07:18] #598 closed

[2017-01-20 07:19] umairidris commented on #595
Sorry for not being clear, meant the literal settings wrord in the drawer :)

[2017-01-20 07:41] mmahalwy opened #603 "Audio plays ayah 2 from the end"
STR:
- Go to surah 67.
- Click the 'Play ayah' on the first ayah
- Wait for it to finish
- When playing second ayah, it plays it from the end. This might be due to the first ayah audio is shorter and the time is not updated.

[2017-01-20 08:02] umairidris commented on #603
Duplicate of #566

[2017-01-20 10:37] sabeurthabti opened #604 "Mobile Smart Banner And App not available in the UK"
Chrome, iOS

I cannot close the smart banner, and when I click download it says app isn't available on the UK app store.

Will attach screenshots.

[2017-01-20 14:35] naveed-ahmad opened #605 "Update URL when player switch the ayah"
If user is listening say [2:25](https://quran.com/2/25) when player switch to 2:26 the URL should also be updated to  .../2/26

#### This feature will be helpful when
* You started from a verse and after few verse something went wrong. User simply try to refresh the page and boom you'll start from where you first started listening. I faced this issue couple of time
* You are listing current verse

[2017-01-20 18:07] mmahalwy commented on #605
I don't understand :(

[2017-01-20 19:07] #595 closed

[2017-01-20 19:08] #603 closed

[2017-01-20 19:20] mmahalwy opened #607 "Remove font-awesome"
It's only used in 3-4 places. Let's remove it!

[2017-01-20 19:25] #601 closed

[2017-01-20 19:27] #575 closed

[2017-01-20 19:32] ATouhou opened #608 "web progressive app, service workers , why not?"
Assalamu aleykoum.
Have you considered making a web progressive app with service workers?
Since it's revolving around an API, it seems like a no-brainer to initiate that, as soon as there is ressources for it and sync it with the web frontend?
And service workers and  storing page images after first loading them unless hash is differentiating seems like the way to go?
What do you guys think?

[2017-01-20 21:06] naveed-ahmad commented on #608
@ATouhou +1 for PR :)

[2017-01-20 21:09] naveed-ahmad commented on #605
Sorry this was a placeholder task for me to so later. Updated readme

[2017-01-20 21:27] #389 closed

[2017-01-21 00:27] mmahalwy opened #609 "When copying an Ayah, include Ayah number (and maybe the surah number)"

[2017-01-21 00:29] mmahalwy commented on #389
ty @naveed-ahmad

[2017-01-21 01:03] mmahalwy commented on #605
ah, this is tricky btw. you got to be careful cause we rely so heavily on url changes that you dont want 1. to refetch data, 2. rerender components when you update the url

[2017-01-21 01:07] naveed-ahmad commented on #605
Well I was hopping we can update URL using pushstate API without
changing/updating/reloading page. Not sure if it's possible with react.

On Jan 21, 2017 6:03 AM, "Mohamed El Mahallawy" <notifications@github.com>
wrote:

[2017-01-21 01:11] mmahalwy commented on #608
+1

[2017-01-21 01:11] mmahalwy commented on #608
I think it'd be great to store surahs since that's the homepage. Let's wait till v3 api

[2017-01-21 01:13] mmahalwy commented on #605
I think all url updates are pushstate which the react-router subscribes to.

[2017-01-21 20:47] mmahalwy opened #611 "Share icons are not intuitive on the surah page"
'What are these? What do they do?'

Also, people tend not to share a surah but share a verse.

I think we should change to only display one ayah instead of starting from that ayah when you go to that ayah via url. Have a button to view more.

[2017-01-21 20:47] mmahalwy commented on #611
Medium.com kind of sharing?

[2017-01-21 21:40] habibr commented on #588
Quran.com is also my favorite quran site. I'd like to help too...

[2017-01-21 21:41] mmahalwy commented on #588
@gozali would you like to push a PR translating the `en.js` file into Indonesian?

[2017-01-21 22:09] mmahalwy commented on #588
CC @habibr

[2017-01-22 03:30] sabeurthabti commented on #611
I had this idea where we build ayah specific page, with all the great features of quran.com. Maybe discussion, however I can see that getting out of hand, maybe moderated/registered users.

[2017-01-22 12:17] redhae commented on #588
are we supporting Malay/Bahasa Melayu. i can help with that, insha'Allah

[2017-01-22 19:44] ATouhou commented on #608
The app itself would not have to be updated so often, if the statics already comes shipped, but checks on server if, the server has a newer version or not.
Also we would have an app, that have all the ressources collected at one place

[2017-01-22 19:44] mmahalwy commented on #588
@redhae please do! Looking forward to a PR!

[2017-01-22 19:45] mmahalwy commented on #611
@sabeurthabti sounds interesting, do tell more!

[2017-01-22 21:59] habibr commented on #588
So, how do i start?

[2017-01-22 22:01] ahmedre commented on #588
@habibr add a file for Indonesian here:
https://github.com/quran/quran.com-frontend/tree/master/src/locale

i think it should be `id.js` - use the English one as a starting point and then give a PR - jazakAllah khairan.

[2017-01-22 22:30] imiro commented on #588
+1 I'm Indonesian too, happy to help!

[2017-01-22 23:37] mmahalwy opened #614 "Fix karma with webpack 2"

[2017-01-22 23:39] #593 closed

[2017-01-23 03:19] AskYous opened #615 "Pause button next to playing Aayah does nothing"
Assalaamu 'Alaikum,

I'm on Chrome and I'm pressing the pause button next to the playing Aayah but it doesn't do anything.

![image](https://cloud.githubusercontent.com/assets/791996/22190363/a39f913a-e0d7-11e6-9533-b683b77a2d4d.png)

[2017-01-23 20:41] Somaiagabr opened #617 "Bug on Chrome"
saw this today on Chrome while browsing quran.com.

<img width="1029" alt="screen shot 2017-01-23 at 11 48 13 am" src="https://cloud.githubusercontent.com/assets/2100167/22221782/3fea9602-e169-11e6-8515-43b671f4602e.png">
<img width="1118" alt="screen shot 2017-01-23 at 11 48 33 am" src="https://cloud.githubusercontent.com/assets/2100167/22221783/3feca924-e169-11e6-8a35-5f6cb39415e7.png">

[2017-01-23 21:38] ahmedre commented on #617
btw, let me clarify - these are 2 separate screenshots.
the first one is missing a word (wa astakbaru). teh second one has the word "alsalihat" in the wrong place. note that this is very very similar to the Chrome for Android issue i mentioned in #548).

also, this is on Chrome for OSX, with no crazy extensions or anything, and it's probably the stable version (i can find out if needed).

[2017-01-23 21:43] mmahalwy commented on #617
@ahmedre rarely am I scratching my head trying to wrap my head around what is going on... and this is one of those cases. We are pretty broken on Chrome (whether OSX or Android) and I have no idea why. I have a feeling it's Chrome specific but have no clue. And it's definitely not a recent change that caused this since this was noted on production before the 111 commits deployed last week. :(

I d

[2017-01-23 21:44] ahmedre commented on #617
cc @sabeurthabti and @naveed-ahmad as maybe they have some ideas?

[2017-01-23 22:24] sabeurthabti commented on #617
Can you share a link? I cant replicate it on latest chrome: https://quran.com/7/43 . There was a chrome release recently.

[2017-01-23 22:48] ATouhou commented on #617
still broken on Android, Google Chrome v. 55.0.2883.91

[2017-01-24 08:24] mmahalwy commented on #455
@ahmedelgabri @atalebagha let's break these into individual issues?

[2017-01-24 08:25] #457 closed

[2017-01-24 08:25] #444 closed

[2017-01-24 08:26] #539 closed

[2017-01-24 08:26] #498 closed

[2017-01-24 08:27] #607 closed

[2017-01-24 08:27] #611 closed

[2017-01-24 09:02] ahmedre opened #619 "2 minor bugs"
<img width="1143" alt="screen shot 2017-01-24 at 12 29 24 am" src="https://cloud.githubusercontent.com/assets/47771/22240538/81be6222-e1d0-11e6-8479-5b4da25b182f.png">

no ideas on how to fix these -
1. shafee3in illa are too close together - probably because shafee3in in the mus7af is at the end of a line and illa is at the start of the next line, and here they're right next to each other with 0

[2017-01-24 21:04] ahmedelgabri commented on #455
Salam @mmahalwy, sorry I have been very busy last couple of months with work & personal stuff. Will try to have a look at the weekend inshallah

[2017-01-24 21:53] mmahalwy commented on #455
okay perfect! Thank you

[2017-01-27 04:10] umairidris opened #621 "Surahs not working on staging"
When going to staging.quran.com the surahs list doesn't show up. Going straight to a surah i.e. staging.quran.com/1 simply shows an "Internal Server Error" message. Clearing cookies did not help.

The quick links are there and when I click on them it throws the following error in console:

Uncaught (in promise) TypeError: Cannot read property 'name' of undefined
    at C (5-2a089e7….js:1)
    at f

[2017-01-27 08:02] mmahalwy commented on #621
Yeah, @naveed-ahmad deployed new api. Need to write code to make it work with it :)

[2017-01-28 19:59] naveed-ahmad opened #623 "Improve sharing and embed ayah functionality"
I would like to start discussion on improving sharing and add embedding functionality:

* Instead of showing facebook and twitter icon with each verse, show share icon
* Clicking share icon open popup with top social sharing app(demo: https://drive.google.com/file/d/0B-_ddcseNUwLN2xZQTlQejlDT3M/view)
* Add embed button along with these social sharing
* Clicking embed link show embed script which u

[2017-01-29 11:48] #301 closed

[2017-01-30 02:12] EvilTwin01 opened #624 "typo in Malay translation"
https://quran.com/56

ayat 4 : (Ia berlaku) semasa bumi bergoncang dengan sebebar-benar goncangan.

it should be: (Ia berlaku) semasa bumi bergoncang dengan sebenar-benar goncangan.

[2017-01-30 06:01] mmahalwy commented on #623
Great suggestions! I'd recommend splitting it into 2 different issues as they are very much different. Secondly, the embedding would go along with https://github.com/quran/quran.com-frontend/issues/552. We can generate an iframe with the customization.

[2017-01-30 06:02] ahmedre commented on #623
I'd like this done in a way that I can leverage it from Quran for Android also - ideally, I want to generate a link (or an image) for a set of verses with an (optional) set of translations.

[2017-01-30 06:25] mmahalwy commented on #623
@ahmedre that is fairly simple and I can get that done very quickly

[2017-01-30 21:47] kjellouli opened #625 "Homepage wording should be separated from 'the'"
![image](https://cloud.githubusercontent.com/assets/6676571/22409306/d12a5634-e655-11e6-9c66-4b6dff562b9e.png)

[2017-01-31 06:53] omerblink commented on #625
@kjellouli Can you tell me how you got into this issue? Just wanted to replicate it so I can see it and fix it.

[2017-01-31 15:19] naveed-ahmad commented on #625
@omerblink this is 404 page, try any invalid Surah number

https://quran.com/115
https://quran.com/error/invalid-surah

[2017-01-31 16:34] adipurnama141 opened #626 "Verse Bookmark"
It would be better if there is verse bookmark feature, so we can continue our last reading.
I hope, this feature will be accessible without the need of login...

I'm sorry if this feature is already implemented, if that is true, can you please show me how to do it..

Many thanks..

[2017-01-31 16:51] m-adilshaikh commented on #626
Although not explicitly called a bookmark, similar feature is now available as it remembers which link you were on the last time. Links are currently not updated as the ayah audio progresses, but that update is currently #610 is in process.

[2017-01-31 16:52] adipurnama141 opened #627 "npm run dev error"
I'm trying to build this project.
I installed node v.6.9.4.

When i tried to npm install , there was a warning like this..

![capture](https://cloud.githubusercontent.com/assets/13418482/22474940/0cefe9f2-e810-11e6-99a4-c187a19254a6.PNG)

And , when i try to npm run dev , there was an error like this

0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Program Files\\nodejs\\node.exe',
1 verb

[2017-01-31 16:57] #626 closed

[2017-01-31 17:58] sabeurthabti commented on #627
hmm, remove node_module folder and try again. If that doesn't work can you confirm the version of NPM you're on?

[2017-01-31 19:18] omerblink commented on #625
@naveed-ahmad ... Fixed the bug and create the pull request...

[2017-01-31 19:49] omerblink commented on #619
Shafee3in has a separate ID... If these IDs are unique it can be fixed though CSS with the following simple code:

[code]

http://prntscr.com/e2tp46

If you think its a right way then I can make another pull request :)

[2017-02-01 05:37] adipurnama141 opened #629 "Verse Translation For Indonesian"

[2017-02-01 05:38] ahmedre commented on #629
we have it - settings, translations, and choose Indonesian

[2017-02-01 05:38] #629 closed

[2017-02-01 05:39] adipurnama141 opened #630 "Autohide menu bar"
I have suggestion..

What if the menubar is autohidden (so we can focus reading the quran), and the menubar is shown whenever we scroll the page..

[2017-02-01 06:24] umairidris commented on #627
#531 mentioned issues getting the app running on Windows. Might be related.

[2017-02-01 07:09] mmahalwy commented on #630
@adipurnama141 thanks for the suggestion. Can you be more specific on which menubar? The top navigation bar you mean?

[2017-02-01 07:10] mmahalwy commented on #619
@omerblink it's certainly a good hack! A better is to add that margin based off of the position of the world. Since all words have a position, if it's at the end of the line in the mushaf (as @ahmedre mentioned), then add margin.

[2017-02-01 07:11] mmahalwy commented on #625
Fixed by https://github.com/quran/quran.com-frontend/pull/628#pullrequestreview-19492093

[2017-02-01 07:11] #625 closed

[2017-02-01 07:31] adipurnama141 commented on #630
@mmahalwy You're welcome :)
both..

[2017-02-01 08:12] omerblink commented on #619
@mmahalwy Any suggestions or way already in the system to determine the position of the word?

[2017-02-01 10:41] adipurnama141 commented on #629
Thanks , it works :)

[2017-02-01 14:46] omerblink commented on #630
I think it will be a great feature .... and I would happy to assist on it @mmahalwy

[2017-02-01 15:13] omerblink commented on #591
@mmahalwy @ahmedre I have made this change and its linking back to home...

<img width="727" alt="screen shot 2017-02-01 at 8 10 12 pm" src="https://cloud.githubusercontent.com/assets/773535/22512335/7dd61312-e8ba-11e6-8a52-dd72c46f7e05.png">

Am I doing it right?

`<Link to="/"><i className="ss-icon ss-home back-to-home" /><LocaleFormattedMessage id="nav.title" defaultMessage="Quran" /></Link>`

[2017-02-01 15:26] omerblink commented on #609
@mmahalwy I want to work on this feature... But when I run `npm run dev` I don't see any surahs...

[2017-02-01 17:39] omerblink opened #631 "When increase Translation font size, watch lecture link font size increases as well"
Just came on to this while I was reading the translation and needed to increase the translation font size. When I increases the font size of the translation the watch lecture link font size increases with it. Should we call it a bug of is it supposed to work like that?

<img width="1440" alt="screen shot 2017-02-01 at 10 28 56 pm" src="https://cloud.githubusercontent.com/assets/773535/22518642/251

[2017-02-01 22:07] qasimalyas commented on #631
Others might be able to comment further on this but i suspect this is by design and it should become larger as its a lecture by Nouman Ali Khan. So I wouldn't consider this as a bug.

[2017-02-01 22:10] ahmedre commented on #631
but since the Arabic size isn't becoming larger, imho, "Watch lecture" shouldn't grow.

[2017-02-01 23:33] mmahalwy commented on #631
This is by design. Since this is urdu translation it's hard to tell but it's other english, they should all grow.

[2017-02-01 23:33] #631 closed

[2017-02-01 23:34] mmahalwy commented on #609
@omerblink yes. Staging has new API, and frontend isn't up to date with it. Let me fix that now

[2017-02-02 02:42] mmahalwy commented on #591
Yep! That'd do it!

[2017-02-02 03:41] mmahalwy opened #634 "Change media link to say:"
"Watch video commentary from Bayyinah Institute"

[2017-02-02 05:36] omerblink commented on #591
Once question though... I'm adding css in this file but its not affecting...

`/Quran.com/quran.com-frontend/src/components/GlobalSidebar/style.scss`

Do I have to run the sass compiler? Shouldn't it compile itself?

[2017-02-02 05:37] omerblink commented on #609
Let me know once it fixed :)

[2017-02-02 05:38] omerblink commented on #631
@mmahalwy Actually its doing in all translation

[2017-02-02 07:35] mmahalwy commented on #631
That's correct behaviour

[2017-02-02 09:24] #591 closed

[2017-02-02 13:44] murad073 opened #637 "Recitation and scrolling is not synchronizing for smaller screen"
In small screen view (while one ayat is viewing), reciting ayat and auto scrolling ayat is always one step backward. It would be nice if they both sync and visible for smaller screen.

Screen-
![image](https://cloud.githubusercontent.com/assets/1317890/22551665/affb73be-e923-11e6-8471-6f938f74b0f7.png)

[2017-02-02 13:49] murad073 opened #638 "Help icon block the audio control in small screen"
The help icon is preventing me to use the controls of the audio player. One suggestion could be make the help icon small size, like the home icon size and move to the top right corner. I don't think people really use this help icon a lot, perhaps they might use help icon once in a year!

![image](https://cloud.githubusercontent.com/assets/1317890/22551762/14708ef6-e924-11e6-9180-8520ba3dd2e9.png)

[2017-02-02 14:00] murad073 opened #639 "A tafseer icon would be great beside ayat"
It would be great if a tafseer icon can be placed beside the other icons of an ayat. If someone click on that icon it will open a new tab with the tafseer of various scholars on that ayat. If possible, the history of that ayat, time and situation, chronology of appearance, etc.

![image](https://cloud.githubusercontent.com/assets/1317890/22552167/cbe01150-e925-11e6-99ff-1d5c830aa049.png)

[2017-02-03 07:21] mahmoudfelfel commented on #608
Any updates here, is there anyone working on this?
I can start working on it, it is straight forward with this webpack plugin https://github.com/goldhand/sw-precache-webpack-plugin
By default, it uses a [`cache-first` strategy](https://jakearchibald.com/2014/offline-cookbook/#cache-falling-back-to-network) where it will cache all the assets so the second load will be almost instant, and whenever w

[2017-02-03 16:20] ATouhou commented on #608
It should just use the cacheFirst, then meanwhile get the real feed from the API. If the data is not the same (maybe version number or checksum) then there could be a little prompt saying "Site has updated, do you want to reload? " then reload the page (with js) dynamically

[2017-02-04 21:45] mahmoudfelfel commented on #608
@ATouhou the `sw-precache` webpack plugin handles the versioning of the sw file.
And let's make it on steps as you're saying, first cache the assets to make the second visit quicker, then store the data itself from the API to have a full offline version.
Will start working on it, and open a PR soon Insha'a Allah.

[2017-02-05 07:21] umairidris commented on #630
You probably always want audio controls visible

[2017-02-05 07:23] umairidris commented on #638
I think the help button was supposed to move into the "help & feedback" section found in the nav drawer.

[2017-02-06 03:54] ienzam opened #640 "Add support to see multiple translations in a consistent order."
Currently, when I enable multiple translations, the translations appear in random order for every ayat.

Please add support to order the translation to have a consistent ordered view of translations.

[2017-02-06 12:51] naveed-ahmad commented on #640
I think it's API issue. API should return translation in specific order. Fixed in v3

[2017-02-06 12:51] #640 closed

[2017-02-09 01:08] jalal10 opened #645 "Content : Sourat "Maryam" / Ayat 26 : missing the letter "Alif" at the beginning of the word "Ahadan""
Assalamo alaykom,

There is an error on the Ayat **26** sourat **Maryam** - on the Firefox browser, missing the letter *Alif* at the beginning of the word *Ahadan* it is displayed, *Hadan*

Best regards
Jalal.
![sourat_maryam_ayat_26](https://cloud.githubusercontent.com/assets/5561041/22764715/4084206c-ee64-11e6-81fe-8278274e98b4.png)

[2017-02-09 02:19] ahmedre commented on #645
wa3laikum alsalam,
looks like a Firefox specific issue - works fine on Chrome, but i can also repro on Firefox.
<img width="1006" alt="screen shot 2017-02-08 at 6 15 41 pm" src="https://cloud.githubusercontent.com/assets/47771/22766520/c829adaa-ee2a-11e6-8ed5-e93f6c60dfbf.png">

on Firefox, other things seem cut out too in that ayah for example - see the other arrow in my screenshot from Firefox t

[2017-02-09 09:12] mmahalwy commented on #638
@umairidris that's correct except their widget just stays there...

Might just move it

[2017-02-09 09:13] mmahalwy commented on #630
+1 on audio controls wanting to be visible.

@imomer would you mind creating a proof-of-concept for top navigation. I am not convinced we want to hide it to be honest.

[2017-02-09 09:14] mmahalwy commented on #608
@mahmoudfelfel please take it! Would love your help and I don't have much knowledge in this.

[2017-02-09 09:16] mmahalwy commented on #639
Currently don't show tafsir but working on adding it

[2017-02-09 09:17] mmahalwy commented on #619
Let's wait till we implement api v3. That will have it

[2017-02-09 09:32] imomer commented on #630
Sure @mmahalwy ... Here you go: https://jsfiddle.net/omerblink/y4ge9cg6/

[2017-02-14 07:55] AmmarCSE opened #648 "quick search for specific ayah"
Assalamu Alaykum

Sorry if there is already a way to do this, but I havent found it.

If I am looking at a large surah and want to look at a specific ayah, I have to keep scrolling and wait for paging. There should be a way to do a 'scroll to' or search for a specific ayah.

[2017-02-14 07:56] ahmedre commented on #648
wa3laikum alsalam,
why not just change the url - i.e. https://quran.com/3/190
walsalam 3alaikum

[2017-02-14 08:07] AmmarCSE commented on #648
Ah ok,
Thanks for tip!

Perhaps there should be a feature request made for a way to do it via the UI for non-technical users.

[2017-02-14 08:20] imomer commented on #648
Perhaps something like this:

<img width="1440" alt="screen shot 2017-02-14 at 1 10 35 pm copy" src="https://cloud.githubusercontent.com/assets/773535/22920704/414d73ba-f2b8-11e6-8e0a-87327a7d028c.png">

[2017-02-14 08:38] AmmarCSE commented on #648
Exactly :-)

Unless you have already done or you are already doing it(you good deed hoarder, you ;-) ), I might be able to take a look at it this weekend.

However, if you already started, go for it.

Thanks

[2017-02-14 08:44] imomer commented on #648
@mmahalwy @ahmedre Thoughts?

[2017-02-14 20:29] mmahalwy commented on #648
There used to be a way before redesign. If you'd like to take it, more than welcome to. I'd suggest it goes in the top navbar beside the surah name.

[2017-02-14 21:26] naveed-ahmad commented on #648
Yeah top bar make more sense.

[2017-02-18 03:35] naveed-ahmad opened #652 "Show Juz/Siparah, Minzal, Hizb for each verse"
I believe we had this in past, or someone tried to implement this.

[2017-02-18 12:08] murad073 commented on #615
Its not working in firefox either.

![image](https://cloud.githubusercontent.com/assets/1317890/23093152/0d00fdae-f5a9-11e6-9b7e-540a366a4566.png)

[2017-02-18 12:16] murad073 commented on #566
I also get the same problem with surah 98, https://quran.com/98

After finishing the first ayat, it jumped to the third ayat, skipping the second ayat.

![image](https://cloud.githubusercontent.com/assets/1317890/23093183/15e35948-f5aa-11e6-8f0a-a3c600b2702a.png)

[2017-02-20 13:55] murad073 opened #653 "Footer overlaps with player."
If I scroll down to the bottom, the player is overlapped with the footer menu, which make it unable to click.

![image](https://cloud.githubusercontent.com/assets/1317890/23127808/5a2e0386-f74a-11e6-86da-983f948d1f23.png)

[2017-02-20 13:58] murad073 commented on #648
I have one suggestion on this. Instead of creating a new place for quick ayat, I think an existing placeholder can be modified to serve this purpose -

![image](https://cloud.githubusercontent.com/assets/1317890/23127883/b07006a4-f74a-11e6-946e-210b688c9cad.png)

[2017-02-24 05:09] AskYous opened #654 "Skip to verse number"
Currently, the only way (that I know of) is to enter it in the URL. But it's not obvious to users. I just had a friend complain and he had no idea how to skip 200 verses except 1 at a time.

[2017-02-24 05:10] AskYous commented on #654
This should also be added to the homepage, such as a "Jump to" button like on the android app.

[2017-02-24 19:10] naveed-ahmad commented on #528
Added in v3

[2017-02-24 19:10] #528 closed

[2017-02-25 20:30] naveed-ahmad opened #656 "Update translation dropdown, v3 has added couple more plus ids are changed!"
Available translations: http://staging.quran.com:3000/api/v3/options/translations

[2017-02-25 20:31] mmahalwy commented on #656
I can work on it. No problem

[2017-02-25 20:33] naveed-ahmad opened #657 "v3: Fix available recitation"
available recitation: http://staging.quran.com:3000/api/v3/options/recitations

[2017-02-25 20:38] naveed-ahmad opened #658 "v3: Tafsirs"
Available tafsirs: http://staging.quran.com:3000/api/v3/options/tafsirs
You can get tafsir of individual verse via this endpoint: http://staging.quran.com:3000/api/v3/chapters/CHAPTER_ID/verses/VERSE_ID/tafsirs?tafsirs[]=TAFSIR_ID&tafsirs[]=ANOTHER_TAFSIR_ID ( you can ids from first endpoint )

sample URL: http://staging.quran.com:3000/api/v3/chapters/1/verses/1/tafsirs?tafsirs[]=90&tafsirs[]=91

[2017-02-25 20:40] naveed-ahmad opened #659 "Word audio"
api is now return audio file for words as well.

[2017-02-28 18:47] ATouhou commented on #658
There is a typo in the Key, it says: "tafisrs"

[2017-03-01 01:15] naveed-ahmad commented on #658
@ATouhou thanks for catching the typo, fixed.

[2017-03-01 01:25] naveed-ahmad commented on #639
There are multiple tafsir for each verse, actually in multiple languages. Yumee we need to think about good UX here.

[2017-03-01 19:05] mmahalwy commented on #639
Tafsir is challenging because it can span multiple ayahs. check out how recitequran.com has done it. They have a different UI completely for it

[2017-03-03 22:28] #657 closed

[2017-03-06 18:00] #659 closed

[2017-03-07 03:37] #634 closed

[2017-03-07 03:38] #614 closed

[2017-03-07 13:55] murad073 opened #673 "Stop button in audio player"
In standard audio player, there supposed to be a stop button. While I want to re-listen a surah from the beginning, there is no way. Therefore I had to refresh the entire page. A stop button would be great to start over.

![image](https://cloud.githubusercontent.com/assets/1317890/23659272/987c58d4-0313-11e7-8f53-dfca1882bad9.png)

[2017-03-07 14:00] murad073 opened #674 "Beginning of the Surah button does not reset the player"
Beginning of the Surah button does not reset the player. After clicking the button, if I click the play button, it starts reciting the last ayat I listened to. I think the right behavior is to reset the player to start from the beginning of the ayah.

![image](https://cloud.githubusercontent.com/assets/1317890/23659566/8216b66a-0314-11e7-9c84-19ead7fbb507.png)

[2017-03-07 14:06] murad073 opened #675 "Change of surah from top menu does nothing to audio player"
I listened surah 36, after that I have changed to surah 112. But the audio player still shows ayah 83! it a bug

Before Navigate -
![image](https://cloud.githubusercontent.com/assets/1317890/23659765/339c3900-0315-11e7-85e3-626aef9fc982.png)

After Navigate -
![image](https://cloud.githubusercontent.com/assets/1317890/23659798/52463e96-0315-11e7-9e77-a43547dd4cef.png)

[2017-03-07 14:11] murad073 opened #676 "Night mode is not persistent"
I was listening surah 114 in night mode. While I changed the url to listen surah 36, the night mode is gone.
I think night mode setting should be stored in local-storage. Currently any type of refresh could reset the night-mode.

![image](https://cloud.githubusercontent.com/assets/1317890/23659994/00b59738-0316-11e7-871d-caf1d82a69d3.png)

[2017-03-07 14:18] murad073 opened #677 "Translation information in url"
While I was sending a url as a reference to one of my friend (bangla), he did not get the correct translation at the first time. So I have to explain how to get the right translation from the setting menu. Is it possible to place the translation info in the URL, so that more meaningful url reference can be made?

Example: https://quran.com/114/2?translation=3

[2017-03-09 20:07] navedcoded commented on #596
Confirming that this is still a problem from iOS Safari

[2017-03-09 20:08] navedcoded opened #678 "Switch "previous" and "next" surah button positions -- confusing right now"
This might be a matter of taste, but I find the current placement of previous surah button on the left and next surah on the right is very confusing -- as in the real mushaf the next surah would be towards the left.

Even the apps are like this and maybe the website should make this switch too?

[2017-03-10 08:45] sabeurthabti commented on #596
I will also take a look at this tonight iA

[2017-03-10 16:13] ysofi commented on #678
Switching it would make it confusing. The buttons are are in English, which is a left to right language.

In the apps swiping to the left (next) or right (previous) is akin to flipping the page. You're not pressing a button and definitely not one in a foreign (LTR) language.

Wallahu 'alam.

[2017-03-10 16:28] ysofi commented on #630
+1 for a fixed navbar

[2017-03-10 18:23] sabeurthabti commented on #630
@imomer @ysofi  we are trying to build all these components as reusable as possible. Would love to have your contribution on https://quran.github.io/common-components/  (repo: https://github.com/quran/common-components). We will soon integrate some of the components on quran.com

[2017-03-10 20:05] umairidris commented on #676
Settings like reciters, etc are already stored in an options cookie, is night mode not being stored there? Did you try refreshing the page? This may be the same as #550 where the options didn't get applied due to a timing bug.

[2017-03-10 21:52] murad073 commented on #676
refreshing also reset the night mode.

[2017-03-10 23:00] mmahalwy commented on #676
It's not being stored! Need to store it

[2017-03-11 13:03] sabeurthabti commented on #596
I tried to investigate, I was able to replicate it but couldn't find a fix. Let's make this a priority. I will add it the project board.

[2017-03-11 23:48] naveed-ahmad commented on #677
duplicate issue https://github.com/quran/quran.com-frontend/issues/552 closing.

[2017-03-11 23:48] #677 closed

[2017-03-11 23:49] #576 closed

[2017-03-12 02:51] mmahalwy commented on #675
+1 on this.

[2017-03-12 02:52] mmahalwy commented on #674
+1 on this too :)

[2017-03-12 02:52] mmahalwy commented on #552
Hmm, why do I feel like I already did this...

[2017-03-12 02:53] mmahalwy commented on #552
I did, but didnt do anything yet.

[2017-03-12 18:13] navedcoded commented on #678
Yeah I see what you mean. As salamu 'alaykum :)

[2017-03-12 18:13] #678 closed

[2017-03-12 18:15] navedcoded commented on #596
Let me know if I can help with any testing; I can't code but I can at least do that inshaAllah!

[2017-03-12 19:15] sabeurthabti commented on #596
That would be awesome, I actually was thinking we need some testers for our projects. Please feel free to do some exploratory testing. We are on slack, come join us.

[2017-03-12 19:29] navedcoded commented on #596
I would love to! Like I said I can't code, but I am technically savvy and I
have a variety of devices lying around home to test with.

I've got iPads, an iPhone, two Android phones, a Linux computer and also a
Chromebook; send anything that needs testing my way!

And I think I need to be invited to the slack team right?

On Sun, Mar 12, 2017, 8:15 PM Sabeur Thabti <notifications@github.com>
wrote:

[2017-03-12 19:44] sabeurthabti commented on #596
@navedcoded https://quranslack.herokuapp.com

[2017-03-12 21:59] sabeurthabti opened #681 "[Major BUG] Settings Cause Error"
Hi,

The settings link the nav is causing the application to crash.  React is updating none stop,
url:
https://staging.quran.com/

screenshot:
<img width="1301" alt="screen shot 2017-03-12 at 9 56 56 pm" src="https://cloud.githubusercontent.com/assets/2606228/23836380/0ed30f6e-076f-11e7-92a8-50a28450bba5.png">

This is a major block for any future production release.

[2017-03-13 18:52] mmahalwy commented on #681
Ah yes, this will fix it https://github.com/quran/quran.com-frontend/pull/671

[2017-03-15 03:17] AskYous opened #685 "Two page reading view"
I have a suggestion, which is to support two page reading view. There's plenty of space for it:

![image](https://cloud.githubusercontent.com/assets/791996/23932096/3c6599bc-08f3-11e7-96e5-7638ded33be0.png)

[2017-03-15 05:18] #656 closed

[2017-03-15 05:18] mmahalwy opened #686 "Multiple author for language translation"
![image](https://cloud.githubusercontent.com/assets/3749095/23934669/4c3ba078-091d-11e7-8cfa-6892b2955f90.png)

[2017-03-15 05:51] mmahalwy commented on #685
Great idea! I will add it to project

[2017-03-16 11:43] aslamhadi commented on #468
how is this going? or do we have mockup on how should the website look like when this happens? maybe I can help 🙇

[2017-03-16 14:07] AskYous opened #687 "When repeat is toggled on, clicking next should also repeat the next Aayah"
Salaam,

When I use the repeat option to memorize an Aayah, then click next on the player to memorize the next Aayah, the repeat feature still attempts to repeat the previous Aayah, and thus causes the next Aayah to be played. It gets confusing.

[2017-03-16 23:52] ATouhou opened #688 "[Feature Suggestion] Share with Background Images"
Look at how the guys at  https://reader.quranacademy.io/  makes people share ayat :-)

[2017-03-17 18:18] #637 closed

[2017-03-17 18:19] mmahalwy commented on #468
We do need help! @aslamhadi want to take it over?

[2017-03-17 23:30] naveed-ahmad commented on #681
Setting popup is still crashing app

<img width="772" alt="2017-03-18_0429" src="https://cloud.githubusercontent.com/assets/701567/24066348/8f03aef0-0b93-11e7-960a-905af8e9ae36.png">

[2017-03-17 23:30] mmahalwy commented on #681
hmmm... sooo weird :S

[2017-03-17 23:37] naveed-ahmad opened #689 "Render page mode with text for Chrome/Opera"

[2017-03-17 23:40] naveed-ahmad opened #690 "Load more ayah and render when user scroll down"
* Pagination is broken
* If possible, maybe we can try upward pagination while working on this

[2017-03-18 00:05] naveed-ahmad commented on #676
this was intentional, you enable night mode only on nights :)

But yes we can have cookie which last only 4-8 hours.

[2017-03-18 00:10] sabeurthabti commented on #676
@naveed-ahmad we can try to work out the time of the day and enable it accordingly?

[2017-03-18 00:26] naveed-ahmad commented on #676
`timezone` could make this simple toggle switch very complex imo @sabeurthabti also sorry I'm not that good in reactjs :( for now I'm just saving to in options cookies. We can work on intelligent night mode later on :) thoughts ?

[2017-03-18 00:27] naveed-ahmad commented on #676
Maybe I'm missing something.

[2017-03-18 00:34] mmahalwy commented on #676
i can help on this too.

[2017-03-18 00:39] naveed-ahmad commented on #676
@sabeurthabti  @mmahalwy feel free to take over from https://github.com/quran/quran.com-frontend/pull/692 and make night mode timezone/day aware :)

[2017-03-18 00:42] mmahalwy commented on #676
too difficult. plus, I like to see Quran.com in white bg all times. would be bothered if it changed by itself, personally.

[2017-03-18 07:07] mmahalwy opened #693 "[Major] Calling API and rerendering when visiting surah page"
Going to `/1` will result to calling API again and rerendering.

[2017-03-19 08:44] #681 closed

[2017-03-19 09:20] #693 closed

[2017-03-19 09:26] #676 closed

[2017-03-19 09:26] #621 closed

[2017-03-19 10:20] mmahalwy opened #698 "SurahInfo for SEO"

[2017-03-19 17:08] maaizelahi commented on #687
Would love to help on this and any other issues....I am a front end developer with 6 years of experience

[2017-03-19 19:08] ATouhou opened #700 "Indexed arabic tafaseer ressource"
Have a look at this!
http://furqan.co

[2017-03-19 19:21] ahmedre commented on #700
i have contact with the brother that maintains and runs this site, so i can ask him for permissions. what exactly do we want right now that's missing?

also, Quran for Android has several bundled Arabic tafaseer (Ibn Kathir, Qurtubi, and others) that we could bundle.

[2017-03-19 19:30] naveed-ahmad commented on #700
We already have 8 tafisrs in Arabics. 👎 for adding new one for now atleast for another arabic tafsir.

<img width="287" alt="tafsirs" src="https://cloud.githubusercontent.com/assets/701567/24084012/3c8898f8-0d04-11e7-8d94-af90197ae229.png">

[2017-03-19 20:19] ATouhou commented on #700
I think getting them all at some point would be wonderfull so all needed ressources are at one webpage

this one is amazing
أضواء البيان في إيضاح القرآن بالقرآن
by
محمد الأمين الشنقيطي
<3

[2017-03-19 20:21] ATouhou commented on #700
It would be very fast to index them all with/without his help as they are indexed by ayah

[2017-03-20 02:58] #686 closed

[2017-03-20 02:59] mmahalwy commented on #687
@maaizelahi please take it! We need help!

[2017-03-20 12:56] ehabdayoub opened #703 "I want access to database"
I'm working on a project "quran Inflections" and I cloned your website for this purpose
now I need access to the database
@mmahalwy

[2017-03-20 17:19] mmahalwy opened #704 "Contact us page should just be the zendesk form"
https://quran.zendesk.com/hc/en-us/requests/new

[2017-03-20 17:21] mmahalwy commented on #700
I think we need to figure out a way to display them :)

[2017-03-21 17:18] mmahalwy commented on #703
Salam @ehabdayoub I'd suggest adding yourself to our slack account.

[2017-03-21 17:18] #703 closed

[2017-03-21 17:19] mmahalwy commented on #690
Fixed pagination on staging. Let's add another issue for upward pagination.

[2017-03-21 17:19] #690 closed

[2017-03-22 02:22] Nourin-Eka commented on #687
@maaizelahi Salam. Have you started working on this?

[2017-03-22 04:15] praisedpk opened #705 "Please use WOFF2 fonts"
AOA,

WOFF2 fonts are now supported by more than 75% of browsers, and the level of support is increasing day by day.

Why I have opened this issue is because:
1. WOFF2 fonts' file size is roughly quarter the size of TTF fonts;
2. Site loads really slow, and arabic text takes even longer to load on even not-so-slow connections.

Hope you take this as priority.
Jazakallah.

[2017-03-22 04:47] maaizelahi commented on #687
@Nourin-Eka : Walaikum Assalam... Will be working on it over the weekend

[2017-03-22 05:55] mmahalwy commented on #705
salam. Can you take a look at staging.quran.com and let us know?

[2017-03-22 06:55] #627 closed

[2017-03-22 06:56] #588 closed

[2017-03-22 06:56] #581 closed

[2017-03-22 06:56] #569 closed

[2017-03-22 06:56] #560 closed

[2017-03-22 06:57] #530 closed

[2017-03-22 07:28] praisedpk commented on #705
Wa Alaikum As Salam,

This one is a lot better. Font files are now relatively smaller. Also, your nginx is sending gzipped ttf files but keycdn will not do it when it will be live, that will have some performance impact.

Anyways, thanks a lot for continuously improving the site for us.
Jazakallah.

[2017-03-22 07:32] mmahalwy commented on #705
@ahmedre can we confirm? CDN not sending gzipped?

[2017-03-22 07:51] praisedpk commented on #705
FYI, Here is the screenshot of my Firefox 52.0.1: http://prntscr.com/emzd23
Content-Encoding for JS and CSS is fine for me.

[2017-03-22 12:46] Nourin-Eka commented on #687
@maizelahi : In case you think I can help, please comment on this thread.

[2017-03-23 05:26] ahmedre commented on #705
jazakAllah khairan for pointing this out. this was actually my fault. this specific cdn host is based on pull (so it mirrors based on whatever the nginx config parameters are) - i unfortunately didn't have ttf as part of the gzipped types. i've fixed this now:

[code]

i've set the cdn to purge its cache, but not sure how long it takes to propagate, but let's keep an eye on it insha'Allah. jazakAl

[2017-03-23 16:41] ysofi commented on #639
The above reasons (UX and interpretation spanning multiple ayahs) amongst others make me think perhaps it's better to have tafsir as a separate app.

Perhaps tafsir.quran.com

Similar to corpus.

Tafsir discussion is scattered, what's the best channel to talk about it on the Slack group?

[2017-03-24 05:24] abdulapopoola commented on #525
I can start with this inshaaha Allaah. @mmahalwy, any tips on where to start?

[2017-03-24 11:30] Gujarats commented on #615
Yup I got the same issue here

[2017-03-24 11:45] sabeurthabti commented on #525
@abdulapopoola i'd start by running the application locally and trying to reproduce the the bug. If you have the chrome developer tools, you should see an error - try to follow the error.

[2017-03-25 06:36] abdulapopoola commented on #468
I should inshaaha Allaah be able to pick this one; @aslamhadi do you want to take this one? If not, I can take a stab.

[2017-03-25 06:40] aslamhadi commented on #468
I'm working on it :) @mmahalwy @abdulapopoola

[2017-03-25 13:56] sabeurthabti commented on #654
@AskYous I'd be happy to review a pull request on this, any ideas where it might fit within the UI?

[2017-03-25 16:00] AskYous commented on #654
Thank you @sabeurthabti!

Here's two mockups where it should fit in the UI. Of course, use some styling too to make it go with the theme:

# Home Page
![image](https://cloud.githubusercontent.com/assets/791996/24323863/5a86477c-1139-11e7-96c6-ede1dda2d8f4.png)

# Soorah Page
----

![image](https://cloud.githubusercontent.com/assets/791996/24323825/fbd79316-1138-11e7-9dc9-4e475556a1e8.png)

[2017-03-25 19:25] abdulapopoola commented on #615
@AskYous this should be fixed by #707; can this bug be resolved once it is deployed to production?

[2017-03-25 23:28] AskYous opened #709 "Stop Signs In Aayaat Disappear While Verses is Playing"
Salaam,

Please notice the difference when a verse is highlighted for playing and when it's not. The stop signs disappear:

# Not Playing (They're Good)
![image](https://cloud.githubusercontent.com/assets/791996/24326936/d98efa62-1177-11e7-9894-74c01a77986b.png)

# While Playing (They're Hidden)
![image](https://cloud.githubusercontent.com/assets/791996/24326944/071237f6-1178-11e7-957d-9219ca62479

[2017-03-27 13:27] cpfair opened #711 "Unified settings pane"
Rather than having settings spread across modals, dropdowns, tooltips, etc, where nobody can find them, why not something like this? (MS Paint mockups, thanks @ysofi for the idea)

Closed (reduced top-bar clutter - just the universal "settings" gear):
![quran-settings-closed](https://cloud.githubusercontent.com/assets/271275/24358488/420363c8-12cf-11e7-8814-720f957b7ae0.png)
Open:
![quran-settings

[2017-03-27 17:19] mmahalwy commented on #654
+1 @AskYous

[2017-03-27 17:20] mmahalwy commented on #639
+1 on @ysofi

We can either do separate app or open a modal with that information.

[2017-03-27 17:22] mmahalwy commented on #525
Ah, yes, I kind of know what the problem is here.

The audio player is getting a new chapter id but the verses call hasnt resolved yet, crawling the audio player to an error. Rather, that audioplayer should wait until a pending verses call is resolved.

@abdulapopoola ^^

[2017-03-27 19:32] sabeurthabti commented on #654
@AskYous  + 1 love it. We have https://github.com/quran/common-components, where we put common components, this would be an awesome candidate.  Demo of current components: https://quran.github.io/common-components/

[2017-03-28 18:46] #468 closed

[2017-03-30 19:20] naveed-ahmad opened #713 "Corrupted fonts files"
Fonts for page# 105, 270, 552, 554 are corrupted.  Need to regenerate these fonts.

[2017-03-30 20:13] mohamede1945 opened #714 "Clarification of using Source Code In Other Projects"
We would like to understand with no confusion, what are the guidelines for using the source code of any of the repositories under Quran organization?

Usually, we get requests for permission to use the source code to build another Quran app (Web/Android/iOS). We would like a clear statement on this matter.

[2017-03-31 16:56] naveed-ahmad commented on #685
Two page view don't support infinite scrolling, user have to click `previous page` and `next page` OR a select tag for jump to specific page. IF we're going to have two page view anyway, how about this design: http://v4.globalquran.com/#/quran-uthmani+ar.jalalayn+en.ahmedali/1

https://github.com/GlobalQuran/site seems to be dead :(

[2017-03-31 17:20] #689 closed

[2017-04-01 22:18] mmahalwy commented on #685
Agree.

[2017-04-02 17:40] naveed-ahmad opened #716 "Changing translations is not re-rendering the page"
User have to reload the page manually to see newly select translations

[2017-04-06 11:11] naveed-ahmad opened #718 "Limit selection of translations: User should not be able select more than xx translations"
Maybe max 10 translations.

[2017-04-08 00:53] #711 closed

[2017-04-08 21:23] naveed-ahmad opened #723 "Learning mode page for Verse"
## A special reading mode:

### A Single verse page where:

* User can see word transliteration and translations without switching the setting( sometime you need both, especially for those who can't read Arabic )
* Corpus and grammar for each word ( we've data )
* Show selected translations for verse
* Verse tree( annotated morphology and grammar img from corpus.quran.com )
* Pagination for next,

[2017-04-08 21:27] naveed-ahmad commented on #705
tried woff2, unfortunately didn't worked. We've very special/odd fonts ligga didn't worked with woff2. Closing this.

[2017-04-08 21:27] #705 closed

[2017-04-08 21:42] #511 closed

[2017-04-08 23:08] mmahalwy commented on #723
+1

I'd even imagine having words first. So `/words/1:1:1` as example, and it would have all the data similar to corpus?

[2017-04-08 23:10] mmahalwy commented on #723
It'd be cool to have stats too! Like, how many times is this word mentioned in the Quran.

[2017-04-08 23:11] #716 closed

[2017-04-08 23:11] #698 closed

[2017-04-08 23:12] #685 closed

[2017-04-09 00:14] #617 closed

[2017-04-09 00:14] #550 closed

[2017-04-09 00:14] mmahalwy commented on #549
Almost!

[2017-04-09 00:14] #548 closed

[2017-04-09 00:15] #456 closed

[2017-04-09 00:15] #368 closed

[2017-04-09 00:15] #269 closed

[2017-04-09 00:16] #184 closed

[2017-04-09 00:17] mmahalwy commented on #704
Meh, going to close for now

[2017-04-09 00:18] #619 closed

[2017-04-09 04:24] praisedpk commented on #705
Sorry to interrupt again.

How did you verify that woff2 isn't working? Did you use Mac? Or Windows platform? Operating systems render woff2 fonts differently. Google font, when using woff2, sends different font files for Windows and Mac.

http://michaelboeke.com/blog/2013/09/10/Self-hosting-Google-web-fonts/

[2017-04-09 06:41] hasibsahibzada opened #725 "CustomPropTypes for Components"
PropType validations inside the component are done which is very cool, i want to create a centralized file that holds all these prop types which each of them will hold a separate custom name and then we can call that custom name of it inside our component for prop type validation.
Example:
The below prop validation is done in Verse component:
[code]
That whole prop types will be shifted in a custo

[2017-04-09 20:30] ahmedre opened #727 "Word by word highlighting is broken on staging"
word by word isn't highlighting like it used to on staging.

[2017-04-09 20:31] ahmedre opened #728 "staging audio bug with continuous playback"
on staging, go to fatiha.
hit play next to the basmallah - observe, after the end of basmallah, it stops.
works fine when you start from ayah 2, however.

[2017-04-09 20:31] ahmedre commented on #728
also, pause button doesn't get uncolored when you play the basmallah.

[2017-04-09 20:32] ahmedre opened #729 "staging - search hint doesn't go away when search box is focused"
the hint text is great - "search Noah" - awesome, but when i click, it still says it - it should disappear before i type anything once i focus (and if i un-focus, it should go back to the way it was).

[2017-04-10 00:32] mmahalwy commented on #729
It's a placeholder!

[2017-04-10 01:43] mmahalwy commented on #725
Thanks for the PR!

[2017-04-10 01:43] #725 closed

[2017-04-10 01:44] #727 closed

[2017-04-10 01:44] #728 closed

[2017-04-10 01:57] #648 closed

[2017-04-10 01:57] #654 closed

[2017-04-10 02:55] naveed-ahmad opened #733 "Change reciter bug"
* Play any ayah
* Change the reciter

And you'll get hear two recitation, segments gone mad as well :)

[2017-04-10 03:44] atalebagha opened #734 "Ability to print/export pages to pdf"
My wife was looking for a way to print/export actual pages of the qur'an (othmani script/madina mushaf) to PDF and I realized there was no way to do that.  We should add a feature to print pages out in Mushaf mode and non-mushaf mode as well.

[2017-04-10 10:00] sabeurthabti commented on #734
#529

[2017-04-10 14:55] ysofi opened #735 "Text based fonts (staging)"
Alhamdulillah, the new text based fonts are looking good.

Below are a few issues and tests.

Firstly they seem to have fixed an issue in firefox with the pause signs were being cut off, along with parts of the letter alif in some verses. If someone can test this on Firefox on other platforms (Mac, Linux) and earlier versions of Windows that would be great insha'Allah.

**Example of old fonts on F

[2017-04-10 14:56] ysofi commented on #735
#672

[2017-04-10 15:23] naveed-ahmad commented on #735
Jazak Allah khairan @ysofi thanks detailed report. The real problem is to confirm is all glyph are working,  while debugging issues you reported on PR I noticed glyph for يَا أَيُّهَا	 was't working on almost all pages(Chrome/Mac), but works fine on Window(Edge and Chrome). Working on a tool to compare rendering text with different font types. Will fix the font next week inshAllah after completing

[2017-04-11 08:05] #734 closed

[2017-04-11 20:00] #609 closed

[2017-04-18 05:14] #729 closed

[2017-04-18 05:15] mmahalwy commented on #735
Update on this?

[2017-04-18 07:19] mmahalwy opened #737 "Replace google optimize with tag manager"

[2017-04-19 08:32] mmahalwy opened #742 "Remove 'Loading...' for component loading"

[2017-04-19 08:36] mmahalwy opened #743 "Use pm2-docker"
http://pm2.keymetrics.io/docs/usage/docker-pm2-nodejs/

[2017-04-19 08:39] naveed-ahmad opened #744 "Voice search"
DEMO: https://iqraapp.com/app/search

they're using `webkitSpeechRecognition` api

[2017-04-19 08:40] ahmedre commented on #744
i know the brother that works on that - let me know if you want me to ask him for anything (collaboration, etc)

[2017-04-19 08:41] naveed-ahmad commented on #744
https://github.com/Crescent-Labs/iqra-web/blob/58bf3d7aa7ed60a76944eda47d95d149f8df8cb1/src/components/Recording.jsx

Its open source. Hopefully we could reuse lot of their functionality.

[2017-04-19 13:28] AskYous opened #745 "Page not loading fully"
Salaam. I navigated to https://quran.com/38/75 this morning and received the following.
Nothing else loads on the page:

![image](https://cloud.githubusercontent.com/assets/791996/25182394/506329ba-24c9-11e7-8e0b-bd23124ae0f5.png)

[2017-04-19 15:15] ysofi commented on #745
Wa-alaikum salam, is it still doing that?

![chrome_38_75](https://cloud.githubusercontent.com/assets/17520348/25187454/a4b4b74a-2555-11e7-8339-8ee0cc95a7f6.gif)

Just tried on Chrome 57 and it seems fine from here (although it may be loading from a different server due to region). Wasn't cookies as it was a new incognito window.

[2017-04-19 15:19] ysofi commented on #745
Somebody (ticket #7838) recently mentioned the same behaviour for quran.com/33/73 and it checks out.

Tried on multiple browsers and it's reproducing.

[2017-04-19 16:00] AskYous commented on #745
It's working now! I'll close this issue.

[2017-04-19 16:00] #745 closed

[2017-04-19 16:07] ysofi commented on #745
Alhamdulillah.

[2017-04-19 16:07] AskYous commented on #685
Salaam. I'm confused. I see the update on quran.com that it now takes up the entire page as in the screenshot below. Is this new UI the implementation of this issue? For this issue, I meant seeing two pages (like page 200 and 201 from the Mushaf with a separation in between). Not that the text should span the entire page.

![image](https://cloud.githubusercontent.com/assets/791996/25189880/6525be5

[2017-04-19 18:14] mmahalwy commented on #744
I am going to write them an issue

[2017-04-19 20:21] houda95 opened #752 "Selecting ayaat within a range no longer works"
Latest release no longer allows one to select ayaat to listen to within a range.  It is not possible to select which ayaat to include in the range.

[2017-04-19 21:12] naveed-ahmad opened #753 "Jump to verse is not working in page mode"

[2017-04-19 22:09] pappu687 commented on #733
Yes, I just got this too.

[2017-04-20 08:20] #704 closed

[2017-04-20 08:20] #742 closed

[2017-04-20 12:32] houda95 commented on #752
I had a few minutes so was able to give the repo a quick glance and it seems as though commit https://github.com/quran/quran.com-frontend/commit/230eaf522747431097bbb24a8c376281cb2b94ef may have been the cause of the issue

It was committed at a similar time as to when I noticed the problem and seems to touch code which impacts the repeat functionality. I do not have access to my personal dev mach

[2017-04-20 16:57] mmahalwy commented on #752
@houda95 sorry can you give more details about this? Screenshots, etc. I am a little confused by what you mean by range.

[2017-04-20 18:05] mojjy commented on #744
I wonder what it will do with accents?

[2017-04-20 20:25] houda95 commented on #752
@mmahalwy my apologies - wasn't sure what to call it. The problem now appears to be fixed but for reference I was talking about this <img width="330" alt="range-image" src="https://cloud.githubusercontent.com/assets/5567940/25250836/96668366-265a-11e7-9982-284bfff9847a.png">

The 'From:' and 'To:' drop-downs were not being populated with the ayaa numbers.

[2017-04-20 21:47] #752 closed

[2017-04-20 21:51] naveed-ahmad commented on #340
Seems be to fixed somehow :)

[2017-04-20 21:51] #340 closed

[2017-04-20 22:52] mmahalwy commented on #752
Okay, thank you!

[2017-04-21 17:14] mmahalwy commented on #744
In my mind, for it to work, a user would click and recite and it would do a search right away by doing speech-to-text and searching against that text. @mmmoussa tells me their API adjusts for mistakes, etc. which we may not have with ES currently.

[2017-04-23 11:06] azeezolaniran2016 commented on #243
Hello all, I would like to take a shot at this. What I've done is search for ayah /2/255 and I noticed that once it fetches it I can't scroll up to ayahs before /2/255. I guess that's the issue.
Now, I just want to ask, is there any expected way to implement this or I can just use my discretion ?
Also, I would appreciate any hint on where to start from ?

[2017-04-24 14:42] naveed-ahmad opened #760 "Player and Go to verse issues"
Player and go to verse dropdown has multiple conflicts:

# Steps to reproduce issues:
* Go to any Surah
* Play the first verse
* Select any verse from go to verse dropdown
* 1: Player will now play multiple verses simultaneously. Pause btn in player bar won't stop first recitation.
* 2:  Go to 2/1, then select verse from dropdown which isn't loaded yet(> 10, say user select 30). Now user can't see

[2017-04-24 14:56] naveed-ahmad commented on #685
@AskYous two page view isn't possible. Issue is with scrolling and auto loading more ayah. ^ this was bug which is fixed.

[2017-04-25 13:02] murad073 opened #761 "BUG: playing multiple verses at the same time"
Listening to an ayat, and click next ayat button from the player. It does not stop the previous ayat, rather both ayat is reciting at the same time. If you click Next icon multiple times, the recitation will be all together. It was not like the same before.

[2017-04-25 13:06] murad073 opened #762 "Bug: listening first verse does not continue to the next."
Listen the first verses of a surah. It does not continue to the next verse. However, if you listen second verse, it will continue to the third verses, and so forth.

I tired with chapter 2 and 3. Same for both.

![image](https://cloud.githubusercontent.com/assets/1317890/25386764/756f4a64-2996-11e7-93e0-2c4c24e2657e.png)

[2017-04-25 21:14] sabeurthabti commented on #243
@azeezolaniran2016 this might be a tricky first task to start with. Can I recommend: #653? would allow you get some experience with the app. Pleas ping me/us on slack if you require anything.

[2017-04-25 21:17] sabeurthabti commented on #652
I think we had one also raised for page mode.

[2017-04-25 21:21] sabeurthabti commented on #587
closing as this is not reproducible

[2017-04-25 21:21] #587 closed

[2017-04-25 21:24] sabeurthabti commented on #630
Going to close, I think fixed is the better solution for now.

@imomer please feel free to raise this again, maybe propose an implementation on https://github.com/quran/common-components.

[2017-04-25 21:24] #630 closed

[2017-04-25 21:25] sabeurthabti commented on #630
Going to close, I think fixed is the better solution for now.

@imomer adipurnama141 please feel free to raise this again, maybe propose an implementation on https://github.com/quran/common-components.

[2017-04-25 21:25] sabeurthabti commented on #630
Going to close, I think fixed is the better solution for now.

@imomer @adipurnama141 please feel free to raise this again, maybe propose an implementation on https://github.com/quran/common-components.

[2017-04-25 21:28] sabeurthabti commented on #624
Closing as we don't have a Malay translation.
@EvilTwin01 If you would like to contribute Malay:

1. https://github.com/quran/quran.com-frontend/blob/master/CONTRIBUTING.md
2. add the Malay locale file: https://github.com/quran/quran.com-frontend/tree/master/src/locale

[2017-04-25 21:28] #624 closed

[2017-04-25 21:30] sabeurthabti commented on #604
closing @umarsheikh13 fixed this.

[2017-04-25 21:30] #604 closed

[2017-04-25 21:32] #513 closed

[2017-04-27 01:32] AskYous opened #763 "Audioplayer is empty when in reading mode"
![image](https://cloud.githubusercontent.com/assets/791996/25463971/b5303820-2aae-11e7-83ef-aef75bfa057b.png)

[2017-04-27 08:39] KashifHK123 commented on #763
Please Change Browser and

 because "**Quran.com**" based on **Javascript**.

[2017-04-27 09:45] AhmedShab commented on #762
I'm keen to look into this bug 😄

[2017-04-27 15:59] mmahalwy commented on #762
@AhmedShab please do!

[2017-04-27 16:00] mmahalwy commented on #763
@AskYous is correct. I think there is a bug with reading mode.

[2017-04-27 16:12] AskYous commented on #763
It's actually appearing for me now. I didn't change anything.

[2017-04-27 16:46] mmahalwy opened #766 "Add hreflang"
See airbnb:
![image](https://cloud.githubusercontent.com/assets/3749095/25494367/4676f164-2b2e-11e7-8169-7c8896c03f25.png)

With google telling us:
![image](https://cloud.githubusercontent.com/assets/3749095/25494373/4d2217d2-2b2e-11e7-9f24-05c1b7dc97d3.png)

[2017-04-27 16:49] mmahalwy opened #767 "AMP: Accelerated Mobile Pages"
https://support.google.com/webmasters/answer/6340290

[2017-04-27 16:58] mmahalwy opened #768 "search appearance"
![image](https://cloud.githubusercontent.com/assets/3749095/25494886/077a3078-2b30-11e7-80ff-ca4438729977.png)

- [ ] Should instead have the image of the surah title.
- [ ] Should have the same title as home with the surah name

[2017-04-27 18:13] azeezolaniran2016 commented on #243
Thanks @sabeurthabti. I'll do #653 then.

[2017-04-27 18:31] naveed-ahmad opened #769 "UI for pagination"
Infinite scrolling is great but it has few drawback as well. For slow connection you want to load fewer items per page, and sometime you accidentally scroll down and app triggered the call to load more items. Loader cover the whole screen, impossible to do anything until the more items are not loaded and rendered. How about this is ? let user decide the app behaviour! just mockup, we can have bett

[2017-04-27 18:33] naveed-ahmad commented on #768
We've images of ayah, I would prefer to add ayah images in meta tags. This could generate lot of traffic from image search as well.

[2017-04-27 18:36] naveed-ahmad commented on #766
Duplicated  https://github.com/quran/quran.com-frontend/issues/544

Need to decide the url format, en.quran.com OR quran.com?language=en

[2017-04-27 18:36] #766 closed

[2017-04-27 19:09] naveed-ahmad opened #770 "Routing issues"
- /001/001 and all variant should redirect to /1/1
- /001 and all variant to /1
- /001:001 and variant to /1:1

Redirect should be permanent 304

[2017-04-27 19:19] ahmedre commented on #769
i like Apple's approach of "pick the right ui behavior for the user and provide as few options as possible" - i think auto load on scroll is good, but we can be much more restrictive about it. on mobile, we have something that gives us an estimate of how good or bad the connection is - is there something similar for web that we can use and then we can limit or gate accordingly?

[2017-04-28 18:23] AskYous commented on #769
I would like auto scroll still there, but just remove that big loading circle that covers the entire page. It's very very annoying.

[2017-04-28 20:51] AhmedShab commented on #762
@murad073 I was testing this bug. Downloaded the project to my local machine and it seems it works fine. It starts the first verse of the surah then continue on.

There is a completely different bug though. After the initial start, you can't go back and listen from the first to the following order of the rest of the verses.

[2017-04-28 20:58] AhmedShab commented on #762
Actually, I tested it again, it looks like if you already listened to the surah, come back to it again then listen one more time. It doesn't continue to the second verse.

It's most likely related to cache. I tried to clear my cache and it worked. Will investigate  more to find the source in the code

[2017-04-29 13:42] ysofi commented on #769
@AskYous

Agreed!

It breaks the reading flow unnecessarily. The loader should be set back to the bottom as per PR #750

+1 Ahmed

[2017-04-29 22:18] AhmedShab commented on #762
@mmahalwy  Here is what I discovered. The first time when you go to a Surah, it shows the progress bar from the start (initial progress bar is at the beginning). Then when you refresh the page, the first verse's progress bar, for some reason, is at the end. Therefore, the state does not change and that concludes why `handleAddFileListeners` method is not being called. It's the one which is respons

[2017-04-30 19:57] mmahalwy commented on #768
AGREED! Let's do that?

[2017-04-30 20:59] mmahalwy commented on #769
Agreed. I don't like the loading on the whole page.

[2017-04-30 21:00] mmahalwy commented on #544
My vote for ` quran.com?language=LANGUAGE`

[2017-04-30 21:57] naveed-ahmad opened #774 "Segments are not working in reading mode"

[2017-05-01 07:47] #529 closed

[2017-05-01 08:19] AhmedShab commented on #673
This should be a feature labeled not a bug

[2017-05-01 14:02] murad073 commented on #762
@AhmedShab , thanks for looking into the bug. Actually I tried again, and the bug seems exists, without moving to another surah and come back.

Here goes the environment details:
Machine: Windows 7 x64
Browser: Chrome
Url: https://quran.com/2
Action: instead of clicking the player buttons, I clicked small play button with the first ayat, Refer to the actual bug image.
Comment: Cache Clear has no i

[2017-05-01 19:15] sabeurthabti commented on #673
@murad073 @AhmedShab once playing the icon should change to pause/stop

[2017-05-01 20:13] mmahalwy opened #780 "Remove footer from PDF"

[2017-05-01 20:13] naveed-ahmad commented on #780
Would be nice if we can add "Exported from Quran.com" text in footer.

[2017-05-02 06:57] mmahalwy commented on #762
Sorry guys, had my plate full but slowly getting back to it for bugs + others before Ramadan!

[2017-05-02 07:02] #544 closed

[2017-05-03 00:09] AskYous commented on #763
It's happening again:

![image](https://cloud.githubusercontent.com/assets/791996/25644316/099ae9c8-2f5a-11e7-9a62-457e3e7dab79.png)

[2017-05-04 06:39] naveed-ahmad opened #781 "New content pages for SEO"
## Translations
- [x] /1/1/translation-slug

## Tafsir
- [ ] /1/1/tafsir/tafsir-slug

[2017-05-04 23:16] mmahalwy commented on #763
This is a known bug. I think i logged it somewhere.

[2017-05-06 10:56] mmahalwy opened #784 "Settings should be a modal"
It's not working properly on mobile, which is a huge portion of our traffic.

[2017-05-06 11:45] ysofi commented on #784
Is that in general or with a specific OS/device/browser?

[2017-05-09 05:14] naveed-ahmad opened #786 "The play() request was interrupted by a call to pause()"
Chrome is throwing lot of these warning/errors, and sometime playback also stop.

[2017-05-09 11:25] Gujarats opened #787 "Arabic Word / Quran verses not well displayed"
Sometimes when scrolling down after reading some verses I often got the verses of the quran is not well displayed as for example like this :

![bugs](https://cloud.githubusercontent.com/assets/10476678/25848418/794dbe50-34e4-11e7-8609-d2af13e873ff.png)

Is there any way to check if the quran verses is well displayed? like for example when loading the verses when scrolling down?

my assumption is t

[2017-05-09 15:05] naveed-ahmad commented on #787
Yeah fonts failed to load due to slow connection. InshAllah new fonts will resolve this break.

[2017-05-09 22:17] Gujarats commented on #787
Are you guys using http2.0 to get all the resources like images , script and stuff?

Correct me if I'm wrong here but maybe it will give the boost improvement for the loading speed.

[2017-05-13 11:42] #784 closed

[2017-05-13 11:45] mmahalwy commented on #787
@naveed-ahmad we should try to do the text output until fonts load as previously, or work on the fonts again please :)

[2017-05-14 01:27] AhmedShab commented on #762
I noticed that it doesn't move the progress bar instead of not having it loaded. I'm convinced it's something to do with the cache. If you try Ctrl + F5, it works just fine (http://refreshyourcache.com/en/cache/)

When I run it on my local machine, it seems like every time it reloads it clear the caches

I might have to investigate the backend as well for this task. @mmahalwy, can you direct me to

[2017-05-14 11:35] #770 closed

[2017-05-14 12:47] naveed-ahmad commented on #658
done via https://github.com/quran/quran.com-api/pull/146

[2017-05-14 12:47] #658 closed

[2017-05-14 12:49] naveed-ahmad commented on #781
done https://github.com/quran/quran.com-api/pull/146

[2017-05-14 12:49] #781 closed

[2017-05-15 02:26] jama707 opened #790 "Range play is not working properly"
Steps to reproduce:
1. Go to any surah.
2. From the player select `repeat` -> `range`
3. And select 3-4 ayah range to play in loop.
When it reaches to end of the range, it keeps playing even after the range and at the same time another recitation is started from the beginning of the range.  So two recitation is playing now.

[2017-05-16 13:08] naveed-ahmad commented on #787
Trying to complete FB app and fix the fonts before Ramdan, both task are complicated :(

[2017-05-17 01:06] zfaizal opened #793 "Sura toggle does not change to current surah"
Asalamualaikum, I am not sure if this issue has been flagged after looking through current issues but I have found that when toggling between Surahs either using the dropdown, or the arrow toggle the name of the Surah in the top left does not change to the current Surah.

![screenshot](https://cloud.githubusercontent.com/assets/2507977/26134212/9a1c9820-3a72-11e7-95cf-42565881dc52.png)
For example

[2017-05-17 08:07] mannanali413 commented on #763
@mmahalwy i can pick this up.

[2017-05-17 09:30] AhmedShab commented on #760
@naveed-ahmad I will look into this if you like :)

[2017-05-17 09:41] AhmedShab commented on #760
It looks like Mohamed is working on it. In that case, I can look for something else

[2017-05-17 09:44] #762 closed

[2017-05-17 09:44] sabeurthabti commented on #762
Fixed by @AhmedShab

[2017-05-17 19:50] AhmedShab commented on #688
I can work on this next. What are the requirements? Like do we want something similar to them?

[2017-05-18 07:56] AhmedShab commented on #673
I will work on this :smile:

[2017-05-18 20:38] mohhasbias commented on #793
i've tried to reproduce this problem. but i got the inverse of it, such as these
![image](https://cloud.githubusercontent.com/assets/2347137/26222504/705ce2b4-3c44-11e7-94de-e1d9b2fc211d.png)
The surah is Al-Qadr, but the toggle is Al-Fatihah.

To reproduce:
1. Visit Quran.com
2. Click Al-Fatihah
3. From surah toggle (select), choose Al-Qadr.

[2017-05-19 02:17] zfaizal commented on #793
The toggling is not limited to those Surahs only. They apply to the toggling to any Surah. If you were to follow your directions again exactly, but this time:

2. Click Al-Qadr
3. From surah toggle select Al-Fatihah

Now, you will see what I have shown. The main issue is that the toggle does not match surah which the displayed ayahs are from.

[2017-05-20 12:33] mohhasbias commented on #763
@mannanali413, are you still working on this?

[2017-05-20 13:30] mannanali413 commented on #763
Yes

[2017-05-21 15:38] azeezolaniran2016 commented on #718
Hi @naveed-ahmad, I would love to handle this issue. Any hints on where I could start would be appreciated.

[2017-05-21 20:21] naveed-ahmad commented on #718
Salam @azeezolaniran2016 thanks, feel free to take this :)

We currently have 60 translations, we might have more in future. For now user can select all translations, which don't make any sense plus api call with 60 translations will put huge load on server. One simple solution is to simply disable the translation checkboxes when user select 10 translations, if user de-select one then we enable al

[2017-05-21 20:33] azeezolaniran2016 commented on #718
Thank you @naveed-ahmad.

[2017-05-22 19:58] azeezolaniran2016 commented on #718
Salam @naveed-ahmad. I have gone through this and I've decided to keep a count of how many items are checked and decide which checkboxes to enable or disable based of the checked count.

I have also discovered that the custom CheckBox component does not expose the 'disable' property. Is there a work around for this/ what do you suggest ?

[2017-05-22 20:04] azeezolaniran2016 commented on #718
Oh, interesting. This has lead me to discover https://github.com/quran/common-components.
I'm thinking of raising a issue there to add the functionality of disabling Checkbox components if not already created.

[2017-05-23 04:50] naveed-ahmad commented on #718
@azeezolaniran2016 Update quran-component to `0.0.71` added the disabled functionality few hours ago. Sorry forget to inform you earlier :)

[2017-05-23 06:16] ahmedre opened #796 "Arabic Search broken Fonts"
<img width="1199" alt="screen shot 2017-05-22 at 11 14 56 pm" src="https://cloud.githubusercontent.com/assets/47771/26340672/88e93e88-3f44-11e7-8af5-a7137ac834a6.png">

100% repro on Chrome - search for:
رحمة

also note that the experience when searching for Arabic isn't great - sometimes the autosuggestion box won't close, for example.

[2017-05-23 20:09] azeezolaniran2016 commented on #718
Thanks @naveed-ahmad :)

[2017-05-24 04:21] UmanShahzad opened #801 "Are refactor PRs allowed?"
Assalamu Alaikum brothers --

I wish to inshAllah get involved in contributing to Quran.com whatever way I can, and the first step for me would be to get more familiar with the codebase, its structure, etc..

In the process of reading through it I reckon I'll find random things that could be refactored, and usually a new reader or a developer coming back to read his own code has the best eye for t

[2017-05-24 18:05] mmahalwy commented on #801
Please do! Refractors are more than welcome, but the only thing I'd caution is making it easier for us to review it and making it easier for us to transition it in. The last thing we would want is a huge PR that sits there and is a complete rewrite. Lastly, if you foresee it will be slightly larger, maybe create PRs against an open PR of your own (branch called refactor, branch called refactor1 th

[2017-05-24 19:41] mmahalwy opened #802 "There are problems with the auto-loading of ayahs around 121-131 in as-Saffat"
From @ysofi:

[code]
Error:
[code]

[2017-05-24 19:58] naveed-ahmad commented on #802
its data related issue:

 {
          "id": 77955,
          "position": 4,
          "text_madani": null,
          "text_indopak": null,
          "text_simple": null,
          "verse_key": "37:130",
          "class_name": "p451",
          "line_number": 2,
          "page_number": 451,
          "code": "&#xfb62;",
          "code_v3": "&#xfb62;",
          "char_type": "word",
          "au

[2017-05-24 20:02] naveed-ahmad commented on #802
إِلْ يَاسِينَ
 Need to break down them into two words, well we already found this while importing word audio. Sorry forget to fix :(

[2017-05-24 20:04] naveed-ahmad commented on #802
note to myself:

[2017-05-24 21:10] UmanShahzad commented on #801
@mmahalwy Great to hear! Definitely willing to help. Will take your advice into mind -- no one wants to a deal with a diff-mess-fest, understandably. I'll try to just incrementally push a PR when it looks like it's getting significant, to keep each one relatively light, inshAllah.

Looking forward to helping :)

[2017-05-25 08:06] mmahalwy commented on #802
@naveed-ahmad thanks for finding it - what should I do for this?

[2017-05-25 19:47] naveed-ahmad commented on #802
Need to fix the data, best tool to fix the data is community admin panel. We need to have production build for community. OR update via console( on all servers ) I believe @ahmedre was working on community build yesterday.

[2017-05-26 16:53] mmahalwy commented on #763
@mannanali413 sorry, due to ramadan being tomorrow, had to rush on this. Should be fixed in: https://github.com/quran/quran.com-frontend/pull/772

[2017-05-26 16:55] #582 closed

[2017-05-26 16:56] #534 closed

[2017-05-26 16:59] mmahalwy opened #803 "Homepage does not communicate well"
We have really high bounce rate on the homepage. In my opinion, and when speaking to a designer, we don't communicate _what_ quran.com does. For example, Airbnb tells you what they do and gives you the tools to customize your experience (search, etc).

![image](https://cloud.githubusercontent.com/assets/3749095/26504555/4618138e-4202-11e7-9ce3-ada6b6eb3aaf.png)

Meanwhile, we took legacy.quran.com

[2017-05-26 17:00] mmahalwy commented on #244
Looks great on desktop, but not great on mobile!

[2017-05-26 17:00] #455 closed

[2017-05-26 17:00] mmahalwy commented on #428
@sabeurthabti is there a way to link the two? Thoughts?

[2017-05-26 17:01] mmahalwy commented on #505
Going to close this?

[2017-05-26 17:01] #505 closed

[2017-05-26 17:02] mmahalwy commented on #653
I tihnk this is fixed

[2017-05-26 17:02] #653 closed

[2017-05-26 17:03] #605 closed

[2017-05-26 17:03] #566 closed

[2017-05-26 17:04] mmahalwy commented on #803
To begin, what I will do is transform our homepage into sketch so we can have people contribute on the design

- [ ] Create the design in sketch

[2017-05-26 17:05] mmahalwy commented on #801
Going to close this!

[2017-05-26 17:05] #801 closed

[2017-05-26 17:06] mmahalwy commented on #760
I think this is fixed no?

[2017-05-26 17:06] #760 closed

[2017-05-26 17:08] mmahalwy commented on #714
@mohamede1945 should we copy the license file you have in quran ios?

[2017-05-26 17:09] #476 closed

[2017-05-26 17:09] #243 closed

[2017-05-27 01:13] mohamede1945 commented on #714
Yeah, sure why not. It is the same one used in Android.

[2017-05-27 05:04] #733 closed

[2017-05-27 06:10] #408 closed

[2017-05-27 06:10] #763 closed

[2017-05-27 06:10] #774 closed

[2017-05-27 06:10] #761 closed

[2017-05-27 20:18] #718 closed

[2017-05-28 18:46] m-adilshaikh commented on #803
@mmahalwy will it go on invision? I don't have MacOS but I want to contribute, perhaps I could contribute there. If so, can I get an invite?

[2017-05-29 13:40] sabeurthabti commented on #803
@m-adilshaikh We use zeplin.

[2017-05-29 15:25] #780 closed

[2017-05-29 18:24] Hamnawa opened #808 "Paragraph position for RTL languages"
Translation text of RTL languages is positioned left and formatted as LTR language the dot of the last line appears in the beginning of line.

See the snapshot:

![image](https://cloud.githubusercontent.com/assets/29047583/26558961/c22834c0-44ac-11e7-8c2f-e74149a237b2.png)

[2017-05-29 22:02] jama707 opened #810 "Overlay loading is quite distracting when loading next ayah"
Assalam alaykum,

The Loading overlay between ayah loads is a bit distracting. Is it possible to add smaller loading line like Github/Youtube: http://www.usabilitypost.com/2013/08/19/new-ui-pattern-website-loading-bars/

[2017-05-30 00:02] naveed-ahmad commented on #810
@mmahalwy already fixed this https://github.com/quran/quran.com-frontend/pull/750 not sure why this wasn't merged with last build.

[2017-05-30 00:02] #810 closed

[2017-05-30 18:45] mmahalwy commented on #803
Sure +1 to both.

[2017-05-30 19:13] naveed-ahmad commented on #803
Sadly can't contribute in UI but as a user I would love to have these features on home page:

- When I visit Quran.com first time, app show me a welcome dialog, ask for login etc. Then guide me how to use app, something like this http://heelhook.github.io/chardin.js/
- Progress bar for each surah( a progress bar or text showing how many ayah I've read/listened for each surah )
- Lets bring the "co

[2017-05-30 19:24] #808 closed

[2017-05-30 20:33] #714 closed

[2017-05-30 21:38] mmahalwy commented on #803
@naveed-ahmad awesome suggestions! I think we definitely need to make auth work. one.quran.com has been stagnated and we should work on it again to make it work

[2017-05-30 21:39] mmahalwy commented on #688
@naveed-ahmad ^^

[2017-05-30 21:40] mmahalwy commented on #769
Going to close this. Seems like no progress. Feel free to reopen

[2017-05-30 21:40] #769 closed

[2017-05-30 21:53] #639 closed

[2017-05-31 08:55] Gujarats opened #811 "Loading pop up always showing on the bottom left corner"
This happens when I change surah where I click next surah atfer reaching the bottom of the surah.
here is the screen shoot  :

![quran loading screen](https://cloud.githubusercontent.com/assets/10476678/26623907/6aa93bc2-4619-11e7-802b-f0f5c8d2a53c.png)

any idea why this problem exist?

[2017-06-01 20:40] naveed-ahmad commented on #811
Sorry can you explain what's wrong with navigating to next surah ? @Gujarats

[2017-06-01 20:46] naveed-ahmad commented on #396
this was fixed long ago!

[2017-06-01 20:46] #396 closed

[2017-06-01 20:50] naveed-ahmad commented on #552
- https://quran.com/1?translations=21
- https://quran.com/1/1?translations=21

[2017-06-01 20:50] #552 closed

[2017-06-01 22:24] Gujarats commented on #811
@naveed-ahmad, the next surah navigation is working. the problem was that loading on the left bottom corner. can you see it on the picture ? it is always shows up.

[2017-06-01 22:25] naveed-ahmad opened #813 "Remove/Disable all ss-* icons that we're not using"
this will help reducing webpack size

https://github.com/quran/quran.com-frontend/blob/master/src/styles/fonts/_fonts.scss#L172

[2017-06-01 23:34] naveed-ahmad commented on #811
ah ok, yeah this is known bug and actually already fixed :)

Closing, feel free to reopen if you can reproduce this bug on https://staging.quran.com.

[2017-06-01 23:34] #811 closed

[2017-06-02 02:21] Gujarats commented on #811
@naveed-ahmad Okay I see. thanks for letting me know about this.

[2017-06-03 15:29] naveed-ahmad commented on #674
This is simple, at of each surah there is "go to beginning of surah"
button. Clicking on it should reset player to first verse of surah.

On Jun 3, 2017 5:19 PM, "Azeez Olaniran" <notifications@github.com> wrote:

[2017-06-04 05:23] Gujarats commented on #811
Hi @naveed-ahmad . I found this bugs again on staging.
https://staging.quran.com/10/21
when I go to that url. any idea?

[2017-06-04 05:25] Gujarats opened #815 "Loading pop up always showing on the bottom left corner"
This bugs has discussed earlier [in here ](https://github.com/quran/quran.com-frontend/issues/811).
So I found it again here on staging when I go to this url : https://staging.quran.com/10/21

[2017-06-05 03:39] Gujarats commented on #815
@naveed-ahmad I open once it works, but I open it again it shows the loading pop again it doesn't disappear.

[2017-06-06 01:48] ibz096 opened #816 "Can't play verse past 10"
I am unable to play any verse of a surah past the 10th verse.

I have noticed this for Al-Baqarah and Al-'Imran.

I usually see the following message in the console

[2017-06-06 15:41] KhadimAlQuran opened #817 "Shape of the circle around the number of the verse"
Assalam alaykom wa rahmatou Allah ta3ala wa barakatouh,

May Allah reward you for the great and hard work and may Allah help you in the Ihssan of this great project.

Talking about Ihssan , I really dislike the shape of the circle around the number of the verses, I feel that is like ears of a devil and for that reason I don't share pictures of ayat when this shape is around a number of a verse.

Y

[2017-06-08 03:54] ismailfarooq opened #819 "Filters for Parah [Feature Request]"
Currently we have filters for Surah and Verses but not for Parah can we have this too ?

[2017-06-10 05:58] konoufo commented on #813
PurifyCSS might be able to do this automatically at build time

[2017-06-10 16:57] azeezolaniran2016 commented on #674
Thanks @naveed-ahmad. Insha Allah I will look at it tonight.

[2017-06-13 18:47] ducaale opened #825 "wrong highlight in reading mode"
it usually happens when ayah spans multiple lines.
![capture](https://user-images.githubusercontent.com/16341131/27100383-955ca6ca-5086-11e7-987c-410dfc09a1e6.PNG)

the highlighted words all share an id of "word-6-6-2".

on a closer inspection it seems word id is composed of the ayah number and the index of the word in line

[2017-06-13 19:21] ducaale commented on #825
on a closer inspection it seems the way id is composed of the ayah number and and the index of the word in line

[2017-06-14 01:38] AskYous opened #826 "Search returns so many foreign language results that english is burried underneath"
![image](https://user-images.githubusercontent.com/791996/27111762-3421451a-5067-11e7-9dc2-ac6305fa74ee.png)

I was trying to find a verse, so I used the search, and it was near impossible considering how many non-English results came up in the type-ahead and the search results on the next page. Perhaps have some setting to filter search results before submitting the query.

[2017-06-16 13:03] yaseenagag opened #827 "The title of surat"
when you toggle the option to pick another surat, the title doesnt refresh or i should say change to the surat that you picked.

[2017-06-16 16:44] naveed-ahmad commented on #827
duplicated https://github.com/quran/quran.com-frontend/issues/793

[2017-06-16 16:44] #827 closed

[2017-06-20 12:48] techmaniack commented on #825
I can confirm this.

OS: OSX Darwin
Browser: Safari, Google Chrome

[2017-06-20 21:47] naveed-ahmad commented on #802
Fixed.

[2017-06-20 21:47] #802 closed

[2017-06-20 21:48] naveed-ahmad commented on #735
note for myself: Need to fix/merge glyph for some words in these ayahs: https://github.com/quran/quran.com-frontend/issues/802

[2017-06-20 21:48] naveed-ahmad commented on #735
@mmahalwy sorry fonts are complex, one day inshAllah :)

[2017-06-22 00:37] refrigerator opened #828 "Misalignment of Arabic surah names on homepage"
Hi,

Apologies in advance if this comes across as nit-picking, but in the surah list on the homepage, the Arabic names of the surahs are misaligned. This means that it looks a bit off, and some of them actually overspill from their box when hovered:

![image](https://user-images.githubusercontent.com/983210/27412051-e6b8474a-56e9-11e7-87cd-f904665e727f.png)

Quick fix that seems to work - add `flo

[2017-06-22 00:48] mmahalwy commented on #828
Thanks for taking a look into it! Mind putting together a PR to fix it?

[2017-06-22 09:46] Papisco opened #830 "Player loading endlessly after selecting a verse"
When selecting a verse after 20 for instance in Surah An Nur the player is loading and never ends.

[2017-06-22 23:31] UmanShahzad commented on #828
@refrigerator Nice catch!

[2017-06-22 23:37] UmanShahzad commented on #817
@KhadimAlQuran One must remember that drawings of the devil are themselves artificial, and our understanding of the devil's ears may be wholly incorrect or simply unfounded in truth. However I think the best contribution if you're not convinced would probably be an alternative image file (?), but the main contributors probably know better.

[2017-06-22 23:41] UmanShahzad commented on #826
@AskYous Probably the better overall solution might be the ability to have a single-sign-on login from some 3rd party like Google/Facebook/What-Have-You, or just in-house accounts and have the user save what their "main" site language would be. That would then serve as the filter. I think the main contributing brothers on this project are looking out for a solution akin to this.

[2017-06-22 23:43] UmanShahzad commented on #819
@ismailfarooq This is actually a good feature request -- I know many people, including my own Mother, who think of the Qur'an primarily in Parahs and not Surahs necessarily.

[2017-06-24 14:39] KhadimAlQuran commented on #817
This one for exemple :
https://pixabay.com/fr/séparateur-verset-coran-nombre-36415/

I ll try to find a better one

[2017-06-24 15:07] KhadimAlQuran commented on #817
@UmanShahzad I agree with you about the shape of devil's ears but even in Islam tradition we always prevent ourselves to draw such things.. and we use only geometrical shapes such octogonals (8 sides) as reference to the 8 doors of heaven...
I'm not a native english speaker so forgive my mistakes
I hope you like this picture : https://pixabay.com/fr/séparateur-verset-coran-nombre-36415/
And you'll

[2017-06-24 16:49] UmanShahzad commented on #817
@KhadimAlQuran I actually like that picture, but not sure how this is implemented for Quran.com, @mmahalwy would know better.

[2017-06-24 19:31] naveed-ahmad commented on #817
Salam 3alaikum @KhadimAlQuran @UmanShahzad going to close this, lets continue discussion on slack if you've any question. WHY?

- Shape of Ayah numbers are not images, they're font. We can't change glyph, its not single glyph we've to modify 286 glyph to change the shape, even if we could change 286 glyph I'm not sure what we're gaining here
- Lets focus on more important issues, tafsir, audio bug

[2017-06-24 19:31] #817 closed

[2017-06-24 19:36] UmanShahzad commented on #817
@naveed-ahmad Ah, didn't know that was the case of how it's implemented. Yeah that would be pretty troublesome.

[2017-06-24 20:48] naveed-ahmad commented on #819
I don't like the UI but now user can filter by Parah/Juz on home page.

[2017-06-24 20:48] #819 closed

[2017-06-26 23:48] iMoe037 commented on #786
This error usually happens when going from one ayah to the next. Two states are being maintained one isPlaying in the Redux store, and another state within the store. It's one of the properties (it starts or contains the word media).  Judging by this stackoverflow[https://stackoverflow.com/questions/36803176/how-to-prevent-the-play-request-was-interrupted-by-a-call-to-pause-error](url). On the pau

[2017-06-27 09:06] naveed-ahmad opened #834 "Read Quran in order of revelation"
http://tanzil.net/docs/revelation_order

[2017-06-28 04:32] ikandars opened #835 "Zero string appear after click "Remove all" menu in translations settings"
We will get 0 string appear after click "Remove all" menu in translations settings

<img width="486" alt="screen shot 2017-06-28 at 11 30 03" src="https://user-images.githubusercontent.com/289726/27620691-6e96acaa-5bf5-11e7-9a61-bde9669fc6a2.png">

[2017-06-28 04:44] ikandars commented on #767
@agungsb you should pick this task

[2017-06-28 06:47] agungsb commented on #608
I see that the service worker has been registered to the application, but it's not working properly. Is this issue still opened? If yes, I would love to help by opening a PR soon. In syaa' Allah.. 😄

[2017-06-28 07:53] #825 closed

[2017-06-28 07:54] #835 closed

[2017-06-28 07:55] #793 closed

[2017-06-28 07:55] naveed-ahmad commented on #786
@iMoe037 JAK for debugging, feel free to take this task.

[2017-06-28 15:06] naveed-ahmad commented on #688
@AhmedShab related/duplicated issue https://github.com/quran/quran.com-frontend/issues/623
lets continue sharing related discussion there. This should be low priority task though :)

[2017-07-02 18:55] Maputo commented on #525
@abdulapopoola @mmahalwy Any progress on this issue? I'd like to take a look at it if that's ok?

[2017-07-03 17:42] ajalger commented on #828
Is this being worked on? If not, I can make the quick fix so the page will look better.

[2017-07-03 23:19] refrigerator commented on #828
@ajalger please go ahead :)

[2017-07-04 13:53] #828 closed

[2017-07-06 05:14] mmahalwy commented on #525
@Maputo no progress as far as I know. Please go for it!

[2017-07-06 08:24] alirobe commented on #803
I would suggest that there are many really good designers, who would love to contribute to this effort to "increase conversion" (so much more appropriate in this context than most websites I deal with!)... But they aren't likely to be on Github. :)

I've sent a tweet to http://gould.sydney/ referring him to this issue, perhaps if anyone else knows good designers who could help pro-bono, they could

[2017-07-07 06:51] mmahalwy commented on #803
Thanks @alirobe for tweeting that out! We do need designers, you are right. I can take a look at Dribbble

[2017-07-12 20:24] benweet commented on #830
Same problem here.

[2017-07-14 22:09] mmahalwy opened #845 "Add react-virtualized"
https://github.com/bvaughn/react-virtualized

[2017-07-14 22:12] aa7955 opened #846 "Audio playing error: Workaround to Adblock browser extension?"
Get the following error when trying to play a verse in Chrome 59.0.3071.115

<img width="388" alt="screen shot 2017-07-14 at 3 10 15 pm" src="https://user-images.githubusercontent.com/6264696/28232641-b37b97b4-68a6-11e7-9cd2-aedd43e10422.png">

[2017-07-14 22:12] mmahalwy commented on #846
Staging or production?

[2017-07-14 22:13] ajalger commented on #846
Production

[2017-07-14 22:19] ajalger commented on #846
So, the issue is with Adblock Plus. If you have Adblock Plus installed, then it will block the audio files. I haven't seen this before on other sites, but if I am having this issue, I am sure others are as well. Perhaps there is a workaround to this.

[2017-07-15 00:37] ajalger opened #847 "Verse/Text Sync and Verse Jump Issue"
I am going to try to explain this as well as possible....

If you select, for example, Surah Al-Baqarah, once you play the audio you see the text light up - following the recitation. Once it gets to the third verse, or sometimes the fourth verse depending on the size of your browser, the audio will keep playing but the view will jump to verse 7, even though it's playing verse 4. The words won't li

[2017-07-15 00:39] ajalger commented on #816
Same issue .. except verse 8 was stopped. Same error

[2017-07-21 00:26] mmahalwy commented on #846
@ahmedre ^^

[2017-07-21 11:21] ahmedre commented on #846
can you run the javascript console and add the error message you're getting when you try to play using Adblock Plus so that we can know where the actual issue is?

[2017-07-21 17:29] mmahalwy commented on #846
We could definitely do that! Let's add that ask an issue

[2017-07-22 08:04] andela-aolaniran commented on #673
Sallam @AhmedShab. Are you still working on this ?

[2017-07-22 08:38] AhmedShab commented on #673
Walikum salam @andela-aolaniran, not yet. I was busy over the last few months. Sorry about that. I can get to it later. When do you guys need me to work on this?

[2017-07-22 08:55] azeezolaniran2016 commented on #673
@AhmedShab I asked because I was looking through issues and was interested in this. Since you're still working on it, I guess you can go ahead with it when its convenient for you.

[2017-07-22 08:59] AhmedShab commented on #673
@azeezolaniran2016 I actually didn't start yet. You can go ahead and work on it. We can even collaborate on this if you like

[2017-07-22 10:40] andela-aolaniran commented on #673
@AhmedShab Yea, I like :)

[2017-07-22 11:15] azeezolaniran2016 commented on #673
@AhmedShab Yea, I don't mind collaborating on this with you.

[2017-07-28 04:27] ajalger commented on #846
@ahmedre the first issue is what the JavaScript console produces.

[2017-07-29 15:39] mannanali413 commented on #786
@naveed-ahmad @iMoe037 i guess this task is open. I can take this up

[2017-07-29 15:49] iMoe037 commented on #786
@mannanali413 go for it.

[2017-07-31 09:45] mannanali413 commented on #845
Assalam Alaikum,
I would like to start working on this task.

[2017-08-01 19:07] mannanali413 commented on #845
I have started work on this

[2017-08-02 17:53] mmahalwy commented on #845
Awesome! Thank you thank you!

[2017-08-06 19:20] yazinsai opened #853 "Tilt.com contribution link is broken"
The link to contribute (see below) is broken:

![image](https://user-images.githubusercontent.com/1846034/29006257-12cd0b20-7af5-11e7-8d9d-e516c7404765.png)

It currently redirects to https://quran.tilt.com/support-quran-com-preorder/checkout/payment which, according to Chrome, `uses an unsupported protocol`

![image](https://user-images.githubusercontent.com/1846034/29006265-3281ac64-7af5-11e7-96

[2017-08-07 07:49] sabeurthabti commented on #853
Thank you @yazinsai,

@mmahalwy has this on his evergrowing todo list.

[2017-08-07 08:45] yazinsai commented on #853
I'm surprised there's no Patreon (or alternative) for this project. It is *so* worth it, and I know I would contribute.

The only way to ensure this project gets the attention it so rightly deserves is to dedicate resources to it. That's not going to happen without some form of compensation.

It's amazing how far this has come without full-time resources, and I'd hate for this project to suffer th

[2017-08-07 08:53] yazinsai commented on #803
A good place to start would be to analyze the incoming search traffic. Where is it coming from? What are people expecting to see? If you can share an export from GA, I'm happy to sift through it and kick this process off.

Big picture, I would suggest something like this:
- Figure out why people are visiting the site in the first place
  - Google Analytics report breakdown (organic vs. referral)

[2017-08-07 14:25] mandazi commented on #826
I have the same issue.

I recommend detecting the browser's  default language and setting the search to search that language instead. Default to English.

[2017-08-08 10:09] imadmk commented on #826
Maybe a language selector in the left of search button?

But i found that it already sent the languange to the API
[code]
but API still returns any language

[2017-08-08 12:36] mandazi commented on #826
Either something is broken or the search needs to add the ability to filter by language.

[2017-08-11 14:59] imadmk commented on #830
This is maybe a known bug on [here](https://github.com/quran/quran.com-frontend/issues/811). It is partly done, maybe you can check on staging.quran.com and check if it still exist.

What i found done on staging is, a bug that makes audio player to stuck on `loading` state after we change to any verse.
But i found another bug if we play the audio or press next until ayah > 1, and then move to othe

[2017-08-13 04:35] imadmk opened #855 "I found mismatch import / export files / functions"
Assalamualaikum
I found mismatch import / export
- `src/components/Word/index.js` Line 3. Will cause webpack error
- `src/utils/routeFilters.js` Line 1. Will cause internal server error on staging when user go to url `staging.com\x\yy` or accessing ayah number directly

[2017-08-17 15:41] ahmedhazemfekry commented on #796
nice work guys, I need to know which font you use and if there is a specific script for Quraan you use
thanks in advance

[2017-08-18 13:49] junwatu opened #857 "Hanging on npm run dev"
Salam,

I think i can't run `npm run dev` sucessfully on Windows 10 64 bit. The browser never show the homepage by the way. Any ideas what could be wrong?

![2017-08-18_16-33-01](https://user-images.githubusercontent.com/948279/29461338-93dc1f9e-8455-11e7-9944-4ee64c10359f.jpg)

[2017-08-21 16:49] mmahalwy commented on #857
Hmm, we haven't done a good job to support windows. That being said, I can see that where it's 'stuck' is usually something that takes a while (about 30s for me). We would like to remove bootstrap plugin for webpack because it's slow!

[2017-08-21 16:49] #857 closed

[2017-08-22 15:20] imadmk commented on #857
I think i now what cause this. I am often using windows but use `Git Bash` or Bash Ubuntu for Windows mostly for running or compiling.
The stuck that i found caused by sass that taking to long to compile, or maybe not the sass, but this lines of code
[code]
@font-face {
    font-family: p#{$page};
    src: url('//quran-1f14.kxcdn.com/fonts/ttf/p#{$page}.ttf') format('truetype');
  }
[code]
  @font

[2017-08-22 15:34] imadmk commented on #687
@maaizelahi @Nourin-Eka Assalamualaikum. Is this still on development?

[2017-08-23 11:19] sabeurthabti commented on #687
@imadmk please go ahead and work on this. Jzkallah

[2017-08-23 23:30] imadmk commented on #675
@murad073 is this still happen on http://staging.quran.com:32934/112 ?

[2017-08-23 23:32] imadmk commented on #687
Ok waiyyakum.

[2017-08-23 23:40] kjellouli opened #858 "Divehi Translation not showing"
Salam Alikum wr wb,

I am Kamal, the developer of http://Quranindex.info and I noticed the Divehi translation doesn't show properly in the browser (see screenshot below).

![image](https://user-images.githubusercontent.com/6676571/29642950-bd7fd95c-8839-11e7-9e9c-a1d72bb46536.png)

The issue can be resolved by downloading/applying the proper fonts for the Divehi translation from the following link

[2017-08-24 00:03] imadmk commented on #796
![image](https://user-images.githubusercontent.com/6089932/29643364-e23a377e-8898-11e7-96f0-79f226d11605.png)
I got this on my chrome. I don't know maybe because chrome native font?

And the autosuggestion box i found won't close for any language when we do search in the `/search` page or after we do search on homepage

Is somebody already working on this?

[2017-08-24 00:06] imadmk commented on #858
Waalaikumsalam @kjellouli
What browser and version you used?

[2017-08-24 00:48] imadmk commented on #803
@m-adilshaikh
Maybe we can use [Invision Inspect|https://www.invisionapp.com/feature/inspect] too. Great tool i found besides zeplin.
And you can join the chat on https://quranslack.herokuapp.com

[2017-08-24 09:08] alirobe commented on #803
Just in terms of observing interactions and iterative design improvements, I've found www.hotjar.com to be very helpful.

[2017-08-24 12:25] murad073 commented on #675
@imadmk I think it is resolved. Page is refreshing.

[2017-08-25 07:00] junwatu commented on #857
@imadmk thanks for the trick, webpack build succesfully but i still have problem with browser request though, it's shows empty response.

[2017-08-25 10:06] sabeurthabti commented on #857
@junwatu can you share screenshot? what url you're hitting?

[2017-08-25 22:06] mmahalwy commented on #675
I think this is going to change once my graphql PR gets merged

[2017-08-25 22:09] mmahalwy commented on #803
@yazinsai I can certainly add you to the Google Analytics account. Ultimately, it would be great to democratize all the data/analytics we have for Quran.com for anyone to help and contribute. Need to figure out the best way to do that.

@alirobe agreed! hotjar could get expensive if no one is watching and paying attention to them. Let's add Google Tag Manager first and it will allow us to easily a

[2017-08-25 22:09] mmahalwy opened #859 "Add google tag manager script"

[2017-08-25 22:10] mmahalwy commented on #796
No one is working on this currently. Although the problem of tafsir showing up in search results has surfaced many many times :(

[2017-08-25 22:11] mmahalwy commented on #687
This might be fixed by https://github.com/quran/quran.com-frontend/pull/843

Heads up

[2017-08-25 22:11] #855 closed

[2017-08-25 22:12] mmahalwy commented on #830
Might be fixed by https://github.com/quran/quran.com-frontend/pull/843

[2017-08-25 22:13] mmahalwy commented on #853
@sabeurthabti oh gosh :( I built a reputation for that! :)

@yazinsai Agreed. Either we need more dedicated volunteers or we need some funding for people to work on it and future projects full time.

[2017-08-26 03:28] kjellouli commented on #858
Alikum salam wr wb brother @imadmk,

I am using the same Chrome version as you (with no extensions). I think you might have the Divehi font installed on your OS and that is why maybe it is showing for you and not for me. What is weird is that the font is properly working on Safari on Mac and iPhone.

Please let me know if you need further information.
Kamal J.

[2017-08-30 11:08] yazinsai commented on #803
@mmahalwy yes, please! I'm yazin87 [at] gmail

[2017-08-31 10:48] mmahalwy commented on #857
What is the url? `localhost:8080` or `localhost:8000`?

[2017-09-01 10:56] junwatu commented on #857
@mmahalwy  the url is `localhost:8080` and i try to hit `localhost:8000` but there is no connection at that url.

[2017-09-01 11:06] naveed-ahmad commented on #853
https://github.com/lockitron/selfstarter We can roll our own mini crowdfunding app as well.

[2017-09-08 14:46] imadmk commented on #857
Try to run
[code]
and
[code]
in 2 different consoles, webpack first then node and use `git-bash`.

hope it works

[2017-09-15 07:47] azizur opened #862 "Unable to turn of all translations"
It's not possible to remove/turn off all translations.

When you remove Translations using "Remove All" button
![screen shot 2017-09-15 at 08 40 18](https://user-images.githubusercontent.com/114551/30471876-42b58fe4-99f2-11e7-93ec-c859debe5026.png)

When you choose a translation.
![screen shot 2017-09-15 at 08 40 39](https://user-images.githubusercontent.com/114551/30471877-42babd98-99f2-11e7-8512

[2017-09-16 06:22] azizur commented on #816
I am seeing the same issue here.

After the playback starts I am getting:
`Uncaught (in promise) DOMException: The play() request was interrupted by a call to pause().`

[2017-09-16 09:59] naveed-ahmad commented on #830
@imadmk ayah and surah navigation is fixed https://github.com/quran/quran.com-frontend/pull/863

[2017-09-16 10:01] naveed-ahmad commented on #830
@mmahalwy graphql is great, but we should have fallback option. Looks like your PR may take few more week/month :)

[2017-09-16 10:38] naveed-ahmad commented on #811
@Gujarats sorry can't reproduce this. Works fine for me. Care to share some screencast/video?

[2017-09-17 22:53] naveed-ahmad commented on #796
We need setting for search where users can choose the language they want to search or disable all languages. But divehi font is fixed now.

[2017-09-17 22:53] #796 closed

[2017-09-18 21:13] naveed-ahmad opened #866 "Use cloudflare as cdn"
Their pro subscription $20/mo would be enough for us

- Cache API response for 6 hours
- Other static resources(fonts, sound, CSS, js etc) for one year
- AMP pages for one day

[2017-09-22 03:09] mmahalwy commented on #857
@junwatu is this still a problem? Perhaps we should escalate this to a higher priority

[2017-09-22 03:10] #675 closed

[2017-09-22 03:10] #687 closed

[2017-09-22 03:10] #830 closed

[2017-10-01 20:24] mmahalwy commented on #853
Update on this, for the time being, I have a friend that has a company for this stuff specifically. It's a quick drop in solution until we figure out a longer term one

[2017-10-07 20:08] mwiederrecht opened #871 "Random repeating of verses"
When I listen to verses (I was listening to Surat Al-Muddathir with Sheikh Abu Bakr Ash-Shatiri)... it will play for a while and then randomly start repeating the same verse over and over.  Like one time I repeated a verse 3 times and then continued... another it got into an infinite loop.  And sometimes it also just randomly stops playing.  Like... at the end of Surat Al-Muddathir, the last 5-6 v

[2017-10-07 20:10] mwiederrecht opened #872 "Automatic Scrolling is way off"
Automatic Scrolling is way off

[2017-10-07 20:12] mwiederrecht opened #873 "Last 5-6 verses of Surat Al Muddathir with Abu Bakr Ash-Shatiri will not read"
Last 5-6 verses of Surat Al Muddathir with Abu Bakr Ash-Shatiri will not read no matter how long I wait.

[2017-10-07 20:27] mwiederrecht commented on #504
https://github.com/cpfair/quran-tajweed

All the data is available in JSON format!!!

[2017-10-07 22:38] sharabash commented on #504
Jazak Allahu khayran thank you Melissa!

On Sat, Oct 7, 2017 at 1:28 PM Melissa Wiederrecht <notifications@github.com>
wrote:

--

nour

[2017-10-08 15:43] cpfair commented on #504
I think the bigger issue now is rendering the text with colour coding. Most sites just use a standard Arabic font, but this misses out on all the attention to detail put into the KFGQPC font that Quran.com uses, where each word is a single (hand-lettered?) glyph. A while back I did some work automatically breaking down the glyphs into their component letters, so that certain letters could be highl

[2017-10-08 19:03] mwiederrecht commented on #504
@cpfiar Could you provide examples of the problem words?  If we could see them maybe we could play with different ways of displaying the highlighting and come up with something that works well.  Certainly the well-trodden route is good for most cases, but maybe with some creativity we could do even better.

[2017-10-12 05:32] mmahalwy opened #876 "Log metrics events in console"
Must do two things:

- Create a file called `eventConstants.js` to hold all our event names
- Log in console whenever an event is fired

[2017-10-12 05:47] mmahalwy commented on #876
Might beat you to it :) @naveed-ahmad

[2017-10-16 13:31] cpfair commented on #504
There were two problem cases. The first being a simple lack of image area:
<img src="https://user-images.githubusercontent.com/271275/31613735-f9d38416-b251-11e7-87e5-e4323e2d46a6.png" width="50"/>
(2nd meem)

The second was ambiguity in letter boundaries:
<img src="https://user-images.githubusercontent.com/271275/31613933-9d9ac884-b252-11e7-9542-71e904cc28fe.png" width="50"/>
(where does the meem

[2017-10-23 15:04] naveed-ahmad commented on #876
yeah you won! :D

[2017-10-27 18:18] naveed-ahmad opened #885 "Too many redirect issue"
There are many redirect errors in webmasters, not sure from where google is fetching these urls but we can fix this.
Sample URL: https://quran.com/28/56i

[2017-10-31 05:51] mmahalwy opened #886 "Getting this repo to a good place"
Here are a few house cleaning tasks need to get done to have this repo in a better, faster and modern place:

- [x] Remove all imports of CSS in JS files
- [x] Remove webpack-isomorphic-tools-plugin
- [x] Replace piping with webpack on the server
- [ ] Remove all react-bootstrap
- [x] Remove bootstrap-loader
- [x] Upgrade to webpack 3

[2017-11-05 00:13] talothman opened #887 "Scrolling doesn't not work correctly + Icon highlight not clear"
Once playing, the scrolling feature does not jump to the correct Ayah but scrolls a couple of Ayahs down. Additionally, the icon to set scrolling on and off does not seems to indicate which mode it's in.

[2017-11-12 13:30] bhirmbani opened #890 "Ayah title not changed when user click next surah."
The ayah section with dropdown at the upper left corner (next to the home button) didn't changed when user click next surah, after the current surah is finished.

[2017-11-12 23:14] mmahalwy commented on #816
Salam all, is this problem still existent? @ibz096 @ajalger @azizur ?

[2017-11-12 23:22] ajalger commented on #816
Similar issue is still there. Here are the screen shots I have for Chrome 62.0.3202.89 and Firefox Dev 58.0b1. In Firefox (regular version) it works perfectly.

Chrome 62.0.3202.89
<img width="485" alt="screen shot 2017-11-12 at 3 18 32 pm" src="https://user-images.githubusercontent.com/6264696/32704627-2c887238-c7bd-11e7-905e-d8afaf92faed.png">

Firefox Dev 58.0b1
<img width="736" alt="screen sho

[2017-11-16 04:44] mmahalwy commented on #816
Very weird... okay, going to try to fix this

[2017-11-16 05:57] mmahalwy opened #894 "Implement service-workers via workbox"
cc @naveed-ahmad

https://developers.google.com/web/tools/workbox/get-started/webpack

[2017-11-18 21:25] popo63301 commented on #890
Personally, I can't see the problem. Could you provide us more details, or a screenshot?

[2017-11-20 01:29] bhirmbani commented on #890
Hello, i hope this helps:

1.
<img width="1429" alt="screen shot 2017-11-20 at 08 21 41" src="https://user-images.githubusercontent.com/12825389/32998300-8ddf3462-cdcc-11e7-975e-15c0a54c6fca.png">

2.
<img width="1436" alt="screen shot 2017-11-20 at 08 22 31" src="https://user-images.githubusercontent.com/12825389/32998301-90784204-cdcc-11e7-886f-4e9e71218fe2.png">

[2017-11-20 13:18] sabeurthabti commented on #890
@bhirmbani Thank you for raising this, I've applied some labels for this and iA we will try to fix it.

[2017-11-21 21:45] popo63301 commented on #890
I'd like to solve it inshAllah.

[2017-11-21 23:58] mmahalwy commented on #890
@popo63301 please take it away!

[2017-11-21 23:59] mmahalwy commented on #887
Salam,

Mind sharing screenshots or anything to help us debug/reproduce this?

Thanks!

[2017-11-22 00:00] mmahalwy opened #896 "Create an issue template"
We ought to create one!

cc @sabeurthabti @naveed-ahmad @ahmedre

[2017-11-23 17:15] popo63301 commented on #890
Already fixed on staging thanks to @naveed-ahmad . Now, we can close this issue.

[2017-11-23 17:18] naveed-ahmad commented on #890
JazakAllah for testing bro, yeah this was fix few week back. We need to have build very soon.

[2017-11-23 17:18] #890 closed

[2017-11-24 17:47] naveed-ahmad opened #897 "Lighthouse report"
Here is lighthouse report of current app: https://googlechrome.github.io/lighthouse/viewer/?gist=c66b549e98d9931bf477b06dcac5d321

There is a lot of room for improvements.

[2017-11-26 10:47] mmahalwy commented on #897
@naveed-ahmad I agree. Also, from a place where we are encompassing everyone and welcoming everyone, we should do a better job on accessibility. We left that one slide unfortunately.

[2017-11-27 05:28] HaseebIftikhar5275501 opened #898 "There are many problems related to "AARAB" in almost all the surah's specifically to mention here is Surah Mulk"
Assalam o Alaikum,

It is to bring in your kind notice that  I read Surah Mulk on quran.com and found some mistakes in AARAB's and the most common are as highlighted in the images.
![surah al mulk 67 al qur an al kareem](https://user-images.githubusercontent.com/34019041/33251954-9eb62ce2-d35c-11e7-81fc-482ce68c3580.png)
![whatthefont search results myfonts](https://user-images.githubusercontent.c

[2017-11-27 05:37] Araf076 commented on #898
wa'alaykumus salaam brother.
this is actually not a mistake.
there are two mushaf scripts basically i think - uthmanic and indopak.
in the web and iOS, they have included only uthmanic one.

but for android they have separate app for separate mushafs. you can try their naskh app on android in sha Allah, which contains indopak mushaf

[2017-11-27 05:44] HaseebIftikhar5275501 commented on #898
Assalam o Alaikum,

Dear Brother,
Thank you for increasing my knowledge I checked the  uthmanic and indopak and found it the same as on your site.
One question: Is it proof read by a "HAFIZ"

Please add Indo Pak version too so that people like me may not find it as a mistake and highlight it.

JAZAK ALLAH

Regards
Haseeb Iftikhar

[2017-11-27 07:18] ahmedre commented on #898
wa3laikum alsalam,
the Uthamni version we use comes from King Fahad Quran Complex, and they are responsible for printing Quran copies throughout the Muslim world.

as for adding a Naskh version, cc @naveed-ahmad who was working on this at some point.
walsalam 3alaikum.

[2017-11-27 19:49] naveed-ahmad commented on #898
I'm facing issues splitting ayah into words, indopak and utmani script both have different pause marks. And fonts we're using are making things more tough, as this font consider pause marks a different word. Now we have to:

- Prepare word by word indopak ( pause mark separate word )
- Make sure this word by word data align with utmani script ( both should have same word count )
- Find out a font

[2017-11-27 22:01] naveed-ahmad commented on #744
https://speechnotes.co/

<img width="918" alt="2017-11-28_0258" src="https://user-images.githubusercontent.com/701567/33291648-560cf278-d3e8-11e7-8ede-ab6c79097c1f.png">

[2017-11-28 09:15] SouGrati opened #899 "Repeat mode stops on ayah 10"
Salamo Alaykom,
I noticed that repeat mode stops on ayah 10 even if I specify range 1 to 20 for example.

I did check on mozilla firefox (57.0 (64 bits)) and google chrome (Version 62.0.3202.94), same issue.

![image](https://user-images.githubusercontent.com/6888062/33311113-183752ea-d424-11e7-90d6-b26746dd4f46.png)

Thanks in advance

[2017-11-28 12:59] Ysajid commented on #898
Assalamu alaikum brother @naveed-ahmad,
we're also trying to make your indopak db into wbw in our app (Al Quran from Greentech)
we are almost done, Alhamdulillah
except for _some issues_.
we can collaborate inshaAllah.

[2017-11-28 14:47] naveed-ahmad commented on #898
Wa Alakim o Salam @Ysajid mashAllah brother. Yeah we should collaborate on both wbw Urdu translation as well as word by word indopak script.

[2017-11-29 00:19] #896 closed

[2017-11-29 14:24] faisq4 opened #902 "Cannot jump to later ayah of soorah"
**I'm submitting a ...**

- [x] bug report
- [ ] feature request
- [ ] other

**Current behavior:**

When I select a surah for example Surah-Al-Imran and then provider later ayah like 194 by entering in "Go to verse", then it doesn't load it but give me an error saying "Ayah is out of range. Please go to home page and select a Surah/Ayah"
I can jump to this ayah only if page is loaded.

**Expected

[2017-11-29 20:04] #858 closed

[2017-11-29 20:05] naveed-ahmad commented on #858
@kjellouli thanks for providing the fonts.

[2017-11-30 07:47] kjellouli commented on #858
@naveed-ahmad Glad to help!

[2017-12-06 18:20] mmahalwy opened #905 "Link to blog"
**I'm submitting a ...**

- [ ] bug report
- [x] feature request
- [ ] other

**Current behavior:**
Add blog link to https://medium.com/the-quran-com

[2017-12-06 23:46] naveed-ahmad opened #906 "Integrate weblate.org"
**I'm submitting a ...**

- [ ] bug report
- [x ] feature request
- [ ] other

**Current behavior:**
We're currently managing site translation manually

**Expected / new behavior:**
Move i18n to WebLate hosted service.  Anyone can contribute the translation, we can pull the changes monthly or automate the whole process( weblate can directly commit the changes in repo )

- Supported format: https:/

[2017-12-13 06:47] mmahalwy commented on #803
Salam all, wanted to resurface this. Would be great to get thoughts!

[2017-12-15 02:59] murtuzasyed commented on #652
Is this issue open?

[2017-12-15 10:15] naveed-ahmad commented on #652
@murtuzasyed yes.

[2017-12-16 17:12] m-adilshaikh commented on #803
@mmahalwy Any insights to better understand the cause? If there is some activity before bounce, heatmaps etc could help

[2017-12-17 17:27] mmahalwy commented on #803
@m-adilshaikh happy to dig up anything you'd like!

[2017-12-18 01:24] mtweak opened #912 "switch to transliteration from translation on surah 69"
**I'm submitting a ...**

- [x] bug report
- [ ] feature request
- [ ] other

**Current behavior:**

Go to quran.com, al-haqqah.  You'll see that even though you've set translation, for some ayahs it switches to transliteration at ayah 11.

**Expected / new behavior:**

Expected behavior is to honor the setting (translation)
**For issue, please provide steps to reproduce it:**
Go to quran.com
Ensu

[2017-12-18 01:25] mtweak commented on #912
<img width="948" alt="screen shot 2017-12-17 at 7 25 17 pm" src="https://user-images.githubusercontent.com/13370087/34086240-0ab13582-e360-11e7-8f86-e72fef70ef7a.png">

[2017-12-18 19:24] fawazahmed0 commented on #912
Same problem here,with every surah

[2017-12-18 19:31] fawazahmed0 opened #913 "Surah Info not showing complete text in mobile browser"
**I'm submitting a ...**

- [ x] bug report
- [ ] feature request
- [ ] other

**Current behavior:**

surah Info is not showing completely in mobile browser

**Expected / new behavior:**

The surah info section should be scroll-able to view full text
**For issue, please provide steps to reproduce it:**
- Steps
- to
- reproduce
In Android
Open Chrome
Go to quran.com/2
settings
surah info

**Anythin

[2017-12-18 19:37] fawazahmed0 commented on #913
![screenshot_2017-12-19-01-02-35](https://user-images.githubusercontent.com/20347013/34124412-cde9b42c-e458-11e7-8510-ac4e3727f0b1.jpg)
There is no scrollbar in surah info section

![screenshot_2017-12-19-01-02-46](https://user-images.githubusercontent.com/20347013/34124428-df94859e-e458-11e7-8238-ebc3d1e8d216.jpg)
Only partial surah info text is shown

[2017-12-21 00:58] naveed-ahmad opened #914 "Announcement UI"
**I'm submitting a ...**

- [ ] bug report
- [x] feature request
- [ ] other

**Current behavior:**
No way to make announcement on site for visitors.

**Expected / new behavior:**
Add UI(which stick on header unless user close it) for announcing sitewise message to visitors.

**Anything else:**
- We've disabled word by word translation and zendesk is flooded with tickets, there should be a way to

[2017-12-21 06:52] mmahalwy commented on #914
@naveed-ahmad I been thinking about this a lot. Thoughts about fetching the announcements from zendesk?

[2017-12-21 13:53] osaid-ahmad opened #915 "'npm run dev' runs fine but app is not loading"
**I'm submitting a ...**

- [x] other

**Current behavior:**
on running 'npm run dev', i dont see any error on CLI but app is not loading on localhost:8000

[CLI text.txt](https://github.com/quran/quran.com-frontend/files/1579379/CLI.text.txt)

![cli](https://user-images.githubusercontent.com/32534673/34258418-e0cd9e78-e683-11e7-97db-184e95594f8b.PNG)

![localhost8000](https://user-images.githubus

[2017-12-21 18:10] mmahalwy commented on #915
@osaid-ahmad salam, any errors in the logs?

[2017-12-21 18:20] mmahalwy commented on #912
We are fixing it inshallah. Apologies.

[2017-12-21 18:20] mmahalwy commented on #912
@naveed-ahmad can we close this once deployed?

[2017-12-21 18:21] #912 closed

[2017-12-22 07:29] osaid-ahmad commented on #915
@mmahalwy w/salam brother, till yesterday there was no error in command line or browser console.
files were emitted but i could not see anything on localhost.
i got some warnings on running 'npm install', not sure if that helps.
[npm install warnings.txt](https://github.com/quran/quran.com-frontend/files/1581756/npm.install.warnings.txt)

However, today I am getting some error (attached below) whi

[2017-12-22 11:37] osaid-ahmad commented on #915
For now i commented line 29-33 in \src\redux\create.js in my local.
Now, though i dont see any error on CLI or browser console, the app is not loading on localhost:8000

[2017-12-22 14:55] mmahalwy commented on #915
@osaid-ahmad mind having the output here? I fear downloading files on my work computer.

[2017-12-22 15:40] osaid-ahmad commented on #915
npm install warnings:

D:\ReactProj\QuranFrontend\quran.com-frontend>npm install
npm WARN babel-preset-react-app@3.1.0 requires a peer of babel-runtime@^6.23.0 but none is installed. You must install p
eer dependencies yourself.
npm WARN eslint-loader@1.3.0 requires a peer of eslint@>=1.6.0 <3.0.0 but none is installed. You must install peer depen
dencies yourself.
npm WARN react-json-tree@0.5.5 r

[2017-12-22 15:41] osaid-ahmad commented on #915
npm run dev errors with lines uncommented in create.js:

D:\ReactProj\QuranFrontend\quran.com-frontend>npm run dev

bpack-dev-server.js --config ./webpack/dev.config.js --progress  & env NODE_PATH='./src' PORT=8000 node --expose-gc ./bi
n/server.js

 94% asset optimization./src/redux/create.js
Module not found: Error: Can't resolve './modules/reducer' in 'D:\ReactProj\QuranFrontend\quran.com-front

[2017-12-22 15:42] osaid-ahmad commented on #915
npm run dev with lines commented, produces no error but app not loading

D:\ReactProj\QuranFrontend\quran.com-frontend>npm run dev

bpack-dev-server.js --config ./webpack/dev.config.js --progress  & env NODE_PATH='./src' PORT=8000 node --expose-gc ./bi
n/server.js

 95% emittingHash: 8643de069a2209110df9
Version: webpack 2.7.0
Time: 14672ms
                        Asset     Size  Chunks

[2017-12-22 20:08] UmanShahzad commented on #803
It'd be interesting to compare bouncing on a site like this to 'bouncing' away from a real Qur'an? What're the main use cases of Quran.com? If it's to read the Qur'an, then this comparison would be useful -- what normally turns a person off from reading? Although that question is broad and might be quite out of scope ;p

I do think, though, that implementing user accounts would be a strong way to

[2017-12-23 16:02] najiboun commented on #915
Salam, I have the exact same issue

[2017-12-23 21:59] sabeurthabti commented on #915
@mmahalwy do we know anyone currently running the app via windows?

@osaid-ahmad can you try making a new file with the content of  './modules/reducer'` and try importing it /? my thinking is the windows file system might be confused or something.  Another solution is to try to install bash on windows,  https://www.howtogeek.com/249966/how-to-install-and-use-the-linux-bash-shell-on-windows-10 and

[2017-12-24 12:07] osaid-ahmad commented on #915
@sabeurthabti installing bash didn't help but yes looks like prob is related to cross-env
Probably multiple commands are not getting executed in windows this way:
`"dev": "cross-env NODE_PATH='./src' PORT=8000 UV_THREADPOOL_SIZE=100 node --expose-gc ./node_modules/webpack-dev-server/bin/webpack-dev-server.js --config ./webpack/dev.config.js --progress  & env NODE_PATH='./src' PORT=8000 node --expo

[2017-12-24 12:15] osaid-ahmad commented on #915
`"dev": " start cross-env NODE_PATH='./src' PORT=8000 UV_THREADPOOL_SIZE=100 node --expose-gc ./node_modules/webpack-dev-server/bin/webpack-dev-server.js --config ./webpack/dev.config.js --progress  && start cross-env NODE_PATH='./src' PORT=8000 node --expose-gc ./bin/server.js",`

doing this did run the commands in 2 windows but resulting in following error:

raven@1.1.1 alert: no DSN provided, e

[2017-12-25 20:39] mmahalwy commented on #915
@sabeurthabti I don't know any. Perhaps @naveed-ahmad ?

@osaid-ahmad try pulling master again, I just merged a PR. I think there was an error in master

[2017-12-25 20:41] mmahalwy commented on #803
@UmanShahzad I agree. I think we should revive one.quran.com

[2017-12-26 11:52] osaid-ahmad commented on #915
@mmahalwy
I have merged the upstream in local but both the issues persists

@sabeurthabti i managed to run both the "dev" commands in windows both parallel and consecutive but `"cross-env NODE_PATH='./src' PORT=8000 node --expose-gc ./bin/server.js"` is resulting in the following

`[piping] can't execute file: D:\ReactProj\QuranFrontend\quran.com-frontend\bin\server.js
[piping] error given was: Ty

[2017-12-27 18:38] sabeurthabti commented on #915
any luck googling `https://www.google.nl/search?q=error+given+was%3A+TypeError%3A+Path+must+be+a+string.+Received+undefined+at+assertPath+babel&oq=error+given+was%3A+TypeError%3A+Path+must+be+a+string.+Received+undefined+at+assertPath+babel&aqs=chrome..69i57.2417j0j7&sourceid=chrome&ie=UTF-8` ?

Wish I could help, travelling for the holidays :(

[2017-12-28 17:34] MurshidMac opened #917 "Updating the CONTRIBUTING.md URL in README.md"
**I'm submitting a ...**

- [ ] other

**Salam Brother @mmahalwy and the team**

**Current behavior:**
While I was reading through the **README.md** file I noticed that current URL for **CONTRIBUTING.md** file
https://github.com/quran/quran.com-frontend/blob/master/CONTRIBUTING.md returns a 404 error.

**Expected / new behavior:**
I think Contributing.md file should be in the master directory rath

[2017-12-28 17:58] naveed-ahmad commented on #917
Wa Alakim o Salam brother. Feel free to open the PR to fix the links, and please leave slack URL as it is. Its known issue, working on it.

[2017-12-28 17:58] #917 closed

[2017-12-30 21:34] mmahalwy commented on #915
@osaid-ahmad I think this is the fix: https://github.com/quran/quran.com-frontend/pull/918

[2017-12-31 11:37] najiboun commented on #915
I tested the last fix on bash linux on (Windows 10 64 bit build 16299.125), there is no reducer error anymore.
npm run dev outpout
`root@DESKTOP-4IM9BP8:/mnt/d/quran.com-frontend-master# npm run dev

 64% building modules 714/793 modules 79 active .../quran-components/lib/Loader/index.jsraven@1.1.1 alert: no DSN provided, error reporting disabled
raven@1.1.1 alert: Enabled automatic breadcrumbs fo

[2017-12-31 17:02] mmahalwy commented on #915
@najiboun great! That means we passed this issue of it not working but it's a problem with the code... I forgot to remove `state.user` from the code.

Working on a fix here: https://github.com/quran/quran.com-frontend/pull/920

[2018-01-01 00:44] naveed-ahmad opened #921 "Ability to choose different fonts"
**I'm submitting a ...**
- [x] feature request

**Current behavior:**
Current fonts looks great, but very difficult to select text etc....

**Expected / new behavior:**
Many feature from one.quran rely on selecting text. How about we add ability for users to select specific font(including current font)
Here are testing for available fonts, pdms and me_quran looks promosing.

http://naveed-ahmad.gi

[2018-01-01 01:10] mmahalwy commented on #921
@naveed-ahmad would be great also if users can click the copy link and select for different texts/image. We had requests to copy the text as an image.

[2018-01-01 02:46] naveed-ahmad commented on #921
This sound more like export text as pdf or image. One day inshAllah.

[2018-01-01 05:21] mmahalwy commented on #921
Not really, we do have the image urls, no?

[2018-01-01 09:09] osaid-ahmad commented on #915
@mmahalwy good to see this passed.
somehow i have lost my machine. I will setup everything fresh on another one in a week. I will let u know if it works.
[#918](https://github.com/quran/quran.com-frontend/pull/918) will solve the reducer issue.

[2018-01-01 21:33] mmahalwy commented on #915
Perfect. Going to close this for now

[2018-01-01 21:33] #915 closed

[2018-01-03 06:37] osaid-ahmad commented on #912
irrespective of the selection, tooltip is displaying translation

[2018-01-03 08:35] fawazahmed0 commented on #912
@osaid-ahmad The problem has already been solved

[2018-01-03 08:40] osaid-ahmad commented on #912
@fawazahmed0 now its showing translation even if we chose transliteration

![qrn](https://user-images.githubusercontent.com/32534673/34513757-d6636bd2-f08f-11e7-8178-114a548628b7.png)

[2018-01-03 09:19] fawazahmed0 commented on #912
@mmahalwy @naveed-ahmad Its showing translation even if we chose transliteration

[2018-01-03 09:19] fawazahmed0 commented on #912
@osaid-ahmad Please open a new issue

[2018-01-03 09:28] naveed-ahmad commented on #912
Salam, yeah we're updating transliteration. New transliteration will be available in few days inshAllah.

[2018-01-03 10:39] fawazahmed0 commented on #912
@naveed-ahmad But now transliteration tooltip option is not working, I hope it gets solved soon Inshallah

[2018-01-07 18:11] mmahalwy opened #922 "Fonts fallback on /public url"
**I'm submitting a ...**

- [ ] bug report
- [ ] feature request
- [x] other

**Current behavior:**
To get fonts, need to go to `http://localhost:8000/fonts/the_font/the_font.ttf`

**Expected / new behavior:**
This needs to change to `http://localhost:8000/public/fonts/the_font/the_font.ttf`

[2018-01-10 01:53] junwatu commented on #857
@mmahalwy i already update to the latest code but the problem is still persist.
@imadmk  thanks but it doesn't work on my machine.

[2018-01-11 03:37] gskls opened #924 "https://quranicaudio.com/ - has horizontal scrolling ."
Assalamu alaikum .

whenever i select a hafiz and go to his section . Horizontal scrolling appears .
I found the solution. Please fix it .

The header's negetive `margin-right` is taking it out of the normal flow . The header's style is -
`.YuRhw1tjUohnA3r6u0TTU {
           background-size: cover;
           min-height: 350px;
    background: #009faa;
    padding-top: 8rem;
    color: #ffffff;

[2018-01-11 07:06] ahmedre commented on #924
should this be filed at https://github.com/quran/audio.quran.com instead, and do you mind opening a pull request? cc @sabeurthabti

[2018-01-11 14:05] gskls commented on #924
inshallah i will open a pull request

[2018-01-11 14:06] #924 closed

[2018-01-15 01:19] mohhasbias commented on #525
Any update?
I would like to contribute.
I think this issue is a good first issue for me.

thank you.

[2018-01-15 17:49] naveed-ahmad commented on #525
@mohhasbias feel free to take this :)

[2018-01-15 22:22] mmahalwy commented on #857
@junwatu sorry, this has been a while. What does it hang out?

[2018-01-17 17:41] iliyaML opened #926 "Errors when cloning"
I followed the steps to run the app locally. In short, I cloned it, installed the dependencies (installed pm2 as well) and run npm run dev. However, there are some errors that appear during installation and when I am trying to run it.

Can someone tell me what I missed or did wrong?

[2018-01-18 10:35] ghost opened #927 "https://quran.com/ayatul-kursi not working from homepage"
**I'm submitting a ...**

- [ ] bug report
- [ ] feature request
- [ ] other

**Current behavior:**

**Expected / new behavior:**

**For issue, please provide steps to reproduce it:**
- Steps
- to
- reproduce

**Anything else:**

Now on mobile phone cant fix, dont want to forget.

[2018-01-18 13:05] naveed-ahmad commented on #927
http://staging.quran.com:32932/ayatul-kursi

Working here, I really need to finish my PR :(

[2018-01-21 18:58] HaiderMaklef opened #931 "Some of the translations are not correct in some verses of the quran, need to mark the translation as "not approved" till it been reviewed and approved by language specialist"
**I'm submitting a ...**
- [ X] bug report
- [ ] feature request
- [ ] other

**Current behavior:**
some of the translations are not correct, if you copy the same verse into google translation for example you will find that translation give is false and google show more accurate translation, it seems some of these translations represented the view of a specific school of thought and not the majori

[2018-01-21 22:13] sabeurthabti commented on #931
@HaiderMaklef thank you for raising this issue. As you know this project is open source and we are always looking for contributors. Any way I can help you make these contributions?

translations can be found here: https://github.com/quran/quran.com-frontend/tree/master/src/locale

[2018-01-21 22:24] sabeurthabti commented on #926
salam,

can you share the error you're getting? thanks.

[2018-01-22 06:44] ahmedre commented on #931
absolutely - which is why none of the translations on quran.com are our own - none are translated by our team. Quran.com currently has 11 english translations, each of which were published by their authors after having been reviewed by scholars and so on.

Quran translations are not intended to be word by word translations - they're translations of the meanings of the Quran. please review the othe

[2018-01-22 08:50] sabeurthabti opened #932 "Add verse details for social sharing."
**I'm submitting a ...**

- [ ] bug report
- [x] feature request
- [ ] other

**Current behavior:**

The Social Share content is generic

**Expected / new behavior:**
We should show the shared ayah text.

**Screenshot:**

![screenshot_20180121_222307](https://user-images.githubusercontent.com/2606228/35212201-5becf8c0-ff51-11e7-98bd-71e9241d59ed.png)

[2018-01-23 16:27] HaiderMaklef commented on #931
Dear ahmedre

For the first part of your answer, would you please reference these 11 English translations so we can submit a fix for all them, because for sure the all wrong. anyone with some simple Arabic reading skills will tell you the word “WASH” is not part of the original text for that phrase of the Quran.

Those who understand it as “WASH” not “WIPE” are doing that on their own responsibili

[2018-01-23 17:40] ahmedre commented on #931
minor clarifications

1. the entire team is very careful to make sure we only put sunni content and to avoid any non-sunni content, since this is our responsibility. the English translators here are known to be from the ahl al sunnah wal jama3a - if any aren't that somehow we missed, we'll be happy to remove whichever ones aren't.
2. we provide the translations as is - we do not type them, nor do

[2018-01-23 23:07] HaiderMaklef commented on #931
***we only put sunni content**** did the "Sunni content" mean people are free to change the text of the Quran whenever they want ?!!!!
if you want to put your own thought or specific school thinking into that, you should never call it "Quran translation". give it another name, say "this my group opinion" or in this case "Sunni way of thinking", why you mislead the people into a false transaction ?

[2018-01-23 23:21] ahmedre commented on #931
maybe i am not explaining myself well to you akhi - let me put it another way. if you go to an Islamic bookstore and buy one or more of the translations we have and compare them to what we have on our site. you shall find that they are identical.

who am i or who are any of us to try to change the word of Allah? we fear Allah's punishment if we tried to do something like this.

[2018-01-23 23:45] HaiderMaklef commented on #931
Dear Ahmed,
you don't need to go to any bookstore any more, the internet have everything :) every single translation i fond online is not including "WASH",  here is an example online :
http://quran.al-islam.org/
From the options window at the left upper, I checked "Arabic" then i checked the first English translation "Shakir (English)", then i select "5. al-Maaida (The Table)" and then under that

[2018-01-24 07:14] ahmedre commented on #931
our Shakir translation matches that website's - as does our Yusuf Ali and Pickthal - please verify for yourself. The Shakir one indeed doesn't use wash (both websites), but Yusuf Ali and Pickthal do (both sites).

<img width="768" alt="screen shot 2018-01-24 at 11 12 02 am" src="https://user-images.githubusercontent.com/47771/35319018-741ede48-00f7-11e8-86c5-4ab998d9f806.png">

closing this issue

[2018-01-24 07:14] #931 closed

[2018-01-24 08:12] mmahalwy opened #933 "Use ignore-styles to phase isomorphic loader"
https://github.com/bkonkle/ignore-styles

[2018-01-24 19:12] HaiderMaklef commented on #931
how to access these translations from the user UI ?

[2018-01-24 19:23] ahmedre commented on #931
tap settings in the top right corner of the screen.
tap translations.
choose the boxes of the translations you want visible.

[2018-01-24 20:23] HaiderMaklef commented on #931
Thank You very much for you hep, i did not see the other translations, maybe it better if we have a drop-down in the top of each section to allow the user to change the translation without go deep into the settings configurations ...
Please close this one...

[2018-01-25 02:49] thehungrycoder commented on #926
Not sure if @iliyaML is getting same error but I am getting following errors in a fresh clone when I run `npm run dev`

[code]

FWIW, the site is loading but broken styles!
<img width="610" alt="screen shot 2018-01-24 at 9 49 40 pm" src="https://user-images.githubusercontent.com/79018/35368267-81e05ff8-0150-11e8-9c4f-615f02d7846b.png">

[2018-01-25 03:35] iliyaML commented on #926
These are the errors I get when running npm install:

`$ npm install

node-pre-gyp ERR! Tried to download(403): https://node-zopfli.s3.amazonaws.com/R                                                                                                                                                    elease/zopfli-v2.0.2-node-v57-win32-x64.tar.gz
node-pre-gyp ERR! Pre-built binaries not found for node

[2018-01-25 11:39] sabeurthabti commented on #926
can you share the `node` and `npm` versions ?
i'd recommend removing `node_modules` and trying again.

[2018-01-25 12:39] dr-mdbadawi commented on #926
I have the same output
Module build failed: TypeError: C:/Users/iliya/Videos/Sandbox/Projects/quran/quran.com-frontend/src/client.js: Cannot read property 'length' of null
node version:8.9.4
npm  version:5.6
on ubuntu 16.04 lts

[2018-01-25 15:43] iliyaML commented on #926
Node Version: 8.9.3
NPM Version: 5.5.1

[2018-01-25 15:54] osaid-ahmad commented on #926
@iliyaML

Try running npm install windows-build-tools and then install the dependencies.
For me it eliminated at least the npm install errors.

[2018-01-26 10:36] sabeurthabti commented on #926
unfortunately I have no experience with Windows. @naveed-ahmad not sure if you use windows ?

[2018-01-26 12:16] adefirmanf commented on #926
I have a same error on above.  Failed when do `npm run dev`
[code]

[2018-01-26 13:24] rozakbuhari commented on #926
I have the same issue, running on:
Branch `master`:
- `node v8.9.1` (as required engine in `package.json`)
- `npm v5.5.1`
- `OSX 10.13.2`

[2018-01-27 20:09] iliyaML commented on #926
I'm still getting this error when running npm run dev:

`53% building modules 364/366 modules 2 active ...modules\_array-species-constru                                                                                      53% building modules 365/366 modules 1 active ...ode_modules\bootstrap-loader\n                                                                                      53% building

[2018-01-30 17:19] hammady commented on #931
Just to reiterate, the approved translations are those of Sunni. Some pointers that could clarify the confusion:
1. al-islam mentioned above it Shiite.
2. Shiite belief is to wipe not to wash.
3. The name "Haider" itself looks like Shiite to me.
If we stick the label "Sunni" to the translations, that would prevent such endless debates.

[2018-02-08 04:15] dr-mdbadawi commented on #926
fixed by last commit
https://github.com/quran/quran.com-frontend/pull/937
thank you

[2018-02-08 04:37] iliyaML commented on #926
![stuck](https://user-images.githubusercontent.com/19851002/35955792-5418a1fe-0c57-11e8-83d9-01737e4e6ab8.PNG)
All the errors are gone, but when I run npm run dev, it seems to be stuck right until here. Port 8000 is where I should be able to see everything right?

[2018-02-08 04:42] dr-mdbadawi commented on #926
yes , http://localhost:8000

[2018-02-08 04:44] iliyaML commented on #926
I have the terminal running, but it's still stuck at that line " main.js.map   3.8 MB      28  [emitted]         main". And I'm getting the typical site can't be reached when I visit localhost:8000. Were you able to run it after doing a fresh clone and npm install? That's what I did.

[2018-02-08 04:54] dr-mdbadawi commented on #926
it works fine with me with no thing more than fresh clone and npm install

[2018-02-08 04:54] iliyaML commented on #926
Could you share with me your current nodejs and npm version?

[2018-02-08 12:36] dr-mdbadawi commented on #926
when i restarted server it didn't work anymore
`events.js:183
      throw er; // Unhandled 'error' event
      ^

Error: watch /home/mdbadawi/quran.com2/src/locale ENOSPC
    at _errnoException (util.js:1022:11)
    at FSWatcher.start (fs.js:1374:19)
    at Object.fs.watch (fs.js:1400:11)
    at createFsWatchInstance (/home/mdbadawi/quran.com2/node_modules/chokidar/lib/nodefs-handler.js:37:15)

[2018-02-09 23:32] murtuzasyed commented on #926
@iliyaML , I'm stuck at main.js.map as well.

[2018-02-10 05:02] adefirmanf commented on #926
Server successfully listening on port 8000, but it seems failed to load script main.js
![image](https://user-images.githubusercontent.com/23324722/36058694-ed21e488-0e59-11e8-8bd7-921915d06119.png)

Should I remove node_modules and do npm install again after few updates?
I'm still got error like these. Error on 53% and 94%.
[code]
I will update again after remove node_modules.

[2018-02-10 05:30] adefirmanf commented on #926
It works after delete `node_modules` and run `npm install ` again
![image](https://user-images.githubusercontent.com/23324722/36058839-a4e15e66-0e5d-11e8-9d5c-75b366b0c7ad.png)

For Ubuntu user x64 or similiar got error on Sass. Try run `npm rebuild node-sass`
Thanks for update 👍

[2018-02-10 16:26] iliyaML commented on #926
@murtuzasyed Please tell me if you find a way to get it resolved.

[2018-02-11 00:00] dr-mdbadawi commented on #926
@iliyaML try to do the link it worked with me
https://stackoverflow.com/questions/22475849/node-js-error-enospc

[2018-02-12 04:39] iliyaML commented on #926
@dr-mdbadawi  I believe that solution is for Linux and you are also running one. I'm currently running Windows 10.

[2018-02-12 19:40] mmahalwy commented on #926
Salam all, sorry, we haven't done a good job of testing on other operating systems outside of OSX.
Few things here, and some action items for the team and myself:
- Phantomjs is a wild card between operating systems. We don't use it other than with PDFs. We should stop supporting PDFs for the time being and remove Phantomjs
- We are slowly removing node-sass. Once that is removed, it will make it

[2018-02-14 16:45] murtuzasyed commented on #926
@mmahalwy ,
I know this might be sound easy to say but just curious if we can replace the build and related stuff with create-react-app?

[2018-02-24 04:05] tegirmon commented on #932
AA. Please review the change.  I was not able to run the app locally to test the changes.

[2018-02-25 19:46] mmahalwy commented on #932
@tegirmon salam, how come you were unable to test locally? Didn't work?

[2018-02-25 20:08] tegirmon commented on #932
No, the app hasnt started up successfully locally. I was running on win10. I am setting up ubuntu. Will see if I can run the app on ubuntu.

[2018-02-26 01:34] tegirmon commented on #932
I was able to run the app on ubuntu. I see the text on twitter share (img below). Nothing on facebook share. I'll have a look tomorrow.

![image](https://user-images.githubusercontent.com/4622581/36649441-3b2d212a-1a6b-11e8-8ced-0f9e347c0125.png)

[2018-03-08 01:51] hgeldiyev commented on #933
As-salamu aleykum. Could you please clarify what is it exactly you want with respect to this issue? I would like to help out, if possible. Also, where could I find conventions and information about what the SDLC cycle is? It would be helpful to know what commit to use as a base.

JZK

[2018-03-08 09:07] atiqueansari1987 commented on #932
Is this issue taken?

[2018-03-08 09:10] atiqueansari1987 commented on #525
Is this issue taken?

[2018-03-08 17:11] tegirmon commented on #932
Feel free to take a look. Only the "via" for twitter is displaying the details. Fb one hasnt worked. We may need to update to later version of the share component.

[2018-03-09 12:13] atiqueansari1987 commented on #932
Insha Allah I will give it a try this weekend

[2018-03-15 05:44] talhajunaidd opened #940 "User can't increase font size when any dropdown menu is expanded in settings"
**I'm submitting a ...**

- [ ] bug report
- [ ] feature request
- [x] other

**Current behavior:**

When any dropdown is expanded it blocks **+** button of "Translations" due to help button in settings
**Expected / new behavior:**

Plus button should not be blocked by help button
**For issue, please provide steps to reproduce it:**
- Go to Settings
- Expand Tooltip Display
- Try to increase font

[2018-03-15 13:00] Ammaar commented on #803
Salaam - I came back to Quran.com after several months ... didn't it used to have a login feature that allowed bookmarking and saving settings? I tried searching for update/release logs for why it was removed but couldn't find anything. Would like to have it back!

[2018-03-16 14:27] sir3n-sn opened #941 "Joining slack channel via heroku is broken"
Heroku app doesn't load and gives back an application error when trying to sign up for slack.
###Questions
  Is communications still done via slack if so please add me to the slack channel
  my email is ```sir3n.sn@gmail.com```