[2018-03-17 23:40] mmahalwy commented on #941
Lets remove this link for the time being?

[2018-03-17 23:40] #941 closed

[2018-03-18 07:30] mmahalwy commented on #652
@atiqueansari1987 any luck?

[2018-03-18 07:33] mmahalwy commented on #933
@hgeldiyev sure! The problem we have is we rely on `webpack-isomorphic-tools` when server-side rendering for helping us with assets (images, styles) that webpack normally handles. I think it served us well but we probably should migrate to a prober solution since that felt like a hack at the time. Ignore styles might help

[2018-03-18 07:35] mmahalwy commented on #933
Or better yet, we can do something like this:
https://medium.com/@mattvagni/server-side-rendering-with-css-modules-6b02f1238eb1

Or we can have the server-side handled by webpack, but we need to upgrade to webpack 3+

[2018-03-18 17:52] mmahalwy opened #946 "Ramadan 2018 goals, tasks, features"
Salam all,

Wanted to create this issue as a discussion for Ramadan 2018 goals, tasks, features and bugs. Anyone in the community is welcomed to add comments and/or suggestions. Feel free to comment suggestions and I could add them to a list in this comment (I will edit it continuously).

cc @ahmedre @sharabash @hammady @naveed-ahmad @sabeurthabti

[2018-03-19 01:53] invalidred opened #947 "I don't think we need to add prefixes to styled components."
https://github.com/quran/quran.com-frontend/blob/b1366b0c67f725c0a0b815cb314e96790875a19c/src/components/Footer/index.js#L45-L48

[2018-03-19 06:22] atiqueansari1987 commented on #652
@mmahalwy Didn't get chance to work on this yet.

[2018-03-19 08:30] Dhul-Husni commented on #652
asalamu aleikum @atiqueansari1987  i've got a bit of time in my hands this week InshaAllah can I take this up

[2018-03-19 17:21] mustafa0x opened #948 "The drawing of 5:76:2 lacks 'fill'"
As Salaamu Alaykum

See: https://quran.com/5/76

The issue is from the QPC's files.

Quran Android is good, but the following file also seems to have the issue: https://github.com/quran/quran.com-images/blob/master/res/fonts/QCF_P120.TTF

[2018-03-19 17:24] mustafa0x commented on #948
How it looks:

![screen shot 2018-03-19 at 7 23 28 pm](https://user-images.githubusercontent.com/1473102/37611443-0ac9eaee-2bab-11e8-88f2-def6d5ae458e.png)

But I can't reproduce on my phone, so it seems to be an issue just with my installed copy.

[2018-03-19 17:25] ahmedre commented on #948
broken on Safari on Mac for me, 100% of the time

[2018-03-19 17:36] naveed-ahmad commented on #948
All three versions are broken :(

<img width="961" alt="2018-03-19_2231" src="https://user-images.githubusercontent.com/701567/37612048-d999c58c-2bc5-11e8-8533-90b7970940c2.png">

[2018-03-19 18:36] mustafa0x commented on #948
This seems to be an extremely subtle bug that only presents itself on desktop (or just mac?) font rendering engines.

On android the character looks fine.

[2018-03-19 18:40] mustafa0x opened #949 "Ayahs: add 'user-select: none'"
The user's first assumption is that the text is copyable, while that's not the case.

In addition to 'user-select: none' you can place the actual arabic text behind the special characters and make it transparent, so they'll select that instead.

[2018-03-19 18:43] mustafa0x opened #950 "Use QPC's new fonts"
http://dm.qurancomplex.gov.sa/hafsdownload/

They're not yet available as TTF files (just huge AI/PDF/TIFF fils), so this isn't realistic until QPC releases them as font files, which probably won't happen anytime soon, or a good samaritan does so.

[2018-03-19 18:48] mustafa0x opened #951 "Use woff/woff2 files"
The TTFs are nearly double the size.

E.g.
- https://quran-1f14.kxcdn.com/fonts/ttf/p241.ttf
- https://cdn.rawgit.com/mustafa0x/qpc-fonts/f93bf5f3/mushaf-woff2/QCF_P241.woff2

[2018-03-19 18:56] mustafa0x commented on #951
[code]

[2018-03-19 19:18] naveed-ahmad commented on #951
@mustafa0x Fonts we're using has many issues, list is huge but biggest one IMO is no seo. We're using  weird codes for rendering text. Search engine can't index the actual mushaf.

I tried to use ligature feature of tff to render using actual text, and it works great except Safari ( and Firefox on Mac). So we rollbacked those fonts, also ligga didn't worked on woff/2 at all.

See https://github.co

[2018-03-19 19:21] mustafa0x commented on #951
SEO can be solved as I described in the other issue — user-select: none and transparent Arabic text.

But this issue here is unrelated to that, and seems to be unrelated to the other things you mentioned. :)

[2018-03-19 19:24] mustafa0x commented on #951
Also, use woff2 and fallback to woff — woff2 support is good, but not good enough. https://caniuse.com/#feat=woff2

[2018-03-20 06:24] mmahalwy commented on #949
@mustafa0x this is a really good idea actually. So you're suggesting `user-select: none` on the glyphs but still have the text rendered as transparent in the background?

[2018-03-20 06:24] mmahalwy commented on #950
cc @naveed-ahmad

[2018-03-20 06:25] mmahalwy commented on #947
Agreed! We should remove these!

[2018-03-20 08:33] mustafa0x commented on #949
Yeah, and the results aren't bad.

For longer ayahs you want to make sure the background text wraps similar to the ayah font.

Here's CSS I used to do (roughly) this:

[code]

[2018-03-20 14:55] #932 closed

[2018-03-20 15:06] Dhul-Husni commented on #652
Asalamu aleikum @sabeurthabti i am working on this inshaAllah and i have seen that you had also tried something similar. MashaAllah part of this has been implemented but It's hard to implement for new pages which are start of juz or hizb because the state changes and one cannot compare the juzNumber with the previous verse juzNumber. I was thinking of making a dictionary with all juz and hizb star

[2018-03-21 04:04] hgeldiyev commented on #933
@mmahalwy
Salams. I am sorry for my lack of understanding here. I am not as strong with JavaScript server-side development. However, I did look at the server-side-rendering article you posted and based on my understanding, it involves babel-plugin-css-modules-transform plugin to make CSS available to babel as variables. My question is - once I make the changes, what should be the observable outcom

[2018-03-21 05:12] mmahalwy opened #953 "Migrating config to react-universally"
https://github.com/ctrlplusb/react-universally

[2018-03-21 11:50] rashidrupani opened #954 "After Changing Surah from Top Right Droddown, dropdown still shows old Selected Surah;"
After Changing Surah from Top Right Droddown, dropdown still shows old Selected Surah. This makes user confused if he selected the correct surah.
Check this video: https://www.screencast.com/t/zx4v9qjRf

Surah name should also be display as an heading before starting of the Surah name.

[2018-03-21 18:29] mmahalwy commented on #954
Thanks for filing this! Will take a look!

[2018-03-22 07:51] Muhammadibn commented on #946
The search feature needs to be worked on. The one on the legacy site works so much better. Before typing this comment again, I just tried it out and typed qulillahumma in both version. The new version didn't give any results where as the legacy site gave the exact ayah I was looking for.

[2018-03-22 09:48] sabeurthabti commented on #946
- We can work on improving the homepage - I think we wanted a better design anyway.
- Bring quran.audio to the same standards as quran.com (maybe even share audio players_
- I'd love to do some out reach at events here in the UK and get people excited and contributing to quran.com (not just code)
- Maybe quran.audio Android app (I know I dropped the ball on that one)

[2018-03-24 21:57] nase7ah commented on #946
Salam 'alaykum and jazakum Allah Khayran for all of your efforts!

I have a small set of easy proposals that don't require much work that I think may benefit the project, specifically the security of the websites.

Since there's a push everywhere to move to HTTPS I think the first task should be to:

1. Moving everything to HTTPS:

There are still some domains that don't even support HTTPS (legacy

[2018-03-24 22:07] nase7ah opened #957 "The symbol for waqf isn't displayed fully"
**I'm submitting a ...**

- [x] bug report
- [ ] feature request
- [ ] other

**Current behavior:**

The symbol for *waqf* isn't displayed fully (end of the second line in this screenshot)

![](https://i.stack.imgur.com/eB0PZ.png)

**Expected / new behavior:**

The symbol for *waqf* should be fully displayed.

**For issue, please provide steps to reproduce it:**
- Go to https://quran.com/2/10 (tes

[2018-03-27 03:46] mxahmed commented on #946
Hello everyone, I've only known about quran.com today as I was thinking about implementing something similar but seems like it's a better idea to help this project than to start a new one.

Unfortunately I'm mainly a python developer with some intermediate experience in the frontend land [ angular & angularjs ] so It wouldn't be easy for me to contribute in the frontend or backend parts, but I'll

[2018-03-27 07:05] Dhul-Husni commented on #946
@mxahmed  React is not as hard. I promise. I am also a python dev but i was able to learn react in a few weeks and start contributing. InshaAllah may Allah make it easy for you. I also want to embark on a python project here at quran.com for teaching people how to learn classical Arabic with AI not theafter ramadhan inshaAllah and it will be in python maybe we could work together then inshaAllah.

[2018-03-28 17:08] Farhanisto opened #964 "Whenever I search for a non existent surah there is not message indicating surah not found"
**I'm submitting a ...**

- [x] bug report

**Current behavior:**
Whenever I search for a non existent surah I get no message indicating the search is not found.
**Expected / new behavior:**
The user should get a surah not found message or better he should be provided with surahs closely matching his/her search.

**For issue, please provide steps to reproduce it:**
- Start the application
-On the

[2018-04-02 08:37] naveed-ahmad opened #965 "audio player issue"
**I'm submitting a ...**

- [x] bug report
- [ ] feature request
- [ ] other

**Current behavior:**
Play any ayah, while its playing click on "play" button to another ayah and player will skip some portion of new ayah and continue reciting from the position where it was on previous ayah

**Expected / new behavior:**
Player should start from start for new ayah

[2018-04-07 03:58] #927 closed

[2018-04-07 03:59] #902 closed

[2018-04-07 03:59] #899 closed

[2018-04-07 03:59] #885 closed

[2018-04-07 04:00] #872 closed

[2018-04-07 04:00] #873 closed

[2018-04-07 04:00] #816 closed

[2018-04-07 04:01] #753 closed

[2018-04-07 07:30] pupyc opened #967 "Make an electron app from Quran.com"
السلام عليكم,

I think making the Quran.com accessible for offline users (Desktop) is a big deal!, so maybe an electron app will make that possible ? hope you can achieve that.

[2018-04-07 07:39] pupyc commented on #951
@naveed-ahmad you can also fallback or primarily use SVGs (but I think you need to rewrite alot of things), the text will be selectable and indexed by SEs.

[2018-04-13 19:29] phtan opened #968 "502 again ("bad gateway")"
**I'm submitting a ...**

- [x] bug report
- [ ] feature request
- [ ] other

**Current behavior:**
When I visited the web-site I saw an unexpected page. ("Bad gateway") I did not see this on staging.quran.com. Screenshot:
![screenshot_20180414-032241](https://user-images.githubusercontent.com/3508975/38754299-ce53900e-3f93-11e8-9776-bcde6b54407d.png)

**Expected / new behavior:**
The usual

**For

[2018-04-13 20:00] naveed-ahmad commented on #968
Looks like a temporary server outage. Working for me.

[2018-04-13 20:01] #968 closed

[2018-05-01 15:43] popo63301 commented on #967
Aleykum salam,

Good idea! There might be 2 solutions: either create a monorepository for the web app and the electron app or create an other repo for the electron app.

The second option sounds better in terms of organisation for me. Although I'm just wondering how we can share most of the code base with the quran.com-frontend repo because if we fix something on quran.com-frontend we might do the

[2018-05-01 19:37] mmahalwy commented on #967
I think the monorepo is a good idea. I don't have a whole lot of experience with electron. I tried it really early on and had some challenges with it but perhaps you guys know better.

[2018-05-02 02:50] mmahalwy commented on #967
How come local data? Probably the only local data would be what we use for cookies no?

[2018-05-02 06:46] popo63301 commented on #967
Well, if I quote @pupyc : "I think making the Quran.com accessible for **offline** users (Desktop)". It's more than small piece of data that can be store with cookies. It's the complete quran actually. So we might manage a local database to store all the data.

[2018-05-02 17:47] mmahalwy commented on #967
I'd suggest against that, to be honest. IMHO, I am still struggling with the idea why we need to have Quran offline – especially that the DB alone is over 100mb

[2018-05-03 08:29] popo63301 commented on #967
Yes, the DB is the real challenge. It's up to the people if we go for this challenge. It might be a lot of effort for very little people but can be worth for people who have plan to make Electron app in the future so they can get the right snippets for their future projects.

[2018-05-05 08:03] atalebagha commented on #933
Has anyone started this issue?  I can take it if no one has started.

[2018-05-05 16:51] marjan2k commented on #926
Assalamualaikum,

I cloned the repo today to help out with development.

I'm unable to run the development build. Did any recent commits cause this? Strangely the production build works.

`WEBPACK: Creating a development bundle configuration for the "client"
DEVELOPMENT: Webpack config is invalid, please check the console for more information.
TypeError: Cannot read property 'path' of undefined

[2018-05-05 20:11] marjan2k commented on #926
It appears, the issue persists in the commits since HappyPlugin got added. I can run previous commits just fine.

[2018-05-05 20:39] mmahalwy commented on #926
@marjan2k very odd this is happening. `path` should be a native module

[2018-05-05 20:41] mmahalwy commented on #933
@atalebagha this should be closed actually. Solved

[2018-05-05 20:41] #933 closed

[2018-05-05 20:41] #953 closed

[2018-05-05 20:44] #894 closed

[2018-05-05 20:45] mmahalwy commented on #886
Closing this. We are almost there!

[2018-05-05 20:45] #886 closed

[2018-05-06 04:35] mmahalwy commented on #926
@marjan2k this is the fix: https://github.com/quran/quran.com-frontend/pull/972 sorry it happened!

[2018-05-06 13:34] hamzeen commented on #926
@marjan2k that was something to do with hot module replacement config. I also faced the same issue but I can confirm PR #972 has fixed it.

[2018-05-06 18:39] ATouhou commented on #967
What does the Google Analytics say? How many people come from areas with slow/limited internet based locations?

[2018-05-07 06:04] Ominira opened #975 "It's got some PWA'ism to it, but it doesn't prompt to install."
- first off, you guys did/are doing awesomely well. MashaAllah tabarakallahu.
- I know there is already an Android app and an iOS app, but we could also have an installable PWA
- We could also make it relate to/reference the apps in playstore
- A custom install prompt dialog could also be added so no one will "freak out" about a website trying to install "something" on their phone or to their desk

[2018-05-07 17:46] naveed-ahmad commented on #975
AsSalam o Alakim brother,  please feel free to take this :) we had another issue related to service worker and PWA but not sure why @mmahalwy closed it. Related https://github.com/quran/quran.com-frontend/issues/894

[2018-05-08 20:28] mustafa0x commented on #975
[Chrome DevTools](https://developers.google.com/web/tools/chrome-devtools/progressive-web-apps#add-to-homescreen) says: "Site cannot be installed: the page does not work offline".

[2018-05-08 20:38] mustafa0x commented on #946
I don't think the search needs smartening — it needs dumbing down. Take the term that quran.com suggests: "Noah". The 2nd result doesn't even have Noah in the ayah — it's just mentioned in between brackets by some of the translators.

[2018-05-08 21:53] abdulbasitkay commented on #946
Assalamu Alaikum
We could add to the goals moving of statics artefacts of quran.audio to CDN and maybe issue quran/audio.quran.com#105?

[2018-05-08 22:13] abdulbasitkay commented on #967
I believe a monorepo would work. all we have to do is a separate main/release/master branch for the electron app. This would be a branch out from master and would have all the electron specific configs and files. With this, any commit that needs to be on both apps would get merged into the master branch and the electron release branch at the same time, independent commits can still be made to the

[2018-05-09 04:17] mmahalwy commented on #946
@mustafa0x i agree. we need to fix search again. it used to be much much better. it's just a big pain to tweak :(

[2018-05-09 04:35] #845 closed

[2018-05-09 04:36] mmahalwy commented on #813
I think we should deprecate the ss-icons in general.

[2018-05-09 04:36] mmahalwy commented on #709
@naveed-ahmad should we close this?

[2018-05-09 04:36] #517 closed

[2018-05-09 04:37] #244 closed

[2018-05-09 20:33] naveed-ahmad commented on #975
@mustafa0x that's because service worker isn't catching anything. We need to implement the offline first approach. [Workbox](https://github.com/GoogleChrome/workbox) is perfect candiate for us.

@mmahalwy yes, we'll have same service worker and manifest on staging and production. But we'll need to configure service worker on staging to only cache static assets and api calls for staging.quran.com.

[2018-05-10 00:25] naumanahmed19 opened #978 "Audio Missing"
**I'm submitting a bug report**

https://quran.com/79

Audio files are missing from 79:11 to  79:46

[2018-05-10 09:03] ccgy2e opened #979 "An Alif is covered in verse 19/26 with Firefox (tested on ESR and Nightly)"
**I'm submitting a ...**

- [x] bug report
- [ ] feature request
- [ ] other

**Current behavior:**

An Alif is covered in verse 19/26 with Firefox (tested on ESR and Nightly)

**Expected / new behavior:**

The Alif shouldn't be covered and should appear fully in verse 19/26 with Firefox (tested on ESR and Nightly)

**For issue, please provide steps to reproduce it:**
- Go to quran.com/19/26 or st

[2018-05-11 06:55] Ominira commented on #975
Alright.

[2018-05-18 04:15] AhmedShab commented on #965
Salam Alaikum @naveed-ahmad, Ramadan Kareen, hope you're having a blessed month 😄.

I'll look into this issue. I've also noticed that sometimes when you click on any ayah, it the player shows it's loading for some reason

![image](https://user-images.githubusercontent.com/12079101/40215786-4cbccc5c-5a6b-11e8-962e-febcb94b6312.png)

[2018-05-19 07:08] Khaleel opened #982 "Cannot copy and paste verses"
**I'm submitting a ...**

- [x] bug report
- [x] feature request
- [ ] other

**Current behavior:**

Selecting a verse with the cursor should be able to copy and paste
**Expected / new behavior:**

**For issue, please provide steps to reproduce it:**
- Steps
- to
- reproduce

Visit this URL: Try to copy this:
رَّبِّ ارْحَمْهُمَا كَمَا رَبَّيَانِي صَغِيرًا

Then paste, you will get this:
ﯚ ﯛ ﯜ ﯝ ﯞ

[2018-05-19 11:34] aulisius commented on #949
Assalamu alaikum!
First off, wonderful website, masha allah :D.

Alternatively, a copy button could be provided next to the ayah. Would that be feasible?

[2018-05-19 20:39] popo63301 commented on #982
This is caused by the fact that quran.com uses a specific font to render each word with the right calligraphy.
For example, if there is a surah with 26 words, each letter of of your keyboard (or an urdu keyboard): q, w, e, r, t, etc, will be associated with a specific word.
Wakhfid: ﯓ
lahuma: ﯔ
janahaaththulli: ﯕ
mina: ﯖ

So when you copy a verse, you get letters of your keyboard, because what you

[2018-05-20 04:34] AhmedShab commented on #965
Before I start working on this I have to ask, the current master branch has an issue with the player (other then what you mentioned). When I press the play button, it throws an error right away.

![image](https://user-images.githubusercontent.com/12079101/40275697-31d8517c-5c00-11e8-9488-6d98e0109dce.png)

@naveed-ahmad Any ideas?

[2018-05-20 06:42] naveed-ahmad commented on #982
We've copy button beside each ayah. Click on it and ayah will be copied in your clipboard.

[2018-05-20 06:42] #982 closed

[2018-05-20 06:47] naveed-ahmad commented on #965
WaAlakim o salam brother @AhmedShab, audio player has multiple issues. And these issues are holding back production build.

https://github.com/quran/quran.com-frontend/issues/965#issuecomment-390457133 and many other isseus in audio player are due to `currentVerse` in verses container.

[2018-05-20 07:05] AhmedShab commented on #965
Thank you @naveed-ahmad, I'll look into these issues. It might take a while but will do what I can 👍

[2018-05-20 23:50] SuperDzej opened #983 "First load: Audioplayer mounted but no file available"
**I'm submitting a bug.**

- [ x] bug report

Bug screenshoot: [https://ibb.co/ce2dy8](url)

**Current behavior:**

On first load of surah Fatiha, Bakarah etc., I get **"Audioplayer mounted but no file available"**, I need to reload the page for play button to start playing surah.
[](url)

**Expected behavior:**

When play button after first load is clicked the recitation of ajah should start.

**

[2018-05-21 01:54] SuperDzej commented on #965
Not sure how you track these audio player issues, but I have seen a couple so far tested it on few surahs.

1. Can not play pass 10 ayah in surah Bakarah, also surah Ali Imran after some verses it doesn't play anymore, no errors in the developer console.
2. Surah Fatiha stops on ayah number 4 and to get to ayah number 5 need to click on play button manually, from 1 to 4 it plays automatically and

[2018-05-21 20:57] naveed-ahmad commented on #983
Duplicated https://github.com/quran/quran.com-frontend/issues/786

[2018-05-21 20:57] #983 closed

[2018-05-22 01:16] SuperDzej commented on #983
I wouldn't say this is a duplication of that issue, because this issue happens only on the first page load and I can not play any sound until I reload a page, the issue you are referring to happens when automatic switch from ayah to ayah happens.

[2018-05-22 02:05] AhmedShab commented on #965
Thank you @SuperDzej, I'll look into the mine issue in the codebase. It might be something that causes all these issues to happen. Inshallah, I'll find it and it will fix them all. As I work on this, I might ask for your help or something to test things out for me. Thanks again, I appreciate it

[2018-05-25 07:58] AhmedShab commented on #965
Salam @naveed-ahmad, how are you doing?

Is there someone I could talk to who wrote the code for this?

I basically was debugging it. I followed the actions (from redux) but having troubling finding the place here it throws that error (in the code). I've never come across `undefined in connectAdvaned.js `
[code]

I would appreciate if I could talk to someone who had a similar error from `connectAd

[2018-05-25 13:08] AhmedShab commented on #965
@naveed-ahmad don't worry about it. After few hours of debugging, I found what was the issue. I think I fixed it.

@SuperDzej, do you wanna test it for me? I think it works now but sometimes when you manually change ayah, it doesn't play but doesn't throw any errors.

[2018-05-25 13:28] SuperDzej commented on #965
@AhmedShab Sure, where did you deploy it, so I can test?

[2018-05-25 13:40] AhmedShab commented on #965
@SuperDzej, here you go:
http://staging.quran.com:32809/

[2018-05-25 14:46] SuperDzej commented on #965
Can not hit that port, it says not found, I have tested on http://staging.quran.com surah Fatiha looks ok now, but Bakarah and other issues are still persistent, can not play pass surah 10 etc.

[2018-05-25 14:49] AhmedShab commented on #965
That's because I had to redeploy it. That link (http://staging.quran.com) doesn't have my work.

This is the new link with my work: http://staging.quran.com:32810/

[2018-05-25 16:33] SuperDzej commented on #965
Ok now I can go beyond ayah 10 in surah Bakarah but only when I go with next button from the first ayah inside audio player, I can not click on play beside ayah and trigger it to play that ayah, so it is possible to go beyond ayah 10 but with next button in audio player not with play icon that every ayah has.

[2018-05-25 17:26] AhmedShab commented on #965
Thanks. Yeah, that's the only part left. I can't see what is causing it yet. I'll try to do that next time

[2018-05-26 03:33] mustafa0x opened #985 "The translation of some of the Surah names are off"
Seems that Pickthall's translation of the names are used, and they have a few issues. Most prominently:

64. At-Taghabun — THE MUTUAL DISILLUSION
81. At-Takwir — THE OVERTHROWING

Likewise, the following translations are somewhat questionable:

37. As-Saffat — THOSE WHO SET THE RANKS
41. Fussilat — EXPLAINED IN DETAIL
45. Al-Jathiyah — THE CROUCHING
83. Al-Mutaffifin — THE DEFRAUDING
94. Ash-Sharh

[2018-05-26 04:21] naveed-ahmad commented on #985
@mustafa0x what about Clear Quran? Got this data few months ago but somehow forget to update the translations.

_please ignore the unrelated stuff_

۩ ◙ ☼ 1. The Opening  (Al-Fâtiḥah)	23
۩ ◙ ☼ 2. The Cow  (Al-Baqarah)	24
۩ ◙ ☼ 3. The Family of ’Imrân  (Âli-’Imrân)	47
۩ ◙ ☼ 4. Women  (An-Nisâ')	61
۩ ◙ ☼ 5. The Spread Table  (Al-Mâ'idah)	75
۩ ◙ ☼ 6. Cattle  (Al-An’âm)	86
۩ ◙ ☼ 7. The Heights  (Al-A’

[2018-05-26 04:36] mustafa0x commented on #985
Mostly better, but hopefully something even more clear and concise can be found. A lot of the context added to the translation is unneeded and even questionable. E.g. The ˹Ultimate˺ Help, The Night of Glory, and Friday Congregation.

[2018-05-28 14:02] fahad-ibrar commented on #965
Asalam O Alaikum Brother!
There is another issue in the player. While playing the recitation the word being recited is not highlighted. There is a difference between the time at which word highlighted and recited. The recitation is quicker than the highlighted part.

[2018-05-29 02:47] AhmedShab commented on #965
Walaikum Salam @fahad-ibrar,
Thank you for pointing that out. I think that how it was when I got the latest update (from the development version). Would you mind creating an issue for that? Thank you

[2018-05-29 02:48] AhmedShab commented on #965
It should be another ticket. That's what I meant, thank you again. I appreciate it 😄

[2018-05-29 02:50] AhmedShab commented on #965
@SuperDzej , would you mind creating an issue for what you found out? That should be another job as well. Thank you

[2018-05-29 06:38] fahad-ibrar opened #986 "Word highlighting and recitation are not in synchronization."
**I'm submitting a ...**

- [x] bug report
- [ ] feature request
- [ ] other

**Current behavior:**

There is an issue in the player. While playing the recitation the word being recited is not highlighted. There is a difference between the time at which word highlighted and recited. The recitation is quicker than the highlighting. It usually lags for 2-3 words.

**Expected / new behavior:**

Recit

[2018-06-02 14:58] Trial799 commented on #985
What about these from Abd Al-Haleem's translation?

1. The Opening (Al-Fatiha) 3
2. The Cow (Al-Baqara) 4
3. The Family of Tmran (Al-'Imran) 34
4. Women (Al-Nisa') 50
5. The Feast (Al-Ma'ida) 67
6. Livestock (Al-An'am) 80
7. The Heights (Al-A'raf) 94
8. Battle Gains (Al-Anfal) no
9. Repentance (Al-Tawba) 116
10. Jonah (Yunus) 128
11. Hud (Hud) 136
12. Joseph ( Yusuf) 145
13. Thunder (Al-Ra'd) 153

[2018-06-03 22:52] zainfathoni commented on #947
@mmahalwy I just submitted a PR for it. 😄

[2018-06-03 23:15] zainfathoni commented on #979
I think the underlying problem is similar with #957, both happen in Firefox only.
However, I still have no idea about it at all. 🤔

[2018-06-04 12:43] #947 closed

[2018-06-08 04:57] nabeelvalley opened #988 "Upside down tooltip on media player"
**I'm submitting a ...**

- [x] bug report
- [ ] feature request
- [ ] other

**Current behavior:**

When hovering over the link icon on the Audio Controls the tooltip point is on the wrong side, as seen below:

<img width="352" alt="upsidedown tooltiip" src="https://user-images.githubusercontent.com/36758308/41114862-f428799e-6a85-11e8-8ae5-ad43b73020aa.png">

Also when scrolling this gets stuck

[2018-06-08 17:02] #853 closed

[2018-06-08 17:05] #905 closed

[2018-06-08 17:57] naveed-ahmad commented on #988
Old bug, fixed on staging. Closing this.

[2018-06-08 17:57] #988 closed

[2018-06-08 18:01] naveed-ahmad commented on #978
There was a bug in audio player which wasn't reciting ayah after 10th ayah for all surah. Which I believe is fixed on staging.

[2018-06-08 18:01] #978 closed

[2018-06-08 18:02] #926 closed

[2018-06-20 00:51] sikandarali94 opened #989 "Syed Abdul Ala Maududi Wrong Urdu Translation."
**I'm submitting a ...**

- [ ] bug report
- [ ] feature request
- [x ] other

**Current behavior:**

My dad reads the Tafseer of Syed Abdul Ala Maududi in Urdu a lot, and he noticed that, for example, Surah Al-Imran does not contain the Urdu translation of Syed Abdul Ala Maududi, but is actually a literal
Arabic to Urdu translation. It's a real issue to show a translation of the Quran and wrongfu

[2018-06-20 00:56] naveed-ahmad commented on #989
Salam, can you attach a screenshot or something with the difference?

[2018-06-20 01:36] sikandarali94 commented on #989
Walaikumussalam. Here are the screenshots:

**Quran.com**
![online urdu](https://user-images.githubusercontent.com/20622653/41632594-ff2f66ac-747d-11e8-8151-6f289b34ce1f.PNG)

**Tafheem-ul-Quran**
![actual urdu](https://user-images.githubusercontent.com/20622653/41632598-02056e3a-747e-11e8-8f88-46f0b4fe7893.PNG)

[2018-06-25 21:17] sikandarali94 commented on #989
One temporary solution to this would be that rather than stating "Abdul Ala Maududi (with Tafsir)" just call it "Urdu Translation (with Tafsir)".

[2018-06-26 10:53] naveed-ahmad commented on #989
JazakAllah kharain for reporting @sikandarali94

This is actually Tafsir e Usmani ( translation by Mahmood Ul Hasan and tafsir by Shabir Usmani ). Going to rename it to **Tafsir e Usmani**

<img width="761" alt="2018-06-26_1551" src="https://user-images.githubusercontent.com/701567/41906935-c9753386-7958-11e8-8e24-f6c561de366e.png">

[2018-06-26 10:53] naveed-ahmad commented on #989
https://archive.org/details/TafseerEUsmanicompleteUrdu

[2018-06-26 11:39] #989 closed

[2018-07-12 11:37] ATouhou commented on #309
@naveed-ahmad  I just saw your message ~1.5 year late :P Do you still need the data file in another format? I was just following up on some 4000~ tabs in "OneTab" that has been gathering up the last 2 years.

[2018-07-13 17:23] mmahalwy commented on #967
most of our traffic is on mobile, with USA and Indonesia leading

[2018-07-14 13:23] mustafa0x opened #990 "Add -webkit-font-smoothing: antialiased"
Makes the font look better on Mac.

[code]

[2018-07-15 19:17] bahaa96 opened #991 "audiofile not found - API"
**I'm submitting a ...**

- [ ] bug report
- [ ] feature request
- [x] other

I'm trying to fix the first 2 issues with "good first issue" label.
#673 #525
I've added a stop button but I need to make sure that it's working.
![](https://preview.ibb.co/eKfdwy/Capture621651.png)
this is the error I get when I try to play the Surah

**Current behavior:**
It throws this error:
![](https://preview.ibb.c

[2018-07-18 09:18] bahaa96 commented on #866
I guess this might get closed.

[2018-07-18 09:42] bahaa96 commented on #813
Is this issue still open ?

[2018-07-18 09:57] bahaa96 commented on #887
@talothman Would you attach some screenshots to help us solve this issue ?

[2018-07-18 09:59] bahaa96 commented on #862
Is this Issue still open ??

[2018-07-19 07:16] bahaa96 opened #995 "Add me on your Slack chat group"
email: geekbahaa1@gmail.com

[2018-07-19 07:34] naveed-ahmad commented on #995
Sent you the invitation :)

[2018-07-19 07:34] #995 closed

[2018-07-19 08:47] naveed-ahmad opened #996 "Audio delay"
We're loading audio of next ayah after finishing the currently playing ayah, which is introducing bit delay between ayahs.

How about loading audio of next ayah, while playing the current ayah?

[2018-07-19 08:49] naveed-ahmad commented on #991
fixed https://github.com/quran/quran.com-frontend/pull/993

[2018-07-19 08:49] #991 closed

[2018-07-19 08:53] #965 closed

[2018-07-19 09:45] bahaa96 commented on #996
OK I'll check this

[2018-07-20 08:35] #525 closed

[2018-07-20 16:04] bahaa96 commented on #846
Is this Issue still open ??
I've installed Adblock plus and it's working like charm. Either on staging or production.

[2018-07-20 16:23] aa7955 commented on #846
if it's fixed, just close it then.

[2018-07-20 16:57] bahaa96 commented on #846
Would you matter to check it now ?

[2018-07-20 17:02] aa7955 commented on #846
Trying to play Surah al-Fatiha ...

Same issue running on Chrome:
[code]
Firefox has the same errors. Here's something extra:

<img width="1117" alt="screen shot 2018-07-20 at 10 00 50 am" src="https://user-images.githubusercontent.com/6264696/43015230-e04ab12c-8c03-11e8-9d2e-dd201f3824e5.png">

[2018-07-20 17:16] bahaa96 commented on #786
Is this still open ??

[2018-07-20 21:45] naveed-ahmad commented on #846
Salam brothers, I'm closing this. Issue have been fixed, but staging build are failing. Preparing for production build, and need to clear the fixed issues. They're scary :)

[2018-07-20 21:45] #846 closed

[2018-07-20 21:49] #866 closed

[2018-07-20 21:50] naveed-ahmad commented on #862
@bahaa96 yes

[2018-07-20 21:53] #533 closed

[2018-07-21 12:03] faheempatel opened #1001 "[UX Improvement] Discreet loading animation"
**I'm submitting a ...**

- [ ] bug report
- [ ] feature request
- [x] other

**Current behavior:**

The loading animation takes up the whole screen covering the ayahs behind it, which is a little disjointing to the reading experience.

**Expected / new behavior:**

A more discreet loading animation at the end of the page may improve the experience. Possibly a solution more closely matching ones f

[2018-07-21 14:27] IIDarkKnightII opened #1002 "Verses plays a word from the middle before playing from start."
quran.com/67
When I play audio, it plays first verse then for the second verse it plays some audio clip of a "word" in the verse and then plays the second verse.

This happens even after I refresh the page.

Probably you need to clear the buffer if using any.

Thanks

[2018-07-22 04:46] #786 closed

[2018-07-22 08:08] bahaa96 commented on #1001
This issue is fixed on staging and will be shipped with tha next update.
you can take a look here:
http://staging.quran.com:32844/2

[2018-07-22 08:09] bahaa96 commented on #1001
@naveed-ahmad Close This Issue.

[2018-07-23 11:47] bahaa96 commented on #954
@naveed-ahmad Close This Issue

[2018-07-23 12:05] bahaa96 commented on #964
Is this Important to do ? @naveed-ahmad

[2018-07-23 16:41] khusroohayat opened #1003 "Add me on your Slack chat group"
email: khusroo.hayat@gmail.com

[2018-07-23 18:50] naveed-ahmad commented on #1003
You were already invited, can't invite again but here is the link to join.

https://join.slack.com/t/quran/shared_invite/enQtNDAzMzUzNzIyNTMxLTA3ZDY5OWY1MDI2NDUzMzJhYjJkNjRmOTE2ODQ4NDkxY2MxY2M5ZjEyNDNkMTdmNjYyM2QyOGNhMDM4YmFiZjc

WELCOME!

[2018-07-23 18:50] #1003 closed

[2018-07-24 00:18] #954 closed

[2018-07-24 00:19] naveed-ahmad commented on #964
Low priority.

[2018-07-24 14:10] bahaa96 commented on #1002
Could u make a screencast for us to understand it well ?

[2018-07-24 14:39] IIDarkKnightII opened #1004 "Verses get played multiple times."
When I play surah from start, some verses get played multiple times  (3,4,5... times).

[2018-07-24 17:48] bahaa96 commented on #674
@naveed-ahmad Close this.

[2018-07-24 17:50] bahaa96 commented on #1004
Can u attach a screencast of this behavior ? It would be helpful for us to solve this problem faster.

Thanks for reporting this issue <3

[2018-07-25 09:58] #996 closed

[2018-07-25 18:23] #674 closed

[2018-07-28 18:00] ahmedfouzan opened #1006 "Add me to the slack group"
email: ahmedfouzan@gmail.com

[2018-07-28 18:09] naveed-ahmad commented on #1006
invited.

[2018-07-28 18:09] #1006 closed

[2018-07-29 22:12] abdulbasitkay opened #1007 "slack invite"
abdulbasitkabir@yahoo.com

[2018-08-06 04:56] #887 closed

[2018-08-06 04:57] mmahalwy commented on #813
@bahaa96 Yes.

[2018-08-09 04:00] aliasaria commented on #948
It seems there is an issue with the generated font itself. The path that appears hollow is duplicated. See gif below. Is it ok to just edit the font directly to fix? Or should we fix the generator that created it?

![fontissue](https://user-images.githubusercontent.com/213343/43877321-1b2b4802-9b67-11e8-854d-8a80614b9605.gif)

[2018-08-09 04:25] aliasaria commented on #948
I believe this is a fixed file. Would need someone to generate everything again to test properly

@naveed-ahmad are you able to try?

[QCF_P120.ttf.zip](https://github.com/quran/quran.com-frontend/files/2272786/QCF_P120.ttf.zip)

[2018-08-09 09:14] naveed-ahmad commented on #948
@aliasaria I believe you fetched this font from quran-images repo? This font has lots of unused glyph and weird stuff, we're no longer using these fonts.

Can you please remove duplicate path and reupload the following file again?

https://github.com/quran/quran.com-frontend/blob/master/static/fonts/ttf/p120.ttf

[2018-08-10 04:45] pandauxstudio opened #1009 "Page layout mode for better readability"
**I'm submitting a ...**

- [ ] bug report
- [x ] feature request
- [ ] other

**Current behavior:**
I'm unable to view Quran in page layout, that mimics a standard Quran layout.

**Expected / new behavior:**
As a [Reciter], I want to [Display set of Ayah's for a specific page], so that [I can more easily recite the verses visually laid out in way to mimic a real Quran without line breaks or trans

[2018-08-10 05:11] pandauxstudio opened #1010 "Account registration"
**I'm submitting a ...**

- [ ] bug report
- [x] feature request
- [ ] other

**Current behavior:**
I'm currently unable to maintain my own preferences in the app, for example I wish to highlight certain versus, add bookmarks, annotate others, and other configurations etc.

**Expected / new behavior:**
As a [Reciter], I want to [Create an account], so that [I can configure and save preferences suc

[2018-08-11 17:32] aliasaria opened #1011 "Please add me to slack group"
Would love access to developers slack group so that I can contribute more thanks!

[2018-08-11 17:52] naveed-ahmad commented on #1011
@aliasaria can you post your email?

[2018-08-11 19:59] aliasaria commented on #898
I suggest we close this issue as the original issue is not a bug

[2018-08-11 22:30] c16u opened #1013 "Issues with Night Mode"
**I'm submitting a ...**

- [ ] bug report
- [ ] feature request
- [X] other

**Current behavior:**

Unfortunately, the Night Mode feature is incomplete and has issues.
- The top navigation bar remains white, defeating the entire purpose. This color should match the footer's dark color.
- When opening the hamburger or Settings menu and highlighting options with the cursor whilst Night Mode is enab

[2018-08-12 16:28] naveed-ahmad opened #1015 "Indopak"
Word by word indopak data is ready, its time to use it.

[2018-08-12 21:43] aliasaria commented on #948
Ok I believe I have fixed in it PR#1012

https://github.com/quran/quran.com-frontend/pull/1012

[2018-08-12 22:35] aliasaria commented on #862
Haven't had time to fully look at this bug but FYI to anyone looking at it, the issue goes away if you change:

https://github.com/quran/quran.com-frontend/blob/c4e2d9943c980e71ab63f6cf43f82dbc6763c6b4/src/redux/actions/verses.js#L20-L22

from

[code]

to

[code]

I'm not sure what else breaks when you do this. It seems like an issue in the **prepareParams** function if translations is **empty** b

[2018-08-12 22:42] aliasaria commented on #990
Hate to be pedantic but I think this one is debatable. Safari default anti-aliasing is:

`-webkit-font-smoothing: subpixel-antialiased;
`

And _officially_, this is the most _accurate_ form of anti-aliasing for modern monitors.

A bit more is written up on this here:

http://usabilitypost.com/2010/08/26/font-smoothing/

I agree that the fonts could be a bit less heavy but I suggest that the soluti

[2018-08-12 22:56] naveed-ahmad commented on #862
But we want to show default translation when user load the page initially.

[2018-08-13 11:26] mustafa0x commented on #990
Yeah, these old fonts lose accuracy (e.g. the "holes" in a lot of glyphs become filled or nearly filled) with the better form of font smoothing. That's why quran.com uses antialiased for the surah names on the front page. The newer QPC fonts don't have this issue.

I compared with Windows, and it's smoothing of these fonts is comparable to OSX's antialiased

I also attached some screenshots for co

[2018-08-13 18:38] mmahalwy commented on #990
I will add it inshallah!

[2018-08-13 18:39] mmahalwy commented on #862
I can pick it up soon

[2018-08-15 18:51] c16u opened #1016 "Broken link on legacy site"
**I'm submitting a ...**

- [X] bug report
- [ ] feature request
- [ ] other

**Current behavior:**

Broken Alpha link in the top right corner of https://legacy.Quran.com.

**Expected / new behavior:**

Modify link to simply Quran.con (remove Alpha.) because the new design is the default design.

**For issue, please provide steps to reproduce it:**
- Go to https://legacy.quran.com
- Click 'New : A

[2018-08-17 03:47] #652 closed

[2018-08-18 09:27] DFFDFDFD opened #1017 "ASSALAM ALEYKUM"
Assalam алейкум!
My name is Adam, I represent online school on training in the Koran of Speakarabic.ru

we were very much interested in your Quran.com project
very abrupt project!
I have to you a question, we can establish partner connection with you concerning the software?

can you write to us to WhatsApp 8937-930-94-07?

[2018-08-24 12:58] dfaruque opened #1018 "[feature request] Ruku (section) wise navigation"
**I'm submitting a ...**

- [ ] bug report
- [ x ] feature request
- [ ] other

**Current behavior:**
Ruku wise navigation is missing

**Expected / new behavior:**
Please add Ruku (section) wise navigation

Jzakallahu khairan

[2018-08-25 20:14] c16u commented on #921
The legacy site allowed copying images of verses.

[2018-08-28 20:53] khusroohayat commented on #1013
@naveed-ahmad i am picking this issue

[2018-08-29 09:12] sabeurthabti commented on #1013
@khusroohayat might be worth waiting until #1005 has been merged.

[2018-08-29 16:37] mmahalwy commented on #1013
@khusroohayat @sabeurthabti IMHO, the night mode feature should be handled with styled-components and not a custom css file that overrides styles.

[2018-08-29 16:38] mmahalwy commented on #1016
CC @ahmedre

[2018-08-29 19:01] naveed-ahmad commented on #1016
I tried fixing this, but we're fetching links from database: https://github.com/quran/quran.com-framework/blob/master/lib/model/ToolbarTable.php

@ahmedre

[2018-08-29 20:19] mmahalwy opened #1020 "Convert Smartbanner to styled-components"
**I'm submitting a ...**

- [ ] bug report
- [ ] feature request
- [x] other

**Current behavior:**
The Smartbanner component is heavily using CSS and should instead use `styled-components`

**Expected / new behavior:**
Convert to styled-components please!

[2018-08-30 00:09] atalebagha commented on #1020
I can take this.

[2018-08-30 09:56] mmahalwy commented on #1020
@atalebagha please do! I will merge this soon: https://github.com/quran/quran.com-frontend/pull/1005

Then can open it up for everyone to help out. Still a few missing items that I need to do after I merge it inshallah

[2018-08-30 16:08] #946 closed

[2018-08-30 16:27] #673 closed

[2018-08-30 16:27] #594 closed

[2018-08-30 16:27] #371 closed

[2018-08-30 16:28] #803 closed

[2018-08-30 17:03] mmahalwy commented on #948
@aliasaria awesome! thanks a bunch! About to merge my branch :)

[2018-08-30 17:46] #990 closed

[2018-08-30 17:51] mmahalwy opened #1021 "Broken from v2"
**I'm submitting a ...**

- [X] bug report
- [ ] feature request
- [ ] other

**Current behavior:**
- Audioplayer does not have repeat options
- Footnotes is not working
- Tafsir is not working
- No search in navbar

**Expected / new behavior:**
The above should work be working as they were previously.

[2018-08-30 17:53] mmahalwy commented on #1021
cc @naveed-ahmad

[2018-08-31 08:29] atalebagha commented on #1021
Any of you getting this?

<img width="847" alt="screen shot 2018-08-30 at 10 47 12 pm" src="https://user-images.githubusercontent.com/9886105/44901830-49b20500-acbd-11e8-8e93-05eb7eb403fc.png">

[2018-09-03 16:56] mmahalwy opened #1027 "Multiple options for copying"
**I'm submitting a ...**

- [ ] bug report
- [x] feature request
- [ ] other

**Current behavior:**
Copy for verse only copies the normal text and not other options.

**Expected / new behavior:**
Have other options for copying. Allowing copying only a few words

[2018-09-13 17:01] bahaa96 commented on #1020
Is this still open ?

[2018-09-13 17:02] bahaa96 commented on #1013
Is this still open ?

[2018-09-14 05:15] mmahalwy commented on #1013
@bahaa96 yep!

[2018-09-14 05:16] mmahalwy commented on #1020
@bahaa96 Yep!

[2018-09-14 05:18] #1011 closed

[2018-09-14 05:19] mmahalwy commented on #768
@naveed-ahmad I don't recall the url for the images. Do you know where?

[2018-09-14 05:19] #767 closed

[2018-09-14 05:20] #1017 closed

[2018-09-14 05:20] #1016 closed

[2018-09-14 05:21] #922 closed

[2018-09-14 12:15] naveed-ahmad commented on #768
@mmahalwy

http://staging.quran.com:3000/api/v3/chapters/1/verses?recitation=1&translations=21&language=en&text_type=image

You can use `text_type=image` for ayah images but I guess that's going to be change as well.

OR

We don't need to fetch image urls via api. Simply replace chapter id and ayah id :)
http://c22506.r6.cf1.rackcdn.com/1_1.png

`http://c22506.r6.cf1.rackcdn.com/CHAPTER_AYAH.png`

[2018-09-14 22:13] mmahalwy commented on #1020
Yes! Separation is always preferable :)

[2018-09-14 22:14] mmahalwy commented on #768
Yeah, can deduce the url

[2018-09-19 20:12] mmahalwy opened #1034 "Use babel 7 with typescript"
**I'm submitting a ...**

- [ ] bug report
- [ ] feature request
- [ ] other

**Current behavior:**

**Expected / new behavior:**

**For issue, please provide steps to reproduce it:**
- Steps
- to
- reproduce

**Anything else:**

[2018-10-03 10:28] muhammadmw opened #1037 "Surah Baqarah (V 20) of Abdul Haleem Translation"
**I'm submitting a ...**

- [ x] bug report
- [ ] feature request
- [ ] other

**Current behavior:**

Part of the ayat (2:20) is being translated in the Abdul Haleem Translation.

[2018-10-03 11:07] naveed-ahmad commented on #1037
Current translation:

Full translation:

Ref: https://ia601902.us.archive.org/18/items/TheQuranOxfrdWrldClas/The%20Qur%27an%20%28Oxford%20World%27s%20Clas%20-%20M.%20A.%20S.%20Abdel%20Haleem.pdf

Fixed on staging.

[2018-10-03 11:07] #1037 closed

[2018-10-03 12:07] muhammadmw commented on #1037
The error is still there.
Could I know how long it will take for the total translation to come up?

[2018-10-09 05:32] c16u opened #1038 "Mistranslation still not fixed after multiple reports"
**I'm submitting a ...**

- [x] bug report
- [ ] feature request
- [x] other

**Details**
Already reported via

- https://quran.com/contact
- https://quran.zendesk.com/hc/en-us/articles/205780729-I-found-a-translation-bug-where-do-I-file-it-
    - Is anyone monitoring this Google form anymore?

Location:
https://quran.com/56/85
http://corpus.quran.com/translation.jsp?chapter=56&verse=85

Translati

[2018-10-10 11:03] metin494 opened #1039 "Quotes in Turkish (Diyanet Isleri) in IOS 12"
Salaam Alaikum
I've noticed a bug in Turkish (Diyanet isleri) description of Quran. Problem is that the app shows quote symbol " as &quot;. Could you fix that ASAP please?..

**I'm submitting a ...**

- [x ] bug report
- [ ] feature request
- [ ] other

**Current behavior:**

**Expected / new behavior:**

**For issue, please provide steps to reproduce it:**
- Steps
- to
- reproduce

**Anything els

[2018-10-16 17:12] ammarbinfaisal commented on #1013
Why is this issue still open? Is there more stuff to be added?

[2018-10-16 18:17] ammarbinfaisal commented on #1027
@mmahalwy What about double clicking a word(arabic text with class word) to copy it?

[2018-10-17 08:16] ammarbinfaisal commented on #967
Making an electron app which is completely offline seems to be difficult but a simple electron app which just loads quran.com(directly in the BrowserWindow, not an iframe in an index.html) can have one benefit - the pages get cached and on reopening the app without any internet connection, the surah's which were previously read/scrolled through can be read till where they were read/scrolled throug

[2018-10-17 08:29] ammarbinfaisal opened #1041 "[Feature Request] Allow surahs to be saved offline"
I see that the website is using a service worker which does nothing and there are a few issues open to make this a PWA #975
But i don't just mean that it should just be a pwa.
There should an option to save data offline like there's in [devdocs](https://devdocs.io)

I would like to help in making this a pwa in which surahs can be saved.

[2018-10-17 10:57] mohamednizar commented on #834
I wish to start on this enhancement, let me know we already implemented this.

[2018-10-19 13:48] abduldm opened #1042 "Error when run - npm run dev command"
Hi All,

I am facing some issue in while running npm run dev command. I removed node_modules folder and rerun the install command,  but still issue exist.

Please find the attached screen shot and can someone help here.

![image](https://user-images.githubusercontent.com/20589225/47222054-dd31b900-d383-11e8-8e03-4a368f57cf66.png)

Regards
Abdul

[2018-10-19 19:18] AmounSai commented on #1042
Hello, I found the same problem, any help
Thank you

[2018-10-21 00:00] khaledez commented on #957
I confirm this issue on all waqf symbols on Firefox 62.0.3 (64-bit) - Mac.
It's working fine on Chrome.
I think this issue is from the underlying text renderer in Firefox

[2018-10-21 05:33] udotag opened #1043 "bad chars in API links - exception handling required"
بسم الله الرحمان الرحيم

**I'm submitting a ...**

- [x] bug report
- [x] feature request
- [ ] other

**Current behavior:**

takes too long to respond
https://quran.com/21/22%EF%BF%BD

**Expected / new behavior:**

should automatically redirect to
https://quran.com/21/22

**For issue, please provide steps to reproduce it:**

just go and paste this in the browser
https://quran.com/21/22%EF%BF%BD

[2018-10-21 05:39] naveed-ahmad commented on #1043
Already fixed on staging.
https://staging.quran.com/21/22%EF%BF%BD

[2018-10-21 05:39] #1043 closed

[2018-10-21 05:41] udotag commented on #1043
is defaulting to ayah number 1 and not going to 22

[2018-10-21 09:58] udotag opened #1044 "link not going to relevant ayah"
**I'm submitting a ...**

- [x] bug report
- [ ] feature request
- [ ] other

**Current behavior:**

https://staging.quran.com/21/22%EF%BF%BD

its defaulting to ayah number 1

**Expected / new behavior:**

it should go to ayah 22 and strip bad chars from url

**For issue, please provide steps to reproduce it:**

copy paste in the browser : https://staging.quran.com/21/22%EF%BF%BD

**Anything else:

[2018-10-21 22:42] c16u commented on #1038
When will this be fixed?

[2018-10-22 05:26] udotag opened #1045 "word does not conform to the script of سيدنا عثمان، رضى الله عنه"
**I'm submitting a ...**

- [x] bug report
- [ ] feature request
- [ ] other

**Current behavior:**

[
![img_0809](https://user-images.githubusercontent.com/44333106/47278607-cab5ba80-d5e3-11e8-95a0-c82eab783429.png)
](url)

**Expected / new behavior:**

![ayah-reference](https://user-images.githubusercontent.com/44333106/47278765-e53c6380-d5e4-11e8-9f07-f272afe505c3.png)

**For issue, please prov

[2018-10-22 10:06] Clement-TS opened #1046 "Player "Loading" requires refresh"
**I'm submitting a ...**

- [x] bug report
- [ ] feature request
- [ ] other

**Reproduction process:**

1. Go to https://quran.com/
2. Click to one link, example 1 Al-Fatihah.
3. You see the "Loading" message on the bottom left.
4. When you click on the "Play" icon, nothing happens.
5. Hit refresh on your browser (F5 or reloading icon)
6. Now the sound player displays and is working

**Expected b

[2018-10-22 17:09] naveed-ahmad commented on #1038
@c16u soon. Need to setup an easy way to fix translation and keep history of what's been changed. This is taking some time but will be ready in a week inshAllah.

[2018-10-22 17:11] naveed-ahmad commented on #1042
I was getting same error when I pulled the latest changes. Removed node_modules directly and `npm install` again. Worked for me.

[2018-10-22 21:18] abduldm commented on #1042
Thanks @naveed-ahmad for you comment. I Remove Node module but issue still exists.

[2018-10-22 21:22] AmounSai commented on #1042
Yeah, I did this us the first step,and  I removed than npm install I get the same result.
So any other suggestions ?
Thank you

[2018-10-26 17:34] mohamednizar opened #1047 "Sinhalese Interpretation for the quran.com"
**I'm submitting a ...**

- [ ] bug report
- [x] feature request
- [ ] other

**Current behavior:**

Hi guys, I'm from Sri Lanka. I'm want to provide content for Sinhalese Interpritation of the quran & I would like to work that as well. Please advice me how can we do this.

[2018-10-27 14:09] Hartha-aloufi commented on #1042
Salam alykom guys I have a different issue, `npm run dev` works good but this error message `TypeError: Invalid value used as weak map key` appear in the console when I try to enter the app in the browser. it is a server error.

the entire log :
`SERVER: Error in server execution, check the console for more info.
[  TypeError: Invalid value used as weak map key

  - WeakMap.set

  - index.js:23 ma

[2018-11-10 22:04] imranariffin opened #1048 "Add to Slack"
Assalamu alaikum people,

Please add me to the Slack group. I would like to contribute to this awesome work.

email: ariffin.imran@gmail.com

[2018-11-10 22:34] naveed-ahmad commented on #1048
waAlakim o salam, you should get the invitation.

[2018-11-10 22:34] #1048 closed

[2018-11-11 20:50] saleemepoch opened #1050 "Please add me to slack group"
I would love to join the team and contribute.

I would rather pm you my email address if poss?

[2018-11-11 21:58] naveed-ahmad commented on #1050
Sure, contact here and ill add you inshAllah.
naveedahmada036@gmail.com

[2018-11-11 21:58] #1050 closed

[2018-11-15 21:08] aniquedavla opened #1051 "Featured/Hot Bookmarks for duas and popular stories"
**I'm submitting a ...**

- [ ] bug report
- [ x ] feature request
- [ ] other

**Current behavior:**

A hotlink or featured bookmark to popular stories/duas in the Quran which the user can then read the context around is not present.
**Expected / new behavior:**

These featured bookmarks can help people improve engagement.

[2018-11-17 02:39] imranariffin commented on #1042
@Hartha-aloufi for your issue, the offending line is proabably `redux/reduc ers/juzs.ts:23:20`. I had the issue and nabeel from the Slack group pointed me to this line (link to Slack thread: https://quran.slack.com/archives/C026LT009/p1541963828020900)

In case you don't have access to it, you can request for it (see README). Or if you somehow can't do it, let me provide the explanation:

At some

[2018-11-17 08:05] ahmedre opened #1053 "[Feature Request] Improvements to Night Mode"
**I'm submitting a ...**
- [X ] feature request

Suggestions:
1. let night mode also apply to the top bar
2. automagically switch to night mode on Mojave when in dark theme (https://paulmillr.com/posts/using-dark-mode-in-css/).

[2018-12-03 15:48] Skillz4Killz opened #1056 "Slack Invite Please"
Asalamoalaikum Wa Rahmatullahi Wa Barakatuhu

Email: admin@ezlgg.com

[2018-12-03 15:51] naveed-ahmad commented on #1056
done

[2018-12-03 15:51] #1056 closed

[2018-12-03 22:18] Skillz4Killz opened #1057 "Incorrect First Verse In Surah Fatihah"
**I'm submitting a ...**

- [ ] bug report
- [ ] feature request
- [x] other

**Current behavior:**

Going to Surah Al-Fatihah Verse 1 we can see the following verse:
![image](https://user-images.githubusercontent.com/23035000/49404721-4136f380-f71e-11e8-9de4-050f40909c93.png)

Going to Surah Al-Baqarah Ayah 1, we can see the following verse:
![image](https://user-images.githubusercontent.com/2303

[2018-12-07 18:01] mmahalwy commented on #967
@ammarbinfaisal would love to have you create an electron app for us if you have bandwidth :)

[2018-12-07 18:02] mmahalwy commented on #1027
@ammarbinfaisal I guess the intention here is people want to copy text, text with tashkeel, image, etc.

[2018-12-07 18:03] mmahalwy commented on #957
@naveed-ahmad

[2018-12-07 19:53] ammarbinfaisal commented on #967
I am quite busy this month.
but I would definitely do that when I am free.

[2018-12-11 14:11] oyilmaztekin opened #1058 "Turkish surah names"
**I'm submitting a ...**

- [ ] bug report
- [x] feature request
- [ ] other

**Current behavior:**

When the user selects the Turkish language, nothing changes at the website except the menu links.

**Expected / new behavior:**

Most of the people don't know the English names of the surahs. It has a standard in Turkish. You can check everything about the Turkish usage at the website of the offici

[2018-12-11 20:30] naveed-ahmad commented on #1058
@oyilmaztekin can you send simple text file with surah name is each line?

[2018-12-12 06:59] oyilmaztekin commented on #1058
@naveed-ahmad Hope this helps. [surahNames.txt](https://github.com/quran/quran.com-frontend/files/2670762/surahNames.txt)

Also, I uploaded a JSON file which shows how Diyanet holds the surah list.
[surahListJSON.txt](https://github.com/quran/quran.com-frontend/files/2670773/surahListJSON.txt)

[2018-12-14 14:07] Hartha-aloufi opened #1059 "local api returns 500"
Salam alykoom

I have a problem with running the project locally, all api requests returns 500.

server log:

request example from chrome console :

[2018-12-15 15:14] naveed-ahmad commented on #1059
Wa Alakim o Salam, can you send the server logs?

[2018-12-16 13:04] Hartha-aloufi commented on #1059
@naveed-ahmad  Thank you  for replay, I don't have the server locally, I just cloned  the repo and tried to run the development server, but it seems like the app use the local API by default, so it request http://localhost:8000/api/api/v3/.

I tied to use the staging api but it is also down, in the read me file you side the url could changed in app.json file but I don't find it.

should I clone qu

[2018-12-18 22:50] mrtugicom opened #1060 "Players unexpectedly stops"
- Similar issue: https://github.com/quran/quran.com-frontend/issues
#1046
  - Pull Requests: https://github.com/quran/quran.com-frontend/pulls
not found

- [x] bug report
- [x] feature request
- [ ] other

**Bug Report**
Just info for devs, when using quran.com and currenty navigate to quran.com/75 - **The audio player always loading** till I manually refresh the page, and when playing the audio,

[2018-12-18 22:56] mrtugicom commented on #986
Yeah, me too some times after playing the audio for a while, it happens.

[2018-12-18 23:01] mrtugicom commented on #811
@naveed-ahmad I opened #1060 which has similiar issue with additions, I cant even see any surah or ayah on staging at this time. But its actually happens on quran.com after navigating from home page.

[2018-12-18 23:14] mrtugicom commented on #1057
I'm in Indonesia, and that is commonly found here in many jamaah in many masjid, many schoolars already study surah Al-Fatiha, and both are allowed and tolerated, but we have one similiarity which we hold, Al-Fatiha has 7 ayah. One says Bismillah is included, and other one says not included, so some ayah seems combined or separated.
So Imam could adapt to majority by reading bismillah loudly or si

[2018-12-18 23:30] mrtugicom commented on #1041
Yeah cool, also to import data, so we dont need to download from server.
PWA with export import capabilities for sure?
Enhance portability across platforms and devices.

[2018-12-18 23:36] mrtugicom commented on #1027
It is a good habit to copy a whole 1 ayah, to avoid some misconception and fitnah when we cut the ayah.

But I would like to have option like check box whether i like to copi the arabic, or the translation, trasliteration, other translation, some of them or all of them.
With arabic at first, and other translation/literation on desired/current order.

[2018-12-18 23:41] mrtugicom commented on #1018
Just to give a good message
here is a link preview on staging.quran.com
(it has surah (chapters) and juz)
[http://imgur.com/8Syu74zl.png](url)

[staging.quran.com](url)

[2018-12-18 23:47] mrtugicom commented on #1010
Yeah, I would like too.

This opens a new level of learning, from self service with some degree of analytics, to assisting muslim to learn Al-Qur'an with actual schoolar, and beyond..

[2018-12-18 23:51] mrtugicom commented on #1004
I remember this also happened to me some times.
I dont know what trigger that behaviour, because often i opens other tabs, and suddenly one ayah repeated, or just stop.
This makes me to use read.quranexplorer.com to listen to the quran while opening other tab.

[2018-12-19 00:02] mrtugicom commented on #985
Muslimin names the surah differently, but often they keep deep and related meaning of the content in the name they choose.

So I suggest we provide them all the names, even better with available explaination.
And we the majority as default name. Even better if the app could adapt to user region to pick the default name.

[2018-12-19 11:52] naveed-ahmad commented on #811
@mrtugicom yes api is down. Working on it.

[2018-12-19 20:56] naveed-ahmad commented on #1059
Staging api is fixed, you can start using it. Sorry we've been trying to upgrade rails version and migrate to new build system. Which took a while.

[2018-12-19 20:56] #1059 closed

[2018-12-19 21:18] #1058 closed

[2018-12-20 11:35] naveed-ahmad commented on #1057
Salam aikum,

All you needs to do, is just look at any Arabic mus-haf/copy of the Quran. Basmallah is listed as aya 1 of Fatihah, so we are going with the opinion of the majority of scholars, and the style of Arabic copies of the Quran.

https://islamqa.info/en/answers/129170/the-difference-of-scholarly-opinion-as-to-whether-the-basmalah-counts-as-a-verse-of-al-faatihah-does-not-come-under-the-hea

[2018-12-20 11:35] #1057 closed

[2018-12-28 12:54] dfaruque commented on #1018
Thank you @mrtugicom
May Allah give you a proper reward.

[2019-01-21 18:35] AbdullahObaid commented on #309
@naveed-ahmad @mmahalwy This website https://quranenc.com/en/home has many quran Tafsir/Translations which are downloadable in a verse by verse XML format. I hope it can be imported into Quran.com and Quran Android.

[2019-01-21 19:11] naveed-ahmad commented on #309
@AbdullahObaid we've already imported their translations, all of em :)

[2019-02-09 02:09] IshakAhmed opened #1066 "I'd like to contribute ..."
Asalaamualykum wa rahmatullahi wa barakatuh, I'd like to contribute.
My email is `ishak.ahmed@ryerson.ca`.

[2019-02-09 02:27] naveed-ahmad commented on #1066
waAlakim o salam, invited you on slack channel. Looking forward for your first PR now :)

[2019-02-09 02:27] #1066 closed

[2019-02-13 11:36] atiqueansari1987 commented on #1020
@mmahalwy Is this still open? If yes then can I pick it?

[2019-02-14 11:41] rdhia commented on #862
- when deactivated, translations defaults back to 'sahih international'
- on page reload first page is loaded without translations
- scrolling down loads verses with default 'sahih international' translation
- behavior is correct if set to another translation
as said above seems empty translation setting is only taken into consideration with first loaded page

[2019-02-15 19:26] #948 closed

[2019-02-16 00:54] hannanmumtaz opened #1074 "Playing ayah feature Unusable on chrome"
**I'm submitting a ...**

- [ X] bug report
- [ ] feature request
- [ ] other

**Current behavior:**

Hi , First of all great work. JazakAllahKhair

Am unable to use the site on chrome , which clicking on ayahs  some of them work and some don't , irrespective to how many times i refresh.
I also noticed in console and getting a too many recirects error on maniifest.json

Also when i click on Play o

[2019-02-18 13:19] nasir-scalestack commented on #1074
This is a common issue for me as well when I use the website on chrome.

[2019-02-20 12:45] nasir-scalestack opened #1075 "Toggling the translation doesn't change the tool tip version"
Bismillah.

**I'm submitting a ...**

- [x] bug report
- [ ] feature request
- [ ] other

**Current behavior:**

Changing the translation still shows sahih when you hover over the word instead of the translation you picked

**Expected / new behavior:**

The tooltip should show the same version as the translation you picked from the drawer menu

**For issue, please provide steps to reproduce it:**

[2019-02-20 13:00] nasir-scalestack commented on #309
@naveed-ahmad @AbdullahObaid  just curious how the content is being validated? Not doubting the source but is there a mechanism in place to make sure the source is reliable.

[2019-02-20 13:21] ahmedre commented on #309
The quranenc team works with [islamhouse](islamhouse.com), a popular Islamic site, and their translators are transcribing and validating the data. from what i understand, they also have scholars on board to help validate the authenticity of the tafaseer, etc.

[2019-02-20 15:13] nasir-scalestack commented on #309
Awesome.

[2019-02-22 11:16] alia0021 opened #1076 "Quick link to Ayatul Kursi isn’t working"
**I'm submitting a ...**

- [ x ] bug report
- [ ] feature request
- [ ] other

**Current behavior:**

The quick link to ayatul kursi isn’t working on responsive web mobile version. When its clicked on it remains on the same page.
**Expected / new behavior:**
 The link should work once clicked on just like the others.

**For issue, please provide steps to reproduce it:**
- Make sure the link is li

[2019-02-24 02:37] nasir-scalestack commented on #309
Just curious is there a reason my request to contribute to this repo not being acknowledged? I sent an email asking Mohamed and Naveed who my friends here actually know (sheikh Hossam Helal, and Mohamed Al-Hassan) if I can use the database for my own use, and then I realized this was not allowed, so I just got my own translation from tanzil. Regardless I would like to contribute from my 10 years o

[2019-02-24 08:55] ahmedre commented on #309
wa3laikum alsalam,
everyone is free to open PRs and the team tries to be quick about reviewing and merging whatever PRs people open - I checked and don't see any PRs open from you, but I might have missed them. In any case, please also realize we're volunteers - this isn't a full time job for us - so we're unfortunately not always as fast as we'd like to be.

you're more than welcome to open a PR

[2019-02-24 11:56] nasir-scalestack commented on #309
Jazakallah khair akhi kareem, I do not have a PR because I assume to actually work and test the frontend I would need an api key to pull the quran.com database from. I definitely understand that everyone is busy and trying their best to contribute.

[2019-02-24 16:39] naveed-ahmad commented on #309
waAlakim o salam brother @nasir-scalestack. Just double checked and didn't saw any email from you, when did you sent?

Anyway, you're always welcome to contribute. There are lots of issues we need to work on, please send your email and ill invite you on slack.

You don't need any key for accessing the api, its free and open for everyone. Here is the api docs: https://quran.api-docs.io/

[2019-02-24 18:46] nasir-scalestack commented on #309
Shukran brother Naveed, my apologies may it ended up in the spam folder, my email is nasir@scalestack.io, since no key is required for accessing the api I'll check everything out tonight insha'allah and see where I can contribute.

Allahuma barak feek.

[2019-02-24 20:27] naveed-ahmad commented on #309
Yeah, it was in spam :( invited you to slack channel.

[2019-02-24 20:27] #309 closed

[2019-02-28 22:54] melwaraki commented on #1076
For anyone who can fix this, the link should probably be https://quran.com/2/255 rather than the current https://quran.com/ayatul-kursi. I think that should fix it

[2019-03-16 22:02] naveed-ahmad commented on #1075
Salam brother @nasir-scalestack

We only have one word by word english translation, so this isn't possible.

Awesome, can you send your email? Let's discuss the issues and backend api on slack.

[2019-03-16 22:02] #1075 closed

[2019-03-16 22:04] naveed-ahmad commented on #1076
Fixed, and will be live before ramdan inshAllah.

[2019-03-16 22:04] #1076 closed

[2019-03-16 22:31] #1044 closed

[2019-03-16 23:04] #951 closed

[2019-03-16 23:15] #950 closed

[2019-03-16 23:15] #921 closed

[2019-03-16 23:15] #913 closed

[2019-03-16 23:16] #906 closed

[2019-03-19 09:36] dilan-omer commented on #1074
is it only chrome, or is it the same on other browsers?

[2019-03-19 09:52] dilan-omer commented on #967
a bit late to the party, sorry. in all honesty, i dont think an electron is actually needed since the website already functions as a pwa, meaning it can be installed on the users device and function as a normal app would

[2019-03-20 01:08] athahersirnaik commented on #1015
I don't see option to change it on website

[2019-03-21 10:23] masoodhammad commented on #309
I need Quranic Tafsir database  English version. Can anyone help?

[2019-03-26 20:02] izbagov opened #1078 "Slack invite"
Assalamu alaikum. Please add me to the Slack group.

izbagov@gmail.com

[2019-03-26 20:03] naveed-ahmad commented on #1078
waAlakim o salam brother, looks like you're already in the slack group. Try logging in at quran.slack.com

[2019-03-26 20:03] #1078 closed

[2019-04-01 07:25] mrtugicom commented on #1027
Yes, I think that's applicable too, seems good for mobile user to navigate
and for developers to implement, right?

On Wed, Mar 6, 2019 at 10:53 PM Naved Islam <notifications@github.com>
wrote:

[2019-04-02 06:44] abdurrahmaan commented on #1074
Chrome version 73 seems to have fixed it. The verse plays for me

[2019-04-05 06:59] codeshifu commented on #1074
@abdurrahmaan not quite. I have the latest version of chrome and the issue persists. For me, I notice when I first load the page and play an ayah, it works fine. When an ayah is currently playing and I navigate to another page (chapter), I can seem to play any of the ayah from that page I just navigated to.

[2019-04-05 07:12] codeshifu opened #1080 "Ayah not playing on navigated page"
**I'm submitting a ...**

- [x] bug report
- [ ] feature request
- [ ] other

**Current behavior:**
I have this issue where if an ayah is currently playing and I navigate to another page (chapter) the ayats of that (currently navigated) page doesn't play.

**Expected / new behavior:**

Navigating to a new page should load audio file(s) needed by that page.

**For issue, please provide steps to rep

[2019-04-06 06:26] dilan-omer commented on #1074
ive been using chrome, and the issue gets fixed when i reload the page or specify the number of ayahs i want to be played in the surah, eg: quran.com/2/5-25. ive also noticed that it says its loading the ayah but there isnt any network calls to get the ayah's file, not sure why though

[2019-04-24 13:49] atiqueansari1987 commented on #1020
@mmahalwy Can you guide me what changes are needed?

[2019-04-26 18:00] AmidexIT opened #1082 "I want access to database"
I'm trying to make an application for our local community in Bangladesh.
My email id is info@amidex.it

[2019-04-26 21:36] naveed-ahmad commented on #1082
aSalam o alakim brother. Does this app has some special features? How about contributing those features back to quran.com?

There are lots of issues sharing the full db, we keep updating translations and typos. There isn't any way we can let people( who are using our data) know that the db is changed. Plus, people have been using this data and code for publishing the clones with ads and what not.

[2019-04-26 21:36] #1082 closed

[2019-05-04 18:41] ymeskini opened #1084 "[ACCESS] Youssef"
Salam 3aleykoum I would like to participate in the project I like the idea could I have access to the slack please? youss.meskini@gmail.com

[2019-05-05 10:16] ahmedre commented on #1084
wa3laikum alsalam - invited.

[2019-05-05 10:16] #1084 closed

[2019-05-06 16:35] abdallahamin opened #1085 "Slack invite"
assalamu alykom wa rahmatu Allah wa barakatuh.

I am very interested to contribute to this project. I have just finished a similar project so I have good experience insha'Allah.

Jazakum Allah khairan.

Ramadan Mubarak !

[2019-05-06 19:53] naveed-ahmad commented on #1085
waAlakim o salam, khair mubarak :)

Please post your email here for the invite.

[2019-05-06 20:26] abdallahamin commented on #1085
abdallahaminm@gmail.com

[2019-05-06 21:12] #1085 closed

[2019-05-09 14:58] ducaale commented on #1045
it does confirm to Uthmani script

![20190509_175248](https://user-images.githubusercontent.com/16341131/57463658-dfa62280-7283-11e9-8e14-d4ffe3b3e17d.jpg)
![20190509_175431](https://user-images.githubusercontent.com/16341131/57463660-dfa62280-7283-11e9-9a7c-279c602893ab.jpg)

[2019-05-09 20:51] ahmedre commented on #1045
yes, as @ducaale mentioned and showed above, this conforms to the madani script (which is what the site uses by default).

what you showed in your ticket, @udotag is the naskh script. i know @naveed-ahmad is working on adding it in the next version since some of the rendering between the naskh and madani masa7if are slightly different in the tashkeel and what not.

[2019-05-09 22:51] atefBB commented on #1045
السلام عليكم. هل هناك مانع من الالتزام بالرسم للعثماني؟

[2019-05-09 22:58] atefBB opened #1086 "Share Icons display prob"
In the mobile version of the site `facebook` and `twitter` icons didn't appear in the top right of the page (see image). I'm using `brave` browser in Android phone.
![Screenshot_20190509-235440](https://user-images.githubusercontent.com/10966925/57491811-945d3580-72be-11e9-832b-8757c59258d5.png)

[2019-05-10 00:07] ahmedre commented on #1045
وعليكم السلام
الموقع يلتزم بالخط العثماني. الأخ يريد الإلتزام بخط النسخ الذي يستخدم في الباكستان والهند

[2019-05-10 09:24] udotag commented on #1045
بارك الله فيكم

i did not know about this difference

[2019-05-10 09:24] #1045 closed

[2019-05-10 11:11] atefBB commented on #1045
@ahmedre شكرا على التوضيح.

[2019-05-12 09:45] zishanAhmad commented on #1046
Facing the same issue. Can we please fix this

[2019-05-15 12:52] fatmali opened #1087 "Add me to Slack Channel"
Please add me to the slack group. My email is alifatma2019@gmail.com

[2019-05-15 14:14] naveed-ahmad commented on #1087
Done.

[2019-05-15 14:14] #1087 closed

[2019-05-16 17:59] mbnoimi opened #1088 "Wrong in Surah An-Nisa [4:58]"
**I'm submitting a ...**

- [x] bug report
- [ ] feature request
- [ ] other

**Current behavior:**

As you can see below there is a mistake in Surah An-Nisa [4:58]
![image](https://user-images.githubusercontent.com/284547/57876072-1ef0e800-781d-11e9-93fd-b86cce088053.png)
https://www.quran.com/4/58?translations=20

**Expected / new behavior:**

 إِنَّ اللَّهَ كَانَ سَمِيعًا بَصِيرًا

[2019-05-21 11:09] shakirandagire commented on #1086
Asalaam Aleikum,
I am going to pick up this issue

[2019-05-21 11:53] shakirandagire opened #1089 "Add me to the Slack group"
Please add me to the slack group. My email is ndagire.shakira@gmail.com

[2019-05-22 11:05] atefBB commented on #1086
<p dir="rtl">وعليكم السلام، جزاك الله خيرا</p>

[2019-05-22 19:33] naveed-ahmad commented on #1086
@shakirandagire walAkaim o salam, can you please hold-on for few days. The new version is coming in few days inshAllah with some new features and lots of fixes. I'm sure this issue is already fixed. Will update all issues after the build.

[2019-05-22 19:34] naveed-ahmad commented on #1089
Sent the invitation.

[2019-05-22 19:34] #1089 closed

[2019-05-22 19:40] naveed-ahmad commented on #1088
Which browser/os are you using? Looks like a font issue. But can't reproduce. Looks good on current and upcoming beta version.

Beta version:
![Surah An Nisa   4 58   Quran com](https://user-images.githubusercontent.com/701567/58203224-10aa3c80-7cf3-11e9-9466-d7518c5333a1.png)

Current site:
![Surah An Nisa  4 58    Al Qur an al Kareem   القرآن الكريم](https://user-images.githubusercontent.com/70

[2019-05-22 19:54] naveed-ahmad commented on #1051
+1 for that, but didn't tafsirs already cover this?

Bookmarks, notes, tagging and couple other user related features are coming soon inshAllah.

[2019-05-22 19:58] naveed-ahmad commented on #1038
Fixed, here is the current translation:

[2019-05-22 19:58] #1038 closed

[2019-05-22 20:00] naveed-ahmad commented on #1047
aSalam o alakim brother, can you sent the translation, author name, source etc? naveedahmada036@gmail.com

[2019-05-22 20:31] mbnoimi commented on #1088
It seems this bug occurs in Firefox (66.0.5) while it doesn't in Chromium (73.0.3683.86)

[2019-05-23 20:03] atefBB commented on #1086
Ok! Thx.

[2019-05-23 20:03] #1086 closed

[2019-05-25 00:43] rebinf opened #1090 "Wrong pronunciation at 23:24"
**I'm submitting a ...**

- [x] bug report
- [ ] feature request
- [ ] other

**Current behavior:**

Wrong pronunciation when clicking on the word لَأَنزَلَ it says Al-anzala

**Expected / new behavior:**

It should say LaAnzala

**For issue, please provide steps to reproduce it:**

Click on the word mentioned above

**Anything else:**

[2019-05-25 01:18] rebinf opened #1091 "Al-Khidhr misspelled in surah Al-Kahf (sahih international)"
**I'm submitting a ...**

- [x] bug report
- [ ] feature request
- [ ] other

**Current behavior:**

"Al-Khidhr" is spelled as "Al-Khidh r".
* Note the space between the h and the r.
* Occurred in ayahs: 71, 72, 74, 75, 77, 78.

**Expected / new behavior:**

It be spelled Al-Khidhr.

**For issue, please provide steps to reproduce it:**

Look at the sahih international translation.

**Anything else

[2019-05-30 00:59] rebinf opened #1092 "Wrong pronunciation at 40:9"
**I'm submitting a ...**

- [x] bug report
- [ ] feature request
- [ ] other

**Current behavior:**

Wrong pronunciation when clicking on the word رَحِمۡتَهُۥ it says rahmatahu

**Expected / new behavior:**

It should say rahimtahu

**For issue, please provide steps to reproduce it:**

Click on the word mentioned above

**Anything else:**

[2019-06-01 01:14] rebinf opened #1093 "Wrong pronunciation at 48:27"
**I'm submitting a ...**

- [x] bug report
- [ ] feature request
- [ ] other

**Current behavior:**

Wrong pronunciation when clicking on the word فَعَلِمَ it says fahamila

**Expected / new behavior:**

It should say fahalima

**For issue, please provide steps to reproduce it:**

Click on the word mentioned above

**Anything else:**

[2019-06-06 10:27] Hartha-aloufi commented on #793
I notice the same issue again, did you fix it ?

[2019-06-16 07:30] hamir commented on #1006
can you add me too please? hashim.mir123@gmail.com

[2019-07-04 03:11] marjan2k opened #1094 "Add to slack group"
My email address is 1992.marjan@gmail.com

[2019-07-04 03:57] naveed-ahmad commented on #1094
done

[2019-07-04 03:57] #1094 closed

[2019-07-23 10:04] mimrank commented on #309
any one share **quran tafsir ibn kaseer in json**. we need it in json

[2019-07-23 18:25] reshadn opened #1096 "Add new reciter "Tawfeeq ibn Sa`id as-Sawa'igh""
**I'm submitting a ...**

- [ ] bug report
- [X] feature request
- [ ] other

**Current behavior:**
Lacking an amazing reciter. =)

**Expected / new behavior:**
Add an amazing reciter audio, Tawfeeq ibn Sa`id as-Sawa'igh
https://quranicaudio.com/quran/23

[2019-07-23 20:19] naveed-ahmad commented on #1096
We don't have ayah by ayah audio for this amazing reciter :(

We might start a new project soon for splitting audio for few qaris.

[2019-07-23 22:00] reshadn commented on #1096
How can we get the ball rolling on that?

On Tue, Jul 23, 2019, 1:20 PM Naveed Ahmad <notifications@github.com> wrote:

[2019-07-25 04:57] imadmk commented on #1046
Regarding Audio Player, I found that in https://staging.quran.com, the problem above doesn't exist. And staging looks like has upgraded Audio Player.

I assume that many of Audio Player issue actually already solved, but why it is not merged in production yet? Is there a problem that prevents that?

[2019-07-25 07:58] naveed-ahmad commented on #1046
@imadmk yes, checkout beta.quran.com

We'll deploy this to production soon inshAllah, then close lots of these already fixed issues on github.

[2019-07-27 17:49] mbana opened #1097 "Can you please add the different روايات‎ of The Quran"
**NB:** I am not qualified to be giving an opinion here. If you have no idea what this is all about, please read this first, http://www.ibnamin.com/recitations_current_places.htm and https://en.wikipedia.org/wiki/Qira%27at#The_ten_readers_and_their_transmitters. That said, here is what I've managed to dig up when searching.

I would personally like to see the first two from the list below availabl

[2019-07-28 06:52] fatmali commented on #1020
@bahaa96 did you finish working on this?

[2019-07-31 11:28] imadmk commented on #1021
@mmahalwy where I can find the working behaviour? Does the production quran.com on v1?

[2019-08-19 23:52] carlosdelfino commented on #967
A humble suggestion.

audio files may be reduced in size with reduced quality, and the offline version may have the option of later downloading the installation to a higher quality version, being downloaded in the background as required, ie before the next sura to be recited, if not downloaded in time, it would be signaled that you are still using the low quality version and the percentage of how

[2019-08-20 00:04] carlosdelfino commented on #967
I'm sorry for the question, but what do you consider to be "monorepository"?

I have been designing my projects as modularly as possible to try to make the most of the code, and create a central repository where I add each repository as submodule when appropriate.

But of course some features of quran.com especially quran-core can be modularized through node packages (NPM) and can be installed as

[2019-08-20 00:11] carlosdelfino commented on #1060
I am having similar problems in larger surah, I believe in larger than 10 ayat

[2019-08-20 00:13] carlosdelfino commented on #1074
I am having similar problems in larger surah, I believe in larger than 10 ayat

[2019-08-23 07:58] asma-dynamologic opened #1099 "Transliteration not showing in chrome in tooltip"
Assalam o Alaikum,

I have found an issue that transliteration is not shown in the tooltip in chrome even if change tooltip display from translation to transliteration.

[2019-08-29 21:53] zbhoy commented on #853
1 year later and the contribute option still goes to a dead Tilt link. Can't it just be switched to something people can donate to?

[2019-09-02 01:58] Tahfimul opened #1100 "Include an annotation section"
Assalamu Alaikum,

I am very pleased to see the progress you have made towards the up keep of this website by the grace of Allah Subahana Watalla. One feature which I will suggest is the addition of annotation of the Qur'an. There are many Khatibs and Scholars of Islam who strive to bring conversations of the verses of the Qur'an. I believe that these contributions should be compiled and made view

[2019-09-02 10:12] ahsansuhail opened #1101 "How to convert Standard Quran Text into Special Character required by the font"
**I'm submitting a ...**

- [ ] bug report
- [ ] feature request
- [x] other (Question)

I need to figure out how Quran.com App is converting the text into special characters

**For Example**
API Response:
"text_madani": "ٱلْحَمْدُ لِلَّهِ رَبِّ ٱلْعَٰلَمِينَ",
"text_indopak": "اَلۡحَمۡدُ لِلّٰهِ رَبِّ الۡعٰلَمِيۡنَۙ‏",
"text_simple": "الحمد لله رب العالمين"

Text Used in App to show: ﭖ ﭗ ﭘ ﭙ

[2019-09-02 17:24] naveed-ahmad commented on #1101
Each word has **code_v3** attribute, you use that to render font. Each word also has class_name, that's css class. Then you need to configure font faces in css.

[code]

[2019-09-02 17:24] #1101 closed

[2019-10-05 09:19] AzrizHaziq opened #1102 "Add me to Slack Channel"
Assalamualaikum,
Please add me to the slack group. My email is azrizhaziq@gmail.com.

Thank you in advance

[2019-10-06 08:02] #1102 closed

[2019-10-10 18:38] mkamalkayani commented on #1093
I have checked this issue. It occurs at  Surah 48:18.

[2019-10-11 16:55] thoraiia opened #1103 "[Bug report]Quran data directory "Disabled""
I have Lenovo tab2
the Quran data directory option is **disabled**
1)I uninstalled and reinstalled the app many times, but still the same issue.
 2)I tried to move the Quran android folder from the internal storage to the SD card, but the
   application can't read it and asks me to install the data again, and it consumes about 4GB from
   the internal storage and slows down the tablet (audio files

[2019-10-11 17:02] ahmedre commented on #1103
i'd like to ask some clarification, but may you move this issue to [quran/quran_android](https://github.com/quran/quran_android) first?

[2019-10-11 17:08] thoraiia commented on #1103
@ahmedre done

[2019-10-11 17:08] #1103 closed

[2019-10-17 17:44] AsamAhmad commented on #190
Salam Aleykoum brothers, I hope you are well?

I would like to know if there has been any progress on these projects?

May God make it easier for you

[2019-10-19 21:56] shral opened #1104 "Hover - Word by word translation in other language"
**I'm submitting a:**

- [ ] bug report
- [x] feature request
- [ ] other

**Current behavior:**
Hover translation (word by word translation) only in English

**Expected / new behavior:**
The user should be able to show another language in hover (word by word translation) and the developers should have the possibility to add new languages depending on English or the user should have the possibilit

[2019-10-19 22:06] naveed-ahmad commented on #1104
@shral change site language to Urdu, and you'll get Urdu wbw translation.  Wbw translation isn't available for all languages.

[2019-10-19 22:06] #1104 closed

[2019-10-20 00:47] shral commented on #1104
Thank you for the response @naveed-ahmad! How can I add another language that's not there for Example Albanian or German Language (Those ara the Languages that I could help with)?

[2019-10-20 16:59] naveed-ahmad commented on #1104
@shral send me an email here naveedahmada036@gmail.com we've developed a tool where contributors can type wbw translation.

And if already have data in csv( actually in any format), please send me and i'll import it.

[2019-10-25 22:48] AhmedShab commented on #1060
I'm keen to work on this issue. Can you assign me to it?

[2019-11-07 08:55] mbnoimi opened #1111 "Doesn't scrolling!"
**I'm submitting a ...**

- [x] bug report
- [ ] feature request
- [ ] other

**Current behavior:**

Unable to scroll down "المنافقون" sura in "Reading" mode.

**For issue, please provide steps to reproduce it:**
- Search for "المنافقون" sura.
- Select the result of search.
- Choose Settings -> Reading then Settings -> Night mode
- Scroll down for browsing new pages.
- booya... javascript doesn't

[2019-11-07 08:57] mbnoimi commented on #1088
Is there any progress on this bug?

[2019-11-07 09:00] mbnoimi commented on #1088
![image](https://user-images.githubusercontent.com/284547/68374562-2c48b880-0156-11ea-9a7f-04f868e4c7a2.png)
I see it still the same although you released a new version!

[2019-11-07 15:41] naveed-ahmad commented on #1088
@mbnoimi can you test beta on firefox? looks good to me on firefox as well.

https://beta.quran.com/4/58?translations=20

[2019-11-07 15:59] mbnoimi commented on #1088
Unfortunately it doesn't look good. The bug still exists
![image](https://user-images.githubusercontent.com/284547/68405219-bdd51c00-0190-11ea-9a35-af9a94e4ac61.png)

[2019-11-07 16:09] naveed-ahmad commented on #1088
@mbnoimi what about v2 fonts? https://beta.quran.com/4/58?font=v2

[2019-11-07 16:13] mbnoimi commented on #1088
Works fine.

![image](https://user-images.githubusercontent.com/284547/68406299-a26b1080-0192-11ea-8948-0b5a37314299.png)

[2019-11-11 15:18] AbdulRahim commented on #1093
I have checked this issue too. It occurs at Surah 48:18.

[2019-11-15 20:46] mkamalkayani opened #1112 "Add me to slack channel"
Assalamoalaikum.

Please add me to slack channel.

[2019-11-16 14:04] naveed-ahmad commented on #1112
Done!

[2019-11-16 14:04] #1112 closed

[2019-11-22 21:30] carlosdelfino opened #1113 "please, add me to slack group consultoria@carlosdelfino.eti.br"
As'salamun Alaikun wa rahmatullahi wa barakatu.

[2019-11-23 16:21] naveed-ahmad commented on #1113
waAlakim o salam, sent the invitation.

[2019-11-23 16:21] #1113 closed

[2019-11-23 19:47] metekural opened #1114 "please, add me to slack group: mete@metekural.com"

[2019-11-23 22:32] #1114 closed

[2019-12-04 09:36] sohailamar opened #1115 "Surah dropdown on header does not work properly when clicked on next surah button"
**I'm submitting a ...**

- [x] bug report
- [ ] feature request
- [ ] other

**Current behavior:**
When a surah is finished and you click on next surah button, after ajax request on new page the surah dropdown on header still shows old surah name in dropdown, refreshing tha page fixed it

**Expected / new behavior:**
it should display next surah name in dropdown (Header)
Quran.com -->

**For issu

[2019-12-08 13:26] elvirmuslic opened #1117 "[Feature] - Easy implementation"
Feature -

Add the tooltip translation when the seikh is reciting for each word(make it a toggable option)-
Steps to reproduce - Play Ayah example: https://quran.com/3/199 - it it highlightes each word - add the translation above the word like on mouse hover.
Picture example included.

https://i.postimg.cc/KcLRQ6Qd/Screenshot-2.png
https://i.postimg.cc/kXmDHTpD/Screenshot-3.png

[2019-12-08 16:13] saeedjassani commented on #505
SA @naveed-ahmad ,

I am searching for verse by verse Quran text to display in Al Qalam (screenshot in your earlier comment). Can you please guide me where I can get that?

[2019-12-08 17:18] naveed-ahmad commented on #505
waAlakim o salam @saeedjassani

Stay tuned, many good things are coming with beta inshAllah. Checkout the first step, user can change the font :)
http://beta.quran.com/1/1?font=v2
http://beta.quran.com/1/1?font=v1

Next is adding the option in UI for font, and text. If you need the data, checkout our api.

[2019-12-08 17:21] naveed-ahmad commented on #1117
Can you please any real use of this feature, other than it will look cool :)

[2019-12-09 07:55] elvirmuslic commented on #1117
Yes, I actually use it for learning. Correlate a word to a meaning not just the whole translation and then depict what is what. I try to understand it by learning the meaning of each word that is my primary use. I didnt notice that it looks cool but that is a good point too 😁

[2019-12-09 17:33] elvirmuslic commented on #1117
I can actually build a tampermonkey script to simulate a :hover action on each word, however this would not be useful for the mass.
Any news if this is going to be feature?

[2019-12-09 19:41] naveed-ahmad commented on #1117
Yep, will add this in beta.

Saw some videos where users record the screen while playing surah. This is perfect use case for showing translation, you can see wbw translation with hover in the video :)

[2019-12-09 19:42] elvirmuslic commented on #1117
You're awesome! Thank you very much. Let me know if there's something I can do to help out.

[2019-12-09 19:44] naveed-ahmad commented on #1117
You're welcome bro, keep praying for contributors. Also, please suggest features/bugs etc to new repo
https://github.com/quran/quran.com-frontend-v2/

[2019-12-09 19:44] #1117 closed

[2019-12-09 19:54] elvirmuslic opened #1118 "[Feature] Make it Earn some money"
One more suggestion to the business logic, it should be noted that I have not (yet) seen a way to donate or support the development of the website.
This should be implemented, either as a donation or add extra features that won't be necessary but could be implemented for looks or something similar.

Why?

People like @naveed-ahmad & @mmahalwy need to be developing more and add cool features, we wa

[2019-12-16 03:56] farahalyasari commented on #1118
Al Salam Alaikum,

I think you are trying to suggest a fee-for-features model. I do not support that. Recall Ayah 17 to 18 in Surat Al Isra.

English Translation of the meaning of Ayah 17 - 18, Surat Al Isra below:
* Whoever should desire the immediate - We hasten for him from it what We will to whom We intend. Then We have made for him Hell, which he will [enter to] burn, censured and banished (1

[2019-12-16 04:00] farahalyasari opened #1121 "[other] Please add me to Slack"
farah.alyasar@gmail.com

[2019-12-16 04:13] farahalyasari opened #1122 "[bug] "Support Quran.com" link doesn't work"
I'm submitting a report for a small bug

**Current behavior:** and **For issue, please provide steps to reproduce it:**
From the menu Navigate to "Contribute"
Scroll down to the button "Support Quran.com"
The button opens a new tab and the link is broken
The following message is seen:

Error message on edge

Error Message on Firefox

**Anything else:**
I do not think this is a browser issue. The l

[2019-12-16 12:58] elvirmuslic commented on #1118
I'm really trying to contain myself here @farahalyasari from making jokes.
Nothing can work without money, literally, as I've mentioned even zekat is so that the gov can work and those that collect the zekat are one of the higher category of those that should recieve it.

Now if you're going to push it I will consult a expert on this matter i.e. Islamic fikh & economy expert, but I'd prefer not to

[2019-12-16 15:22] farahalyasari commented on #1118
Al Salam Alaikom Elvir,

Please give me some time or a few days, I will consult with a scholar I know.

I will ask her about the matter of getting reward in the Akera if this web application adds fee-for-features.

Best,

[2019-12-16 15:24] elvirmuslic commented on #1118
That'd awesome, may Allah bless you. I would love to hear what they have to say.

[2019-12-16 20:07] naveed-ahmad commented on #1121
Sent the invitation :)

[2019-12-16 20:07] #1121 closed

[2019-12-16 20:14] naveed-ahmad commented on #1122
Asalamu alaikum borther, yeah we were using tilt.com for donation. This platform was acquired by Airbnb and shutdown. Never has chance to remove this link :(

Beta is coming soon inshAllah, hopefully in Jan next year. Don't have donation link in beta, and I don't think we'll need donations.

Checkout beta.quran.com ( the upcoming version of quran.com ) it still have need some UI fixes and search n

[2019-12-16 20:14] #1122 closed

[2019-12-16 20:25] naveed-ahmad commented on #1118
Asalamu alaikum brothers, going to close this. JazakAllah kharian for your du'as and good wishes. InshAllah quran.com, quranicaudio.com, android and ios apps will be ad free, hopefully donation free as well. Lot of brothers and sisters has contributed their time, content(translations/audio), developing and maintaining these apps/websites for sake of Allah subhanwatalah.

Let's stop discussing mone

[2019-12-16 20:25] #1118 closed

[2020-02-09 00:02] AsharSheikh commented on #1115
Hi, I can fix this. Kindly tell me the steps in order to access the file.

[2020-02-13 17:32] RidhwaanDev opened #1123 "Salaams. I would like to be added to the slack channel"
ridhwaan.any@gmail.com

Jazakullah Khairun

[2020-02-14 17:27] RidhwaanDev commented on #1123
Thanks.

[2020-02-14 17:27] #1123 closed

[2020-02-20 09:28] usyyy opened #1124 "Request to join the slack channel"
Salaam.

My email is usmaanalii@hotmail.co.uk

Jazakallah Khair

[2020-02-20 16:46] #1124 closed

[2020-02-24 06:36] Abdullah8006 opened #1126 "Open Slack channel"
Please add me to the slack channel.
Email Id:  abdullahkhan.8006@gmail.com

[2020-02-24 06:59] Abdullah8006 commented on #917
@naveed-ahmad The contributing.md is again un-accessible from the readme file.

[2020-02-24 16:12] #1126 closed

[2020-03-03 19:52] iftikharalam1 opened #1127 "Toggle Repeat function is not working in Chrome"
Toggle repeat function is not working in chrome browser. For example if i set it to repeat the ayah [range] 26-27 and Loop or select 2 from the list. It will only keep on repeating the first ayah only. Doesn't go to the next Ayah automatically and does not repeat both.

**I'm submitting a ...**

- [x] bug report
- [ ] feature request
- [ ] other

**Current behavior:**

**Expected / new behavior:**

[2020-03-09 00:12] sattarab opened #1128 "Add me to slack channel"
Can you add me to slack.
email: c2sattara1@gmail.com

[2020-03-10 01:08] suhaibaffan opened #1129 "go to ayah"
**I'm submitting a ...**

- [x] bug report

**Current behavior:**

So currently the pagination for the ayats on the web app is I believe 10.

**Expected / new behavior:**

The query should start from the ayah I entered.
**For issue, please provide steps to reproduce it:**
 when I select the drop down go to verse and give example 29 in surah fatha it throws error.
**Anything else:**

![image](https

[2020-03-20 21:05] nainardev opened #1130 "Outdated version of React"
![Screenshot (144)](https://user-images.githubusercontent.com/59839368/77206309-a3d31f00-6b1c-11ea-8976-2af07d8103fd.png)

[2020-03-20 21:09] nainardev opened #1131 "Use localstorage fro saving theme preference"

[2020-03-20 21:11] nainardev opened #1132 "Text has Low contrast on dark theme"
![Screenshot (145)](https://user-images.githubusercontent.com/59839368/77206618-5efbb800-6b1d-11ea-8a98-f4b11ef57054.png)

[2020-03-21 14:31] suhaibaffan commented on #1115
I am working on this!

[2020-04-01 07:42] hassanaliaskari opened #1133 "Join Slack Channel"
I would like to join the slack channel. My email address is hassan.ali.askari@gmail.com

[2020-04-01 13:53] naveed-ahmad commented on #1133
Invited

[2020-04-01 13:53] #1133 closed

[2020-04-09 17:28] papasmile opened #1134 "Please Add Me to Channel"
Assalaam alaykum wa rahmatullah,

**I'm submitting a ...**

- [ ] bug report
- [ ] feature request
- [x] other

**Anything else:**
I am interested to join your discussion channel: ismail@azizahsolutions.biz

[2020-04-09 20:04] papasmile commented on #1134
oops, moved over to -v2 https://github.com/quran/quran.com-frontend-v2/issues/107

[2020-04-09 20:04] #1134 closed

[2020-04-09 22:03] najibghadri opened #1135 "Player is buggy"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ] other

Hello

In short the audio player is buggy. Sometimes I press play, nothing happens, sometimes it works if I press play from the list but sometimes only if I press play from the bottom media navigator. Then also on some verses it works on some it doesn't.
Then, sometimes after a couple of verses the player stops and freeze

[2020-04-13 00:03] lechevo commented on #1128
Hello,
Could you please add me to slack as well ?
mail : mohamedyahiaoui@live.fr

[2020-04-13 20:43] naveed-ahmad commented on #1128
Salam, invited both of you.

[2020-04-13 20:43] #1128 closed

[2020-04-15 22:55] abeer486 opened #1136 "Request to join Slack channel"
Salaam.

Requesting to join the Slack channel.
email id: ar486@outlook.com

Thank you.

[2020-04-16 04:13] #1136 closed

[2020-04-17 16:59] abbatykori commented on #853
Just wondering if there's any progress on this. Patreon, PayPal etc?

[2020-04-17 21:58] ayaanfaiz opened #1137 "Please add me to Slack Channel"
**I'm submitting a ...**
- [ ] bug report
- [ ] feature request
- [x] other

Assalamu alaikum
Can you please add me to the Slack Channel. I would really love to contribute to this repository.
My Email Id: ayaan2103@gmail.com

[2020-04-20 02:20] fsultani commented on #1046
As-salāmu ʿalaykum. I'd like to maybe help with this project, but I can't tell which issues are resolved without reading through all the comments.  Can someone update or prioritize the issues?

[2020-04-20 02:22] fsultani commented on #1132
How do you repro this?

[2020-04-20 03:08] nainardev commented on #1132
Just toggle night theme

[2020-04-20 03:08] nainardev commented on #1132
Those texts in settings has low contrast

[2020-04-20 14:32] zbhoy commented on #853
Yeah not sure why this was closed. Contribute page still goes to a dead link

[2020-04-20 14:33] zbhoy commented on #853
@mmahalwy @naveed-ahmad

[2020-04-20 14:34] ahmedre commented on #853
we'll make sure to remove this from the next version in sha' Allah.

[2020-04-20 14:35] zbhoy commented on #853
Just noticed new repo. Should i make issue there or y'all got it?

[2020-04-20 14:36] ahmedre commented on #853
i pinged Naveed about it - but please feel free so we have something to track it in case we forget. jazakAllah khairan.

[2020-04-25 00:45] ali-suleiman-44b20b39 commented on #1135
I have encountered both of these issues today. With the first one audio not playing, I was able to get around this by clicking the gear and the selecting a reciter, then it was able to play. The second issue OP mentioned with scrolling is challenging, basically to restate the issue as I experienced it. When you are continuously playing it will jump to an incorrect section of the page when going fr

[2020-04-25 05:08] mfaisalpasha opened #1138 "Translation by Muhiuddin Khan"
**I'm submitting a ...**

- [ ] feature request

First of all I want to thank you all for your effort. Jazakallahu ahsanal jaza.
Issue is,
Previously I could download Bengali translation by Muhiuddin Khan. Now I can't find it? Why?

[2020-04-25 14:23] AbdulBsit opened #1139 "Feature Request PWA Installable"
**I'm submitting a ...**

- [ ] bug report
- [x ] feature request
- [ ] other

**Current behavior:**

**Expected / new behavior:**

Add PWA Support to make it more faster and more handy to access

**For issue, please provide steps to reproduce it:**
- Steps
- to
- reproduce

**Anything else:**

[2020-04-27 04:09] tasmeemcreative-com opened #1140 "Polish Translation of the meaning."
**I'm submitting a ...**

- [ ] bug report
- [x] feature request
- [ ] other

**Current behavior:**

There used to be a Polish language version, but it is no longer available. Why is that?

**Expected / new behavior:**

How can we re-add the Polish language version? I would like to help/assist.

**Anything else:**

Please contact me on marek@tasmeemcreative.com.au jzkAllah khairun

[2020-04-30 20:48] naveed-ahmad commented on #1140
https://beta.quran.com/1/1?translations=131,42

We do have a Polish translation.

[2020-04-30 20:49] naveed-ahmad commented on #1139
https://beta.quran.com is PWA and more :)

[2020-04-30 20:49] #1139 closed

[2020-05-01 17:16] MDSabbirAhmed opened #1142 "please make the verses and the text and calligraphy(if_possible) selectable,, so that they can be used in other places with SVG format or any else way.. I AM AVAILABLE FOR ANY GRAPHICAL HELP. please allow me to work with you if possible."
**I'm submitting a ...**

- [ ] bug report
- [x] feature request
- [ ] other

**Current behavior:**

**Expected / new behavior:**

**For issue, please provide steps to reproduce it:**
- Steps
- to
- reproduce

**Anything else:**

[2020-05-03 13:46] suhailsherif opened #1143 "A feature to aid useful translation"
**I'm submitting a ...**

- [ ] bug report
- [ x ] feature request
- [ ] other

**Current behavior:**

Currently if I am reading a verse and I come across an unfamiliar word (which happens very often), I can put my mouse over it and see the meaning. But then I forget it almost immediately. I think this is because I don't see the word frequently enough or in enough contexts to remember it.

**Expec

[2020-05-03 13:48] #1143 closed

[2020-05-03 13:48] suhailsherif commented on #1143
Added issue to the wrong repository by mistake.

[2020-05-03 17:50] #1140 closed

[2020-05-03 17:52] naveed-ahmad commented on #1138
Muhiuddin Khan translation had a lot of issues, we've disabled it. We need to upload the latest version.

[2020-05-03 18:00] naveed-ahmad commented on #1137
Invited.

[2020-05-03 18:00] #1137 closed

[2020-05-03 18:03] mfaisalpasha commented on #1138
What type of issues? Can I volunteer?

[2020-05-03 19:17] naveed-ahmad commented on #1138
Typos mostly, keep this issue open. Looking for the recent version of Muhiuddin Khan.
Tanzil's version also looks old http://tanzil.net/#trans/bn.bengali/1:1

[2020-05-05 09:30] abdul06 opened #1144 "Please add me to the slack group. talib.abdulhakeem@gmail.com"
Asalamualakum I would love to work on either project. Ramadan Mubarak

email: talib.abdulhakeem@gmail.com

[2020-05-05 17:21] #1144 closed

[2020-05-08 01:19] tamermaarouf commented on #1142
Asalamu Alykom,
Dear Mr,
Good day, i want to work with you, how can i help you

[2020-05-08 04:14] kal-el83 opened #1145 "Translations out of order"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ] other

**Current behavior:**
If you have multiple translations selected, they are in a random order under each aya, which makes it very hard to follow or do proper research.

**Expected / new behavior:**
They should be in the same order under each aya.

**For issue, please provide steps to reproduce it:**
-open any sura
-select

[2020-05-08 04:16] kal-el83 opened #1146 "Dr. Mustafa Khattab translation appears twice"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ] other

**Current behavior:**
Dr. Mustafa Khattab's translation appears twice in the list of translations.

**Expected / new behavior:**
It should appear once because it's the same translation.

[2020-05-08 04:51] kal-el83 opened #1147 "Tooltip Transliteration not working"
**I'm submitting a ...**

- [x] bug report
- [ ] feature request
- [ ] other

**Current behavior:**
Under Tooltip display, if you select Transliteration, the tooltip display remains the translation.

**Expected / new behavior:**
It should show the transliteration, or the option shouldn't be there at all.

[2020-05-08 05:02] kal-el83 opened #1148 "Add option for single aya playback vs. continuous"
**I'm submitting a ...**

- [ ] bug report
- [x] feature request
- [ ] other

**Current behavior:**
When you want to play the audio of an aya, it plays it then goes on to play the next aya. This is very tedious for people trying to memorize aya by aya, as currently you have to manually stop it. Loop works but doesn't function well in this context either because it doesn't allow for one to repeat a

[2020-05-08 12:56] Riz-waan opened #1149 "Slack"
- [ ] bug report
- [ ] feature request
- [x] other

Asslamualaikum, Ramadan Mubarak and I am creating an issue to be added to the slack group. My email is rizraak@hotmail.com

[2020-05-08 13:29] ahmedre commented on #1149
wa3laikum alsalam, done.

[2020-05-08 13:29] #1149 closed

[2020-05-09 19:01] naveed-ahmad commented on #1142
Salam brothers, please send your email address. Let's get you added to our slack group.

Selecting text is a bit hard, beta.quran.com is slightly better then the current site. If we can modify font glyph that'll be huge.

[2020-05-09 19:33] tamermaarouf commented on #1142
tamermaarouf@gmail.com
thank you my brother

[2020-05-11 13:17] Hashimlokasher opened #1150 "Add to Slack"
Add me to slack channel. my email is Hashimlokasher@gmail.com

[2020-05-12 08:16] aniquedavla opened #1151 "Love that you keep the tech stack modern."
**I'm submitting a ...**

- [ ] bug report
- [ ] feature request
- [x] other

**Current behavior:**

**Expected / new behavior:**

**For issue, please provide steps to reproduce it:**
- Steps
- to
- reproduce

**Anything else:**

Would love to help iA
Add me to slack: aniquedavla@gmail.com.

[2020-05-12 21:25] ahmadfantastic commented on #190
Assalamu Alaikum brothers,

Read through the discussion, learned alot and hopely the details here will help me in the project i am working on.

Jazakallahukhair.

[2020-05-15 03:02] redmancodes opened #1153 "Add me to slack channel"
**I'm submitting a ...**

- [ ] bug report
- [ ] feature request
- [ x] other

**Current behavior:**

**Expected / new behavior:**

**For issue, please provide steps to reproduce it:**
- Steps
- to
- reproduce

**Anything else:**

Please add me to the slack channel

redmancodes@gmail.com. جَزَاكُمُ اللهُ خَيْرًا

[2020-05-15 10:31] hisham-blackbuck opened #1154 "Surah name does not change on clicking 'Next Surah'"
**I'm submitting a ...**

- [x] bug report
- [ ] feature request
- [ ] other

**Current behavior:**
When clicking on 'Next Surah', the surah changes, but the Surah name on top does not. Requires a refresh to change the surah name.

**Expected / new behavior:**
Surah name should change on clicking 'Next Surah'

**For issue, please provide steps to reproduce it:**
- Click on 'Next Surah' at the end

[2020-05-16 16:54] mfaisalpasha commented on #1138
I can help with the corrections. I am from CSE background also I have formal islamic school education.

[2020-05-28 10:26] #1154 closed

[2020-05-28 10:27] hishamahamad opened #1155 "Surah name does not change on clicking 'Next Surah'"
**I'm submitting a ...**

- [x] bug report
- [ ] feature request
- [ ] other

**Current behavior:**
When clicking on 'Next Surah', the surah changes, but the Surah name on top does not. Requires a refresh to change the surah name.

**Expected / new behavior:**
Surah name should change on clicking 'Next Surah'

**For issue, please provide steps to reproduce it:**
- Click on 'Next Surah' at the end

[2020-05-30 06:39] josephozgen opened #1156 "Joining to slack channel"
**I'm submitting a ...**

- [ ] bug report
- [ ] feature request
- [ ] other

**Current behavior:**

**Expected / new behavior:**

**For issue, please provide steps to reproduce it:**
- Steps
- to
- reproduce

**Anything else:**

[2020-05-30 08:02] #1156 closed

[2020-06-02 22:08] saafan opened #1157 "A Collaboration with Imam"
A Famous Imam in Egypt Called Shiekh Ashraf wants to make a per verse tafseer with both Audio and Video.Your website and Applications are the most user-friendly and stable ones there and all the developers seem really professional.Would you accept having a collaboration with him?
Noting that in case you don't have developers in Egypt, I can provide you with all the resources you need from him, e.g

[2020-06-03 18:49] ahmedre commented on #1157
wa3laikum alsalam,
jazakAllah khairan - may you send us a sample so we can refer it to some of the shuyookh who help with the project and get their feedback before proceeding?
jazakumAllah khairan.
walsalam 3alaikum.

[2020-06-04 18:44] saafan commented on #1157
al salam alaikum,
Sure thing, he'll send me the sample within the next week.
I would like also if possible to join your slack for smoother communication.
My Email: abdullah.safaan@gmail.com

[2020-06-05 17:26] rizerzero commented on #309
@mimrank Hi, I found this repo, I did not check the data https://github.com/GreentechApps/Al-Quran/tree/master/dbs .
Otherwise you could scrap websites or APIs, I don't really understand why they refuse to share the database and have one source that everyone could contribute to.

[2020-06-05 21:29] naveed-ahmad commented on #1157
@saafan sent the invitation.

[2020-06-07 11:15] mohammad0omar opened #1158 "Add To Slack"
**Anything else:**
Assalam Alaykum, please add me to the slack channel, my email is mohammad0omar@outlook.com.
جزاكم الله خيرا

[2020-06-16 18:00] NaderAbdelrahman opened #1159 "Add to Slack channel: abdelrahmannader@gmail.com"
**I'm submitting a ...**

- [ ] bug report
- [ ] feature request
- [ ] other

**Current behavior:**

**Expected / new behavior:**

**For issue, please provide steps to reproduce it:**
- Steps
- to
- reproduce

**Anything else:**

[2020-06-25 05:24] Anasss opened #1160 "Slack Channel"
**I'm submitting a ...**

- [ ] bug report
- [ ] feature request
- [x] other

Salam,

Could you please add me to the slack channel?
Email: **anas.rach@gmail.com**

Thank you!

[2020-06-25 05:26] s3audi commented on #1160
Could you Please add ME to slack channel?

S3audi@hotmail.com

[2020-06-25 05:29] s3audi commented on #1160
And one more offer:

Corpus.quran.com

Syntactic Treebank!

The verse 8-59 (between)
Verses does not exist!

THANK YOU very much!

[2020-07-04 00:32] obair08 opened #1161 "Audio for each individual verse in Surah Al Kahf does not play"
**I'm submitting a ...**

- [ x ] bug report
- [ ] feature request
- [ ] other

**Current behavior:**

Press the "play" button for any verse in Surah Al Kahf, and it shows its "Loading..." but no audio is heard.

**Expected / new behavior:**

Click "Play" for any verse and that verse would play with audio

**For issue, please provide steps to reproduce it:**
- Steps
- to
- reproduce

Click on play

[2020-07-18 03:17] machinedialogue opened #1163 "Add to Slack channel: ehsan.masud@gmail.com"
**I'm submitting a ...**

- [ ] bug report
- [ ] feature request
- [ ] other

**Current behavior:**

**Expected / new behavior:**

**For issue, please provide steps to reproduce it:**
- Steps
- to
- reproduce

**Anything else:**

[2020-07-19 14:08] ahmedre commented on #1163
Invited.

[2020-07-19 14:08] #1163 closed

[2020-07-19 14:29] yssaifullah commented on #1161
Mr obair08  I could not reproduce this issue on any of the browsers.

https://quran.com/18 was tested on firefox, chrome and edge browsers.

Individual verse played the audio.

[2020-07-24 19:14] amirsaeed671 commented on #1155
I am looking into it

[2020-07-24 19:16] amirsaeed671 opened #1164 "Add to slack channel amir.saeed.ali92@gmail.com"

[2020-07-24 20:22] #1164 closed

[2020-07-25 03:50] Syednur642 opened #1165 "Please add to Slack Channel"
**I'm submitting a ...**

- [ ] bug report
- [ ] feature request
- [x] other

**Current behavior:**

**Expected / new behavior:**

**For issue, please provide steps to reproduce it:**
- Steps
- to
- reproduce

**Anything else:**

[2020-07-25 03:52] Syednur642 commented on #1165
Assalamu Aaalaikum, I like to contribute as a team member.

[2020-07-25 03:53] Syednur642 commented on #1165
Assalamu Aaalaikum, I like to contribute as a team member.

[2020-07-25 23:07] obair08 commented on #1161
I am using Chrome on a Mac Book Pro. I still cannot play any individual
verse for any Surah. Here is the chrome SW level:

*Version 84.0.4147.89 (Official Build) (64-bit) *

Best Regards,

*Obair Siddiqui *| Industrial Engineer *| *Cell: +1-(785) 236-1754* |*

Restorative | Connectedness | Ideation | Responsibility | Analytical

On Sun, Jul 19, 2020 at 10:30 AM Younus Saleem <notifications@github.

[2020-08-02 21:08] abdelouali opened #1172 "Audio Player stops before last Ayah"
In Surah Al-Jumu'ah - 62 the audio player stops on ayah 10 and doesn't play the last ayah of the surah.

If I press the play button on ayah 11 the audio block is turning white. The receiter I used was: Hani Ar-Rifai

[2020-08-07 05:41] Qataada opened #1173 "There's a very big mistake the site in Surah Al-Ma'idah, verse 71"
Surah Al-Ma'idah verse 71 is missing the word وحسبوا

![Screenshot_٢٠٢٠٠٨٠٧-٠٧١١٢٣](https://user-images.githubusercontent.com/58090592/89612907-a8109680-d889-11ea-9227-da752b79d03b.png)

Compare it with the Mushaf:

![Screenshot_٢٠٢٠٠٨٠٧-٠٧١٢١٢](https://user-images.githubusercontent.com/58090592/89612921-b78fdf80-d889-11ea-896c-f76765cf15c9.png)

[2020-08-07 05:42] Qataada opened #1174 "Bosnian translation mistake"
I found this message about a mistake in the Bosnian translation: (not written by me)

"Hello,

I found incorrect translation in Bosnian in 51:47
(https://quran.com/51/47?translations=20,25,101)

The part where it says: "We are [its] expander."
or "and We are certainly expanding ˹it˺."

is translated as: "još neizmjerno mnogo možemo,"

which means "we can still do an immense amount,"
which is wrong

[2020-08-07 05:43] Qataada opened #1175 "Mistake in Surah Al-Fath, verse 18"
If you click on فعلم it will say فعمل

Both are different words which completely changes the meaning

Same mistake also occurs on the same Surah, verse 27

[2020-08-07 05:44] Qataada opened #1176 "Mistake in Surah Ghafir, verse 9"
If you click on رَحِمْتَهُ it will say رَحْمَتَهُ

There's difference between them, first word means "You have bestowed mercy on him" and second word means "His mercy"

[2020-08-07 05:45] Qataada opened #1177 "Mistake in the site in Surah Al-Mu'minoon, Ayah 24"
If you click on لَأَنزَلَ it will say أَلأَنزَلَ

Different, first word means "surely He (would have) sent down" and second word is invalid. Because in Arabic you can't add أل (the) to a verb.

[2020-08-07 05:46] Qataada opened #1178 "Problem in donation"
There's a problem in https://beta.quran.com/pages/donations#

I click "Support Quran.com" but nothing, just returns me to the same link

[2020-08-07 05:48] Qataada opened #1179 "Typo in the translation of Abdul Haleem"
In the website in Surah Az-Zukhruf, verse 65

![Screenshot_٢٠٢٠٠٨٠٧-٠٨٠٣٤٥](https://user-images.githubusercontent.com/58090592/89613343-b01d0600-d88a-11ea-9885-cb909ac84805.png)

It says "one if the losers" instead of "one of the losers"

[2020-08-07 05:49] Qataada opened #1180 "Mistake in translation display"
There seems to be a mistake. I have Urdu, Italian, Chechen, and Abdul Haleem translations activated, yet for some reason it shows to me Dr. Mustafa Khattab

![Screenshot_٢٠٢٠٠٨٠٧-٠٨٠٩٠٨~2](https://user-images.githubusercontent.com/58090592/89613438-e2c6fe80-d88a-11ea-90aa-5f94747bf2cc.png)

[2020-08-07 05:50] Qataada opened #1181 "Multiple space errors in the translation of Abdul Haleem"
Surah Az-Zukhruf, Ayah 15

![Screenshot_٢٠٢٠٠٨٠٧-٠٨١٠٤١~2](https://user-images.githubusercontent.com/58090592/89613524-1b66d800-d88b-11ea-80a7-ff6d4dfbc8a0.png)

Surah Al-Haqqah, Ayah 4

![Screenshot_٢٠٢٠٠٨٠٧-٠٨١١٤٩~2](https://user-images.githubusercontent.com/58090592/89613575-3c2f2d80-d88b-11ea-9474-89c9c1d784d5.png)

Surah Al-Mutaffifin, Ayah 15

![Screenshot_٢٠٢٠٠٨٠٧-٠٨١٢٥٣~2](https://user-ima

[2020-08-07 05:55] Qataada opened #1182 "Malay translation in Surah Luqman, verse 20"
I don't know Malay but I found this message in https://quran.zendesk.com/hc/en-us/community/posts/360028189612-Malay-translation-in-Lukman-20

"Lukman: 20
ABDULLAH MUHAMMAD BASMEIH
Tidakkah kamu memperhatikan bahawa Allah telah memudahkan untuk kegunaan kamu apa yang ada di langit dan yang ada di bumi, dan telah melimpahkan kepada kami (Kamu) nikmat-nimatNya yang zahir dan yang batin? Dalam pada i

[2020-08-07 06:20] Qataada opened #1183 "Mistake"
I want to change the title to "Possible mistake"

In Yusuf Ali translation of Surah Al-Qalam, 41

![Screenshot_٢٠٢٠٠٨٠٧-٠٩١٩٢٦~2](https://user-images.githubusercontent.com/58090592/89615407-38050f00-d88f-11ea-9260-129a10d7f8e1.png)

What is this? "Allahhead"

[2020-08-07 06:23] Qataada opened #1184 "Bengali translation missing"
https://quran.zendesk.com/hc/en-us/community/posts/360000250771-Bengali-translation-missing

[2020-08-07 07:26] amirsanni commented on #1175
For context, the first error is in verse 18.

[2020-08-07 11:53] naveed-ahmad commented on #1184
Fixed.

[2020-08-07 11:53] #1184 closed

[2020-08-07 12:04] naveed-ahmad commented on #1183
https://quranyusufali.com/68/

http://tanzil.net/#trans/en.yusufali/68:41

Looks like we imported this from tanzil :(

Fixed.

[2020-08-07 12:04] #1183 closed

[2020-08-07 16:17] naveed-ahmad commented on #1173
Fixed in beta

[2020-08-07 16:17] #1173 closed

[2020-08-10 01:15] Qataada commented on #1177
Note: this also appears in لأنزل in 41:14

[2020-08-12 06:09] whatsadebugger opened #1185 "Ayah out of range"
Whenever I pick Al-Mulk and select an ayah that is too far from the first one i get an error.
Open the surah and then select 25 for example.

![image](https://user-images.githubusercontent.com/18469591/89980849-4d37c000-dc38-11ea-9f70-ea3a9422aba2.png)

[2020-08-12 06:15] whatsadebugger commented on #1185
tabba.ahmad@gmail.com if you could add me to slack.

[2020-08-12 06:24] whatsadebugger commented on #1185
On a similar note I can't load past ayah 10 in the bottom left corner.
![image](https://user-images.githubusercontent.com/18469591/89981993-82dda880-dc3a-11ea-826f-ad563661f38b.png)
can't click after 10

[2020-08-15 10:00] mh453Uol commented on #1185
Seems to be a UI defect: Inside the console I see the following error `Uncaught (in promise) DOMException: The play() request was interrupted by a call to pause(). https://goo.gl/LdLk22`

You can easily reproduce this bug by going to
1. https://quran.com/67
2. Selecting "Play" on verse 11
3. "Loading..." appears on the audio player
4. Audio does not play

However going to https://quran.com/67/11?t

[2020-08-16 00:29] Qataada opened #1187 "Mistakes in the Arabic site"
If I use the Arabic site I will still find some English, including:

A) "Mobile Apps" in the menu bar,
B) all of the contents of "About us" is written in English,
C) all of the contents of "Contribute" is written in English,
D) all of the contents of "Help & Feedback" is written in English,
E) all of the contents of "Development Help" is written in English,
F) the contents of "Mobile Apps" is writ

[2020-08-29 16:35] AbdullahiAbdulkabir commented on #1163
I would love to contribute  @ahmedre. here is my email: abdullahiabdulkabir1@gmail.com.

[2020-08-29 16:43] ahmedre commented on #1163
invited.

[2020-09-11 07:07] athdromeda commented on #1182
I agree. I'm Indonesian. Our language similar to Malay.  _'alaikum'_ means _'kepada kamu'._

[2020-09-11 13:20] bilalkhanqadri opened #1195 "Project seems halted"
[Slack link](https://quranslack.herokuapp.com/) is broken.

I am writing this by considering this app (site) a central hub for reading/ understanding Quran, foreseeing its potential to give more indulging encounter with the word of Almighty.

It feels good to come on this site and read some short Surah. App is very simple yet gives very pleasant experience but once in a while I long for a feature

[2020-09-11 13:29] ahmedre commented on #1195
the slack link is dead, but the project is not dead - this particular repository is dead, yes, but that's because most work is happening in either [here](https://github.com/quran/quran.com-frontend-v2) and [here](https://github.com/quran/quran.com-frontend-next).

[2020-09-11 13:29] ahmedre commented on #1195
if you send your email we can add you to Slack in sha' Allah.

[2020-09-13 17:09] smsjkm commented on #1046
Assalamualeikum WR WB,
First of all, JazakAllahum khair, for this application and putting your time and effort for this Noble cause. May Allah SWT grant more rewards to you in this dunya and Akhirah.

The issue I've observed and I am not sure if already others reported that Searcing Aya - "Go To Verse" dropdown.

Testing steps:
1. Open https://quran.com/
2. Select Surah Baqrah
3. in "Go To Verse"

[2020-09-18 00:11] mandazi opened #1198 "Two translations the same? Dr. Mustafa Khattab and Dr. Mustafa Khattab, The Clear Quran"
<img width="343" alt="Screen Shot 2020-09-17 at 8 10 27 PM" src="https://user-images.githubusercontent.com/340385/93540510-e043d400-f921-11ea-809d-c32d03edd000.png">
I believe these two translations are the same, correct?

[2020-09-18 02:57] naveed-ahmad commented on #1198
Yes, they're the same. The first translation is a simple, second has footnotes.  The next release will remove the simple one.

[2020-09-18 11:06] #1198 closed

[2020-09-20 09:31] osamasayed commented on #1160
Could you add me to the slack channel? osama.sayed.abdelazim@gmail.com

[2020-09-20 10:15] osamasayed commented on #1195
@ahmedre can you please add me? osama.sayed.abdelazim@gmail.com

[2020-09-20 10:17] ahmedre commented on #1195
@osamasayed - it says

[2020-09-20 10:27] osamasayed commented on #1195
I just joined using the link in the frontend-next repo. Thanks a lot!

[2020-09-22 14:08] tldkmd opened #1199 "Quran"

[2020-09-22 19:13] #1199 closed

[2020-09-23 12:58] hamedebrahimi opened #1200 "Uncaught TypeError: Failed to execute 'addEventListener' on 'EventTarget': The callback provided as parameter 2 is not an object."
I'm using desktop version of the website . in both Chrome and Firefox in macOS. I'm getting this error when i'm trying to play an Ayah.
To reproduce the error go quran.com/37 and play from first ayah in row and the error happens in ayah 11.
Uncaught TypeError: Failed to execute 'addEventListener' on 'EventTarget': The callback provided as parameter 2 is not an object.
    at raven.js:855
    at <a

[2020-09-25 06:47] traveller1010 opened #1201 "Player is buggy"
Salaam alykum,

Great quran website overall mashallah, but audio player is really buggy.
When I press play on the first ayah it plays but when I click on the rest of the ayahs they do not play at all.

There is also no option to play the ayahs continuously.

Hope the above info helps.

Jazakallah

[2020-09-27 14:20] zainfathoni commented on #1051
Where can I track the development process of this feature @naveed-ahmad?
I want to provide some help if possible.

[2020-09-30 12:17] leadersheir commented on #1160
I'd like to be added to the slack channel too. The heroku app returns an application error. My email is warisulimam@gmail.com

[2020-10-02 05:06] Akram9 opened #1202 "Join slack"
Assalamualaikum,
Please add me to the slack workplace.
Email - akramulhaque@vivaldi.net

[2020-10-12 02:01] Mirodil opened #1204 "Sounds do not work for the Surahs(chapters) which has more then ten ayats(verses)"
Hello,

Thank you for the project. There is an issue in the playing sounds which was loaded dynamically(lazy loading). Here is steps to reproduce:

- Open any Surahs(chapters) which has more then 10 ayats(verses)
- Scroll down to any ayats(verses) grater then 10
- Hit "Play" button on the left
- As you can see it cannot play it as it was not loaded
![image](https://user-images.githubusercontent.co

[2020-10-12 02:02] Mirodil opened #1205 "Audio starats to play from random part and start random position on page"
Hi,

When playing audio in sequence most of time it jumps into middle of end of audio in Safari/Firefox on mac.

Replication:
- open website in Safari(ipad) or Safari/Firefox(mac)
- navigate any chapter
- click/tap on play button in the first verse of a chapter
- and you can see the issue

[2020-10-12 02:03] Mirodil opened #1206 "Audio is not loading when navigating from home page to any intrenal pages"
Hi,

The react version has an issue where audio is not loading when navigating from home page to any internal pages in firefox and safari.
<img width="404" alt="image" src="https://user-images.githubusercontent.com/1898801/90681120-e49ca480-e230-11ea-90cb-3cbeddaefac7.png">

[2020-10-16 05:27] WafaWaheedaS opened #1207 "Slack Channel"
Assalaamualikum wa rahmatulillah
Please add me to the slack channel - wafawaheeda(at)gmail.com

[2020-10-16 05:29] WafaWaheedaS opened #1208 "Slack Channel"
Assalaamualikum wa rahmatulillah
Please add me to the slack channel - wafawaheeda(at)gmail.com

[2020-10-16 06:52] naveed-ahmad commented on #1208
waAlakim o salam, invited.

[2020-10-16 06:52] #1208 closed

[2020-10-16 11:35] #645 closed

[2020-10-16 20:59] #1195 closed

[2020-10-21 18:38] Shemsedin commented on #723
@naveed-ahmad will be taking this one insh'Allah.

[2020-10-21 19:49] #1207 closed

[2020-10-21 19:50] #1202 closed

[2020-10-21 19:50] #1205 closed

[2020-10-21 19:50] #1206 closed

[2020-10-21 19:51] #1204 closed

[2020-10-21 19:51] #1201 closed

[2020-10-21 19:51] #1200 closed

[2020-10-21 19:51] #1185 closed

[2020-10-21 19:52] #1046 closed

[2020-10-21 19:52] #1187 closed

[2020-10-21 19:52] #1181 closed

[2020-10-21 19:52] #1180 closed

[2020-10-21 19:53] #1178 closed

[2020-10-21 19:54] naveed-ahmad commented on #1165
waAlakim o salam @Syednur642 slack invite app is working now.

[2020-10-21 19:54] #1165 closed

[2020-10-21 19:54] #1172 closed

[2020-10-21 19:55] #1145 closed

[2020-10-21 19:55] #1146 closed

[2020-10-21 19:55] #1147 closed

[2020-10-21 19:56] naveed-ahmad commented on #1148
You can now add "pause" between ayah loop. Hopefully, this will serve the purpose.

[2020-10-21 19:56] #1148 closed

[2020-10-21 19:57] #1115 closed

[2020-10-21 19:57] #1127 closed

[2020-10-21 19:57] #1129 closed

[2020-10-21 19:57] #1130 closed

[2020-10-21 19:58] #608 closed

[2020-10-21 19:59] #596 closed

[2020-10-21 20:00] #1099 closed

[2020-10-22 00:26] smsjkm commented on #1046
Jazak Allahum Khair Brother.
Website looks Alhamdulillah, awesome.

On Wed, Oct 21, 2020 at 3:52 PM Naveed Ahmad <notifications@github.com>
wrote:

[2020-10-29 07:27] ervinismu opened #1209 "Join Slack Request"
email : social.ervin@gmail.com

[2020-11-01 22:06] c16u opened #1210 "New design is atrocious"
I don't know when the website was redesigned, but the new design is a big step back. [The previous design](http://web.archive.org/web/20200101191620/https://quran.com/) was much simpler, neater, and nicer. Please consider restoring it.

[2020-11-16 18:44] fk798 opened #1211 "Join Slack"
Salaam! I'd like to join the Slack using the following email:

fk798@nyu.edu

Shukran!

[2020-11-18 23:02] mafifiakamil commented on #1182
Assalamualaikum,

Agreed with @athdromeda , am from Malaysia. The correction is valid, it should be "kamu" instead of "kami". Please let me know where I can help to correct this in the code.

Thanks

[2020-11-20 16:28] hahasuperking opened #1212 "Can you please add me in the slack?"
My email is hahasuperking@gmail.com, thanks.

[2020-11-24 19:08] hahasuperking commented on #1212
Salaam, can any one help me? Thanks.

[2020-11-24 19:09] hahasuperking commented on #1212
@naveed-ahmad Ping :)

[2020-11-25 00:16] naveed-ahmad commented on #1212
waAlakim o salam sent the invitation. You can always join using our auto-invite app as well https://quranslack.herokuapp.com/

[2020-11-25 00:16] #1212 closed

[2020-11-25 00:17] naveed-ahmad commented on #1211
Please join using this app: https://quranslack.herokuapp.com/

[2020-11-25 00:17] #1211 closed

[2020-11-25 00:17] naveed-ahmad commented on #1209
Please use this app for invitaiton: https://quranslack.herokuapp.com/

[2020-11-25 00:17] #1209 closed

[2020-11-25 00:18] naveed-ahmad commented on #1160
Please use this app for invitaiton: https://quranslack.herokuapp.com/

App was fixed last week :)

[2020-11-25 00:18] #1160 closed

[2020-11-25 00:19] naveed-ahmad commented on #1159
Please use this app for invitaiton: https://quranslack.herokuapp.com/

[2020-11-25 00:19] #1159 closed

[2020-11-25 00:19] naveed-ahmad commented on #1158
waAlakim o salam. Please use this app for invitaiton: https://quranslack.herokuapp.com/

[2020-11-25 00:19] #1158 closed

[2020-11-25 00:19] naveed-ahmad commented on #1153
Please use this app for invitaiton: https://quranslack.herokuapp.com/

[2020-11-25 00:19] #1153 closed

[2020-11-25 00:19] naveed-ahmad commented on #1150
Please use this app for invitaiton: https://quranslack.herokuapp.com/

[2020-11-25 00:19] #1150 closed

[2020-11-25 00:20] naveed-ahmad commented on #1151
Please use this app for invitaiton: https://quranslack.herokuapp.com/

[2020-11-25 00:20] #1151 closed

[2020-11-25 00:20] naveed-ahmad commented on #1142
Please use this app for invitaiton: https://quranslack.herokuapp.com/

[2020-11-25 00:20] #1142 closed

[2020-11-30 01:17] HamadMoniem commented on #1210
Agreed

[2020-11-30 04:13] omar16100 opened #1213 "Slack Invitation : Would love to get involved"
Salam

This is my email : omar@gglabs.ai

[2020-11-30 04:15] omar16100 opened #1214 "Toggle for translator's name"
Can we have the translator's name as an option instead being there by default?

[2020-11-30 15:56] naveed-ahmad commented on #1213
waAlakim o salam, sent the invitation.

[2020-11-30 15:56] #1213 closed

[2020-12-12 12:53] sk0le opened #1215 "Xss vulnerability"

[2020-12-12 14:35] ahmedre commented on #1215
jazakumAllah khairan - this has been fixed (and deployed now). barak Allah feekum for reporting!

[2020-12-12 14:35] #1215 closed

[2020-12-21 11:14] Ysajid opened #1217 "Font rendering issue on Surah barakarah verse 72 (2:72)"
I have noticed a font rendering issue with the current production site and also the beta one.
It only happens when I have the `Uthmani Text` selected.

| Correct form (in king fahad version) | Wrong form (in Uthmani text version) |
| ------------------------------------------------|--------------------------------------------------|
|![image](https://user-images.githubusercontent.com/15795188/1027

[2021-02-11 04:16] Ysajid commented on #1217
Assalamu alaikum brother @ahmedre, can we have any solution for this? The same issue is present in our app.

[2021-02-11 09:55] ahmedre commented on #1217
wa3laikum alsalam,
@mustafa0x any ideas here - seeing something similar when using Kitab also (though admittedly have not updated to the newest version yet).
walsalam 3alaikum

[2021-02-15 17:14] mustafa0x commented on #1217
This and لِیَسُـࣳۤـُٔوا۟ are the two most difficult words in the qur'an to render. فَٱدَّ ٰ⁠رَ ٰٔۡ ⁠تُمۡ used to render fine but now it's off. فَٱدَّ ٰ⁠رَ ٰ ٔتُمۡ looks better but don't know if it's worth making the change (as it may break later too). Needs thought.

[2021-02-23 12:05] Ysajid commented on #1217
An old version of Me Quran (v1.003) font with the Quran Academy text renders perfectly

![image](https://user-images.githubusercontent.com/15795188/108840922-31f33780-7601-11eb-9f22-ef124cd011c9.png)

[2021-02-23 15:18] mustafa0x commented on #1217
The hamzah should be over the alif, not under.

[2021-03-14 21:19] MuziKing1318 opened #1218 "Default translation"
The new one has some issues such as in 2:255
I request you remove some translations as they are dangerous for a person's creed ('aqeedah)
Such as some of the Urdu and English ones.

[2021-03-15 10:46] #1218 closed

[2021-04-03 11:07] mahmoudshoaala opened #1220 "Quran"

[2021-04-30 13:14] fsid commented on #1217
More issues with the Uthmani text:

1. ![image](https://user-images.githubusercontent.com/9863695/116698695-17ad4f80-a9de-11eb-9d41-7b03caed0323.png)
2. ![image](https://user-images.githubusercontent.com/9863695/116699281-d23d5200-a9de-11eb-8fe1-58b3922a7b29.png)

Compared with a more readable King Fahad Complex Quran 1

1. ![image](https://user-images.githubusercontent.com/9863695/116698731-2431a

[2021-05-03 04:22] microart-inc opened #1221 "Any way to improve the Quran UI?"
The UI of the quran.com website seems very rushed and inconsistent (the scaling, margins, font size). I have some ideas on how to improve it. Is there like a discord or slack where I can send my versions of the websites with fixed margins, paddings, and font sizes.

[2021-05-03 10:37] farooqu commented on #1221
You can sign up to the Slack from https://quranslack.herokuapp.com/. Also, I believe that this is the old repo. The current versions repo is: https://github.com/quran/quran.com-frontend-v2. I'm sure a PR would be much appreciated there!

[2021-05-03 22:08] Mohammad-Haris opened #1222 "Verse recitation resumes"
Expected behavior:
Verse should start from the beginning if it is being played automatically after a previous verse recitation has ended.

Current behavior:
If I am playing a verse X, and then I stop playing it somewhere before its end. And start a verse X-C where C is a positive number is such that X-C >= 1, then when the application reaches to recite the verse X, after the previous verses have b

[2021-05-19 01:00] kaiyum2012 commented on #1020
@mmahalwy  Just wondering this issue is still open?

[2021-05-25 17:44] naveed-ahmad commented on #1221
Feel free to open the PR [here](https://github.com/quran/quran.com-frontend-v2)

[2021-05-25 17:44] #1221 closed